{% extends 'base.html' %}

{% load l10n %}

{% block title %}{{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include 'common/breadcrumbs.html' %}
                <h1 class="govuk-heading-xl amp-margin-bottom-15">{{ sitemap.current_platform_page.get_name }}</h1>
                <form method="post" action="{% url sitemap.current_platform_page.url_name %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <p class="govuk-body">Remember to update <code>comment_fullname</code> values to match user names</p>
                            {% include 'common/amp_form_snippet.html' %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Import"
                                name="submit"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <a href="{% url 'tech:reference-implementation' %}" class="govuk-link govuk-link--no-visited-state">
                                Reference implementation</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
