{% extends 'base.html' %}

{% load l10n %}

{% block title %}{{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include 'common/breadcrumbs.html' %}
                <h1 class="govuk-heading-xl amp-margin-bottom-15">{{ sitemap.current_platform_page.get_name }}</h1>
                <form method="get" action="{% url sitemap.current_platform_page.url_name %}">
                    <span class="govuk-visually-hidden">Search Issue reports:</span>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-form-group">
                            {{ issue_report_search_form.issue_report_search }}
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Search"
                                name="search"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <a
                                href="{% url sitemap.current_platform_page.url_name %}"
                                class="govuk-link govuk-link--no-visited-state"
                            >
                                Clear
                            </a>
                        </div>
                    </div>
                </form>
                {% include "common/pagination_controls.html" %}
                    {% for issue_report in issue_reports %}
                        <h2 id="issue-{{ issue_report.issue_number }}" class="govuk-heading-m">
                            Issue #{{ issue_report.issue_number }}
                            {% if issue_report.complete %}<span class="govuk-visually-hidden">complete</span> &check;{% endif %}
                            {% if staff_view and user.is_staff %}
                                <span class="govuk-body-s">
                                    (<a href="{% url 'admin:common_issuereport_change' issue_report.id %}" class="govuk-link govuk-link--no-visited-state"
                                        >admin</a>)
                                </span>
                            {% endif %}
                        </h2>
                        <p class="govuk-body-m amp-margin-bottom-5">
                            <b>Page:</b>
                            {{ issue_report.page_title }}
                        </p>
                        <p class="govuk-body-m amp-margin-bottom-5">
                            <b>URL:</b>
                            <a href="https://{{ request.get_host }}{{ issue_report.page_url }}"
                                class="govuk-link govuk-link--no-visited-state">
                                https://{{ request.get_host }}{{ issue_report.page_url }}</a>
                        </p>
                        <p class="govuk-body-m amp-margin-bottom-5">
                            <b>Reported on:</b>
                            {{ issue_report.created|amp_date }}
                        </p>
                        <p class="govuk-body-m amp-margin-bottom-5">
                            <b>Reported by:</b>
                            {{ issue_report.created_by.first_name }}
                        </p>
                        {% if issue_report.goal_description %}
                            <p class="govuk-body-m amp-margin-bottom-5">
                                <b>User goal:</b>
                                {{ issue_report.goal_description }}
                            </p>
                        {% endif %}
                        <p class="govuk-body-m amp-margin-bottom-5">
                            <b>User issue:</b>
                            {{ issue_report.issue_description }}
                        </p>
                        <p class="govuk-body-m amp-margin-bottom-5">
                            <b>Tech response:</b>
                            {% if issue_report.notes %}
                                <i>{{ issue_report.notes }}</i>
                            {% else %}
                                None
                            {% endif %}
                        </p>
                        <p class="govuk-body-m amp-margin-bottom-5">
                            <b>Trello ticket:</b>
                            {% if issue_report.trello_ticket %}
                                <a href="{{ issue_report.trello_ticket }}"
                                    class="govuk-link govuk-link--no-visited-state">
                                    {{ issue_report.trello_ticket }}</a>
                            {% else %}
                                None
                            {% endif %}
                        </p>
                        <hr class="amp-width-100 amp-margin-bottom-30" />
                    {% endfor %}
                {% include "common/pagination_controls.html" %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
