{% extends 'tech/base.html' %}

{% load humanize %}

{% block content %}
<div class="govuk-width-container">
    {% include 'tech/breadcrumbs.html' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl amp-margin-bottom-15">{{ sitemap.current_platform_page.get_name }}</h1>
                {% include 'common/error_summary.html' %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 id="id_write_to_log" class="govuk-heading-m">Write to log</h2>
                <form method="post" action="{% url 'tech:platform-checking' %}">
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}

                    <div class="govuk-grid-row">
                        {% for field in form.visible_fields %}
                            <div class="govuk-grid-column-full govuk-form-group">
                                <label class="govuk-label"
                                    for="{{ field.auto_id }}"><b>{{ field.label }}</b>
                                </label>
                                <p class="govuk-body-m">{{ field.help_text }}</p>
                                {% include 'common/form_errors.html' with errors=field.errors %}
                                {{ field }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Post log message"
                                name="submit"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                        </div>
                    </div>
                    <h2 id="id_raise_exception" class="govuk-heading-m">Raise exception</h2>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="400"
                                name="raise_400"
                                class="govuk-button govuk-button--secondary"
                                data-module="govuk-button"
                            />
                            <input
                                type="submit"
                                value="403"
                                name="raise_403"
                                class="govuk-button govuk-button--secondary"
                                data-module="govuk-button"
                            />
                            <input
                                type="submit"
                                value="500"
                                name="raise_500"
                                class="govuk-button govuk-button--secondary"
                                data-module="govuk-button"
                            />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
