{% if not case.archive %}
    <h2 class="govuk-heading-s">Overview</h2>
{% endif %}
<div class="amp-left-border">
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-5"><b>Date created</b></p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-15">{{ case.created|amp_date }}</p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-5"><b>Last edited</b></p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-15">{{ case.updated|amp_date }}</p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-5"><b>Last note added</b></p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-15">
        {% if case.most_recent_case_note %}
            <a href="{% url 'mobile:create-case-note' case.id %}" class="govuk-link govuk-link--no-visited-state">
                {{ case.most_recent_case_note.created|amp_date }}</a>
        {% else %}
            None
        {% endif %}
    </p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-5">
        <b>Reminder{% if case.reminder %} on {{ case.reminder.date|amp_date }}{% endif %}</b>
    </p>
    <p class="govuk-body-s amp-margin-bottom-10">
        {% if case.reminder %}
            {{ case.reminder.description }}
            (<a href="{% url 'notifications:edit-reminder-task' case.reminder.id %}" class="govuk-link govuk-link--no-visited-state">Edit</a>)
        {% else %}
            <a href="{% url 'notifications:reminder-create' case.id %}" class="govuk-link govuk-link--no-visited-state">Create</a>
        {% endif %}
    </p>
</div>
