{% if not case.archive %}
    <h2 class="govuk-heading-s">Overview</h2>
{% endif %}
<div class="amp-left-border">
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-5"><b>Date created</b></p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-15">{{ mobile_case.created|amp_date }}</p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-5"><b>Last edited</b></p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-15">{{ mobile_case.updated|amp_date }}</p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-5"><b>Last not added</b></p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-15"><span class="amp-todo">TODO</span></p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-5"><b>App test</b></p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-0">Initial test <span class="amp-todo">TODO</span></p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-15">Retest <span class="amp-todo">TODO</span></p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-5"><b>Statement test</b></p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-0">Initial test <span class="amp-todo">TODO</span></p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-15">Retest <span class="amp-todo">TODO</span></p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-5"><b>Comments</b></p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-15"><span class="amp-todo">TODO</span></p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-5"><b>Reminder</b></p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-15"><span class="amp-todo">TODO</span></p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-5"><b>Overdue</b></p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-15"><span class="amp-todo">TODO</span></p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-5"><b>Post case</b></p>
    <p class="govuk-body govuk-!-font-size-16 amp-margin-bottom-15"><span class="amp-todo">TODO</span></p>
</div>
