<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 id="id_formlike_styles" class="govuk-heading-m">Form-like style examples</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <p class="govuk-body amp-margin-bottom-5"><b>Date created</b></p>
        <p class="govuk-body">{{ case.created|amp_date }}</p>
        <p class="govuk-body amp-margin-bottom-5"><b>Last edited</b></p>
        <p class="govuk-body">{{ case.last_edited|amp_date }}</p>
    </div>
    <div class="govuk-grid-column-three-quarters govuk-body">
        <code class="amp-code">
&lt;p class="govuk-body amp-margin-bottom-5">&lt;b>Date created&lt;/b>&lt;/p>
&lt;p class="govuk-body">&#123;{ case.created|amp_date }}&lt;/p>
&lt;p class="govuk-body amp-margin-bottom-5">&lt;b>Last edited&lt;/b>&lt;/p>
&lt;p class="govuk-body">&#123;{ case.last_edited|amp_date }}&lt;/p></code>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h3 id="id_readonly_details" class="govuk-heading-m">Readonly details-like element</h3>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <p class="govuk-heading-s amp-margin-bottom-5"><b>Label</b></p>
        <div class="amp-nav-details__text amp-markdown">
            <p>Paragraph</p>
            <ol><li>One</li></ol>
        </div>
    </div>
    <div class="govuk-grid-column-three-quarters govuk-body">
        <code class="amp-code">
&lt;p class="govuk-heading-s amp-margin-bottom-5">&lt;b>Label&lt;/b>&lt;/p>
&lt;div class="amp-nav-details__text amp-markdown">
    &lt;p>Paragraph&lt;/p>
    &lt;ol>&lt;li>One&lt;/li>&lt;/ol>
&lt;/div></code>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="amp-width-100 amp-margin-bottom-30" />
    </div>
</div>
