<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 id="id_gds_design_system_components" class="govuk-heading-m">GDS Design System components</h2>
        <ol class="govuk-list govuk-list--number">
            <li>
                <a href="https://design-system.service.gov.uk/components/breadcrumbs/" rel="noreferrer noopener" target="_blank" class="govuk-link">Breadcrumbs</a>
                <span class="amp-new-window">&nbsp;&nbsp;&nbsp;</span>
            </li>
            <li>
                <a href="https://design-system.service.gov.uk/components/details/" rel="noreferrer noopener" target="_blank" class="govuk-link">Details</a>
                <span class="amp-new-window">&nbsp;&nbsp;&nbsp;</span>
            </li>
            <li>
                <a href="https://design-system.service.gov.uk/components/notification-banner/" rel="noreferrer noopener" target="_blank" class="govuk-link">Notification banner</a>
                <span class="amp-new-window">&nbsp;&nbsp;&nbsp;</span>
            </li>
            <li>
                <a href="https://design-system.service.gov.uk/styles/colour/" rel="noreferrer noopener" target="_blank" class="govuk-link">Palette</a>
                <span class="amp-new-window">&nbsp;&nbsp;&nbsp;</span>
            </li>
        </ol>
        <hr class="amp-width-100 amp-margin-bottom-30" />
    </div>
</div>
