<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 id="id_tables" class="govuk-heading-m">Tables</h2>
        <ol class="govuk-list govuk-list--number">
            <li>
                1-column (faked):
                <a href="{% url 'cases:edit-qa-comments' case.id %}" class="govuk-link govuk-link--no-visited-state">
                    QA comments</a>
            </li>
            <li>
                1-column (real):
                <a href="{% url 'audits:edit-audit-pages' case.audit.id %}" class="govuk-link govuk-link--no-visited-state">
                    Add or remove pages</a>
            </li>
            <li>
                2-column (real):
                <span class="amp-todo">TODO: Detailed case update status</span>
            </li>
            <li>
                2-column (row headers):
                <a href="{% url 'cases:case-view-and-search' case.id %}#page-group-1-case-details" class="govuk-link govuk-link--no-visited-state">
                    View and search all case data</a>
            </li>
            <li>
                3-column (complex cells):
                <a href="{% url 'cases:outstanding-issues' case.id %}?show-all=true#wcag-7" class="govuk-link govuk-link--no-visited-state">
                    Outstanding issues</a>
            </li>
            <li>
                4-column (uneven):
                <a href="/#cases-status-in-correspondence-with-equalities-body" class="govuk-link govuk-link--no-visited-state">
                    In correspondence with equalities body</a>
            </li>
        </ol>
        <hr class="amp-width-100 amp-margin-bottom-30" />
    </div>
</div>
