<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 id="id_markdown_textarea" class="govuk-heading-m">Markdown textarea example</h2>
        <p class="govuk-body">
            Script finds preview elements with class <code class="amp-code">amp-preview</code>.
            Matching input element id is found in each preview element's id
            (after prefix <code class="amp-code">preview-</code>).
            <a href="{% url 'common:markdown-cheatsheet' %}" class="govuk-link govuk-link--no-visited-state">
                Markdown cheatsheet</a>
        </p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <label class="govuk-label" for="id_markdown_input"><b>Markdown input</b></label>
        <textarea name="markdown_input" cols="40" rows="4" class="govuk-textarea" id="id_markdown_input">Paragraph</textarea>
        <p class="govuk-heading-s">Preview</p>
        <div id="preview-id_markdown_input" class="amp-preview govuk-body"></div>
        <script src="/static/js/markdown_preview.js"></script>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <code class="amp-code">
&lt;label class="govuk-label" for="id_markdown_input">&lt;b>Markdown input&lt;/b>&lt;/label>
&lt;textarea name="markdown_input" cols="40" rows="4"
class="govuk-textarea" id="id_markdown_input">Paragraph&lt;/textarea>
&lt;p class="govuk-heading-s">Preview&lt;/p>
&lt;div id="preview-id_markdown_input" class="amp-preview govuk-body">&lt;/div>
&lt;script src="/static/js/markdown_preview.js">&lt;/script></code>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="amp-width-100 amp-margin-bottom-30" />
    </div>
</div>
