{% extends 'base.html' %}

{% block title %}{{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            {% include 'common/breadcrumb_home.html' %}
            {% if sitemap.current_platform_page.platform_page_group_name %}
                <li class="govuk-breadcrumbs__list-item">{{ sitemap.current_platform_page.platform_page_group_name }}</li>
            {% endif %}
            <li class="govuk-breadcrumbs__list-item">{{ sitemap.current_platform_page.get_name }}</li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl amp-margin-bottom-15">{{ sitemap.current_platform_page.get_name }}</h1>
                <p class="govuk-body">Examples and links to components and patterns used in the platform.</p>
            </div>
        </div>
        {% include 'common/tech_team/ref_contents.html' %}
        {% include 'common/tech_team/ref_forms.html' %}
        {% include 'common/tech_team/ref_formlike.html' %}
        {% include 'common/tech_team/ref_gds_components.html' %}
        {% include 'common/tech_team/ref_headers.html' %}
        {% include 'common/tech_team/ref_labels.html' %}
        {% include 'common/tech_team/ref_links.html' %}
        {% include 'common/tech_team/ref_lists.html' %}
        {% include 'common/tech_team/ref_widget_markdown.html' %}
        {% include 'common/tech_team/ref_page_layouts.html' %}
        {% include 'common/tech_team/ref_tables.html' %}
    </main>
</div>
{% endblock %}
