<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p id="initial-disproportionate-burden" class="govuk-body-m">
            <b>Initial disproportionate burden claim</b>
            |
            <a href="{% url 'audits:edit-initial-disproportionate-burden' audit.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                Edit{% if on_view_case %} test &gt; initial disproportionate burden claim{% endif %}
            </a>
        </p>
    </div>
</div>
<table class="govuk-table amp-accordion-table">
    <tbody class="govuk-table__body">
        {% for row in initial_disproportionate_burden %}
            {% include 'cases/helpers/detail_row.html' with row=row %}
        {% endfor %}
    </tbody>
</table>
