<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="audit-manual" class="govuk-heading-l">Manual tests</h2>
    </div>
    <div class="govuk-grid-column-one-thirds">
        <div class="govuk-button-group" style="flex-direction:row-reverse">
            <a href="{% url 'audits:edit-audit-manual-by-page' case.id audit.id audit.next_page.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                Edit manual tests
            </a>
        </div>
    </div>
</div>
<table class="govuk-table">
    <tbody class="govuk-table__body">
        {% for row in audit_manual_rows %}
            {% include 'cases/helpers/detail_row.html' with row=row %}
        {% endfor %}
    </tbody>
</table>
