<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p {% if on_view_case %}id="audit-pages"{% endif %} class="govuk-body-m">
            <b>Pages</b>
            |
            <a href="{% url 'audits:edit-audit-pages' audit.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                Edit{% if on_view_case %} test &gt; pages{% endif %}
            </a>
        </p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table amp-accordion-table">
            <tbody class="govuk-table__body">
                {% for page in audit.testable_pages %}
                    <tr class="govuk-table__row ">
                        <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">
                            {{ page }}
                        </th>
                        <td class="govuk-table__cell amp-width-one-half">
                            <a href="{{ page.url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                                {{ page.url }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
