<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="audit-pages" class="govuk-heading-l">Pages</h2>
    </div>
    <div class="govuk-grid-column-one-thirds">
        <div class="govuk-button-group" style="flex-direction:row-reverse">
            <a href="{% url 'audits:edit-audit-pages' case.id audit.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                Edit pages
            </a>
        </div>
    </div>
</div>
<table class="govuk-table">
    <tbody class="govuk-table__body">
        {% for page in standard_pages %}
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">
                    {{ page.get_type_display }}
                </th>
                <td class="govuk-table__cell amp-width-one-half">
                    {% if page.not_found == 'yes' %}
                        {% if page.type == 'pdf' %}
                            No PDF found
                        {% else  %}
                            No {{ page.type }} found
                        {% endif %}
                    {% elif page.url %}
                        <a href="{{ page.url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                            {{ page }}
                        </a>
                    {% else %}
                        {{ page }} URL not entered
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% for page in extra_pages %}
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">
                    {{ page.get_type_display }} {{ forloop.counter }}
                </th>
                <td class="govuk-table__cell amp-width-one-half">
                    {% if page.url %}
                        <a href="{{ page.url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                            {% if page.name %}{{ page.name }}{% else %}{{ page.get_type_display }}{% endif %}
                        </a>
                    {% else %}
                        {{ page.name }} URL not entered
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
