<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h2 id="audit-report-text" class="govuk-heading-{% if on_case_view %}s{% else %}l{% endif %}">
            Report text
        </h2>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="govuk-button-group amp-flex-end">
            <a href="{% url 'audits:edit-audit-report-text' audit.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                Edit {% if on_case_view %}test &gt; {% endif %}report text
            </a>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m">Accessibility statement</h3>
        <p class="govuk-body">{{ audit.get_accessibility_statement_state_display }}</p>
        {% if audit.accessibility_statement_state == 'found-but' %}
            <ul class="govuk-list govuk-list--bullet">
                {% for issue in audit.report_accessibility_issues %}
                    <li>{{ issue }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h3 class="govuk-heading-m">What to do next</h3>
        <p class="govuk-body">
            {% if audit.report_options_next == 'errors' %}
                You should fix the issues that were found and do your own accessibility audit
                to check for issues that go beyond the scope of simple accessibility testing.
            {% else %}
                You should do your own accessibility audit to check for issues that go beyond
                the scope of simple accessibility testing.
            {% endif %}
        </p>
        {% if audit.report_next_change_statement == 'yes' %}
            <p class="govuk-body">
                You need to review your accessibility statement to cover the issues found in
                this report and any others found during your own audit.
            </p>
        {% endif %}
        {% if audit.report_next_no_statement == 'yes' %}
            <p class="govuk-body">
                You need to write and publish an accessibility statement that meets the required
                legislative format.
            </p>
        {% endif %}
        {% if audit.report_next_statement_not_right == 'yes' %}
            <p class="govuk-body">
                You need to review your accessibility statement to cover the issues found in this report,
                including ones related to your accessibility statement, and any other accessibility issues
                found during your own site audit.
            </p>
        {% endif %}
        {% if audit.report_next_statement_matches == 'yes' %}
            <p class="govuk-body">
                You need to review your accessibility statement to cover any other issues found during your
                own audit.
            </p>
        {% endif %}
        {% if audit.report_next_disproportionate_burden == 'yes' %}
            <p class="govuk-body">
                A disproportionate burden assessment must have been completed before adding this section to
                your accessibility statement. You need to send evidence of the assessment to us for review.
            </p>
        {% endif %}
    </div>
</div>
