<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="audit-report-options" class="govuk-heading-l">Report options</h2>
    </div>
    <div class="govuk-grid-column-one-thirds">
        <div class="govuk-button-group amp-flex-reverse">
            <a href="{% url 'audits:edit-audit-report-options' audit.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                Edit report options
            </a>
        </div>
    </div>
</div>
<table class="govuk-table">
    <tbody class="govuk-table__body">
        {% for row in audit_report_options_rows %}
            {% include 'cases/helpers/detail_row.html' with row=row %}
        {% endfor %}
    </tbody>
</table>
