<div class="govuk-grid-row amp-margin-top-20">
    <div class="govuk-grid-column-full">
        <p class="govuk-body-m">
            <b>12-week accessibility statement compliance decision</b>
            |
            <a href="{% url 'audits:edit-audit-retest-statement-decision' audit.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                Edit{% if on_view_case %} 12-week retest &gt; 12-week accessibility statement compliance decision{% endif %}
            </a>
        </p>
    </div>
</div>
<table class="govuk-table amp-accordion-table">
    <tbody class="govuk-table__body">
        {% for row in audit_retest_statement_decision_rows %}
            {% include 'cases/helpers/detail_row.html' with row=row %}
        {% endfor %}
    </tbody>
</table>
