<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="audit-retest-statement" class="govuk-heading-l">Accessibility statement comparison</h2>
    </div>
    <div class="govuk-grid-column-one-thirds">
        <div class="govuk-button-group" style="flex-direction:row-reverse">
            <a href="{% url 'audits:edit-audit-retest-statement' audit.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                Edit accessibility statement comparison
            </a>
        </div>
    </div>
</div>
