<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="audit-retest-statement-decision" class="govuk-heading-l">12-week accessibility statement compliance decision</h2>
    </div>
    <div class="govuk-grid-column-one-thirds">
        <div class="govuk-button-group" style="flex-direction:row-reverse">
            <a href="{% url 'audits:edit-audit-retest-statement-decision' audit.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                Edit 12-week accessibility statement compliance decision
            </a>
        </div>
    </div>
</div>
<table class="govuk-table">
    <tbody class="govuk-table__body">
        {% for row in audit_retest_statement_decision_rows %}
            {% include 'cases/helpers/detail_row.html' with row=row %}
        {% endfor %}
    </tbody>
</table>
