<div {% if on_view_case %}id="audit-retest-statement-comparison" {% endif %}class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body-m">
            <b>12-week accessibility statement comparison</b>
            |
            <a href="{% url 'audits:edit-audit-retest-statement-comparison' audit.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                Edit{% if on_view_case %} 12-week retest &gt; 12-week accessibility statement comparison{% endif %}
            </a>
        </p>
    </div>
</div>
{% include 'audits/helpers/statement_comparison.html' with in_accordion=True %}
