<div class="govuk-grid-row">
    {% if on_view_case %}
        <div class="govuk-grid-column-full">
            <p id="audit-retest-website-decision" class="govuk-body-m">
                <b>12-week website compliance decision</b>
                |
                <a href="{% url 'audits:edit-audit-retest-website-decision' audit.id %}"
                    class="govuk-link govuk-link--no-visited-state"
                    rel="noreferrer noopener">
                    Edit 12-week retest &gt; 12-week website compliance decision
                </a>
            </p>
        </div>
    {% else %}
        <div class="govuk-grid-column-one-half">
            <h2 id="audit-retest-website-decision" class="govuk-heading-l">
                12-week website compliance decision
            </h2>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-button-group amp-flex-end">
                <a href="{% url 'audits:edit-audit-retest-website-decision' audit.id %}"
                    class="govuk-link govuk-link--no-visited-state amp-text-align-right"
                    rel="noreferrer noopener">
                    Edit 12-week website compliance decision
                </a>
            </div>
        </div>
    {% endif %}
</div>
<table class="govuk-table{% if on_view_case %} amp-accordion-table{% endif %}">
    <tbody class="govuk-table__body">
        {% for row in audit_retest_website_decision_rows %}
            {% include 'cases/helpers/detail_row.html' with row=row %}
        {% endfor %}
    </tbody>
</table>
