<div class="govuk-grid-row">
    {% if on_view_case %}
        <div class="govuk-grid-column-full">
            <p id="audit-retest-metadata" class="govuk-body-m">
                <b>12-week test metadata</b>
                |
                <a href="{% url 'audits:edit-audit-retest-metadata' audit.id %}"
                    class="govuk-link govuk-link--no-visited-state"
                    rel="noreferrer noopener">
                    Edit 12-week test &gt; 12-week test metadata
                </a>
            </p>
        </div>
    {% else %}
        <div class="govuk-grid-column-one-half">
            <h2 id="audit-retest-metadata" class="govuk-heading-l">12-week test metadata</h2>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-button-group amp-flex-end">
                <a href="{% url 'audits:edit-audit-retest-metadata' audit.id %}"
                    class="govuk-link govuk-link--no-visited-state"
                    rel="noreferrer noopener">
                    Edit 12-week test metadata
                </a>
            </div>
        </div>
    {% endif %}
</div>
<table class="govuk-table{% if on_view_case %} amp-case-accordion{% endif %}">
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Retest date</th>
            <td class="govuk-table__cell amp-width-one-half">{{ audit.retest_date|amp_date }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Notes</th>
            <td class="govuk-table__cell amp-width-one-half amp-notes">
                {{ audit.audit_retest_metadata_notes|markdown_to_html }}
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Original date test</th>
            <td class="govuk-table__cell amp-width-one-half">{{ audit.date_of_test|amp_date }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Original screen size</th>
            <td class="govuk-table__cell amp-width-one-half">{{ audit.get_screen_size_display }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Original exemptions</th>
            <td class="govuk-table__cell amp-width-one-half">{{ audit.get_exemptions_state_display }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Original notes</th>
            <td class="govuk-table__cell amp-width-one-half amp-notes">
                {% if audit.exemptions_notes %}
                    {{ audit.exemptions_notes|markdown_to_html }}
                {% else %}
                    None
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
