{% load common_tags %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="audit-retest-metadata" class="govuk-heading-l">Retest metadata</h2>
    </div>
    <div class="govuk-grid-column-one-thirds">
        <div class="govuk-button-group" style="flex-direction:row-reverse">
            <a href="{% url 'audits:edit-audit-retest-metadata' audit.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                Edit retest metadata
            </a>
        </div>
    </div>
</div>
<table class="govuk-table">
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header amp-width-one-half">Retest date</th>
            <td class="govuk-table__cell amp-width-one-half">{{ audit.retest_date }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header amp-width-one-half">Original date test</th>
            <td class="govuk-table__cell amp-width-one-half">{{ audit.date_of_test|date:'d/m/Y' }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header amp-width-one-half">Original screen size</th>
            <td class="govuk-table__cell amp-width-one-half">{{ audit.get_screen_size_display }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header amp-width-one-half">Original exemptions</th>
            <td class="govuk-table__cell amp-width-one-half">{{ audit.get_exemptions_state_display }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header amp-width-one-half">Original notes</th>
            <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.exemptions_notes|markdown_to_html }}</td>
        </tr>
    </tbody>
</table>
