<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="audit-retest-statement" class="govuk-heading-l">12-week accessibility statement</h2>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="govuk-button-group amp-flex-end">
            <a href="{% url 'audits:edit-audit-retest-statement-1' audit.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                Edit 12-week accessibility statement
            </a>
        </div>
    </div>
</div>
{% if audit.accessibility_statement_initially_found %}
    <table class="govuk-table">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Link to 12-week saved accessibility statement</th>
                <td class="govuk-table__cell amp-width-one-half">
                    {% if audit.audit_retest_accessibility_statement_backup_url %}
                        <a href="{{ audit.audit_retest_accessibility_statement_backup_url }}"
                            rel="noreferrer noopener" target="_blank" class="govuk-link">
                            {{ audit.audit_retest_accessibility_statement_backup_url }}
                        </a>
                    {% else %}
                        None
                    {% endif %}
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original scope state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_scope_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original scope notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.scope_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest scope state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_audit_retest_scope_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest scope notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.audit_retest_scope_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original feedback state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_feedback_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original feedback notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.feedback_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest feedback state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_audit_retest_feedback_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest feedback notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.audit_retest_feedback_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original contact information state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_contact_information_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original contact information notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.contact_information_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest contact information state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_audit_retest_contact_information_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest contact information notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.audit_retest_contact_information_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original enforcement procedure state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_enforcement_procedure_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original enforcement procedure notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.enforcement_procedure_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest enforcement procedure state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_audit_retest_enforcement_procedure_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest enforcement procedure notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.audit_retest_enforcement_procedure_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original declaration state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_declaration_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original declaration notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.declaration_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest declaration state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_audit_retest_declaration_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest declaration notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.audit_retest_declaration_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original compliance status state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_compliance_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original compliance status notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.compliance_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest compliance status state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_audit_retest_compliance_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest compliance status notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.audit_retest_compliance_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original non-accessible content - non compliance with regulations state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_non_regulation_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original non-accessible content - non compliance with regulations notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.non_regulation_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest non-accessible content - non compliance with regulations state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_audit_retest_non_regulation_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest non-accessible content - non compliance with regulations notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.audit_retest_non_regulation_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original non-accessible content - disproportionate burden state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_disproportionate_burden_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original non-accessible content - disproportionate burden notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.disproportionate_burden_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest non-accessible content - disproportionate burden state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_audit_retest_disproportionate_burden_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest non-accessible content - disproportionate burden notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.audit_retest_disproportionate_burden_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original non-accessible content - the content is not within the scope of the applicable legislation state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_content_not_in_scope_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original non-accessible content - the content is not within the scope of the applicable legislation notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.content_not_in_scope_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest non-accessible content - the content is not within the scope of the applicable legislation state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_audit_retest_content_not_in_scope_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest non-accessible content - the content is not within the scope of the applicable legislation notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.audit_retest_content_not_in_scope_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original preparation date state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_preparation_date_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original preparation date notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.preparation_date_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest preparation date state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_audit_retest_preparation_date_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest preparation date notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.audit_retest_preparation_date_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original review state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_review_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original review notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.review_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest review state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_audit_retest_review_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest review notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.audit_retest_review_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original method state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_method_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original method notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.method_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest method state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_audit_retest_method_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest method notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.audit_retest_method_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original access requirements state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_access_requirements_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Original access requirements notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.access_requirements_notes|markdown_to_html }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest access requirements state</th>
                <td class="govuk-table__cell amp-width-one-half">{{ audit.get_audit_retest_access_requirements_state_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Retest access requirements notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ audit.audit_retest_access_requirements_notes|markdown_to_html }}</td>
            </tr>
        </tbody>
    </table>
{% else %}
    {% include 'audits/helpers/no_statement_at_retest.html' %}
{% endif %}
