<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% if on_retest %}
            <p id="retest-statement-pages" class="govuk-body-m">
                <b>12-week statement links</b>
                |
                <a href="{% url 'audits:edit-audit-retest-statement-pages' audit.id %}"
                    class="govuk-link govuk-link--no-visited-state"
                    rel="noreferrer noopener">
                    Edit{% if on_view_case %} 12-week test &gt; statement links{% endif %}
                </a>
            </p>
        {% else %}
            <p id="statement-pages" class="govuk-body-m">
                <b>Statement links</b>
                |
                <a href="{% url 'audits:edit-statement-pages' audit.id %}"
                    class="govuk-link govuk-link--no-visited-state"
                    rel="noreferrer noopener">
                    Edit{% if on_view_case %} test &gt; statement links{% endif %}
                </a>
            </p>
        {% endif %}
    </div>
</div>
{% for statement_page in audit.statement_pages %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p class="govuk-body-m"><b>Statement {{ forloop.counter }}</b></p>
        </div>
    </div>
    <table class="govuk-table amp-accordion-table">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Link to statement</th>
                <td class="govuk-table__cell amp-width-one-half">
                    {% if statement_page.url %}
                        <a href="{{ statement_page.url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">{{ statement_page.url }}</a>
                    {% else %}
                        None
                    {% endif %}
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Statement backup</th>
                <td class="govuk-table__cell amp-width-one-half">
                    {% if statement_page.backup_url %}
                        <a href="{{ statement_page.backup_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">{{ statement_page.backup_url }}</a>
                    {% else %}
                        None
                    {% endif %}
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Statement added</th>
                <td class="govuk-table__cell amp-width-one-half">{{ statement_page.get_added_stage_display }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Created</th>
                <td class="govuk-table__cell amp-width-one-half">{{ statement_page.created|amp_date }}</td>
            </tr>
        </tbody>
    </table>
{% endfor %}
