<div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p id="statement-decision" class="govuk-body-m">
                <b>Initial statement compliance decision</b>
                |
                <a href="{% url 'audits:edit-statement-decision' audit.id %}"
                    class="govuk-link govuk-link--no-visited-state"
                    rel="noreferrer noopener">
                    Edit{% if on_view_case %} test &gt; Initial statement compliance decision{% endif %}
                </a>
            </p>
        </div>
</div>
<table class="govuk-table amp-accordion-table">
    <tbody class="govuk-table__body">
        {% for row in statement_decision_rows %}
            {% include 'cases/helpers/detail_row.html' with row=row %}
        {% endfor %}
    </tbody>
</table>
