<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h2 id="audit-statement" class="govuk-heading-{% if on_case_view %}s{% else %}l{% endif %}">
            Accessibility statement
        </h2>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="govuk-button-group amp-flex-end">
            <a href="{% url 'audits:edit-audit-statement-1' audit.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">Edit {% if on_case_view %}test &gt; {% endif %}accessibility statement</a>
        </div>
    </div>
</div>
{% if audit.accessibility_statement_initially_found %}
    <table class="govuk-table">
        <tbody class="govuk-table__body">
            {% for row in audit_statement_rows %}
                {% include 'cases/helpers/detail_row.html' with row=row %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    {% include 'audits/helpers/no_statement_warning.html' %}
{% endif %}
