<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p id="audit-statement-1" class="govuk-body-m">
            <b>Accessibility statement Pt. 1</b>
            |
            <a href="{% url 'audits:edit-audit-statement-1' audit.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                Edit{% if on_view_case %} test &gt; accessibility statement Pt. 1{% endif %}
            </a>
        </p>
    </div>
</div>
{% if audit.accessibility_statement_initially_found %}
    <table class="govuk-table amp-accordion-table">
        <tbody class="govuk-table__body">
            {% for row in audit_statement_1_rows %}
                {% include 'cases/helpers/detail_row.html' with row=row %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    {% include 'audits/helpers/no_statement_warning.html' %}
{% endif %}
