.filter-div-manual {
    display: none;
}

.filter-div-pdf {
    display: none;
}

.filter-div-axe {
    display: none;
}

.filter-div-not-tested {
    display: none;
}

.text-filter {
    display: none;
}

.fixed {
    position: sticky;
    top: 5px;
}
