.filter-div-manual {
    display: none;
}

.filter-div-pdf {
    display: none;
}

.filter-div-axe {
    display: none;
}

.filter-div-error-found {
    display: none;
}

.filter-div-no-issue {
    display: none;
}

.filter-div-not-tested {
    display: none;
}

.text-filter {
    display: none;
}
