.cases-search-background {
    background-color: #F2F2F1;
}
.cases-bigger-link {
    font-size: x-large;
}
.cases-sub-heading {
    margin: 0;
}
.cases-summary-bottom {
    border-bottom: 1px solid #A7A7A7;
    margin-bottom: 20px;
}