.cases-search-background {
    background-color: #F2F2F1;
}
.cases-bigger-link {
    font-size: x-large;
    color: #2F80ED;
}
.cases-sub-heading, .cases-notes {
    margin: 0;
}
.cases-margin-top {
    margin-top: 20px;
}
