body {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.govuk-form-group--error input {
    border: 2px solid #d4351c;
}

.bottom-margin-5 {
    margin-bottom: 5px;
}

.bottom-margin-10 {
    margin-bottom: 10px;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-left {
    padding-left: 0;
}

.hidden-form {
    display: none;
}

.amp-width-one-half {
    width:50%;
}

.amp-width-one-quarter {
    width:25%;
}

.amp-notes {
    p:first-child {
        margin-top: 0;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

.amp-alert-icon {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    box-sizing: border-box;
    display: inline-block;
    min-width: 25px;
    min-height: 25px;
    margin-left: 0.5rem;
    border-radius: 50%;
    color: #ffffff;
    background: #0b0c0c;
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    forced-color-adjust: none;
}

.amp-search-button {
    border: 0;
    cursor: pointer;
    position: relative;
    padding: 0;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #000;
}

.view-test-accordion-table > tbody > tr:last-child {
    th, td {
        border-bottom: none;
    }
}

div.amp-report {
    font-family: arial,sans-serif;
    font-size: 12pt;
    h1 {
        font-size: 20pt;
    }
    h2 {
        font-size: 16pt;
    }
    p, li {
        font-size: 12pt;
    }
    table {
        font-family: arial,sans-serif;
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
        tr, td {
            border: 1px solid black;
        }
        th {
            text-align: left;
        }
        thead > tr {
            color: #ffffff;
            background-color: #1A5293;
        }
    }
}
