{% extends 'base.html' %}

{% load l10n %}

{% block title %}All issues{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            {% include 'common/breadcrumb_home.html' %}
            <li class="govuk-breadcrumbs__list-item">All issues</li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">All issues</h1>

                <table id="all-issues" class="govuk-table">
                    <thead>
                        <tr>
                            <th>Issue and description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for wcag_definition in wcag_definitions %}
                            <tr>
                                <td>
                                    <p>
                                        {% if wcag_definition.url_on_w3 %}
                                            <a href="{{ wcag_definition.url_on_w3 }}" target="_blank">
                                                {{ wcag_definition.name }}</a>{% if wcag_definition.description and wcag_definition.type != 'manual' %}:{% endif %}
                                        {% else %}
                                            {{ wcag_definition.name }}{% if wcag_definition.description and wcag_definition.type != 'manual' %}:{% endif %}
                                        {% endif %}
                                        {% if wcag_definition.description and wcag_definition.type != 'manual' %}{{ wcag_definition.description }}.{% endif %}
                                    </p>
                                    {{ wcag_definition.report_boilerplate|markdown_to_html }}
                                </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="govuk-grid-column-one-third">
            </div>
        </div>
    </main>
{% endblock %}
