{% extends 'base.html' %}

{% block title %}{{ audit.case.organisation_name }} | {{ current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/case_banner.html' with case=audit.case %}
        </div>
    </div>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            {% include 'common/breadcrumb_home.html' %}
            {% include 'cases/helpers/breadcrumb_case.html' with case=audit.case %}
            <li class="govuk-breadcrumbs__list-item">{{ current_platform_page.get_name }}</li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-button-group">
                    <h1 class="govuk-heading-xl amp-margin-bottom-0 amp-padding-right-20">{{ current_platform_page.get_name }}</h1>
                    {% if audit.is_deleted %}
                        <strong class="govuk-tag govuk-tag--red">
                            Deleted
                        </strong>
                    {% endif %}
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="govuk-button-group amp-flex-end">
                    <a href="{{ audit.get_absolute_url }}" rel="noreferrer noopener" class="govuk-link govuk-link--no-visited-state">
                        View test
                    </a>
                </div>
            </div>
        </div>
        {% include 'cases/helpers/case_title.html' with case=audit.case %}
        {% if not audit.case.psb_response %}
            {% include 'audits/helpers/no_psb_response_notification.html' %}
        {% endif %}
        {% include "cases/helpers/messages.html" %}

        {% if audit.audit_retest_website_decision_complete_date and audit.audit_retest_statement_decision_complete_date %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {% include 'audits/helpers/end_of_test.html' %}
                </div>
            </div>
        {% endif %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                {% include 'common/view_accordion/toc.html' %}
                {% include 'common/frequently_used_links.html' with in_testing_ui='true' case=audit.case %}
            </div>
            <div class="govuk-grid-column-one-half">
                <div class="amp-margin-bottom-30">
                    {% include 'audits/helpers/retest_overview.html' %}
                </div>
            </div>
        </div>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion">
            {% for view_section in view_sections %}
                {% if view_section.anchor %}
                    {% include 'common/view_accordion/section.html' %}
                {% endif %}
                {% for subsection in view_section.subsections %}
                    {% include 'common/view_accordion/section.html' with view_section=subsection %}
                {% endfor %}
            {% endfor %}
        </div>
    </main>
</div>
{% endblock %}
