{% extends 'base.html' %}

{% block title %}{{ audit.case.organisation_name }} | View 12-week test{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' audit.case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                12-week test
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper no-padding-top">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <div class="govuk-button-group" style="display: flex;">
                    <h1 class="govuk-heading-xl" style="margin-bottom:15px; padding-right: 20px;">View 12-week test</h1>
                    {% if audit.is_deleted %}
                        <strong class="govuk-tag govuk-tag--red" style="position: relative; top: -5px;">
                            deleted
                        </strong>
                    {% endif %}
                </div>
            </div>
            <div class="govuk-grid-column-one-half">
                <div class="govuk-button-group" style="justify-content:flex-end; margin-top: 4px;">
                    <a href="{% url 'audits:audit-detail' audit.id %}" rel="noreferrer noopener" class="govuk-link govuk-link--no-visited-state">
                        View test
                    </a>
                </div>
            </div>
        </div>
        <div style="position: relative; top: -15px;">
            {% include 'cases/helpers/case_title.html' with case=audit.case %}
            {% include "cases/helpers/messages.html" %}
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% if audit.audit_retest_website_decision_complete_date and audit.audit_retest_statement_decision_complete_date %}
                    {% include 'audits/helpers/end_of_test.html' %}
                {% endif %}
                {% include 'audits/helpers/retest_nav_contents.html' %}
                {% include 'audits/details/retest_metadata.html' %}
                {% include 'audits/details/retest_pages.html' %}
                {% include 'audits/details/retest_website_decision.html' %}
                {% include 'audits/details/retest_statement.html' %}
                {% include 'audits/details/retest_statement_decision.html' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
