{% extends 'base.html' %}

{% block title %}{{ audit.case.organisation_name }} | View 12-week test{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' audit.case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                12-week test
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-button-group">
                    <h1 class="govuk-heading-xl amp-margin-bottom-0 amp-padding-right-20">View 12-week test</h1>
                    {% if audit.is_deleted %}
                        <strong class="govuk-tag govuk-tag--red">
                            deleted
                        </strong>
                    {% endif %}
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="govuk-button-group amp-flex-end">
                    <a href="{% url 'audits:audit-detail' audit.id %}" rel="noreferrer noopener" class="govuk-link govuk-link--no-visited-state">
                        View test
                    </a>
                </div>
            </div>
        </div>
        {% include 'cases/helpers/case_title.html' with case=audit.case %}
        {% if not audit.case.psb_response %}
            {% include 'audits/helpers/no_psb_response_notification.html' %}
        {% endif %}
        {% include "cases/helpers/messages.html" %}

        {% if audit.audit_retest_website_decision_complete_date and audit.audit_retest_statement_decision_complete_date %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {% include 'audits/helpers/end_of_test.html' %}
                </div>
            </div>
        {% endif %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                {% include 'audits/helpers/retest_nav_contents.html' %}
            </div>
            <div class="govuk-grid-column-one-half">
                {% include 'audits/helpers/retest_overview.html' %}
            </div>
        </div>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion">

            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 id="audit-retest-metadata" class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-heading-audit-retest-metadata">
                            12-week test metadata
                            {% if audit.audit_retest_metadata_complete_date %}
                                <span class="govuk-visually-hidden">complete</span>
                                &check;
                            {% endif %}
                        </span>
                    </h2>
                </div>
                <div id="accordion-content-audit-retest-metadata" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-audit-retest-metadata">
                    {% include 'audits/details/retest_metadata.html' %}
                </div>
            </div>

            {% for page in audit.testable_pages %}
                {% if page.failed_check_results %}
                    <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h2 id="retest-{{ page.anchor }}" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-section-header{{ forloop.counter0 }}">
                                    {{ page }} ({{ page.failed_check_results|length }})
                                    {% if page.complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-{{ forloop.counter0 }}" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-section-{{ forloop.counter0 }}">
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <p id="{{ page.anchor }}" class="govuk-body-m">
                                        <b>{{ page }} test</b>
                                        |
                                        <a href="{% url 'audits:edit-audit-retest-page-checks' page.id %}"
                                            class="govuk-link govuk-link--no-visited-state"
                                            rel="noreferrer noopener">
                                            Edit
                                        </a>
                                    </p>
                                </div>
                            </div>
                            {% if page.failed_check_results %}
                                <table class="govuk-table amp-accordion-table">
                                    {% include 'audits/helpers/retest_page_comparison.html' with check_results=page.failed_check_results %}
                                </table>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 id="audit-retest-website-decision" class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-heading-audit-retest-website-decision">
                            12-week website compliance decision
                            {% if audit.audit_retest_website_decision_complete_date %}
                                <span class="govuk-visually-hidden">complete</span>
                                &check;
                            {% endif %}
                        </span>
                    </h2>
                </div>
                <div id="accordion-content-audit-retest-website-decision" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-audit-retest-website-decision">
                    {% include 'audits/details/retest_website_decision.html' %}
                </div>
            </div>

            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 id="audit-retest-statement" class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-heading-audit-retest-statement">
                            12-week accessibility statement assessment
                            {% if audit.audit_retest_statement_2_complete_date %}
                                <span class="govuk-visually-hidden">complete</span>
                                &check;
                            {% endif %}
                        </span>
                    </h2>
                </div>
                <div id="accordion-content-audit-retest-statement" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-audit-retest-statement">
                    {% include 'audits/details/retest_statement.html' %}
                </div>
            </div>

            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 id="audit-retest-statement-decision" class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-heading-audit-retest-statement-decision">
                            12-week accessibility statement compliance decision
                            {% if audit.audit_retest_statement_decision_complete_date %}
                                <span class="govuk-visually-hidden">complete</span>
                                &check;
                            {% endif %}
                        </span>
                    </h2>
                </div>
                <div id="accordion-content-audit-retest-statement-decision" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-audit-retest-statement-decision">
                    {% include 'audits/details/retest_statement_decision.html' %}
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
