{% extends 'base.html' %}

{% load l10n %}

{% block title %}{{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {% include 'common/breadcrumbs.html' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                {% include 'common/settings/nav_steps.html' with current='audits:wcag-definition-list' %}
            </div>
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl amp-margin-bottom-25">{{ sitemap.current_platform_page.get_name }}</h1>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-three-quarters">
                        <p class="govuk-body-m">
                            WCAG errors control how the errors are displayed in the
                            testing UI and the report.
                        </p>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <a
                            href="{% url 'audits:wcag-definition-create' %}"
                            role="button"
                            draggable="false"
                            class="govuk-button govuk-button--secondary float-right"
                            data-module="govuk-button"
                        >
                            Create
                        </a>
                    </div>
                </div>
                <form method="get" action="{% url 'audits:wcag-definition-list' %}">
                    <span class="govuk-visually-hidden">Search WCAG errors:</span>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-form-group">
                            {{ wcag_definition_search_form.wcag_definition_search }}
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Search"
                                name="search"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <a
                                href="{% url 'audits:wcag-definition-list' %}"
                                class="govuk-link govuk-link--no-visited-state"
                            >
                                Clear
                            </a>
                        </div>
                    </div>
                </form>
                <p class="govuk-body-m">
                    Displaying {{ paginator.count }}
                    WCAG error{% if paginator.count != 1 %}s{% endif %}.
                </p>
                {% include "common/pagination_controls.html" %}
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                    {% for wcag_definition in wcag_definitions %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-two-thirds">
                                        <h2 class="govuk-heading-m amp-margin-top-20">{{ wcag_definition.name }}</h2>
                                    </div>
                                    <div class="govuk-grid-column-one-third amp-margin-top-20">
                                        <div class="govuk-button-group amp-flex-end">
                                            <a href="{{ wcag_definition.url_on_w3 }}" target="_blank" class="govuk-link">
                                                Link to WCAG
                                            </a>
                                            <a
                                                href="{% url 'audits:wcag-definition-update' wcag_definition.id %}"
                                                class="govuk-link govuk-link--no-visited-state"
                                            >
                                                Edit
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <p class="govuk-body-m amp-label">Type</p>
                                <p class="govuk-body-m">
                                    {{ wcag_definition.get_type_display }}
                                </p>
                                {% if wcag_definition.date_start %}
                                    <p class="govuk-body-m amp-label">Start date</p>
                                    <p class="govuk-body-m">{{ wcag_definition.date_start|amp_date }}</p>
                                {% endif %}
                                {% if wcag_definition.date_end %}
                                    <p class="govuk-body-m amp-label">End date</p>
                                    <p class="govuk-body-m">{{ wcag_definition.date_end|amp_date }}</p>
                                {% endif %}
                                <p class="govuk-body-m amp-label">Description</p>
                                <p class="govuk-body-m">
                                    {% if wcag_definition.description %}
                                        {{ wcag_definition.description }}
                                    {% else %}
                                        None
                                    {% endif %}
                                </p>
                                <p class="govuk-body-m amp-label">Hint</p>
                                <p class="govuk-body-m">
                                    {% if wcag_definition.hint %}
                                        {{ wcag_definition.hint }}
                                    {% else %}
                                        None
                                    {% endif %}
                                </p>
                                <p class="govuk-body-m amp-label">Report boilerplate</p>
                                <p class="govuk-body-m">
                                    {% if wcag_definition.report_boilerplate %}
                                        {{ wcag_definition.report_boilerplate|markdown_to_html }}
                                    {% else %}
                                        None
                                    {% endif %}
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "common/pagination_controls.html" %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
