DEBUG=TRUE
SECRET_KEY=12345678
ALLOWED_HOSTS='localhost 127.0.0.1'
TERRAFORM=TRUE
DB_HOST=localhost
DB_NAME=accessibility_monitoring_app
DB_USER=admin
BUCKET_NAME=amp-app-prod-env-prod-env-files
DB_PASSWORD={"username": "admin", "password": "secret"}

SMOKE_TESTS_USERNAME=
SMOKE_TESTS_PASSWORD=
