[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2.4"
python-dotenv = "*"
psycopg2 = "*"
notifications-python-client = "*"
whitenoise = "*"
dj-database-url = "*"
waitress = "*"
boto3 = "*"
selenium = "~=3.141.0"
libsass = "*"
rcssmin = "*"
xmltodict = "*"
Markdown = "*"

[dev-packages]
flake8 = "*"
pylint = "*"
coverage = "*"
pytest-django = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
