[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"setuptools" = "65.1.1"
"backports.zoneinfo" = "0.2.1"
django = ">=4.1"
python-dotenv = "*"
psycopg2 = "*"
notifications-python-client = "*"
whitenoise = "*"
dj-database-url = "*"
waitress = "*"
boto3 = "*"
selenium = "*"
xmltodict = "*"
Markdown = "*"
moto = "*"
webdriver-manager = "*"
django-axes = "~=5.33.0"
django-two-factor-auth = "*"
phonenumbers = "*"
django-csp = "*"

[dev-packages]
flake8 = "*"
pylint = "*"
coverage = "*"
pytest-django = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
