django==4.2.10
python-dotenv
psycopg2
notifications-python-client
whitenoise
dj-database-url
waitress
boto3
selenium
xmltodict
Markdown
moto
django-axes
django-two-factor-auth
phonenumbers
django-csp
pytest-django
webdriver-manager
