django
django-browser-reload
python-dotenv
psycopg2
notifications-python-client
whitenoise
waitress
boto3
selenium
xmltodict
Markdown
moto
django-axes
django-two-factor-auth
phonenumbers
pytest-django
webdriver-manager
