Dear {{ case.organisation_name }},
<br>
<br>
We have been contacted by a member of the public about your website. They found that your website
(<a href="{{ case.home_page_url }}">{{ case.home_page_url }}</a>)
may not meet the new Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (<a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps">https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps</a>).
<br>
<br>
The regulations came into force on 23 September 2018. Public sector bodies now have a legal obligation to meet accessibility requirements for their websites.
<br>
<br>
<h2>What we found</h2>
<br>
We found some accessibility issues with the website. Details of the issues can be found in our report:
<a href="{{ case.published_report_url }}">{{ case.published_report_url }}</a>
<br>
<br>
We have published more information on public sector accessibility monitoring and what you need to do at
<a href="https://reports.accessibility-monitoring.service.gov.uk/reports/more-information">https://reports.accessibility-monitoring.service.gov.uk/reports/more-information</a>.
<br>
<br>
<h2>What you have to do</h2>
<br>
Under the Regulations your website must meet Web Content Accessibility Guidelines (WCAG 2.1 AA standards).
<br>
<br>
We are asking that you:
<ul>
<li>email us within 7 days to confirm you have received the report</li>
{% if case.audit.initial_disproportionate_burden_claim == 'no-assessment' %}
<li>send us your disproportionate burden assessment evidence</li>
{% endif %}
<li>complete an accessibility audit of your website to find what needs to be fixed</li>
<li>fix the issues on your website within 12 weeks</li>
<li>publish a compliant accessibility statement on your website</li>
</ul>
<br>
After 12 weeks
{% if case.report_followup_week_12_due_date %}
({{ case.report_followup_week_12_due_date|amp_date }}),
{% else %}
<span class="amp-email-placeholder">(add date)</span>,
{% endif %}
we will contact you and ask for an update on your progress, and we will retest your website to check that any accessibility issues have been fixed.
<br>
<br>
Any remaining accessibility issues will be passed to the {{ case.get_enforcement_body_display }} for further action and a list of websites without correct accessibility statements will be published by the Cabinet Office.
<br>
<br>
Where possible we will direct you to relevant resources and information that may help you to increase the accessibility of your website.
<br>
<br>
To find out more about the accessibility monitoring and the legislation go to <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction">https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction</a>
<br>
