Dear {{ case.organisation_name }},
<br>
<br>
We emailed you an accessibility report on
{% if case.report_sent_date %}
    {{ case.report_sent_date|amp_date }}
{% else %}
    <span class="amp-email-placeholder">[DATE]</span>
{% endif %}
with a deadline of
{% if case.report_followup_week_12_due_date %}
    {{ case.report_followup_week_12_due_date|amp_date }}
{% else %}
    <span class="amp-email-placeholder">[DATE]</span>
{% endif %}
to review the accessibility of
{% if case.home_page_url %}
    <a href="{{ case.home_page_url }}">{{ case.home_page_url }}</a>
{% else %}
    <span class="amp-email-placeholder">[HOME PAGE URL]</span>
{% endif %}
and fix any issues.
<br>
<br>
You must now provide an update on the progress you have made.
<br>
<br>
<h2 class="amp-margin-bottom-0">What you need to do</h2>
<br>
Please provide an update on each issue raised in the accessibility report including:
<ul>
    <li>Issues you have fixed</li>
    <li>Issues you have been unable to fix</li>
    <li>A timeline for fixing unresolved issues</li>
    <li>Any other comments about the accessibility of your website</li>
</ul>
<br>
The issues found in the report have been listed below.
You do not need to provide information from your own audit.
<br>
<br>
{% if case.audit.unfixed_check_results %}
    Please provide these by filling in the last column of the below tables
    and provide an update on the Accessibility statement.
    <br>
    <br>
    {% for issues_table in issues_tables %}
        {% if issues_table.rows %}
            <h2>{{ issues_table.page }}{% if issues_table.page.page_type != 'pdf' %} page{% endif %} issues</h2>
            <br>
            <a href="{{ issues_table.page.url }}">{{ issues_table.page.url }}</a>
            {{ issues_table.page.location }}
            <br>
            <br>
            <table id="email-issues-table-{{ forloop.counter }}">
                <thead>
                    <tr>
                        <th id="issue-{{ forloop.counter }}" width=33%>Issue and description</th>
                        <th id="where-found-{{ forloop.counter }}" width=33%>Where the issue was found</th>
                        <th id="12-week-update-{{ forloop.counter }}" width=33%>12-week update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in issues_table.rows %}
                        <tr valign="top">
                            <td headers="issue-{{ forloop.parentloop.counter }}" width=33%>{{ row.cell_content_1|markdown_to_html }}</td>
                            <td headers="where-found-{{ forloop.parentloop.counter }}" width=33%>{{ row.cell_content_2|markdown_to_html }}</td>
                            <td headers="12-week-update-{{ forloop.parentloop.counter }}" width=33%></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}
{% else %}
    We found no major issues.
{% endif %}
<br>
<br>
<h2>Accessibility statement comments</h2>
<br>
{% if case.audit.latest_statement_link %}
    <a href="{{ case.audit.latest_statement_link }}">{{ case.audit.latest_statement_link }}</a>
    <br>
    <br>
{% endif %}
{% if case.audit.failed_statement_check_results %}
    An accessibility statement for the website was found
    but we found the following issues.
    <br>
    <br>
    <table id="email-statement-issues-table">
        <thead>
            <tr>
                <th id="statement-issue" width=50%>Issue and description</th>
                <th id="statement-12-week-update" width=50%>12-week update</th>
            </tr>
        </thead>
        <tbody>
            {% for statement_check_result in case.audit.failed_statement_check_results %}
                <tr valign="top">
                    <td headers="statement-issue" width=50%>
                        {{ statement_check_result.statement_check.report_text }}
                        {% if statement_check_result.report_comment %}
                            {% if statement_check_result.statement_check.report_text %}
                                <br>
                                <br>
                            {% endif %}
                            {{ statement_check_result.report_comment }}
                        {% endif %}
                        <br>
                        [{{ statement_check_result.issue_identifier }}]
                    </td>
                    <td headers="statement-12-week-update" width=50%></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% elif case.audit.accessibility_statement_found and case.audit.statement_check_result_statement_found %}
    An accessibility statement for the website was found in the correct format.
{% else %}
    An accessibility statement for the website was not found.
{% endif %}
<br>
<br>
Please provide the update within 7 days.
<br>
<br>
We will retest these pages to check that they meet the
accessibility regulations.
<br>
<br>
Any remaining accessibility issues will be passed to the
{% if case.enforcement_body == 'ehrc' %}
    Equality and Human Rights Commission (EHRC)
{% else %}
    Equality Commission for Northern Ireland (ECNI)
{% endif %}
for further action and a list of websites without correct
accessibility statements will be published by the Cabinet Office.
<br>
<br>
