Dear <span class="amp-email-placeholder">[NAMED CONTACT]</span>,
<br>
<br>
We have completed the retest and some issues are still outstanding.
Please review the issues listed below and provide an update.
<br>
<br>
{% if case.audit.unfixed_check_results %}
    {% for issues_table in issues_tables %}
    {% if issues_table.rows %}
    <h2>{{ issues_table.page }}{% if issues_table.page.page_type != 'pdf' %} page{% endif %} issues</h2>
    <br>
    <a href="{{ issues_table.page.url }}">{{ issues_table.page.url }}</a>
    <br>
    <br>
    <table id="email-issues-table-{{ forloop.counter }}">
    <thead>
    <tr>
    <th width=1%>#</th>
    <th id="issue-{{ forloop.counter }}" width=33%>Issue and description</th>
    <th id="where-found-{{ forloop.counter }}" width=33%>Where the issue was found</th>
    <th id="12-week-update-{{ forloop.counter }}" width=33%>Organisation 12-week update</th>
    </tr>
    </thead>
    <tbody>
    {% for row in issues_table.rows %}
    <tr valign="top">
    <td width=1%>{{ forloop.counter }}</td>
    <td headers="issue-{{ forloop.parentloop.counter }}" width=33%>{{ row.cell_content_1|markdown_to_html }}</td>
    <td headers="where-found-{{ forloop.parentloop.counter }}" width=33%>{{ row.cell_content_2|markdown_to_html }}</td>
    <td headers="12-week-update-{{ forloop.parentloop.counter }}" width=33%></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
    {% endfor %}
{% else %}
    We found no major issues.
{% endif %}
<br>
<br>
<h2>Your statement</h2>
<br>
{% if case.audit.uses_statement_checks %}
    {% if case.audit.outstanding_statement_check_results %}
    <table id="email-statement-issues-table">
    <thead>
    <tr>
    <th width=1%>#</th>
    <th id="statement-issue" width=49%>Issue</th>
    <th id="statement-12-week-update" width=49%>Organisation 12-week update</th>
    </tr>
    </thead>
    <tbody>
    {% for statement_check_result in case.audit.outstanding_statement_check_results %}
    <tr valign="top">
    <td width=1%>{{ forloop.counter }}</td>
    <td headers="statement-issue" width=49%>
    <p>{{ statement_check_result.statement_check.report_text }}</p>
    {{ statement_check_result.report_comment|markdown_to_html }}
    </td>
    <td headers="statement-12-week-update" width=49%>
    {{ statement_check_result.retest_comment|markdown_to_html }}
    </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% else %}
    We found no major issues.
    {% endif %}
{% else %}
    {{ case.audit.get_archive_accessibility_statement_state_display }}
    {% if case.audit.archive_accessibility_statement_state == 'found-but' %}
    <ul>
    {% for issue in case.audit.report_accessibility_issues %}
    <li>{{ issue }}</li>
    {% endfor %}
    </ul>
    {% endif %}
{% endif %}
<br>
<br>
