{% extends "base.html" %}

{% load l10n %}
{% load humanize %}

{% block title %}{{ sitemap.current_platform_page.get_name }} ({{ tasks|length|intcomma }}){% endblock %}

{% block content %}
<div class="govuk-width-container">
    {% include 'common/breadcrumbs.html' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl amp-margin-bottom-30">{{ sitemap.current_platform_page.get_name }}</h1>
            </div>
        </div>
        {% for message in messages %}
            <div class="govuk-inset-text">
                {{ message }}
            </div>
        {% endfor %}
        <div class="govuk-grid-row amp-margin-bottom-30">
            <div class="govuk-grid-column-full">
                <ul class="govuk-list">
                    <li class="amp-custom-nav-bar amp-margin-right-25 {% if not type %} amp-custom-nav-bar-selected {% endif %}">
                        <div class="amp-margin-bottom-15">
                            <a href="{% url 'notifications:task-list' %}" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">All</a>
                        </div>
                    </li>
                    <li class="amp-custom-nav-bar amp-margin-right-25 {% if type == 'qa-comment' %} amp-custom-nav-bar-selected {% endif %}">
                        <div class="amp-margin-bottom-15">
                            <a href="?type=qa-comment" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">QA comment ({{ task_type_counts.qa_comment }})</a>
                        </div>
                    </li>
                    <li class="amp-custom-nav-bar amp-margin-right-25 {% if type == 'report-approved' %} amp-custom-nav-bar-selected {% endif %}">
                        <div class="amp-margin-bottom-15">
                            <a href="?type=report-approved" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">Report approved ({{ task_type_counts.report_approved }})</a>
                        </div>
                    </li>
                    <li class="amp-custom-nav-bar amp-margin-right-25 {% if type == 'reminder' %} amp-custom-nav-bar-selected {% endif %}">
                        <div class="amp-margin-bottom-15">
                            <a href="?type=reminder" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">Reminder ({{ task_type_counts.reminder }})</a>
                        </div>
                    </li>
                    <li class="amp-custom-nav-bar amp-margin-right-25 {% if type == 'overdue' %} amp-custom-nav-bar-selected {% endif %}">
                        <div class="amp-margin-bottom-15">
                            <a href="?type=overdue" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">Overdue ({{ task_type_counts.overdue }})</a>
                         </div>
                    </li>
                    <li class="amp-custom-nav-bar {% if type == 'postcase' %} amp-custom-nav-bar-selected {% endif %}">
                        <div class="amp-margin-bottom-15">
                            <a href="?type=postcase" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">Post case ({{ task_type_counts.postcase }})</a>
                         </div>
                    </li>
                </ul>
            </div>
            <div class="govuk-grid-column-full">
                {% if not type %}
                    <ul class="govuk-list">
                        <li class="amp-custom-nav-bar amp-margin-right-25">
                            {% if not show_all_users %}
                                <b> All </b>
                            {% else %}
                                <a href="{% url 'notifications:task-list' %}" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">All</a>
                            {% endif %}
                        </li>
                        <li class="amp-custom-nav-bar amp-margin-right-25 {% if not type %} amp-custom-sub-nav-bar-selected {% endif %}">
                            {% if show_all_users == True %}
                                <b> Show all tasks for all users </b>
                            {% else %}
                                <a href="?show_all_users=true" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">Show all tasks for all users</a>
                            {% endif %}
                        </li>
                    </ul>
                {% endif %}
                {% if type == 'qa-comment' %}
                    <ul class="govuk-list">
                        <li class="amp-custom-nav-bar amp-margin-right-25">
                            {% if not read %}
                                <b>QA comment ({{ task_type_counts.qa_comment }})</b>
                            {% else %}
                                <a href="?type=qa-comment" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">QA comment ({{ task_type_counts.qa_comment }})</a>
                            {% endif %}
                        </li>
                        <li class="amp-custom-nav-bar amp-margin-right-25">
                            {% if read %}
                                <b> View read </b>
                            {% else %}
                                <a href="?type=qa-comment&read=true" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">View read</a>
                            {% endif %}
                        </li>
                    </ul>
                {% endif %}
                {% if type == 'report-approved' %}
                    <ul class="govuk-list">
                        <li class="amp-custom-nav-bar amp-margin-right-25">
                            {% if not read %}
                                <b>Report approved ({{ task_type_counts.report_approved }})</b>
                            {% else %}
                                <a href="?type=report-approved" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">Report approved ({{ task_type_counts.report_approved }})</a>
                            {% endif %}
                        </li>
                        <li class="amp-custom-nav-bar amp-margin-right-25">
                            {% if read %}
                                <b> View read </b>
                            {% else %}
                                <a href="?type=report-approved&read=true" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">View read</a>
                            {% endif %}
                        </li>
                    </ul>
                {% endif %}
                {% if type == 'reminder' %}
                    <ul class="govuk-list">
                        <li class="amp-custom-nav-bar amp-margin-right-25">
                            {% if not read and not deleted and not future %}
                                <b>Reminder ({{ task_type_counts.reminder }})</b>
                            {% else %}
                                <a href="?type=reminder" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">Reminder ({{ task_type_counts.reminder }})</a>
                            {% endif %}
                        </li>
                        <li class="amp-custom-nav-bar amp-margin-right-25">
                            {% if deleted %}
                                <b> View deleted </b>
                            {% else %}
                                <a href="?type=reminder&deleted=true" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">View deleted</a>
                            {% endif %}
                        </li>
                        <li class="amp-custom-nav-bar amp-margin-right-25">
                            {% if future %}
                                <b> View future </b>
                            {% else %}
                                <a href="?type=reminder&future=true" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">View future</a>
                            {% endif %}
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p class="govuk-body">
                    Found {{ tasks|length|intcomma }} task{% if tasks|length != 1 %}s{% endif %}
                </p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% for task in tasks %}
                    <div>
                        <h2 class="govuk-heading-m amp-margin-bottom-20">
                            {{ task.get_type_display }}
                        </h2>
                        <div class="govuk-body amp-column-view-parent">
                            <div>
                                {% if show_all_users %}
                                    <div class="amp-margin-bottom-10 amp-column-view-parent">
                                        <div class="amp-min-width-170">
                                            <b>User</b>
                                        </div>
                                        <div>
                                            {% if task.user %}
                                                {{ task.user.get_full_name }}
                                            {% elif task.base_case.auditor %}
                                                {{ task.base_case.auditor.get_full_name }}
                                            {% else %}
                                                Unknown
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="amp-margin-bottom-10 amp-column-view-parent">
                                    <div class="amp-min-width-170 ">
                                        <b>Date</b>
                                    </div>
                                    <div>
                                        {{ task.date|amp_date }}
                                    </div>
                                </div>
                                <div class="amp-margin-bottom-10 amp-column-view-parent">
                                    <div class="amp-min-width-170 ">
                                        <b>ID</b>
                                    </div>
                                    <div>
                                        {{ task.base_case.case_identifier }}
                                    </div>
                                </div>
                                <div class="amp-margin-bottom-10 amp-column-view-parent">
                                    <div class="amp-min-width-170 ">
                                        <b>Case</b>
                                    </div>
                                    <div>
                                        <a href="{{ task.base_case.get_absolute_url }}" class="govuk-link govuk-link--no-visited-state">{{ task.base_case.organisation_name }}</a>
                                    </div>
                                </div>
                                <div class="amp-margin-bottom-10 amp-column-view-parent">
                                    <div class="amp-min-width-170 ">
                                        <b>Description</b>
                                    </div>
                                    <div>
                                        {{ task.description }}
                                    </div>
                                </div>
                                <div class="amp-margin-bottom-10 amp-column-view-parent">
                                    <div class="amp-min-width-170 ">
                                        <b>Action required</b>
                                    </div>
                                    <div>
                                        {{ task.action }}
                                    </div>
                                </div>
                                <div class="amp-margin-bottom-10 amp-column-view-parent">
                                    <div class="amp-min-width-170 ">
                                        <b>Options</b>
                                    </div>
                                    <div>
                                        {% for option in task.options %}
                                            <a href="{{ option.url }}" class="govuk-link govuk-link--no-visited-state">{{ option.label }}</a>
                                            &nbsp
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <hr class="amp-width-100 amp-margin-top-25 amp-margin-bottom-25 hr-grey" />
                {% endfor %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
