{% extends "base.html" %}

{% load l10n %}
{% load humanize %}

{% block title %}{{ sitemap.current_platform_page.get_name }} ({{ tasks|length|intcomma }}){% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            {% include 'common/breadcrumb_home.html' %}
            <li class="govuk-breadcrumbs__list-item">{{ sitemap.current_platform_page.get_name }}</li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl amp-margin-bottom-30">{{ sitemap.current_platform_page.get_name }}</h1>
            </div>
        </div>
        {% for message in messages %}
            <div class="govuk-inset-text">
                {{ message }}
            </div>
        {% endfor %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <ul class="govuk-list">
                    <li>
                        {% if type or show_all_users %}
                            <a href="{% url 'notifications:task-list' %}" class="govuk-link govuk-link--no-visited-state">All</a>
                        {% else %}
                            <b>All</b>
                        {% endif %}
                    </li>
                    <li>
                        {% if type == 'qa-comment' and not read %}
                            <b>QA comment ({{ task_type_counts.qa_comment }})</b>
                        {% else %}
                            <a href="?type=qa-comment" class="govuk-link govuk-link--no-visited-state">QA comment ({{ task_type_counts.qa_comment }})</a>
                        {% endif %}
                        |
                        {% if type == 'qa-comment' and read %}
                            <b>View read</b>
                        {% else %}
                            <a href="?type=qa-comment&read=true" class="govuk-link govuk-link--no-visited-state">View read</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if type == 'report-approved' and not read %}
                            <b>Report approved ({{ task_type_counts.report_approved }})</b>
                        {% else %}
                            <a href="?type=report-approved" class="govuk-link govuk-link--no-visited-state">Report approved ({{ task_type_counts.report_approved }})</a>
                        {% endif %}
                        |
                        {% if type == 'report-approved' and read %}
                            <b>View read</b>
                        {% else %}
                            <a href="?type=report-approved&read=true" class="govuk-link govuk-link--no-visited-state">View read</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if type == 'reminder' and not future and not deleted %}
                            <b>Reminder ({{ task_type_counts.reminder }})</b>
                        {% else %}
                            <a href="?type=reminder" class="govuk-link govuk-link--no-visited-state">Reminder ({{ task_type_counts.reminder }})</a>
                        {% endif %}
                        |
                        {% if deleted %}
                            <b>View deleted</b>
                        {% else %}
                            <a href="?type=reminder&deleted=true" class="govuk-link govuk-link--no-visited-state">View deleted</a>
                        {% endif %}
                        |
                        {% if future %}
                            <b>View future</b>
                        {% else %}
                            <a href="?type=reminder&future=true" class="govuk-link govuk-link--no-visited-state">View future</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if type == 'overdue' %}
                            <b>Overdue ({{ task_type_counts.overdue }})</b>
                        {% else %}
                            <a href="?type=overdue" class="govuk-link govuk-link--no-visited-state">
                                Overdue ({{ task_type_counts.overdue }})</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if type == 'postcase' %}
                            <b>Post case ({{ task_type_counts.postcase }})</b>
                        {% else %}
                            <a href="?type=postcase" class="govuk-link govuk-link--no-visited-state">
                                Post case ({{ task_type_counts.postcase }})</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="govuk-grid-column-one-half">
                <ul class="govuk-list">
                    <li>
                        {% if show_all_users %}
                            <b>Showing tasks for all users</b>
                        {% else %}
                            <a href="?show_all_users=true" class="govuk-link govuk-link--no-visited-state">
                                Show tasks for all users</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p class="govuk-body">
                    Found {{ tasks|length|intcomma }} task{% if tasks|length != 1 %}s{% endif %}
                </p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% for task in tasks %}
                    <h2 class="govuk-heading-m amp-margin-bottom-10">
                        {{ task.get_type_display }}
                        {% if show_all_users %}
                            {% if task.user %}
                                ({{ task.user.get_full_name }})
                            {% elif task.base_case.auditor %}
                                ({{ task.base_case.auditor.get_full_name }})
                            {% endif %}
                        {% endif %}
                    </h2>
                    <p class="govuk-body amp-margin-bottom-5"><b>Date</b> {{ task.date|amp_date }}</p>
                    <p class="govuk-body amp-margin-bottom-5">
                        <b>Case</b>
                        <a href="{% url 'simplified:case-detail' task.base_case.id %}" class="govuk-link govuk-link--no-visited-state">{{ task.base_case }}</a>
                    </p>
                    <p class="govuk-body amp-margin-bottom-5"><b>Description</b> {{ task.description }}</p>
                    <p class="govuk-body amp-margin-bottom-5">
                        <b>Action required</b>
                        {{ task.action }}
                    </p>
                    <p class="govuk-body">
                        <b>Options</b>
                        {% for option in task.options %}
                            <a href="{{ option.url }}" class="govuk-link govuk-link--no-visited-state amp-margin-left-10">
                                {{ option.label }}</a>
                        {% endfor %}
                    </p>
                    <hr class="amp-width-100 amp-margin-bottom-30" />
                {% endfor %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
