<!DOCTYPE html>

{% extends "base.html" %}

{% block title %}Comments ({{unread_notifications}}){% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Comments ({{unread_notifications}})
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper dashboard">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    Comments ({{ unread_notifications }})
                </h1>
            </div>
        </div>
        {% for message in messages %}
            <div class="govuk-inset-text">
                {{ message }}
            </div>
        {% endfor %}
        {% if notifications|length == 0 %}
            <p class="govuk-body"> You have no unread comments </p>
        {% else %}
            {% include "common/pagination_controls.html" %}
            <table class="govuk-table case-dashboard">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header amp-width-one-quarter">Date</th>
                        <th scope="col" class="govuk-table__header amp-width-one-quarter">Page</th>
                        <th scope="col" class="govuk-table__header amp-width-one-quarter">Description</th>
                        <th scope="col" class="govuk-table__header amp-width-one-quarter">Mark as seen</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for notification in notifications %}
                        <tr class="govuk-table__row ">
                            <th scope="row" class="govuk-table__header amp-width-one-quarter">
                                {% if notification.read %}
                                    {{notification.created_date|date:"d/m/Y"}}
                                {% else %}
                                    <strong class="govuk-tag govuk-tag--red">
                                        {{notification.created_date|date:"d/m/Y"}}
                                    </strong>
                                {% endif %}
                            </th>
                            <td class="govuk-table__cell amp-width-one-quarter">
                                <a href="{{notification.path}}" class="govuk-link"> {{notification.list_description}} </a>
                            </td>
                            <td class="govuk-table__cell amp-width-one-quarter"> {{notification.body}} </td>
                            {% if notification.read %}
                                <td class="govuk-table__cell amp-width-one-quarter">
                                    <a href="{% url 'notifications:unhide-notification' notification.id %}" class="govuk-link"> Mark as unseen </a>
                                </td>
                            {% else %}
                                <td class="govuk-table__cell amp-width-one-quarter">
                                    <a href="{% url 'notifications:hide-notification' notification.id %}" class="govuk-link"> Mark as seen </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "common/pagination_controls.html" %}
        {% endif %}
    </main>
</div>

{% endblock %}
