<div class="amp-case-banner amp-case-banner-title-active">
    <p>{{ case.case_identifier }}</p>
    <h1>
        {% if case.website_name %}
            {{ case.website_name }} |
        {% endif %}
        {% if case.organisation_name %}
            {{ case.organisation_name }}
        {% else %}
            {{ case.app_name }}
        {% endif %}
    </h1>
</div>
<div class="amp-case-banner amp-case-banner-body amp-margin-bottom-10">
    <div class="amp-case-banner-row">
        <p>
            {% if case.auditor %}
                {{ case.auditor.get_full_name }}
            {% else %}
                No auditor
            {% endif %}
        </p>
        <div class="amp-vertical-line">
            &nbsp
        </div>
        <p>
            {{ case.get_status_display }}
            <a href="{% url 'detailed:edit-case-status' case.id %}" class="govuk-link govuk-link--no-visited-state">
                Change
            </a>
        </p>
        <div class="amp-vertical-line">
            &nbsp
        </div>
        <p>
            <span class="amp-todo">TODO reminder</span>
        </p>
        <div class="amp-vertical-line">
            &nbsp
        </div>
        <p>
            <span class="amp-todo">TODO detailed report</span>
        </p>
        <div class="amp-vertical-line">
            &nbsp
        </div>
        <p>
            <a href="{{ case.home_page_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                View website
            </a>
        </p>
    </div>
</div>
