<details class="govuk-details" data-module="govuk-details"{% if note_history.count > 0 %} open{% endif %}>
   <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">View note history ({{ note_history.count }})</span>
    </summary>
    <div class="govuk-details__text">
        {% if note_history.count > 0 %}
            {% for detailed_case_event in note_history %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <p class="govuk-body amp-margin-bottom-5">
                            <b>{{ detailed_case_event.created_by.get_full_name }}</b> |
                            {{ detailed_case_event.created|amp_datetime }}
                        </p>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full govuk-body amp-notes">
                        {{ detailed_case_event.value|markdown_to_html }}
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <hr class="amp-width-100" />
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</details>
