{% extends 'cases/details/details.html' %}

{% block pretable %}
    {% if not case.qa_comments %}
        <p class="govuk-body">No QA comments</p>
    {% endif %}
{% endblock %}

{% block prefixrows %}
    {% for comment in case.qa_comments %}
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">
                {{ comment.user.get_full_name }} on {{ comment.created_date|amp_datetime }}
            </th>
            <td class="govuk-table__cell amp-width-one-half amp-notes">
                {{ comment.body|markdown_to_html }}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
