

{% extends 'base.html' %}

{% load static %}

{% load l10n %}

{% block title %}{{ current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-breadcrumbs">
                    <ol class="govuk-breadcrumbs__list">
                        {% include 'common/breadcrumb_home.html' %}
                        <li class="govuk-breadcrumbs__list-item">Settings</li>
                        <li class="govuk-breadcrumbs__list-item">
                            <a class="govuk-breadcrumbs__link" href="{% url 'common:email-template-list' %}">Email template manager</a>
                        </li>
                        <li class="govuk-breadcrumbs__list-item">{{ current_platform_page.get_name }}</li>
                    </ol>
                </div>
                <h1 class="govuk-heading-xl">{{ current_platform_page.get_name }}</h1>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-button-group">
                <button class="copy-email-to-clipboard govuk-button govuk-button--secondary">
                    Copy email template
                </button>
                <a
                    href="{% url 'common:email-template-update' email_template.id %}"
                    class="govuk-link govuk-link--no-visited-state"
                >
                    Return to editor
                </a>
                <a
                    href="{% url 'common:email-template-list' %}"
                    class="govuk-link govuk-link--no-visited-state"
                >
                    Return to email template manager
                </a>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">Preview</h2>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div id="email-text" class="amp-report-wrapper">
                    {{ email_template_render }}
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block extrascript %}
    <script src="{% static 'js/cases_copy_email.js' %}"></script>
{% endblock %}
