

{% extends 'base.html' %}

{% load l10n %}

{% block title %}{{ current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {% include 'common/settings/breadcrumbs.html' with page_heading=current_platform_page.get_name %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include 'common/settings/nav_steps.html' with current='common:email-template-list' %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl amp-margin-bottom-15">{{ current_platform_page.get_name }}</h1>
                <div class="govuk-button-group">
                    <a
                        href="{% url 'common:email-template-create' %}"
                        role="button"
                        draggable="false"
                        class="govuk-button"
                        data-module="govuk-button"
                    >
                        Create email template
                    </a>
                </div>
                {% include "common/pagination_controls.html" %}
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                    {% for email_template in email_templates %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-two-thirds">
                                        <div class="govuk-button-group">
                                            <h2 class="govuk-heading-m">{{ email_template.name }}</h2>
                                        </div>
                                    </div>
                                    <div class="govuk-grid-column-one-third">
                                        <div class="govuk-button-group amp-flex-end">
                                            <a href="{% url 'common:email-template-preview' email_template.id %}" class="govuk-link govuk-link--no-visited-state">Preview</a>
                                            <a href="{% url 'common:email-template-update' email_template.id %}" class="govuk-link govuk-link--no-visited-state">Edit</a>
                                        </div>
                                    </div>
                                </div>
                                <p class="govuk-body-m amp-margin-bottom-5"><b>Added</b></p>
                                <p class="govuk-body-m">
                                    {{ email_template.created|amp_date }} by {{ email_template.created_by.get_full_name }}
                                </p>
                                <p class="govuk-body-m amp-margin-bottom-5"><b>Last edited</b></p>
                                <p class="govuk-body-m">
                                    {{ email_template.updated|amp_date }} by {{ email_template.updated_by.get_full_name }}
                                </p>
                                <p class="govuk-body-m amp-margin-bottom-5">
                                    <b>
                                        Email template
                                        (View full template in
                                        <a href="{% url 'common:email-template-update' email_template.id %}" class="govuk-link govuk-link--no-visited-state">edit</a>)
                                    </b>
                                </p>
                                <code><pre>{{ email_template.template|truncatechars:200 }}</pre></code>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "common/pagination_controls.html" %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
