{% extends 'base.html' %}

{% load humanize %}

{% block title %}{{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {% include 'common/breadcrumbs.html' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">{{ sitemap.current_platform_page.get_name }}</h1>
                <h2 class="govuk-heading-l">{{ page_obj.paginator.count|intcomma }} case{% if page_obj.paginator.count != 1 %}s{% endif %} found</h2>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/case_search_form.html" %}
                {% if base_cases %}
                    {% include "common/pagination_controls.html" %}
                    <table class="govuk-table amp-case-search-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                             <th scope="col" class="govuk-table__header">Case ID</th>
                             <th scope="col" class="govuk-table__header">Case</th>
                             <th scope="col" class="govuk-table__header">Status</th>
                             <th scope="col" class="govuk-table__header">Updated</th>
                             <th scope="col" class="govuk-table__header">Auditor</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        {% for base_case in base_cases %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell amp-case-id-width">
                                    <span class="amp-case-tag amp-case-test-type-{{ base_case.tag_name_suffix }}">{{ base_case.case_identifier }}</span>
                                </td>
                                <td class="govuk-table__cell amp-case-name">
                                    <a href="{{ base_case.get_absolute_url }}" class="govuk-link">{{ base_case.full_name }}</a>
                                </td>
                                <td class="govuk-table__cell">{{ base_case.get_status_display }}</td>
                                <td class="govuk-table__cell">{{ base_case.updated|amp_date_trunc }}</td>
                                <td class="govuk-table__cell">
                                    {% if base_case.auditor %}
                                        {{ base_case.auditor.get_full_name }}
                                    {% else %}
                                        No auditor
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include "common/pagination_controls.html" %}
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
