{% extends 'base.html' %}

{% load humanize %}

{% block title %}{{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {% include 'common/breadcrumbs.html' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">{{ sitemap.current_platform_page.get_name }}</h1>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/case_search_form.html" %}
                {% if base_cases %}
                    <div class="amp-table-details">
                        <div>
                            <p class="govuk-body"> Found {{ page_obj.paginator.count|intcomma }} case{% if page_obj.paginator.count != 1 %}s{% endif %} </p>
                        </div>
                        <div class="justify-right">
                                {% include "common/pagination_controls.html" %}
                        </div>
                    </div>
                    <table class="govuk-body govuk-!-font-size-16 amp-case-search-table">
                        <thead class="">
                            <tr class="">
                             <th scope="col" class="amp-case-id-width">Case ID</th>
                             <th scope="col" class="amp-case-name">Case</th>
                             <th scope="col" class="amp-status-width">Status</th>
                             <th scope="col" class="amp-updated-width">Due</th>
                             <th scope="col" class="amp-auditor-width">Auditor</th>
                            </tr>
                        </thead>
                        <tbody class="">
                        {% for base_case in base_cases %}
                            <tr {% if base_case.due_date < today.date %}class="amp-overdue"{% endif %}>
                                <td class="amp-case-id-width">
                                    {% include "cases/helpers/case_identifier_tag.html" %}
                                </td>
                                <td class="amp-case-name">
                                    {% include "cases/helpers/case_link.html" %}
                                </td>
                                <td class="amp-status-width">{{ base_case.get_status_display }}</td>
                                <td class="amp-updated-width">{{ base_case.due_date|amp_date_trunc }}</td>
                                <td class="amp-auditor-width">
                                    {% if base_case.auditor %}
                                        {{ base_case.auditor.get_full_name }}
                                    {% else %}
                                        No auditor
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="amp-table-details">
                        <div>
                            &nbsp
                        </div>
                        <div class="justify-right">
                                {% include "common/pagination_controls.html" %}
                        </div>
                    </div>
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
