<textarea name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
{% if widget.value %}{{ widget.value }}{% endif %}</textarea>
<details class="govuk-details amp-margin-bottom-5" data-module="govuk-details"{% if widget.attrs.case_note_history %} open{% endif %}>
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">{{ widget.attrs.field_label }} history ({{ widget.attrs.case_note_history|length}})</span>
    </summary>
    <div class="govuk-details__text">
        {% if widget.attrs.case_note_history %}
            {% for note in widget.attrs.case_note_history %}
                <p>{{ note.note }}</p>
                <p>
                    <i>
                        {% if note.user %}
                            By {{ note.user.get_full_name }} on {{ note.created }}
                        {% else %}
                            Note entered before history implemented
                        {% endif %}
                    </i>
                </p>
            {% endfor %}
        {% else %}
            None
        {% endif %}
    </div>
</details>
