<h2 id="testing-details" class="govuk-heading-m">Testing details</h2>
<table class="govuk-table">
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-third">Link to test spreadsheet</th>
            <td class="govuk-table__cell govuk-!-width-two-thirds">
                {% if case.test_results_url %}
                    <a href="{{ case.test_results_url }}" target="_blank">Monitor document</a>
                {% endif %}
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Test status</th>
            <td class="govuk-table__cell">{{ case.get_test_status_display }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Is the website compliant?</th>
            <td class="govuk-table__cell">{{ case.is_website_compliant }}</td>
        </tr>
        <tr class="govuk-table__row">
            <td colspan="2" class="govuk-table__cell">
                <h3 class="govuk-heading-s cases-sub-heading">Compliance notes</h3>
                {% if case.test_notes %}<p class="govuk-body-m cases-notes">{{ case.test_notes }}</p>{% endif %}
            </td>
            <td class="govuk-table__cell"></td>
        </tr>
    </tbody>
</table>
