{% extends 'base.html' %}

{% load l10n %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Search
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper no-padding-top">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Search</h1>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-m">{{ page_obj.paginator.count|localize }} cases found</h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <a
                    href="{% url 'cases:case-create' %}"
                    role="button"
                    draggable="false"
                    class="govuk-button float-right"
                    data-module="govuk-button"
                    style="margin-left: 10px;"
                >
                    Create case
                </a>
                <a
                    href="{% url 'cases:case-export-list' %}{% if url_parameters %}?{{ url_parameters }}{% endif %}"
                    role="button"
                    draggable="false"
                    class="govuk-button govuk-button--secondary float-right"
                    data-module="govuk-button"
                    style="margin-left: 10px;"
                >
                    Export to CSV
                </a>
                <a
                    href="{% url 'cases:export-ehrc-cases' %}{% if url_parameters %}?{{ url_parameters }}{% endif %}"
                    role="button"
                    draggable="false"
                    class="govuk-button govuk-button--secondary float-right"
                    data-module="govuk-button"
                >
                    Equality bodies CSV
                </a>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% if cases %}
                    {% include "common/pagination_controls.html" %}
                    <table class="govuk-table">
                        <tbody class="govuk-table__body">
                        {% for case in cases %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-full">
                                            <h2 class="govuk-heading-m cases-sub-heading">
                                                <a href="{% url 'cases:case-detail' case.id %}"
                                                    style="font-weight:normal"
                                                    class="govuk-link">
                                                    {{ case.organisation_name }}
                                                </a>
                                            </h2>
                                            <p class="govuk-body-m">{{ case.formatted_home_page_url }} | #{{ case.id }}</p>
                                        </div>
                                    </div>
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half">
                                            <p class="govuk-body-m cases-sub-heading">Date created</p>
                                            <p class="govuk-body-m">{{ case.created|amp_date }}</p>
                                        </div>
                                        <div class="govuk-grid-column-one-half">
                                            <p class="govuk-body-m cases-sub-heading">Auditor</p>
                                            <p class="govuk-body-m">
                                                {% if case.auditor.get_full_name %}
                                                    {{ case.auditor.get_full_name }}
                                                {% else %}
                                                    No auditor
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half">
                                            <p class="govuk-body-m cases-sub-heading">Status</p>
                                            <p class="govuk-body-m">{{ case.get_status_display }}</p>
                                        </div>
                                        <div class="govuk-grid-column-one-half">
                                            <p class="govuk-body-m cases-sub-heading">QA auditor</p>
                                            <p class="govuk-body-m">
                                                {% if case.reviewer.get_full_name %}
                                                    {{ case.reviewer.get_full_name }}
                                                {% else %}
                                                    No QA auditor
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-full">
                                            {% if case.zendesk_url %}
                                                <a href="{{ case.zendesk_url }}"
                                                    class="govuk-link"
                                                    style="margin-right: 15px"
                                                    rel="noreferrer noopener"
                                                    target="_blank"
                                                    rel="noreferrer noopener">Zendesk</a>
                                            {% endif %}
                                            {% if case.trello_url %}
                                                <a href="{{ case.trello_url }}"
                                                    class="govuk-link"
                                                    style="margin-right: 15px"
                                                    rel="noreferrer noopener"
                                                    target="_blank"
                                                    rel="noreferrer noopener">Trello</a>
                                            {% endif %}
                                            {% if case.testing_methodology == 'platform' and case.audit %}
                                                <a
                                                    href="{% url 'audits:audit-detail' case.audit.id %}"
                                                    class="govuk-link govuk-link--no-visited-state"
                                                    style="margin-right: 15px"
                                                >
                                                    View test
                                                </a>
                                            {% endif %}
                                            {% if case.report_methodology == 'platform' and case.report %}
                                                <a
                                                    href="{% url 'reports:report-detail' case.report.id %}"
                                                    class="govuk-link govuk-link--no-visited-state"
                                                >
                                                    View report
                                                </a>
                                            {% elif case.report_final_pdf_url %}
                                                <a
                                                    href="{{ case.report_final_pdf_url }}"
                                                    class="govuk-link govuk-link--no-visited-state"
                                                    rel="noreferrer noopener"
                                                    target="_blank"
                                                >
                                                    View final PDF report
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include "common/pagination_controls.html" %}
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="govuk-grid-row cases-search-background">
                    <div class="govuk-grid-column-full">
                        <form method="get" action="{% url 'cases:case-list' %}">
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <h2 class="govuk-heading-m cases-margin-top">Edit search</h2>
                                        {% include 'common/amp_field.html' with field=form.search %}
                                        {% include 'common/amp_field.html' with field=form.status %}
                                        {% include 'common/amp_field.html' with field=form.auditor %}
                                        {% include 'common/amp_field.html' with field=form.reviewer %}
                                        <details class="govuk-details" data-module="govuk-details" {% if advanced_search_open %}open{% endif %}>
                                            <summary class="govuk-details__summary">
                                                <span class="govuk-details__summary-text">Advanced search</span>
                                            </summary>
                                            <div class="govuk-details__text">
                                                {% include 'common/amp_field.html' with field=form.date_type %}
                                                {% include 'common/amp_field.html' with field=form.date_start %}
                                                {% include 'common/amp_field.html' with field=form.date_end %}
                                                {% include 'common/amp_field.html' with field=form.sector %}
                                            </div>
                                        </details>
                                        {% include 'common/amp_field.html' with field=form.sort_by %}
                                </div>
                            </div>
                            <div class="govuk-button-group">
                                <input
                                    type="submit"
                                    value="Search"
                                    class="govuk-button"
                                    data-module="govuk-button"
                                />
                                <a href="{% url 'cases:case-list' %}" class="govuk-button govuk-button--secondary">
                                    Clear
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
