<nav role="navigation">
    {% if current_page == 'view-details' %}
        <h2 class="govuk-heading-m">Contents</h2>
        <ul class="govuk-list">
            <li><a href="#case-details" class="govuk-link govuk-link--no-visited-state">Case details</a></li>
            <li><a href="#contact-details" class="govuk-link govuk-link--no-visited-state">Contact details</a></li>
            <li><a href="#testing-details" class="govuk-link govuk-link--no-visited-state">Testing details</a></li>
            <li><a href="#report-details" class="govuk-link govuk-link--no-visited-state">Report details</a></li>
            <li><a href="#post-report" class="govuk-link govuk-link--no-visited-state">Post report</a></li>
            <li><a href="#delete-case" class="govuk-link govuk-link--no-visited-state">Delete case</a></li>
        </ul>
    {% else %}
        <h2 class="govuk-heading-m">Case steps</h2>
        <ul class="govuk-list">
            {% if current_page == 'edit-case-details' %}
                <li>Case details</li>
            {% else %}
                <li><a href="{% url 'cases:edit-case-details' case.id %}" class="govuk-link govuk-link--no-visited-state">Case details</a></li>
            {% endif %}
            {% if current_page == 'edit-contacts' %}
                <li>Contact details</li>
            {% else %}
                <li><a href="{% url 'cases:edit-contact-details' case.id %}" class="govuk-link govuk-link--no-visited-state">Contact details</a></li>
            {% endif %}
            {% if current_page == 'edit-test-results' %}
                <li>Testing details</li>
            {% else %}
                <li><a href="{% url 'cases:edit-test-results' case.id %}" class="govuk-link govuk-link--no-visited-state">Testing details</a></li>
            {% endif %}
            {% if current_page == 'edit-report-details' %}
                <li>Report details</li>
            {% else %}
                <li><a href="{% url 'cases:edit-report-details' case.id %}" class="govuk-link govuk-link--no-visited-state">Report details</a></li>
            {% endif %}
            {% if current_page == 'edit-post-report-details' %}
                <li>Post report</li>
            {% else %}
                <li><a href="{% url 'cases:edit-post-report-details' case.id %}" class="govuk-link govuk-link--no-visited-state">Post report</a></li>
            {% endif %}
            {% if current_page == 'edit-enforecement-body-correspondance' %}
                <li>Equality body correspondance</li>
            {% else %}
                <li>
                    <a href="{% url 'cases:edit-enforecement-body-correspondance' case.id %}" class="govuk-link govuk-link--no-visited-state">
                        Equality body correspondance
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</nav>
