{% extends 'base.html' %}

{% load static %}

{% block title %}{{ case.organisation_name }} | View case{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            {% include 'common/breadcrumb_home.html' %}
            <li class="govuk-breadcrumbs__list-item">View case</li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <div class="govuk-button-group">
                    <h1 class="govuk-heading-xl amp-margin-bottom-15 amp-padding-right-20">View case</h1>
                    {% if case.enforcement_body_pursuing == 'yes-completed' %}
                        <strong class="govuk-tag">
                            Completed
                        </strong>
                    {% endif %}
                </div>
            </div>
            <div class="govuk-grid-column-one-half">
                <div class="govuk-button-group amp-flex-end">
                    {% if case.is_deactivated %}
                        <a
                            href="{% url 'cases:reactivate-case' case.id %}"
                            role="button"
                            draggable="false"
                            class="govuk-link govuk-link--no-visited-state"
                            data-module="govuk-button"
                        >
                            Reactivate case
                        </a>
                    {% else %}
                        <a
                            href="{% url 'cases:deactivate-case' case.id %}"
                            role="button"
                            draggable="false"
                            class="govuk-link govuk-link--no-visited-state"
                            data-module="govuk-button"
                        >
                            Deactivate case
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% include 'cases/helpers/case_title.html' %}
        {% include 'cases/helpers/messages.html' %}
        {% include 'cases/details/case_detail_notifications.html' %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                {% include 'cases/helpers/nav_contents.html' %}
            </div>
            <div class="govuk-grid-column-one-half">
                {% include 'cases/helpers/overview.html' %}
            </div>
        </div>
        {% include 'cases/details/search_in_case.html' %}
        <div id="search-scope" data-search-target-page-name="View case" data-search-target-label="View case" data-search-target-url="{{ case.get_absolute_url }}">
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion">
                {% if case.archive %}
                    {% include 'cases/details/archive.html' %}
                {% else %}
                    <div class="govuk-accordion__section" data-search-target-page-name="Case details" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-case-details' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="case-details" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-case-details">
                                    Case details
                                    {% if case.case_details_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-case-details" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-case-details">
                            {% include 'cases/details/case_details.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" {% if case.audit %}data-search-target-page-name="View test" data-search-target-label="View test" data-search-target-url="{{ case.audit.get_absolute_url }}"{% endif %}>
                        <div class="govuk-accordion__section-header">
                            <h2 id="test-results" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-test-results">
                                    Testing details
                                    {% if case.testing_details_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-test-results" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-test-results">
                            {% if case.audit %}
                                {% include 'cases/details/testing_details.html' with audit=case.audit %}
                            {% else %}
                                <p class="govuk-body-m">No test exists</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="Report details" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-report-details' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="report-details" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-report-details">
                                    Report details
                                    {% if case.reporting_details_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-report-details" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-report-details">
                            {% include 'cases/details/report_details.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="Report ready for QA process" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-qa-ready-for-process' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="qa-ready-for-process" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-qa-ready-for">
                                    Report ready for QA process
                                    {% if case.report_ready_for_qa_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-qa-ready-for" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-qa-ready-for">
                            {% include 'cases/details/qa_ready_for_process.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="QA auditor" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-qa-auditor' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="qa-auditor" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-qa-auditor">
                                    QA auditor
                                    {% if case.qa_auditor_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-qa-auditor" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-qa-auditor">
                            {% include 'cases/details/qa_auditor.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="QA comments" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-qa-comments' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="qa-comments" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-qa-comments">
                                    QA comments
                                    {% if case.None %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-qa-comments" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-qa-comments">
                            {% include 'cases/details/qa_comments.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="Report approved" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-qa-report-approved' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="qa-report-approved" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-qa-report-approved">
                                    Report approved
                                    {% if case.qa_approved_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-qa-report-approved" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-qa-report-approved">
                            {% include 'cases/details/qa_report_approved.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="Correspondence overview" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-cores-overview' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="cores-overview" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-cores-overview">
                                    Correspondence overview
                                    {% if case.cores_overview_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-cores-overview" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-cores-overview">
                            {% include 'cases/details/corres_overview.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="Find contact details" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-find-contact-details' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="find-contact-details" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-find-contact-details">
                                    Find contact details
                                    {% if case.find_contact_details_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-find-contact-details" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-find-contact-details">
                            {% include 'cases/details/find_contact_details.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="Contact details" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-contact-details' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="contact-details" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-contact-details">
                                    Contact details
                                    {% if case.contact_details_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-contact-details" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-contact-details">
                            {% include 'cases/details/contact_details.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="Report sent on" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-report-sent-on' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="report-sent-on" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-report-sent-on">
                                    Report sent on
                                    {% if case.report_sent_on_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-report-sent-on" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-report-sent-on">
                            {% include 'cases/details/report_sent_on.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="One week follow-up" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-one-week-followup' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="one-week-followup" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-one-week-followup">
                                    One week follow-up
                                    {% if case.one_week_followup_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-one-week-followup" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-one-week-followup">
                            {% include 'cases/details/one_week_followup.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="Four week follow-up" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-four-week-followup' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="four-week-followup" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-four-week-followup">
                                    Four week follow-up
                                    {% if case.four_week_followup_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-four-week-followup" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-four-week-followup">
                            {% include 'cases/details/four_week_followup.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="Report acknowledged" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-report-acknowledged' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="report-acknowledged" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-report-acknowledged">
                                    Report acknowledged
                                    {% if case.report_acknowledged_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-report-acknowledged" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-report-acknowledged">
                            {% include 'cases/details/report_ack.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="12-week update requested" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-12-week-update-requested' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="12-week-update-requested'" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-12-week-update-requested'">
                                    12-week update requested
                                    {% if case.twelve_week_update_requested_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-12-week-update-requested'" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-12-week-update-requested'">
                            {% include 'cases/details/twelve_week_update_req.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="One week follow-up for final update" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-one-week-followup-final' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="one-week-followup-final" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-one-week-followup-final">
                                    One week follow-up for final update
                                    {% if case.one_week_followup_final_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-one-week-followup-final" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-one-week-followup-final">
                            {% include 'cases/details/one_week_chaser_final.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="12-week update request acknowledged" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-12-week-update-request-ack' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="12-week-update-request-ack" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-12-week-update-request-ack">
                                    12-week update request acknowledged
                                    {% if case.twelve_week_update_request_ack_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-12-week-update-request-ack" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-12-week-update-request-ack">
                            {% include 'cases/details/twelve_week_update_ack.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="Public sector body is unresponsive" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-no-psb-response' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="no-psb-contact" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-no-psb-contact">
                                    Public sector body is unresponsive
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-no-psb-contact" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-no-psb-contact">
                            {% include 'cases/details/no_psb_contact.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section"{% if case.audit %} data-search-target-page-name="View 12-week test" data-search-target-label="View 12-week test" data-search-target-url="{% url 'audits:audit-retest-detail' case.audit.id %}"{% endif %}>
                        <div class="govuk-accordion__section-header">
                            <h2 id="twelve-week-retest" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-twelve-week-retest">
                                    12-week retest
                                    {% if case.twelve_week_retest_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-twelve-week-retest" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-twelve-week-retest">
                            {% if case.audit %}
                                {% include 'cases/details/retesting_details.html' with audit=case.audit %}
                            {% else %}
                                <p class="govuk-body-m">No test exists</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="Reviewing changes" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-review-changes' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="review-changes" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-review-changes">
                                    Reviewing changes
                                    {% if case.review_changes_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-review-changes" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-review-changes">
                            {% include 'cases/details/review_changes.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="Closing the case" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-case-close' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="case-close" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-case-close">
                                    Closing the case
                                    {% if case.case_close_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-case-close" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-case-close">
                            {% include 'cases/details/case_close.html' %}
                        </div>
                    </div>
                {% endif %}
                {% if case.variant == 'close-case' %}
                    <div class="govuk-accordion__section" data-search-target-page-name="Statement enforcement" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-statement-enforcement' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="statement-enforcement" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-equality-body-metadata">
                                    Statement enforcement
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-statement-enforcement" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-statement-enforcement">
                            {% include 'cases/details/statement_enforcement.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="Equality body metadata" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-equality-body-metadata' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="equality-body-metadata" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-equality-body-metadata">
                                    Equality body metadata
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-enforcement-body-correspondence" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-enforcement-body-correspondence">
                            {% include 'cases/details/equality_body_metadata.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="Equality body corespondence" data-search-target-label="Edit" data-search-target-url="{% url 'cases:list-equality-body-correspondence' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="equality-body-correspondence" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-equality-body-corespondence">
                                    Equality body corespondence
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-enforcement-body-correspondence" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-enforcement-body-correspondence">
                            {% include 'cases/details/equality_body_correspondence.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="Retest overview" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-retest-overview' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="retest-overview" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-equality-body-metadata">
                                    Retest overview
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-enforcement-body-retest" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-enforcement-body-retest">
                            {% include 'cases/details/equality_body_retest.html' %}
                        </div>
                    </div>
                {% else %}
                    <div class="govuk-accordion__section" data-search-target-page-name="Equality body metadata" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-equality-body-metadata' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="equality-body-metadata" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-equality-body-metadata">
                                    Equality body metadata
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-enforcement-body-correspondence" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-enforcement-body-correspondence">
                            {% include 'cases/details/equality_body_metadata.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section" data-search-target-page-name="Post case summary" data-search-target-label="Edit" data-search-target-url="{% url 'cases:edit-post-case' case.id %}">
                        <div class="govuk-accordion__section-header">
                            <h2 id="legacy-end-of-case" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-post-case">
                                    Legacy end of case data
                                    {% if case.post_case_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-post-case" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-post-case">
                            {% include 'cases/details/legacy_end_of_case.html' %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block extrascript %}
<script src="{% static 'js/cases_search_in_case.js' %}"></script>
{% endblock %}
