{% extends 'common/case_form.html' %}

{% load static %}

{% block nav %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-s amp-margin-bottom-5">Search inside case</h2>
            <div class="govuk-form-group">
                <input
                    type="text"
                    name="search_in_case"
                    placeholder="Search"
                    class="govuk-input"
                    id="id_search_in_case">
            </div>
            <hr class="amp-nav-seperator">
            <h2 class="govuk-heading-m">Contents</h2>
            <div class="amp-left-border">
                <ul class="govuk-list amp-margin-bottom-5">
                    {% if case.archive %}
                        {% for archived_section in case.archived_sections %}
                            {% include 'cases/details/archive_section_link.html' with section=archived_section %}
                        {% endfor %}
                    {% endif %}
                    {% for case_detail_section in case_detail_sections %}
                        <li>
                            <a href="#page-group-{{ forloop.counter }}-{{ case_detail_section.page_group_name|slugify }}" class="govuk-link govuk-link--no-visited-state">
                                {{ case_detail_section.page_group_name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% include 'common/frequently_used_links.html' %}
        </div>
    </div>
{% endblock %}

{% block preform %}
    <div id="search-results"></div>
    <div id="search-scope" data-search-target-page-name="{{ sitemap.current_platform_page.get_name }}" data-search-target-label="{{ sitemap.current_platform_page.get_name }}" data-search-target-url="{{ case.get_absolute_url }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% if case.archive %}
                    {% include 'cases/details/archive.html' %}
                {% endif %}
                {% for case_detail_section in case_detail_sections %}
                    <h2 id="page-group-{{ forloop.counter }}-{{ case_detail_section.page_group_name|slugify }}" class="govuk-heading-m">
                        {{ case_detail_section.page_group_name }}
                    </h2>
                    {% for case_detail_page in case_detail_section.pages %}
                        {% include case_detail_page.page.case_details_template_name %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block form %}
{% endblock %}

{% block extrascript %}
<script src="{% static 'js/cases_search_in_case.js' %}"></script>
{% endblock %}
