<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
<div class="govuk-width-container">
    <a href="{% url 'cases:case-detail' case.id %}" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Edit case #{{ case.id }}</h1>
                <p class="govuk-body-l">{{ case.domain }}</p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" action="{% url 'cases:edit-website-details' case.id %}">
                    {% csrf_token %}
                    <div class="govuk-error-message">{{ form.non_field_errors }}</div>

                    {% for hidden_field in form.hidden_fields %}
                        <div class="govuk-error-message">{{ hidden_field.errors }}</div>
                        {{ hidden_field }}
                    {% endfor %}

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>Date created</b></label>
                                <p class="govuk-body-m">{{ case.created|date:"d/m/Y"}}</p>
                            </div>

                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>Status</b></label>
                                <p class="govuk-body-m">The status can not be edited manually</p>
                                <p class="govuk-body-m">{{ case.get_status_display}}</p>
                            </div>

                            {% for field in form.visible_fields %}
                                {% include 'common/amp_field.html' %}
                            {% endfor %}
                        </div>

                        <div class="govuk-button-group">
                            <input
                                type="submit"
                                value="Save and continue"
                                name="save_continue"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <input
                                type="submit"
                                value="Save and exit"
                                name="save_exit"
                                class="govuk-button govuk-button--secondary"
                                data-module="govuk-button"
                            />
                            <a
                                href="{% url 'cases:case-detail' case.id %}"
                                role="button"
                                draggable="false"
                                class="govuk-button govuk-button--warning"
                                data-module="govuk-button"
                            >
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'cases/case_navbar.html' with current_page='edit-website' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}