<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

<div class="govuk-width-container">
    <a href="{% url 'cases:edit-test-results' case.id %}" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Edit case #{{ case.id }}</h1>
                <p class="govuk-body-l">{{ case.domain }}</p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" action="{% url 'cases:edit-report-details' case.id %}">
                    {% csrf_token %}

                    <div class="govuk-error-message">{{ form.non_field_errors }}</div>

                    {% for hidden_field in form.hidden_fields %}
                      <div class="govuk-error-message">{{ hidden_field.errors }}</div>
                      {{ hidden_field }}
                    {% endfor %}

                    <div class="govuk-grid-row">
                        {% for field in form.visible_fields %}
                            <div class="govuk-grid-column-full govuk-form-group">
                                <label class="govuk-label"
                                    for="{{ field.auto_id }}"><b>{{ field.label }}</b>
                                </label>
                                <div class="govuk-error-message">{{ field.errors }}</div>
                                <p class="govuk-body-m">{{ field.help_text }}</p>
                                {{ field }}
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <input type="submit" value="Save and continue" name="save_continue" class="govuk-button" data-module="govuk-button" />
                            <input type="submit" value="Save and exit" name="save_exit" class="govuk-button govuk-button--secondary" data-module="govuk-button" />
                            <a href="{% url 'cases:case-detail' case.id %}" role="button" draggable="false" class="govuk-button govuk-button--warning" data-module="govuk-button">
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'cases/case_navbar.html' with current_page='edit-report-details' %}
            </div>
        </div>
    </main>
</div>

{% endblock %}