{% load custom_tags %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="post-report" class="govuk-heading-l">Post report</h2>
    </div>
    <div class="govuk-grid-column-one-thirds">
        <div class="govuk-button-group" style="flex-direction:row-reverse">
            <a href="{% url 'cases:edit-report-correspondance' case.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                Edit post report
            </a>
        </div>
    </div>
</div>
<table class="govuk-table">
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-third">1 week followup date</th>
            <td class="govuk-table__cell govuk-!-width-two-thirds">{{ case.report_followup_week_1_due_date|date:"d/m/Y" }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-third">4 week followup date</th>
            <td class="govuk-table__cell govuk-!-width-two-thirds">{{ case.report_followup_week_4_due_date|date:"d/m/Y" }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-third">7 week followup date</th>
            <td class="govuk-table__cell govuk-!-width-two-thirds">{{ case.report_followup_week_7_due_date|date:"d/m/Y" }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-third">12 week followup date</th>
            <td class="govuk-table__cell govuk-!-width-two-thirds">{{ case.report_followup_week_12_due_date|date:"d/m/Y" }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-third">Correspondance notes</th>
            <td class="govuk-table__cell govuk-!-width-two-thirds">{{ case.correspondance_notes }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header  govuk-!-width-one-half">Report acknowledged</th>
            <td class="govuk-table__cell  govuk-!-width-one-half">{{ case.report_acknowledged_date|date:"d/m/Y" }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-third">
                Summary of progress made from public sector body
            </th>
            <td class="govuk-table__cell govuk-!-width-two-thirds">
                {% if case.psb_progress_notes %}<p class="govuk-body-m cases-notes">{{ case.psb_progress_notes }}</p>{% endif %}
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Followup email sent</th>
            <td class="govuk-table__cell">{{ case.report_followup_week_12_sent_date|date:"d/m/Y" }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Website retested?</th>
            <td class="govuk-table__cell">{{ case.is_website_retested }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Disproportionate burden claimed?</th>
            <td class="govuk-table__cell">{{ case.is_disproportionate_claimed|nullable_boolean_label }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Disproportionate burden notes</th>
            <td class="govuk-table__cell">
                {% if case.disproportionate_notes %}<p class="govuk-body-m cases-notes">{{ case.disproportionate_notes }}</p>{% endif %}
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Accessibility statement decision</th>
            <td class="govuk-table__cell">{{ case.get_accessibility_statement_decison_display }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Accessibility statement notes</th>
            <td class="govuk-table__cell">
                {% if case.accessibility_statement_notes %}<p class="govuk-body-m cases-notes">{{ case.accessibility_statement_notes }}</p>{% endif %}
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">New accessibility statement</th>
            <td class="govuk-table__cell">
                {% if case.accessibility_statement_url %}
                    <a href="{{ case.accessibility_statement_url }}">Accessibility statement</a>
                {% endif %}
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Compliance decision</th>
            <td class="govuk-table__cell">{{ case.get_compliance_decision_display }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Compliance decision notes</th>
            <td class="govuk-table__cell">
                {% if case.compliance_decision_notes %}<p class="govuk-body-m cases-notes">{{ case.compliance_decision_notes }}</p>{% endif %}
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Compliance email sent?</th>
            <td class="govuk-table__cell">{{ case.compliance_email_sent_date|date:"d/m/Y" }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date sent to enforcement body</th>
            <td class="govuk-table__cell">{{ case.sent_to_enforcement_body_sent_date|date:"d/m/Y" }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Case complete</th>
            <td class="govuk-table__cell">{{ case.is_case_completed|nullable_boolean_label }}</td>
        </tr>
    </tbody>
</table>
