{% extends 'base.html' %}

{% load static %}

{% block title %}{{ case.organisation_name }} | View case{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                View case
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <div class="govuk-button-group">
                    <h1 class="govuk-heading-xl amp-margin-bottom-15 amp-padding-right-20">View case</h1>
                    {% if case.enforcement_body_pursuing == 'yes-completed' %}
                        <strong class="govuk-tag">
                            completed
                        </strong>
                    {% endif %}
                </div>
            </div>
            <div class="govuk-grid-column-one-half">
                <div class="govuk-button-group amp-flex-end">
                    <a
                        href="{% url 'cases:case-export-single' case.id %}"
                        role="button"
                        draggable="false"
                        class="govuk-button govuk-button--secondary"
                        data-module="govuk-button"
                    >
                        Export to CSV
                    </a>
                    {% if case.is_deactivated %}
                        <a
                            href="{% url 'cases:reactivate-case' case.id %}"
                            role="button"
                            draggable="false"
                            class="govuk-link govuk-link--no-visited-state"
                            data-module="govuk-button"
                        >
                            Reactivate case
                        </a>
                    {% else %}
                        <a
                            href="{% url 'cases:deactivate-case' case.id %}"
                            role="button"
                            draggable="false"
                            class="govuk-link govuk-link--no-visited-state"
                            data-module="govuk-button"
                        >
                            Deactivate case
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% include 'cases/helpers/case_title.html' %}
        {% include 'cases/helpers/messages.html' %}
        {% include 'reports/helpers/pending_published_rebuild_notification.html' %}
        {% include 'reports/helpers/pending_unpublished_rebuild_notification.html' %}
        {% include 'cases/helpers/compliant_website_notification.html' %}
        {% include 'cases/helpers/historic_case_notification.html' %}
        {% if case.is_deactivated %}
            <div class="govuk-notification-banner" role="region" aria-labelledby="banner-title-case-deactivated" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                  <h2 class="govuk-notification-banner__title" id="banner-title-case-deactivated">
                    Important
                  </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">
                        This case was deactivated on {{ case.deactivate_date|amp_date }}.
                    </h3>
                    {% if case.deactivate_notes %}
                        <p class="govuk-body">Reason why:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>{{ case.deactivate_notes|markdown_to_html }}</li>
                        </ul>
                    {% endif %}
                    <p class="govuk-body">
                        Go to
                        <a class="govuk-notification-banner__link" href="{% url 'cases:reactivate-case' case.id %}">Case > Reactivate case</a>
                        to reactivate the case.
                    </p>
                </div>
            </div>
        {% endif %}
        {% if case.no_psb_contact == 'yes' %}
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    Public sector body is unresponsive and has been moved to equalities bodies correspondence
                </strong>
            </div>
        {% endif %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                {% include 'cases/helpers/nav_contents.html' %}
            </div>
            <div class="govuk-grid-column-one-half">
                {% include 'cases/helpers/overview.html' %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l">Search inside case</h2>
                <div class="govuk-form-group">
                    <input type="text" name="search_in_case" placeholder="Search" class="govuk-input" id="id_search_in_case">
                </div>
                <div class="govuk-button-group">
                    <input
                        id="inside-search"
                        type="submit"
                        value="Search inside case"
                        name="search_inside_case"
                        class="govuk-button"
                        data-module="govuk-button"
                    />
                    <input
                        id="clear-inside-search"
                        type="submit"
                        value="Clear search"
                        name="clear_search"
                        class="govuk-button govuk-button--secondary"
                        data-module="govuk-button"
                    />
                </div>
            </div>
        </div>
        <div id="search-results"></div>
        <div id="search-scope" data-search-target="{% url 'cases:case-detail' case.id %}">
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion">
                <div class="govuk-accordion__section" data-search-target="{% url 'cases:edit-case-details' case.id %}">
                    <div class="govuk-accordion__section-header">
                        <h2 id="case-details" class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-heading-case-details">
                                Case details
                                {% if case.case_details_complete_date %}
                                    <span class="govuk-visually-hidden">complete</span>
                                    &check;
                                {% endif %}
                            </span>
                        </h2>
                    </div>
                    <div id="accordion-content-case-details" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-case-details">
                        {% include 'cases/details/case_details.html' %}
                    </div>
                </div>
                <div class="govuk-accordion__section" {% if case.audit %}data-search-target="{% url 'audits:audit-detail' case.audit.id %}"{% endif %}>
                    <div class="govuk-accordion__section-header">
                        <h2 id="test-results" class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-heading-test-results">
                                Testing details
                                {% if case.testing_details_complete_date %}
                                    <span class="govuk-visually-hidden">complete</span>
                                    &check;
                                {% endif %}
                            </span>
                        </h2>
                    </div>
                    <div id="accordion-content-test-results" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-test-results">
                        {% if case.testing_methodology == "platform" %}
                            {% if case.audit %}
                                {% include 'cases/details/testing_details.html' with audit=case.audit %}
                            {% else %}
                                <p class="govuk-body-m">No test exists</p>
                            {% endif %}
                        {% else %}
                            <table class="govuk-table amp-accordion-table" data-search-target="{% url 'cases:edit-test-results' case.id %}">
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Link to test results</th>
                                        <td class="govuk-table__cell amp-width-one-half">
                                            {% if case.test_results_url %}
                                                <a href="{{ case.test_results_url }}" class="govuk-link">Monitor document</a>
                                            {% else %}
                                                None
                                            {% endif %}
                                            </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Test status</th>
                                        <td class="govuk-table__cell amp-width-one-half">{{ case.get_test_status_display }}</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">
                                            Initial accessibility statement decision
                                        </th>
                                        <td class="govuk-table__cell amp-width-one-half">
                                            {{ case.get_accessibility_statement_state_display }}
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Accessibility statement notes</th>
                                        <td class="govuk-table__cell amp-width-one-half amp-notes">
                                            {{ case.accessibility_statement_notes|markdown_to_html }}
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Initial compliance decision</th>
                                        <td class="govuk-table__cell amp-width-one-half">
                                            {{ case.get_is_website_compliant_display }}
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Initial website compliance notes</th>
                                        <td class="govuk-table__cell amp-width-one-half amp-notes">
                                            {{ case.compliance_decision_notes|markdown_to_html }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
                <div class="govuk-accordion__section" data-search-target="{% url 'cases:edit-report-details' case.id %}">
                    <div class="govuk-accordion__section-header">
                        <h2 id="report-details" class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-heading-report-details">
                                Report details
                                {% if case.reporting_details_complete_date %}
                                    <span class="govuk-visually-hidden">complete</span>
                                    &check;
                                {% endif %}
                            </span>
                        </h2>
                    </div>
                    <div id="accordion-content-report-details" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-report-details">
                        {% include 'cases/details/report_details.html' %}
                    </div>
                </div>
                <div class="govuk-accordion__section" data-search-target="{% url 'cases:edit-qa-process' case.id %}">
                    <div class="govuk-accordion__section-header">
                        <h2 id="qa-process" class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-heading-qa-process">
                                QA process
                                {% if case.qa_process_complete_date %}
                                    <span class="govuk-visually-hidden">complete</span>
                                    &check;
                                {% endif %}
                            </span>
                        </h2>
                    </div>
                    <div id="accordion-content-qa-process" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-qa-process">
                        {% include 'cases/details/qa_process.html' %}
                    </div>
                </div>
                <div class="govuk-accordion__section" data-search-target="{% url 'cases:edit-contact-details' case.id %}">
                    <div class="govuk-accordion__section-header">
                        <h2 id="contact-details" class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-heading-contact-details">
                                Contact details
                                {% if case.contact_details_complete_date %}
                                    <span class="govuk-visually-hidden">complete</span>
                                    &check;
                                {% endif %}
                            </span>
                        </h2>
                    </div>
                    <div id="accordion-content-contact-details" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-contact-details">
                        {% include 'cases/details/contact_details.html' %}
                    </div>
                </div>
                <div class="govuk-accordion__section" data-search-target="{% url 'cases:edit-report-correspondence' case.id %}">
                    <div class="govuk-accordion__section-header">
                        <h2 id="report-correspondence" class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-heading-report-correspondence">
                                Report correspondence
                                {% if case.report_correspondence_complete_date %}
                                    <span class="govuk-visually-hidden">complete</span>
                                    &check;
                                {% endif %}
                            </span>
                        </h2>
                    </div>
                    <div id="accordion-content-report-correspondence" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-report-correspondence">
                        {% include 'cases/details/report_correspondence.html' %}
                    </div>
                </div>
                <div class="govuk-accordion__section" data-search-target="{% url 'cases:edit-twelve-week-correspondence' case.id %}">
                    <div class="govuk-accordion__section-header">
                        <h2 id="twelve-week-correspondence" class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-heading-twelve-week-correspondence">
                                12-week correspondence
                                {% if case.twelve_week_correspondence_complete_date %}
                                    <span class="govuk-visually-hidden">complete</span>
                                    &check;
                                {% endif %}
                            </span>
                        </h2>
                    </div>
                    <div id="accordion-content-twelve-week-correspondence" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-twelve-week-correspondence">
                        {% include 'cases/details/twelve_week_correspondence.html' %}
                    </div>
                </div>
                {% if case.testing_methodology == 'platform' %}
                    <div class="govuk-accordion__section"{% if case.audit %} data-search-target="{% url 'audits:audit-retest-detail' case.audit.id %}"{% endif %}>
                        <div class="govuk-accordion__section-header">
                            <h2 id="twelve-week-retest" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-twelve-week-retest">
                                    12-week retest
                                    {% if case.twelve_week_retest_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-twelve-week-retest" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-twelve-week-retest">
                            {% if case.audit %}
                                {% include 'cases/details/retesting_details.html' with audit=case.audit %}
                            {% else %}
                                <p class="govuk-body-m">No test exists</p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <div class="govuk-accordion__section" data-search-target="{% url 'cases:edit-review-changes' case.id %}">
                    <div class="govuk-accordion__section-header">
                        <h2 id="review-changes" class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-heading-review-changes">
                                Reviewing changes
                                {% if case.review_changes_complete_date %}
                                    <span class="govuk-visually-hidden">complete</span>
                                    &check;
                                {% endif %}
                            </span>
                        </h2>
                    </div>
                    <div id="accordion-content-review-changes" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-review-changes">
                        {% include 'cases/details/review_changes.html' %}
                    </div>
                </div>
                {% if case.testing_methodology != 'platform' %}
                    <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h2 id="final-website" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-final-website">
                                    Final website compliance decision
                                    {% if case.final_website_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-final-website" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-final-website">
                            {% include 'cases/details/final_website.html' %}
                        </div>
                    </div>
                    <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h2 id="final-statement" class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-heading-final-statement">
                                    Final accessibility statement compliance decision
                                    {% if case.final_statement_complete_date %}
                                        <span class="govuk-visually-hidden">complete</span>
                                        &check;
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-content-final-statement" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-final-statement">
                            {% include 'cases/details/final_statement.html' %}
                        </div>
                    </div>
                {% endif %}
                <div class="govuk-accordion__section" data-search-target="{% url 'cases:edit-case-close' case.id %}">
                    <div class="govuk-accordion__section-header">
                        <h2 id="case-close" class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-heading-case-close">
                                Closing the case
                                {% if case.case_close_complete_date %}
                                    <span class="govuk-visually-hidden">complete</span>
                                    &check;
                                {% endif %}
                            </span>
                        </h2>
                    </div>
                    <div id="accordion-content-case-close" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-case-close">
                        {% include 'cases/details/case_close.html' %}
                    </div>
                </div>
                <div class="govuk-accordion__section" data-search-target="{% url 'cases:edit-enforcement-body-correspondence' case.id %}">
                    <div class="govuk-accordion__section-header">
                        <h2 id="enforcement-body-correspondence" class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-heading-enforcement-body-correspondence">
                                Equality body summary
                                {% if case.enforcement_correspondence_complete_date %}
                                    <span class="govuk-visually-hidden">complete</span>
                                    &check;
                                {% endif %}
                            </span>
                        </h2>
                    </div>
                    <div id="accordion-content-enforcement-body-correspondence" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-enforcement-body-correspondence">
                        {% include 'cases/details/equality_bodies_correspondence.html' %}
                    </div>
                </div>
                <div class="govuk-accordion__section" data-search-target="{% url 'cases:edit-post-case' case.id %}">
                    <div class="govuk-accordion__section-header">
                        <h2 id="post-case" class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-heading-post-case">
                                Post case summary
                                {% if case.post_case_complete_date %}
                                    <span class="govuk-visually-hidden">complete</span>
                                    &check;
                                {% endif %}
                            </span>
                        </h2>
                    </div>
                    <div id="accordion-content-post-case" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-post-case">
                        {% include 'cases/details/post_case.html' %}
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block extrascript %}
<script src="{% static 'js/search.js' %}"></script>
{% endblock %}
