{% extends 'base.html' %}

{% block title %}{{ case.organisation_name }} | View case{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                View case
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper no-padding-top">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <div class="govuk-button-group" style="display: flex;">
                    <h1 class="govuk-heading-xl" style="margin-bottom:15px; padding-right: 20px;">View case</h1>
                    {% if case.enforcement_body_pursuing == 'yes-completed' %}
                        <strong class="govuk-tag" style="position: relative; top: -5px;">
                            completed
                        </strong>
                    {% endif %}
                </div>
            </div>
            <div class="govuk-grid-column-one-half">
                <div class="govuk-button-group" style="justify-content:flex-end; margin-top: 4px;">
                    <a
                        href="{% url 'cases:case-export-single' case.id %}"
                        role="button"
                        draggable="false"
                        class="govuk-button govuk-button--secondary"
                        data-module="govuk-button"
                    >
                        Export to CSV
                    </a>
                    {% if case.is_deactivated %}
                        <a
                            href="{% url 'cases:reactivate-case' case.id %}"
                            role="button"
                            draggable="false"
                            class="govuk-link govuk-link--no-visited-state"
                            data-module="govuk-button"
                        >
                            Reactivate case
                        </a>
                    {% else %}
                        <a
                            href="{% url 'cases:deactivate-case' case.id %}"
                            role="button"
                            draggable="false"
                            class="govuk-link govuk-link--no-visited-state"
                            data-module="govuk-button"
                        >
                            Deactivate case
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div style="position: relative; top: -15px;">
            {% include 'cases/helpers/case_title.html' %}
            {% include "cases/helpers/messages.html" %}
        </div>
        {% include 'cases/helpers/compliant_website_notification.html' %}
        {% if case.is_deactivated %}
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                  <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                  </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">
                        This case was deactivated on {{ case.deactivate_date|amp_date }}.
                    </h3>
                    {% if case.deactivate_notes %}
                        <p class="govuk-body">Reason why:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>{{ case.deactivate_notes|markdown_to_html }}</li>
                        </ul>
                    {% endif %}
                    <p class="govuk-body">
                        Go to
                        <a class="govuk-notification-banner__link" href="{% url 'cases:reactivate-case' case.id %}">Case > Reactivate case</a>
                        to reactivate the case.
                    </p>
                </div>
            </div>
        {% endif %}
        {% if case.no_psb_contact == 'yes' %}
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    Public sector body is unresponsive and has been moved to equalities bodies correspondence
                </strong>
            </div>
        {% endif %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include 'cases/helpers/nav_contents.html' %}
                {% include 'cases/details/reminders.html' %}
                {% include 'cases/details/case_details.html' %}
                {% include 'cases/details/testing_details.html' %}
                {% include 'cases/details/report_details.html' %}
                {% include 'cases/details/qa_process.html' %}
                {% include 'cases/details/contact_details.html' %}
                {% include 'cases/details/report_correspondence.html' %}
                {% include 'cases/details/twelve_week_correspondence.html' %}
                {% if case.testing_methodology == 'platform' %}
                    {% include 'cases/details/retesting_details.html' %}
                {% endif %}
                {% include 'cases/details/review_changes.html' %}
                {% if case.testing_methodology != 'platform' %}
                    {% include 'cases/details/final_website.html' %}
                    {% include 'cases/details/final_statement.html' %}
                {% endif %}
                {% include 'cases/details/case_close.html' %}
                {% include 'cases/details/equality_bodies_correspondence.html' %}
                {% include 'cases/details/post_case.html' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
