{% extends 'base.html' %}

{% block title %}{{ case.organisation_name }} | Outstanding issues{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li    >
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Outstanding issues
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='Outstanding issues' %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s">WCAG issues</h2>
                <h2 class="govuk-heading-s">Statement issues</h2>
                <h2 class="govuk-heading-s">Overview</h2>
                <h2 class="govuk-heading-s">Sort and filter WCAG issues</h2>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'cases/helpers/nav_steps.html' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
