{% extends 'common/case_form.html' %}

{% block form %}
{% endblock %}

{% block preform %}
{% if case.audit %}
    {% include 'cases/helpers/email_templates.html' %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-button-group">
            <a href="{% url 'cases:outstanding-issues' case.id %}?view={% if show_failures_by_page %}WCAG{% else %}Page{% endif %} view" rel="noreferrer noopener" class="govuk-button  govuk-button--secondary">
                Group by {% if show_failures_by_page %}WCAG error{% else %}page{% endif %}
            </a>
        </div>
    </div>
    <h2 class="govuk-heading-l">Content</h2>
    {% if audit_failures_by_page.items or audit_failures_by_wcag.items %}
        <h3 class="govuk-heading-m">{% if show_failures_by_page %}Pages{% else %}WCAG errors{% endif %}</h3>
        <ul class="govuk-list">
        {% if show_failures_by_page %}
            {% for page, failures in audit_failures_by_page.items %}
                {% if page.unfixed_check_results %}
                    <li>
                        <a href="#page-{{ page.id }}" rel="noreferrer noopener" class="govuk-link">
                            {{ page }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for wcag_definition, failures in audit_failures_by_wcag.items %}
                <li>
                    <a href="#wcag-{{ wcag_definition.id }}" rel="noreferrer noopener" class="govuk-link">
                        {{ wcag_definition.name }}
                    </a>
                </li>
            {% endfor %}
            <li>
                <a href="#page-additional-issues" rel="noreferrer noopener" class="govuk-link">
                    Additional issues found by page
                </a>
            </li>
        {% endif %}
    {% endif %}
    </ul>
    {% if not case.audit.uses_statement_checks or case.audit.outstanding_statement_check_results %}
        <h3 class="govuk-heading-m">Statement</h3>
    {% endif %}
    <ul class="govuk-list">
        {% if case.audit.uses_statement_checks %}
            {% if case.audit.overview_outstanding_statement_check_results %}
                <li>
                    <a href="#statement-overview" rel="noreferrer noopener" class="govuk-link">
                        Statement overview
                    </a>
                </li>
            {% endif %}
            {% if case.audit.website_outstanding_statement_check_results %}
                <li>
                    <a href="#statement-website" rel="noreferrer noopener" class="govuk-link">
                        Statement information
                    </a>
                </li>
            {% endif %}
            {% if case.audit.compliance_outstanding_statement_check_results %}
                <li>
                    <a href="#statement-compliance" rel="noreferrer noopener" class="govuk-link">
                        Compliance status
                    </a>
                </li>
            {% endif %}
            {% if case.audit.non_accessible_outstanding_statement_check_results %}
                <li>
                    <a href="#statement-non-accessible" rel="noreferrer noopener" class="govuk-link">
                        Non-accessible content overview
                    </a>
                </li>
            {% endif %}
            {% if case.audit.preparation_outstanding_statement_check_results %}
                <li>
                    <a href="#statement-preparation" rel="noreferrer noopener" class="govuk-link">
                        Preparation
                    </a>
                </li>
            {% endif %}
            {% if case.audit.feedback_outstanding_statement_check_results %}
                <li>
                    <a href="#statement-feedback" rel="noreferrer noopener" class="govuk-link">
                        Feedback
                    </a>
                </li>
            {% endif %}
            {% if case.audit.custom_outstanding_statement_check_results %}
                <li>
                    <a href="#statement-custom" rel="noreferrer noopener" class="govuk-link">
                        Custom statement issues
                    </a>
                </li>
            {% endif %}
        {% else %}
            <li>
                <a href="#statement-comparison" rel="noreferrer noopener" class="govuk-link">
                    Statement comparison
                </a>
            </li>
        {% endif %}
    </ul>
    <h2 class="govuk-heading-l">Overview</h2>
    <p class="govuk-body">
        WCAG errors: {{ case.overview_issues_website }}
    </p>
    <p class="govuk-body amp-margin-bottom-30">
        Statement errors: {{ case.overview_issues_statement }}
    </p>
    {% if show_failures_by_page %}
        {% for page, failures in audit_failures_by_page.items %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 id="page-{{ page.id }}" class="govuk-heading-l">{{ page }}</h2>
                    <div class="govuk-button-group amp-margin-bottom-0">
                        <a href="{% url 'audits:edit-audit-retest-page-checks' page.id %}"
                            class="govuk-link govuk-link--no-visited-state">Edit retest</a>
                        <a href="{{ page.url }}"
                            class="govuk-link" target="_blank">Link to {{ page|lower }}</a>
                        {% if page.location %}
                            <p class="govuk">{{ page.location }}</p>
                        {% endif %}
                    </div>
                    <table class="govuk-table amp-margin-bottom-5">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header amp-width-one-third">WCAG issue</th>
                                <th scope="col" class="govuk-table__header amp-width-one-third">Initial</th>
                                <th scope="col" class="govuk-table__header amp-width-one-third">Retest</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            {% for failure in failures %}
                                <tr class="govuk-table__row ">
                                    <td scope="row" class="govuk-table__cell amp-width-one-third">
                                        {{ failure.wcag_definition.name }}
                                    </td>
                                    <td scope="row" class="govuk-table__cell amp-width-one-third amp-notes">
                                        {{ failure.get_check_result_state_display }}<br>
                                        {{ failure.notes|markdown_to_html }}
                                    </td>
                                    <td class="govuk-table__cell amp-width-one-third amp-notes">
                                        {{ failure.get_retest_state_display }}<br>
                                        {{ failure.retest_notes|markdown_to_html }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <p class="govuk-body-m">
                        <b>Additional issues found on page</b>
                    </p>
                    <div class="govuk-body-m amp-margin-bottom-30">
                        {% if page.retest_notes %}
                            {{ page.retest_notes|markdown_to_html}}
                        {% else %}
                            None
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% for wcag_definition, failures in audit_failures_by_wcag.items %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 id="wcag-{{ wcag_definition.id }}" class="govuk-heading-l">{{ wcag_definition.name }}</h2>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header amp-width-one-third">Page</th>
                                <th scope="col" class="govuk-table__header amp-width-one-third">Initial</th>
                                <th scope="col" class="govuk-table__header amp-width-one-third">Retest</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            {% for failure in failures %}
                                <tr class="govuk-table__row ">
                                    <td scope="row" class="govuk-table__cell amp-width-one-third">
                                        {{ failure.page }}
                                        |
                                        <a href="{% url 'audits:edit-audit-retest-page-checks' failure.page.id %}"
                                            class="govuk-link govuk-link--no-visited-state">Edit retest</a>
                                    </td>
                                    <td class="govuk-table__cell amp-width-one-third amp-notes">
                                        {{ failure.get_check_result_state_display }}<br>
                                        {{ failure.notes|markdown_to_html }}
                                    </td>
                                    <td class="govuk-table__cell amp-width-one-third amp-notes">
                                        {{ failure.get_retest_state_display }}<br>
                                        {{ failure.retest_notes|markdown_to_html }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 id="page-additional-issues" class="govuk-heading-l">Additional issues found by page</h2>
                <table class="govuk-table amp-margin-bottom-30">
                    <tbody class="govuk-table__body">
                        {% for page in case.audit.testable_pages %}
                            <tr class="govuk-table__row ">
                                <td scope="row" class="govuk-table__cell">
                                    <b>{{ page }}</b><br>
                                    {% if page.retest_notes %}
                                        {{ page.retest_notes|markdown_to_html}}
                                    {% else %}
                                        <p>None</p>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    {% if case.audit.uses_statement_checks %}
        {% include 'audits/helpers/statement_comparison_outstanding.html' with audit=case.audit %}
    {% else %}
        <h2 id="statement-comparison" class="govuk-heading-l">Statement comparison</h2>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header amp-width-one-half">Original test</th>
                            <th scope="col" class="govuk-table__header amp-width-one-half">12-week retest</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for statement_check in case.audit.finally_invalid_accessibility_statement_checks %}
                            <tr>
                                <td class="amp-width-one-half amp-padding-top-10">
                                    <b>{{ statement_check.label }}</b>
                                </td>
                                <td class="amp-width-one-half amp-padding-top-10"></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell amp-width-one-half amp-notes">
                                    {{ statement_check.initial_state_display }}<br>
                                    {{ statement_check.initial_notes|markdown_to_html }}
                                </td>
                                <td class="govuk-table__cell amp-width-one-half amp-notes">
                                    {{ statement_check.final_state_display }}<br>
                                    {{ statement_check.final_notes|markdown_to_html }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% else %}
    <h2 class="govuk-heading-l">Overview</h2>
    <p class="govuk-body">
        This is a new case and does not have any test data.
        Complete a
        <a href="{% url 'cases:edit-test-results' case.id %}"
            class="govuk-link govuk-link--no-visited-state">test</a>
        and
        <a href="{% url 'cases:edit-twelve-week-retest' case.id %}"
            class="govuk-link govuk-link--no-visited-state">retest</a>
        before using this page.
    </p>
{% endif %}
{% endblock %}
