{% extends 'base.html' %}

{% load humanize %}

{% block title %}{{ case.organisation_name }} | Outstanding issues{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li    >
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Outstanding issues
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='Outstanding issues' %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s">Sort WCAG issues</h2>
                <a href="{% url 'cases:outstanding-issues' case.id %}?view={% if show_failures_by_page %}WCAG{% else %}Page{% endif %} view" rel="noreferrer noopener" class="govuk-button  govuk-button--secondary">
                    View by {% if show_failures_by_page %}WCAG{% else %}Page{% endif %} type
                </a>
                <h2 class="govuk-heading-s">WCAG issues</h2>
                <ul class="govuk-list">
                {% if show_failures_by_page %}
                    {% for page, failures in audit_failures_by_page.items %}
                        {% if page.unfixed_check_results %}
                            <li>
                                <a href="#page-{{ page.id }}" rel="noreferrer noopener" class="govuk-link">
                                    {{ page }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for wcag_definition, failures in audit_failures_by_wcag.items %}
                        <li>
                            <a href="#wcag-{{ wcag_definition.id }}" rel="noreferrer noopener" class="govuk-link">
                                {{ wcag_definition.name }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
                </ul>
                <h2 class="govuk-heading-s">Statement issues</h2>
                <h2 class="govuk-heading-s">Overview</h2>
                <p class="govuk-body">
                    {{ case.audit.fixed_check_results.count|intcomma }}
                    of {{ case.audit.failed_check_results.count|intcomma }}
                    WCAG issues have been fixed
                </p>
                {% if show_failures_by_page %}
                    {% for page, failures in audit_failures_by_page.items %}
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <h2 id="page-{{ page.id }}" class="govuk-heading-m">{{ page }}</h2>
                                <table class="govuk-table">
                                    <tbody class="govuk-table__body">
                                        {% for failure in failures %}
                                            <tr class="govuk-table__row ">
                                                <th scope="row" class="govuk-table__header amp-width-one-half">{{ failure.wcag_definition.name }}</th>
                                                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ failure.notes|markdown_to_html }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for wcag_definition, failures in audit_failures_by_wcag.items %}
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <h3 class="govuk-heading-m"></h3>
                                <h2 id="wcag-{{ wcag_definition.id }}" class="govuk-heading-m">{{ wcag_definition.name }}</h2>
                                <table class="govuk-table">
                                    <tbody class="govuk-table__body">
                                        {% for failure in failures %}
                                            <tr class="govuk-table__row ">
                                                <th scope="row" class="govuk-table__header amp-width-one-half">{{ failure.page }}</th>
                                                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ failure.notes|markdown_to_html }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'cases/helpers/nav_steps.html' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
