{% extends 'base.html' %}

{% block title %}{{ case.organisation_name }} | {{ amp_page_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/case_banner.html' %}
        </div>
    </div>
    {% include 'cases/helpers/breadcrumbs.html' with page_heading=amp_page_name %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include "cases/helpers/case_nav.html" %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                {% include "cases/helpers/edit_header.html" with page_heading=amp_page_name %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <p class="govuk-body">
                            A new retest can not start until the most recent retest has completed.
                        </p>
                    </div>
                    <div class="govuk-grid-column-full govuk-button-group">
                        <a
                            href="{% url 'audits:retest-compliance-update' case.latest_retest.id %}"
                            role="button"
                            draggable="false"
                            class="govuk-button"
                            data-module="govuk-button"
                        >
                            Continue retest
                        </a>
                        <a
                            href="{% url 'cases:edit-retest-overview' case.id %}"
                            class="govuk-link govuk-link--no-visited-state"
                        >
                            Return to retest overview
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
