{% extends 'cases/details/details.html' %}

{% block prefixrows %}
    {% for wcag_page_initial in case.audit_overview.initial_wcag_audit.testable_wcag_page_initials %}
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">{{ wcag_page_initial.page_title }}</th>
            <td class="govuk-table__cell amp-width-one-half">
                <p class="govuk-body-m amp-margin-bottom-0">
                    Initial page URL:
                    {% if wcag_page_initial.url %}
                        <a href="{{ wcag_page_initial.url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                            {{ wcag_page_initial.url }}</a>
                    {% else %}
                        None
                    {% endif %}
                </p>
                {% if wcag_page_initial.location %}
                    <p class="govuk-body-m amp-margin-bottom-0">
                        Initial page location:
                        {{ wcag_page_initial.location }}
                    </p>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
