{% extends 'simplified/details/details.html' %}

{% block table %}
    {% if statement_check_results %}
        <table class="govuk-table" data-search-target-page-name="{{ case_detail_page.page.platform_page_group.name }}" data-search-target-label="{{ case_detail_page.page.get_name }}" data-search-target-url="{{ case_detail_page.page.url }}">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header amp-width-one-third">Question</th>
                    <th scope="col" class="govuk-table__header amp-width-one-third">Initial</th>
                    <th scope="col" class="govuk-table__header amp-width-one-third">12-week assessment</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for statement_check_result in statement_check_results %}
                    <tr class="govuk-table__row ">
                        <td class="govuk-table__cell amp-width-one-third">
                            {{ statement_check_result.label }}<br>
                            {% include 'audits/helpers/issue_identifier.html' with issue=statement_check_result %}
                        </td>
                        <td class="govuk-table__cell amp-width-one-third">
                            {{ statement_check_result.get_check_result_state_display }}
                            {% if statement_check_result.report_comment  %}
                                <br><br>
                                {{ statement_check_result.report_comment }}
                            {% endif %}
                        </td>
                        <td class="govuk-table__cell amp-width-one-third">
                            {{ statement_check_result.get_retest_state_display }}
                            {% if statement_check_result.retest_comment  %}
                                <br><br>
                                {{ statement_check_result.retest_comment }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="govuk-body-m">No custom statement issues found in initial test.</p>
    {% endif %}
{% endblock %}
