{% extends 'cases/details/details.html' %}

{% block prefixrows %}
    {% for wcag_page_retest in case.audit_overview.first_twelve_week_wcag_audit.retestable_wcag_page_retests %}
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">{{ wcag_page_retest.wcag_page_initial.page_title }}</th>
            <td class="govuk-table__cell amp-width-one-half">
                <p class="govuk-body-m amp-margin-bottom-0">
                    Initial URL:
                    {% if wcag_page_retest.wcag_page_initial.url %}
                        <a href="{{ wcag_page_retest.wcag_page_initial.url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                            {{ wcag_page_retest.wcag_page_initial.url }}</a>
                    {% else %}
                        None
                    {% endif %}
                </p>
                <p class="govuk-body-m {% if not wcag_page_retest.updated_url %}amp-margin-bottom-0{% endif %}">
                    Initial page location:
                    {% if wcag_page_retest.wcag_page_initial.location %}
                        {{ wcag_page_retest.wcag_page_initial.location }}
                    {% else %}
                        N/A
                    {% endif %}
                </p>
                {% if wcag_page_retest.latest_page_url != wcag_page_retest.wcag_page_initial.url %}
                    <p class="govuk-body-m amp-margin-bottom-0">
                        12-week URL link:
                        {% if wcag_page_retest.latest_page_url %}
                            <a href="{{ wcag_page_retest.latest_page_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                                {{ wcag_page_retest.latest_page_url }}</a>
                        {% else %}
                            None
                        {% endif %}
                    </p>
                    <p class="govuk-body-m amp-margin-bottom-0">
                        12-week page location:
                        {% if wcag_page_retest.latest_page_location %}
                            {{ wcag_page_retest.latest_page_location }}
                        {% else %}
                            N/A
                        {% endif %}
                    </p>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
