{% extends 'cases/details/details.html' %}

{% block table %}
    {% if case.audit_overview.equality_body_wcag_audits %}
        {% for equality_body_wcag_audit in case.audit_overview.equality_body_wcag_audits %}
            <p class="govuk-body-m"><b>{{ equality_body_wcag_audit.short_name }}</b></p>
            <table class="govuk-table" data-search-target-page-name="{{ case_detail_page.page.platform_page_group.name }}" data-search-target-label="{{ case_detail_page.page.get_name }}" data-search-target-url="{{ case_detail_page.page.get_url }}">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row ">
                        <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">Date of retest</th>
                        <td class="govuk-table__cell amp-width-one-half">{{ equality_body_wcag_audit.date_of_test|amp_date }}</td>
                    </tr>
                    <tr class="govuk-table__row ">
                        <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">Outcome</th>
                        <td class="govuk-table__cell amp-width-one-half">{{ equality_body_wcag_audit.get_compliance_state_display }}</td>
                    </tr>
                    <tr class="govuk-table__row ">
                        <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">Statement outcome</th>
                        <td class="govuk-table__cell amp-width-one-half">{{ equality_body_wcag_audit.equivalent_statement_audit.get_compliance_state_display }}</td>
                    </tr>
                    <tr class="govuk-table__row ">
                        <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">WCAG issues</th>
                        <td class="govuk-table__cell amp-width-one-half">
                        {{ equality_body_wcag_audit.wcag_fixed_check_result_retests.count }} of {{ equality_body_wcag_audit.wcag_failed_check_result_retests.count }} issues fixed
                        </td>
                    </tr>
                    <tr class="govuk-table__row ">
                        <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">Retest notes</th>
                        <td class="govuk-table__cell amp-width-one-half amp-notes">{{ equality_body_wcag_audit.notes|markdown_to_html }}</td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    {% else %}
        <p class="govuk-body-m">No retests</p>
    {% endif %}
{% endblock %}
