<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s amp-margin-bottom-5 govuk-!-font-size-16">Search inside case</h2>
        <div class="govuk-form-group">
            <input
                type="text"
                name="search_in_case"
                placeholder="Search"
                class="govuk-input govuk-!-font-size-16"
                id="id_search_in_case"
                data-link-to-all-case-data="{% url 'simplified:case-view-and-search' case.id %}">
        </div>
    </div>
</div>
<div id="search-results"></div>
