{% if all_cases_in_qa|length == 0 %}
   <p class="govuk-body">There are currently no reports in QA</p>
{% else %}
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header amp-width-15-percent">Date created</th>
                <th scope="col" class="govuk-table__header amp-width-one-quarter">Case</th>
                <th scope="col" class="govuk-table__header amp-width-one-quarter">QA status</th>
                <th scope="col" class="govuk-table__header amp-width-one-quarter">Auditor</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for case in all_cases_in_qa %}
                <tr class="govuk-table__row ">
                    <th scope="row" class="govuk-table__header amp-width-15-percent govuk-!-font-weight-regular">
                        {{ case.created|amp_date_trunc }}
                    </th>
                    <td class="govuk-table__cell amp-width-one-quarter">
                        <a href="{% url 'cases:edit-qa-auditor' case.id %}" class="govuk-link">
                            {{ case.organisation_name|truncatechars:25 }}</a>
                    </td>
                    <td class="govuk-table__cell amp-width-one-quarter">{{ case.get_qa_status_display }}</td>
                    <td class="govuk-table__cell amp-width-one-quarter">
                        {% if case.auditor %}
                            <a href="{% url 'cases:case-list' %}?auditor={{case.auditor.id}}" class="govuk-link">{{ case.auditor.get_full_name }}</a>
                        {% else %}
                            None
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
