{% if cases|length == 0 %}
   <p class="govuk-body"> There are currently no completed cases </p>
{% else %}
   <p class="govuk-body">
       {% if show_all_cases %}
           <a href="{% url 'cases:case-list' %}?status=complete" class="govuk-link">
               View all cases with status "Complete"</a>
       {% else %}
           <a href="{% url 'cases:case-list' %}?auditor={{ user.id }}&status=complete" class="govuk-link">
               View all your cases with status "Complete"</a>
       {% endif %}
   </p>
{% endif %}
