<!DOCTYPE html>

{% if table_data.count == 0 %}
   <p class="govuk-body"> There are currently no cases assigned to you for QA </p>
{% else %}
    <table class="govuk-table case-dashboard">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date created</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Case</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Full URL</th>
                {% if show_all_cases %}
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Auditor</th>
                {% else %}
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Step progress</th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for item in table_data %}
                <tr class="govuk-table__row ">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">{{item.created|date:"d/m/Y"}}</th>
                    <td class="govuk-table__cell govuk-!-width-one-quarter">
                        <a href="{% url 'cases:case-detail' item.id %}" class="govuk-link"> {{item.organisation_name|truncatechars:25}}  </a>
                    </td>
                    <td class="govuk-table__cell govuk-!-width-one-quarter"> {{item.domain|truncatechars:25}} </td>
                    <td class="govuk-table__cell govuk-!-width-one-quarter">
                        {% if item.auditor %}
                            <a href="{% url 'cases:case-list' %}?auditor={{item.auditor.id}}" class="govuk-link"> {{item.auditor.first_name}} {{item.auditor.last_name}} </a>
                        {% else %}
                            No auditor
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
