{% extends "base.html" %}

{% block title %}Home | {{ amp_page_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        {% if recent_changes_to_platform %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Warning</span>
                            An update has been made to the platform. View the update in
                            <a href="{% url 'common:platform-history' %}" class="govuk-link govuk-link--no-visited-state">
                                Settings > Platform version history</a>
                        </strong>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="govuk-grid-row">
            {% if mfa_disabled %}
            <div class="govuk-grid-column-full">
                <div class="govuk-notification-banner" role="region" aria-labelledby="banner-title-two-factor" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                      <h2 class="govuk-notification-banner__title" id="banner-title-two-factor">
                        Important
                      </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <h3 class="govuk-notification-banner__heading">
                            Two-factor authentication has not been setup for your account.
                        </h3>
                        <p class="govuk-body">
                            Enable in 2FA in <a class="govuk-notification-banner__link" href="{% url 'users:edit-user' request.user.id %}">Settings > Account details</a>.
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="govuk-grid-column-one-third">
                <h1 class="govuk-heading-xl">{{ amp_page_name }}</h1>
            </div>
            <div class="govuk-grid-column-two-thirds govuk-button-group amp-flex-end">
                {% if show_all_cases %}
                    <a
                        href="{% url 'dashboard:home' %}?view=View your cases"
                        role="button"
                        draggable="false"
                        class="govuk-button govuk-button--secondary"
                        data-module="govuk-button"
                    >
                        View your cases
                    </a>
                {% else %}
                    <a
                        href="{% url 'dashboard:home' %}?view=View all cases"
                        role="button"
                        draggable="false"
                        class="govuk-button govuk-button--secondary"
                        data-module="govuk-button"
                    >
                        View all cases
                    </a>
                {% endif %}
                <a
                    href="{% url 'cases:case-list' %}?status=unassigned-case"
                    role="button"
                    draggable="false"
                    class="govuk-button govuk-button--secondary"
                    data-module="govuk-button"
                >
                    View unassigned cases
                </a>
                <a
                    href="{% url 'cases:case-create' %}"
                    role="button"
                    draggable="false"
                    class="govuk-button amp-margin-right-0"
                    data-module="govuk-button"
                >
                    Create case
                </a>
            </div>
        </div>
        <div class="govuk-grid-row insert-margin">
            <div class="govuk-grid-column-one-quarter">
                <div class="govuk-body-m">
                    Total active cases
                </div>
                <div class="govuk-heading-xl amp-margin-bottom-0">
                    {{total_incomplete_cases}}
                </div>
            </div>
            <div class="govuk-grid-column-one-quarter leftborder">
                <div class="govuk-body-m">
                    Your active cases
                </div>
                <div class="govuk-heading-xl amp-margin-bottom-0">
                    {{total_your_active_cases}}
                </div>
            </div>
            <div class="govuk-grid-column-one-quarter leftborder">
                <div class="govuk-body-m">
                    Unassigned cases
                </div>
                <div class="govuk-heading-xl amp-margin-bottom-0">
                    {{total_unassigned_cases}}
                </div>
            </div>
            <div class="govuk-grid-column-one-quarter leftborder">
                <div class="govuk-body-m">
                    On call
                </div>
                <div class="govuk-heading-xl amp-margin-bottom-0">
                    {% if platform.active_qa_auditor %}
                        {{ platform.active_qa_auditor.first_name }}
                    {% else %}
                        None
                    {% endif%}
                </div>
            </div>
        </div>
        {% include "./list_view.html" %}
    </main>
</div>

{% endblock %}
