{% extends "base.html" %}

{% block title %}Home | {{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        {% if recent_changes_to_platform %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Warning</span>
                            An update has been made to the platform. View the update in
                            <a href="{% url 'common:platform-history' %}" class="govuk-link govuk-link--no-visited-state">
                                Settings > Platform version history</a>
                        </strong>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="govuk-grid-row">
            {% if mfa_disabled %}
                <div class="govuk-grid-column-full">
                    <div class="govuk-notification-banner" role="region" aria-labelledby="banner-title-two-factor" data-module="govuk-notification-banner">
                        <div class="govuk-notification-banner__header">
                            <h2 class="govuk-notification-banner__title" id="banner-title-two-factor">Important</h2>
                        </div>
                        <div class="govuk-notification-banner__content">
                            <h3 class="govuk-notification-banner__heading">
                                Two-factor authentication has not been setup for your account.
                            </h3>
                            <p class="govuk-body">
                                Enable in 2FA in <a class="govuk-notification-banner__link" href="{% url 'users:edit-user' request.user.id %}">Settings > Account details</a>.
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl amp-margin-bottom-10">{{ sitemap.current_platform_page.get_name }}</h1>
            </div>
            <div class="govuk-grid-column-full govuk-button-group">
                <a
                    href="{% url 'simplified:case-create' %}"
                    class="govuk-link govuk-link--no-visited-state amp-margin-bottom-0"
                >
                    Create simplified case
                </a>
                <a
                    href="{% url 'detailed:case-create' %}"
                    class="govuk-link govuk-link--no-visited-state amp-margin-bottom-0"
                >
                    Create detailed case
                </a>
                <a
                    href="{% url 'mobile:case-create' %}"
                    class="govuk-link govuk-link--no-visited-state amp-margin-bottom-0"
                >
                    Create mobile case
                </a>
            </div>
            <div class="govuk-grid-column-full govuk-button-group">
                <span class="govuk-body amp-margin-bottom-0">Simplified:</span>
                {% if show_all_cases %}
                    <a
                        href="{% url 'dashboard:home' %}?view=View your cases"
                        class="govuk-link govuk-link--no-visited-state amp-margin-bottom-0 amp-padding-left-10"
                    >
                        Your cases
                    </a>
                    <span class="govuk-body amp-margin-bottom-0"><b>All cases</b></span>
                {% else %}
                    <span class="govuk-body amp-margin-bottom-0 amp-padding-left-10"><b>Your cases</b></span>
                    <a
                        href="{% url 'dashboard:home' %}?view=View all cases"
                        class="govuk-link govuk-link--no-visited-state amp-margin-bottom-0 amp-padding-left-10"
                    >
                        All cases
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="govuk-grid-row amp-margin-bottom-30">
            <div class="govuk-grid-column-one-half">
                {% include "dashboard/nav.html" %}
            </div>
            <div class="govuk-grid-column-one-half amp-left-border">
                {% include "dashboard/overview.html" %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "dashboard/sections.html" %}
            </div>
        </div>
    </main>
</div>

{% endblock %}
