<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper dashboard">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Dashboard</h1>
      </div>
    </div>
    <div class="govuk-grid-row dashboard">
      <div class="govuk-grid-column-one-half">
        <a href="{% url 'cases:case-list' %}">
          <div class="app-selection">
            <p class="govuk-body-l">Cases</p>
          </div>
        </a>
      </div>
      <div class="govuk-grid-column-one-half">
        <a href="{% url 'websites:website-list' %}">
          <div class="app-selection">
            <p class="govuk-body-l">Websites</p>
          </div>
        </a>
      </div>
    </div>
  </main>
</div>

{% endblock %}
