<!DOCTYPE html>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    {% if sorted_cases.unknown %}
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-0">
                    Unknown - {{ sorted_cases.unknown.count }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-unknown table-padding" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-unknown">
            {% include "./1_new_cases_table.html" with table_data=sorted_cases.unknown %}
        </div>
    </div>
    {% endif %}
    {% if macro_view %}
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-0">
                    Unassigned cases - {{ sorted_cases.unassigned_cases.count }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-0 table-padding" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-0">
            {% include "./1_new_cases_table.html" with table_data=sorted_cases.unassigned_cases %}
        </div>
    </div>
    {% endif %}
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    New cases - {{ sorted_cases.new_case.count }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-1 table-padding" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            {% include "./1_new_cases_table.html" with table_data=sorted_cases.new_case %}
        </div>
    </div>
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                    Tests in progress - {{ sorted_cases.test_in_progress.count }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            {% include "./2_tests_in_progress_table.html" with table_data=sorted_cases.test_in_progress %}
        </div>
    </div>
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Reports in progress - {{ sorted_cases.reports_in_progress.count }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            {% include "./3_reports_in_progress_table.html" with table_data=sorted_cases.reports_in_progress %}
        </div>
    </div>
    {% if macro_view %}
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-13">
                        Report ready for QA - {{ sorted_cases.ready_for_qa.count }}
                    </span>
                </h2>
            </div>
            <div id="accordion-default-content-13" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-13">
                {% include "./13_ready_to_qa.html" with table_data=sorted_cases.ready_for_qa %}
            </div>
        </div>
    {% endif %}
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                    QA in progress - {{ sorted_cases.qa_in_progress.count }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            {% include "./4_qa_in_progress_table.html" with table_data=sorted_cases.qa_in_progress %}
        </div>
    </div>
    {% if macro_view == false %}
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-13">
                        Requires your review - {{ sorted_cases.requires_your_review.count }}
                    </span>
                </h2>
            </div>
            <div id="accordion-default-content-14" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-14">
                {% include "./5_requires_your_review.html" with table_data=sorted_cases.requires_your_review %}
            </div>
        </div>
    {% endif %}
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
                    Reports ready to send - {{ sorted_cases.report_ready_to_send.count }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">
            {% include "./6_report_ready_to_send.html" with table_data=sorted_cases.report_ready_to_send %}
        </div>
    </div>
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-6">
                    In report correspondence - {{ sorted_cases.in_report_correspondence.count }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">
            {% include "./7_in_report_correspondence.html" with table_data=sorted_cases.in_report_correspondence %}
        </div>
    </div>
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-7">
                    In probation period - {{ sorted_cases.in_probation_period.count }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-7" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-7">
            {% include "./8_in_probation_period.html" with table_data=sorted_cases.in_probation_period %}
        </div>
    </div>
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-9">
                    In 12 week correspondence - {{ sorted_cases.in_12_week_correspondence.count }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-9" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-9">
            {% include "./9_in_12_week_correspondence.html" with table_data=sorted_cases.in_12_week_correspondence %}
        </div>
    </div>
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
                    Final decision due - {{ sorted_cases.final_decision_due.count }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-10" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-10">
            {% include "./10_final_decision_due.html" with table_data=sorted_cases.final_decision_due %}
        </div>
    </div>
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-12">
                    Equality body correspondence - {{sorted_cases.in_correspondence_with_equalities_body.count}}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-12" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-12">
            {% include "./11_in_correnspondence_with_equality_body.html" with table_data=sorted_cases.in_correspondence_with_equalities_body %}
        </div>
    </div>
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-11">
                    Recently completed cases - {{sorted_cases.recently_completed.count}}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-11" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-11">
            {% include "./12_recently_completed.html" with table_data=sorted_cases.recently_completed %}
        </div>
    </div>
</div>
