{% load user_tags %}

<h2 class="govuk-heading-l">QA cases</h2>
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-qa-cases">
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-qa-cases-heading-report-ready-to-qa">
                    Reports in QA - {{ all_cases_in_qa|length }}
                </span>
            </h2>
        </div>
        <div id="accordion-qa-cases-content-1" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-qa-cases-heading-report-ready-to-qa">
            {% include "./13_reports_in_qa.html" %}
        </div>
    </div>
</div>
<h2 class="govuk-heading-l">Audit cases</h2>
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    {% if cases_by_status.unknown %}
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-unknown">
                    Unknown - {{ cases_by_status.unknown|length }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-default-heading-unknown">
            {% include "./1_new_cases_table.html" with cases=cases_by_status.unknown %}
        </div>
    </div>
    {% endif %}
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-unassigned-cases">
                    Unassigned cases - {{ cases_by_status.unassigned_cases|length }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-default-heading-unassigned-cases">
            {% include "./1_new_cases_table.html" with cases=cases_by_status.unassigned_cases %}
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-test-in-progress">
                    Tests in progress - {{ cases_by_status.test_in_progress|length }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-default-heading-test-in-progress">
            {% include "./2_tests_in_progress_table.html" with cases=cases_by_status.test_in_progress %}
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-reports-in-progress">
                    Reports in progress - {{ cases_by_status.reports_in_progress|length }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-default-heading-reports-in-progress">
            {% include "./3_reports_in_progress_table.html" with cases=cases_by_status.reports_in_progress %}
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-qa-in-progress">
                    QA in progress - {{ cases_by_status.qa_in_progress|length }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-default-heading-qa-in-progress">
            {% include "./4_qa_in_progress_table.html" with cases=cases_by_status.qa_in_progress %}
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-reports-ready-to-send">
                    Reports ready to send - {{ cases_by_status.report_ready_to_send|length }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-default-heading-reports-ready-to-send">
            {% include "./6_report_ready_to_send.html" with cases=cases_by_status.report_ready_to_send %}
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-in-report-correspondence">
                    Report sent - {{ cases_by_status.in_report_correspondence|length }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-6" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-default-heading-in-report-correspondence">
            {% include "./7_in_report_correspondence.html" with cases=cases_by_status.in_report_correspondence %}
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-in-probation-period">
                    Report acknowledged waiting for 12-week deadline - {{ cases_by_status.in_probation_period|length }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-7" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-default-heading-in-probation-period">
            {% include "./8_in_probation_period.html" with cases=cases_by_status.in_probation_period %}
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-in-twelve-week-correspondence">
                    After 12-week correspondence - {{ cases_by_status.in_12_week_correspondence|length }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-8" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-default-heading-in-twelve-week-correspondence">
            {% include "./9_in_12_week_correspondence.html" with cases=cases_by_status.in_12_week_correspondence %}
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-reviewing-changes">
                    Reviewing changes - {{ cases_by_status.reviewing_changes|length }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-9" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-default-heading-in-twelve-week-correspondence">
            {% include "./10_reviewing_changes.html" with cases=cases_by_status.reviewing_changes %}
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-final-decision-due">
                    Final decision due - {{ cases_by_status.final_decision_due|length }}
                </span>
            </h2>
        </div>
        <div id="accordion-default-content-10" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-default-heading-final-decision-due">
            {% include "./11_final_decision_due.html" with cases=cases_by_status.final_decision_due %}
        </div>
    </div>
</div>
<h2 class="govuk-heading-l">Post case</h2>
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-post-case">
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-post-case-heading-case-closed-waiting-to-be-sent">
                    Case closed and waiting to be sent to equalities body  - {{ cases_by_status.case_closed_waiting_to_be_sent|length }}
                </span>
            </h2>
        </div>
        <div id="accordion-post-case-content-1" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-post-case-content-case-closed-waiting-to-be-sent">
            {% include "./12_in_correspondence_with_equality_body.html" with cases=cases_by_status.case_closed_waiting_to_be_sent %}
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-post-case-heading-case-closed-sent-to-equalities-body">
                    Case closed and sent to equalities body  - {{ cases_by_status.case_closed_sent_to_equalities_body|length }}
                </span>
            </h2>
        </div>
        <div id="accordion-post-case-content-2" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-post-case-heading-case-closed-sent-to-equalities-body">
            <p class="govuk-body">
                {% if show_all_cases %}
                    <a href="{% url 'cases:case-list' %}?status=case-closed-sent-to-equalities-body" class="govuk-link">
                        View all cases with status "Case closed and sent to equalities body"</a>
                {% else %}
                    <a href="{% url 'cases:case-list' %}?auditor={{ user.id }}&status=case-closed-sent-to-equalities-body" class="govuk-link">
                        View all your cases with status "Case closed and sent to equalities body"</a>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-post-case-heading-equality-body-correspondence">
                    In correspondence with equalities body  - {{ cases_by_status.in_correspondence_with_equalities_body|length }}
                </span>
            </h2>
        </div>
        <div id="accordion-post-case-content-3" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-post-case-heading-equality-body-correspondence">
            {% include "./12_in_correspondence_with_equality_body.html" with cases=cases_by_status.in_correspondence_with_equalities_body %}
        </div>
    </div>
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-post-case-heading-complete">
                    Completed cases - {{ cases_by_status.completed|length }}
                </span>
            </h2>
        </div>
        <div id="accordion-post-case-content-4" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-post-case-heading-complete">
            <p class="govuk-body">
                {% if show_all_cases %}
                    <a href="{% url 'cases:case-list' %}?status=complete" class="govuk-link">
                        View all cases with status "Complete"</a>
                {% else %}
                    <a href="{% url 'cases:case-list' %}?auditor={{ user.id }}&status=complete" class="govuk-link">
                        View all your cases with status "Complete"</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>
