<div class="govuk-body pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1&{{ parameters }}">&laquo; First</a>
          <a href="?page={{ page_obj.previous_page_number }}&{{ parameters }}">Previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}&{{ parameters }}">Next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}&{{ parameters }}">Last &raquo;</a>
      {% endif %}
  </span>
</div>