{% if cases|length == 0 %}
   <p class="govuk-body"> There are currently no tests in progress </p>
{% else %}
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row amp-width-one-quarter">
                <th scope="col" class="govuk-table__header amp-width-15-percent">Date created</th>
                <th scope="col" class="govuk-table__header amp-width-one-quarter">Case</th>
                <th scope="col" class="govuk-table__header amp-width-one-quarter">Full URL</th>
                {% if filter == "all-cases" %}
                    <th scope="col" class="govuk-table__header amp-width-one-quarter">Auditor</th>
                {% else %}
                    <th scope="col" class="govuk-table__header amp-width-one-quarter">Current step</th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for case in cases %}
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header amp-width-15-percent govuk-!-font-weight-regular">{{ case.created|amp_date_trunc }} </th>
                    <td class="govuk-table__cell amp-width-one-quarter">
                        <a href="{{ case.get_absolute_url }}" class="govuk-link">{{ case.organisation_name|truncatechars:25 }}</a>
                    </td>
                    <td class="govuk-table__cell amp-width-one-quarter">{{ case.domain_clean|truncatechars:25 }}</td>
                    <td class="govuk-table__cell amp-width-one-quarter">
                        {% if filter == "all-cases" %}
                            <a href="{% url 'cases:case-list' %}?auditor={{ case.auditor.id }}" class="govuk-link"> {{ case.auditor.get_full_name }} </a>
                        {% elif case.audit %}
                            <a href="{% url 'audits:edit-audit-metadata' case.audit.id %}" class="govuk-link"> Testing details </a>
                        {% else %}
                            <a href="{% url 'simplified:edit-test-results' case.id %}" class="govuk-link"> Testing details </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
