{% load static %}

<div class="amp-no-bullet-points">
    <nav aria-label="Table of contents">
        <h2 id="contents">Contents</h2>
        <ul>
            {% for section in report.top_level_sections %}
                <li>
                    <a href="#{{ section.anchor }}">{{ section.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>

{% for section in sections %}
    <br />
    <h2 id="{{ section.anchor }}"{% if section.new_page %} class="amp-new-page"{% endif %}>
        {{ section.name }}
    </h2>
    {% if section.template_type == 'html' %}
        {{ section.content|safe }}
    {% else %}
        {{ section.content|markdown_to_html }}
    {% endif %}
    {% if section.template_type == 'urls' and section.table_rows %}
        {% include 'reports_common/helpers/table_urls.html' %}
    {% endif %}
    {% if section.template_type == 'issues' and section.table_rows %}
        {% include 'reports_common/helpers/table_issues.html' with table_number=forloop.counter %}
    {% endif %}
{% endfor %}
