{% extends "base.html" %}

{% block title %}{{ case.organisation_name }} | Add comment{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:edit-qa-process' case.id %}">QA process</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Add comment
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-body">
            <h1 class="govuk-heading-xl">Add comment</h1>
        </div>
        <form method="post" action="{% url 'comments:create-comment' case.id %}">
            {% csrf_token %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {% include 'common/amp_form_snippet.html' %}
                </div>
                <div class="govuk-grid-column-full govuk-button-group">
                    <input
                        type="submit"
                        value="Add"
                        name="add"
                        class="govuk-button"
                        data-module="govuk-button"
                    />
                    <a
                        href="{% url 'cases:edit-qa-process' case.id %}?discussion=open#qa-discussion"
                        class="govuk-link govuk-link--no-visited-state"
                    >
                        Cancel
                    </a>
                </div>
            </div>
        </form>
        <h2 class="govuk-heading-m">QA discussion</h2>
        {% for comment in case.qa_comments %}
            <p class="govuk-body">
                <b class="govuk-body-l govuk-!-font-weight-bold">{{ comment.user.first_name }} {{ comment.user.last_name }} </b>
                on {{ comment.created_date|amp_datetime }}
            </p>
            <div class="govuk-body">
                {{ comment.body|markdown_to_html }}
            </div>
        {% endfor %}
    </main>
</div>

{% endblock %}
