{% extends 'common/case_form.html' %}

{% load static %}

{% block preform %}
    {% include 'simplified/helpers/qa_links.html' %}
{% endblock %}

{% block formfields %}
{% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
{% include 'common/amp_field.html' with field=form.body %}
{% include 'common/preview_markdown.html' with field_id=form.body.auto_id %}
{% endblock %}

{% block formbuttons %}
    <div class="govuk-grid-row amp-margin-top-30">
        <div class="govuk-grid-column-two-thirds govuk-button-group">
            <input
                type="submit"
                value="Update comment and exit"
                name="save_return"
                class="govuk-button"
                data-module="govuk-button"
            />
            <a
                {% if comment.base_case.test_type == 'detailed' %}
                    href="{% url 'detailed:edit-qa-comments' comment.base_case.id %}?#qa-discussion"
                {% else %}
                    href="{% url 'simplified:edit-qa-comments' comment.base_case.id %}?#qa-discussion"
                {% endif %}
                class="govuk-link govuk-link--no-visited-state"
            >
                Cancel
            </a>
        </div>
        <div class="govuk-grid-column-one-third govuk-button-group amp-flex-end amp-padding-left-0">
                <input
                type="submit"
                value="Remove comment"
                name="remove_comment"
                class="govuk-button govuk-button--warning amp-margin-right-0"
                data-module="govuk-button"
            />
        </div>
    </div>
{% endblock %}

{% block extrascript %}
    <script src="{% static 'js/markdown_preview.js' %}"></script>
{% endblock %}
