{% extends 'common/case_form.html' %}

{% block preform %}
    {% include 'detailed/helpers/contacts_list.html' %}
    {% include 'detailed/helpers/zendesk_tickets.html' %}
    <p class="govuk-body">
        <a href="{% url 'detailed:edit-unresponsive-psb' detailed_case.id %}" class="govuk-link govuk-link--no-visited-state">
            Unresponsive PSB</a>
    </p>
{% endblock %}

{% block formfields %}
{% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
{% include 'common/amp_field.html' with field=form.notes %}
{% include 'detailed/helpers/note_history.html' with note_history=case.contact_notes_history %}
{% include 'common/amp_field.html' with field=form.chasing_record_complete_date %}
{% endblock %}
