{% extends 'detailed/base.html' %}

{% load l10n %}

{% block title %}{% if duplicate_cases %}Duplicate case{% if duplicate_cases|length != 1 %}s{% endif %} found{% else %}{{ sitemap.current_platform_page.get_name }}{% endif %}{% endblock %}

{% block casebanner %}{% endblock %}

{% block breadcrumbs %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        {% include 'common/breadcrumb_home.html' %}
        {% if case %}
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{{ case.get_absolute_url }}">Detailed testing case</a>
            </li>
        {% endif %}
        {% if show_platform_page_group_name %}
            <li class="govuk-breadcrumbs__list-item">{{ sitemap.current_platform_page.platform_page_group.name }}</li>
        {% endif %}
        <li class="govuk-breadcrumbs__list-item">{% if duplicate_cases %}Duplicate case{% if duplicate_cases|length != 1 %}s{% endif %} found{% else %}{{ sitemap.current_platform_page.get_name }}{% endif %}</li>
    </ol>
</div>
{% endblock %}

{% block maincontent %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            {% if duplicate_cases %}
                Duplicate case{% if duplicate_cases|length != 1 %}s{% endif %} found
            {% else %}
                {{ sitemap.current_platform_page.get_name }}
            {% endif %}
        </h1>
        {% include 'common/error_summary.html' %}
        {% if duplicate_cases %}
            <p class="govuk-body-l">We have found {{ duplicate_cases.count|localize}} cases matching the details you have given</p>
        {% endif %}
    </div>
</div>
<div class="govuk-grid-row">
    <form method="post" action="{% url sitemap.current_platform_page.url_name %}{% if duplicate_cases %}?allow_duplicate_cases=True{% endif %}">
        {% csrf_token %}
        {% include 'common/form_errors.html' with errors=form.non_field_errors %}
        {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}

        <div class="govuk-grid-column-full">
            {% if duplicate_cases %}
                <div class="govuk-body">
                    <p class="govuk-!-font-size-19 govuk-!-font-weight-bold">Organisation name</p>
                    <p class="govuk-!-font-weight-regular">{{ new_case.organisation_name }}</p>
                </div>
                <div class="govuk-body">
                    <p class="govuk-!-font-size-19 govuk-!-font-weight-bold">Full URL</p>
                    <p class="govuk-!-font-weight-regular">{{ new_case.home_page_url }}</p>
                </div>
                <div class="govuk-body">
                    <p class="govuk-!-font-size-19 govuk-!-font-weight-bold">Sector</p>
                    <p class="govuk-!-font-weight-regular">{{ new_case.sector }}</p>
                </div>
                <div class="govuk-body">
                    <p class="govuk-!-font-size-19 govuk-!-font-weight-bold">Equalities body who will check the case?</p>
                    <p class="govuk-!-font-weight-regular">{{ new_case.get_enforcement_body_display }}</p>
                </div>
                <div class="govuk-body">
                    <p class="govuk-!-font-size-19 govuk-!-font-weight-bold">Did this case originate from a complaint?</p>
                    <p class="govuk-!-font-weight-regular">{{ new_case.get_is_complaint_display }}</p>
                </div>

                <h2 id="case-details" class="govuk-heading-m">Duplicate cases</h2>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header amp-width-one-quarter">Date created</th>
                            <th class="govuk-table__header amp-width-one-quarter">Case</th>
                            <th class="govuk-table__header amp-width-one-quarter">Full URL</th>
                            <th class="govuk-table__header amp-width-one-quarter">Status</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for case in duplicate_cases %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{ case.created|amp_date }}</td>
                                <td class="govuk-table__cell">
                                    <a href="{{ case.get_absolute_url }}"
                                        class="govuk-link govuk-link--no-visited-state">
                                       {{ case.organisation_name }}
                                    </a>
                                    {{ case.case_identifier }}
                                </td>
                                <td class="govuk-table__cell">{{ case.home_page_url }}</td>
                                <td class="govuk-table__cell">{{ case.get_status_display }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            <div class="govuk-grid-row{% if duplicate_cases %} amp-display-none{% endif %}">
                <div class="govuk-grid-column-full">
                    {% include 'common/amp_field.html' with field=form.organisation_name %}
                    {% include 'common/amp_field.html' with field=form.parental_organisation_name %}
                    {% include 'common/amp_field.html' with field=form.home_page_url %}
                    {% include 'common/amp_field.html' with field=form.website_name %}
                    {% include 'common/amp_field.html' with field=form.sector %}
                    {% include 'common/amp_field.html' with field=form.subcategory %}
                    {% include 'common/amp_field.html' with field=form.enforcement_body %}
                    {% include 'common/amp_field.html' with field=form.psb_location %}
                </div>
            </div>
            <div class="govuk-grid-row{% if duplicate_cases %} amp-display-none{% endif %}">
                <div class="govuk-grid-column-full">
                    {% include 'common/amp_field.html' with field=form.previous_case_url %}
                </div>
            </div>
            <div class="govuk-grid-row{% if duplicate_cases %} amp-display-none{% endif %}">
                <div class="govuk-grid-column-full">
                    {% include 'common/amp_field.html' with field=form.is_complaint %}
                </div>
            </div>
            <div class="govuk-grid-row{% if duplicate_cases %} amp-display-none{% endif %}">
                <div class="govuk-grid-column-full">
                    {% include 'common/amp_field.html' with field=form.notes %}
                </div>
            </div>

            {% if duplicate_cases %}
                <h2 id="case-details" class="govuk-heading-m">Do you wish to continue?</h2>
            {% endif %}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-button-group">
                    <input
                        type="submit"
                        value="Save and create another case"
                        name="save_new_case"
                        class="govuk-button"
                        data-module="govuk-button"
                    />
                    <input
                        type="submit"
                        value="Save and continue case"
                        name="save_continue_case"
                        class="govuk-button govuk-button--secondary"
                        data-module="govuk-button"
                    />
                    <input
                        type="submit"
                        value="Save and exit"
                        name="save_exit"
                        class="govuk-button govuk-button--secondary"
                        data-module="govuk-button"
                    />
                    {% include "common/amp_control_go_back.html" with go_back_label='Cancel' %}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
