{% extends 'detailed/forms/case_form.html' %}

{% block preform %}
<p class="govuk-body amp-margin-bottom-30">
    <a href="{% url 'detailed:edit-contact-create' detailed_case.id %}" class="govuk-link govuk-link--no-visited-state">
        + Add contact</a>
</p>
{% for contact in detailed_case.contacts %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p class="govuk-body amp-margin-bottom-5">
                <b>Contact {{ forloop.counter }}</b>
                <a href="{% url 'detailed:edit-contact-update' contact.id %}" class="govuk-link govuk-link--no-visited-state">
                    Edit or remove</a>
            </p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <p class="govuk-body amp-margin-bottom-0">Name:</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body amp-margin-bottom-0">{{ contact.name }}</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <p class="govuk-body amp-margin-bottom-0">Job title:</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body amp-margin-bottom-0">{{ contact.job_title }}</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <p class="govuk-body amp-margin-bottom-0">Contact point:</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body amp-margin-bottom-0">{{ contact.contact_point }}</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <p class="govuk-body amp-margin-bottom-0">Preferred contact:</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body amp-margin-bottom-0">{{ contact.get_preferred_display }}</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <p class="govuk-body amp-margin-bottom-0">Type of contact:</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body amp-margin-bottom-0">{{ contact.get_type_display }}</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <p class="govuk-body">Added by:</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">{{ contact.created_by.get_full_name }}</p>
        </div>
    </div>
{% endfor %}
{% endblock %}
