{% extends 'detailed/base.html' %}

{% load static %}

{% block preform %}
<p class="govuk-body amp-margin-bottom-5"><b>Status</b></p>
<p class="govuk-body">
    {{ case.get_status_display }}
    <a href="{% url 'detailed:edit-case-status' case.id %}" class="govuk-link govuk-link--no-visited-state">
        Edit</a>
</p>
{% endblock %}

{% block form %}
{% include 'cases/helpers/case_history_form.html' %}
{% endblock %}

{% block postform %}
{% include 'cases/helpers/case_history.html' %}
{% endblock %}

{% block extrascript %}
<script src="{% static 'js/markdown_preview.js' %}"></script>
<script src="{% static 'js/search_page.js' %}"></script>
{% endblock %}
