{% extends 'detailed/base.html' %}

{% load static %}

{% block breadcrumbs %}
{% include 'detailed/helpers/breadcrumbs.html' %}
{% endblock %}

{% block form %}
<form method="post" action="{% url sitemap.current_platform_page.url_name case.id %}">
    {% csrf_token %}
    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% block formfields %}
            {% include 'common/amp_form_snippet.html' %}
            {% endblock %}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-button-group">
            <input
                type="submit"
                value="Save"
                name="save"
                class="govuk-button"
                data-module="govuk-button"
            />
            <a
                href="{{ case.get_absolute_url }}"
                class="govuk-link govuk-link--no-visited-state"
            >
                Return to overview
            </a>
        </div>
    </div>
</form>
{% endblock %}

{% block postform %}
{% include 'common/amp_search_widget.html' with search_label='Search notes' %}
{% for detailed_case_event in case.detailedcasehistory_set.all %}
    <div class="govuk-grid-row amp-searchable">
        <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body amp-margin-bottom-5">
                <b>
                {% if detailed_case_event.event_type == 'note' %}
                    {{ detailed_case_event.get_detailed_case_status_display }}
                {% else %}
                    {{ detailed_case_event.get_event_type_display }}
                {% endif %}
                </b>
            </p>
            <p class="govuk-body amp-margin-bottom-5">{{ detailed_case_event.created_by.get_full_name }}</p>
            <p class="govuk-body">{{ detailed_case_event.created|amp_datetime }}</p>
        </div>
        <div class="govuk-grid-column-three-quarters govuk-body amp-notes">
            {{ detailed_case_event.value|markdown_to_html }}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <hr class="amp-width-100" />
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block extrascript %}
<script src="{% static 'js/search_page.js' %}"></script>
{% endblock %}
