{% extends 'cases/details/details.html' %}

{% block pretable %}
    {% if not case.contacts %}
        <p class="govuk-body">No contacts</p>
    {% endif %}
    {% for contact in case.contacts %}
        <p class="govuk-body-m"><b>Contact {{ forloop.counter }}</b></p>
        <table class="govuk-table" data-search-target-page-name="{{ case_detail_page.page.platform_page_group.name }}" data-search-target-label="{{ case_detail_page.page.get_name }}" data-search-target-url="{{ case_detail_page.page.url }}">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">Name</th>
                    <td class="govuk-table__cell amp-width-one-half">{{ contact.name }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">Job title</th>
                    <td class="govuk-table__cell amp-width-one-half">{{ contact.job_title }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">Contact details</th>
                    <td class="govuk-table__cell amp-width-one-half">{{ contact.contact_details }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">Preferred contact</th>
                    <td class="govuk-table__cell amp-width-one-half">{{ contact.get_preferred_display }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">Information about contact</th>
                    <td class="govuk-table__cell amp-width-one-half amp-notes">{{ contact.information|markdown_to_html }}</td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
