<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h2 id="id_labels_of_notes_fields" class="govuk-heading-m">Labels of notes fields</h2>
      <h3 class="govuk-heading-s">External (public-facing)</h3>
      <ol class="govuk-list govuk-list--number">
          <li>12-week disproportionate burden claim details (included in equality body export)</li>
          <li>Comments for equality body email</li>
          <li>Comments for report</li>
          <li>Disproportionate burden claim details</li>
          <li>Enforcement recommendation notes including exemptions (included in equality body export)</li>
          <li>Error details for correspondence</li>
          <li>Error details for report</li>
          <li>Extra report text</li>
          <li>Issue description for organisation</li>
          <li>Notes [in equality body retests]</li>
          <li>Retest notes</li>
      </ol>
      <h3 class="govuk-heading-s">Internal team use</h3>
      <ol class="govuk-list govuk-list--number">
          <li>12-week correspondence notes</li>
          <li>12-week internal notes</li>
          <li>12-week statement compliance notes</li>
          <li>12-week website compliance decision notes</li>
          <li>Case progress notes</li>
          <li>Correspondence notes</li>
          <li>Equality body notes</li>
          <li>Initial statement compliance notes</li>
          <li>Initial website compliance notes</li>
          <li>Notes</li>
          <li>Notes for auditor</li>
          <li>Public sector body appeal notes</li>
          <li>Summary of events after the case was closed</li>
      </ol>
      <hr class="amp-width-100 amp-margin-bottom-30" />
  </div>
</div>
