<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 id="id_labels_of_notes_fields" class="govuk-heading-m">Labels of notes fields</h2>
        <p class="govuk-body">As of 19 January 2026.</p>
        <ol class="govuk-list govuk-list--number">
            <li>Additional issues found on page (<code>additional_issues_notes</code>)</li>
            <li>12-week retest information (<code>auditor_notes</code>)</li>
            <li>Notes for auditor (<code>auditor_notes</code>)</li>
            <li>Notes (<code>compliance_notes</code>)</li>
            <li>Contact information (<code>contact_notes</code>)</li>
            <li>Reason why (<code>deactivate_notes</code>)</li>
            <li>Description (<code>description</code>)</li>
            <li>Disproportionate burden claim details (<code>disproportionate_burden_notes</code>)</li>
            <li>Information about contact · Included in export (<code>information</code>)</li>
            <li>Initial disproportionate burden claim details (<code>initial_disproportionate_burden_notes</code>)</li>
            <li>Public sector body is unresponsive information (<code>no_psb_contact_info</code>)</li>
            <li>Error details for report (<code>notes</code>)</li>
            <li>Notes (<code>notes</code>)</li>
            <li>Case information (<code>notes</code>)</li>
            <li>Summary of events after the case was closed (<code>post_case_notes</code>)</li>
            <li>Case progress notes (<code>psb_progress_info</code>)</li>
            <li>Public sector body appeal information (<code>psb_statement_appeal_information</code>)</li>
            <li>Enforcement recommendation details · Included in export (<code>recommendation_info</code>)</li>
            <li>Enforcement recommendation notes including exemptions · Included in export (<code>recommendation_notes</code>)</li>
            <li>Related content (<code>related_content</code>)</li>
            <li>Report boilerplate (<code>report_boilerplate</code>)</li>
            <li>Comments for report (<code>report_comment</code>)</li>
            <li>Report details notes (<code>report_notes</code>)</li>
            <li>Retest disproportionate burden information · Included in export (<code>retest_android_disproportionate_burden_information</code>)</li>
            <li>12-week retest information (<code>retest_comment</code>)</li>
            <li>Comments for email (<code>retest_comment</code>)</li>
            <li>Issue description for organisation (<code>retest_comment</code>)</li>
            <li>Retest disproportionate burden information · Included in export (<code>retest_disproportionate_burden_information</code>)</li>
            <li>Retest disproportionate burden information · Included in export (<code>retest_ios_disproportionate_burden_information</code>)</li>
            <li>Error details for correspondence (<code>retest_notes</code>)</li>
            <li>Notes (<code>retest_notes</code>)</li>
            <li>Retest notes (<code>retest_notes</code>)</li>
            <li>Notes (<code>statement_compliance_notes</code>)</li>
            <li>Extra report text (<code>statement_extra_report_text</code>)</li>
            <li>Summary (<code>summary</code>)</li>
            <li>12-week disproportionate burden claim details · Included in export (<code>twelve_week_disproportionate_burden_notes</code>)</li>
        </ol>
        <hr class="amp-width-100 amp-margin-bottom-30" />
    </div>
</div>
