<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 id="id_lists" class="govuk-heading-m">List examples</h2>
        <ol class="govuk-list govuk-list--number">
            <li>
                Unordered
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>One</li>
                            <li>Two</li>
                            <li>Three</li>
                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <code class="amp-code">
&lt;ul class="govuk-list">
&lt;li>One&lt;/li>
&lt;li>Two&lt;/li>
&lt;li>Three&lt;/li>
&lt;/ul></code>
                    </div>
                </div>
            </li>
            <li>
                Unordered bulleted
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list govuk-list--bullet">
                            <li>One</li>
                            <li>Two</li>
                            <li>Three</li>
                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <code class="amp-code">
&lt;ul class="govuk-list govuk-list--bullet">
&lt;li>One&lt;/li>
&lt;li>Two&lt;/li>
&lt;li>Three&lt;/li>
&lt;/ul></code>
                    </div>
                </div>
            </li>
            <li>
                Ordered
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ol class="govuk-list govuk-list--number">
                            <li>One</li>
                            <li>Two</li>
                            <li>Three</li>
                        </ol>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <code class="amp-code">
&lt;ol class="govuk-list govuk-list--number">
&lt;li>One&lt;/li>
&lt;li>Two&lt;/li>
&lt;li>Three&lt;/li>
&lt;/ol></code>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="amp-width-100 amp-margin-bottom-30" />
    </div>
</div>
