<p>One of the following</p>

<ul>
    <li>This website is fully compliant with the Web Content Accessibility Guidelines version 2.1 AA standard.</li>
    <li>
        This website is partially compliant with the Web Content Accessibility Guidelines version 2.1 AA standard,
        due to the non-compliances listed below.
    </li>
    <li>
        This website is not compliant with the Web Content Accessibility Guidelines version 2.1 AA standard.
        The non-accessible sections are listed below.
    </li>
</ul>
