[List the non-compliance(s) of the website(s)/mobile application(s), and/or, describe which section(s)/content/function(s) are not yet compliant].

NOTE: Describe in non-technical terms, as far as possible, how the content is not accessible, including reference(s) to the applicable requirements in the relevant standards and/or technical specifications that are not met; e.g.: ‘The login form of the document sharing application is not fully usable by keyboard (requirement number XXX (if applicable))’
