{% extends 'base.html' %}

{% load l10n %}

{% block title %}{{ current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {% include 'common/settings/breadcrumbs.html' with page_heading=current_platform_page.get_name %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include 'common/settings/nav_steps.html' with current='common:edit-frequently-used-links' %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl amp-margin-bottom-15">{{ current_platform_page.get_name }}</h1>
                {% include 'common/error_summary.html' with formset=links_formset %}
                <form method="post" action="{% url 'common:edit-frequently-used-links' %}">
                    {% csrf_token %}
                    {{ links_formset.management_form }}
                    {% if links_formset.forms %}
                        <table class="govuk-table">
                            <tbody class="govuk-table__body">
                                {% for form in links_formset %}
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">
                                            <div class="govuk-grid-row">
                                                <div class="govuk-grid-column-full">
                                                    <h2 id="link-{{ form.instance.id }}" class="govuk-heading-m">Custom link {{ forloop.counter }}</h2>
                                                    {% include 'common/amp_form_snippet.html' %}
                                                </div>
                                                {% if form.instance.id %}
                                                    <div class="govuk-grid-column-full">
                                                        <input
                                                            type="submit"
                                                            value="Remove link"
                                                            name="remove_link_{{ form.instance.id }}"
                                                            class="govuk-button govuk-button--secondary"
                                                            data-module="govuk-button" />
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p class="govuk-body-l">No frequently used links have been entered</p>
                    {% endif %}
                    <div class="govuk-button-group">
                        {% if links_formset.forms %}
                            <input
                                type="submit"
                                value="Save"
                                name="save"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                        {% endif %}
                        <input
                            type="submit"
                            value={% if links_formset.forms %} "Save and add another link" {% else %} "Create link" {% endif %}
                            name="add_link"
                            class="govuk-button govuk-button--secondary"
                            data-module="govuk-button"
                        />
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
