{% extends 'base.html' %}

{% load l10n %}

{% block title %}{{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {% include 'common/settings/breadcrumbs.html' with page_heading=sitemap.current_platform_page.get_name %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include 'common/settings/nav_steps.html' with current='common:markdown-cheatsheet' %}
            </div>
            <div class="govuk-grid-column-two-thirds amp-report-wrapper">
                <h1 class="govuk-heading-xl amp-margin-bottom-15">{{ sitemap.current_platform_page.get_name }}</h1>
                {{ platform.markdown_cheatsheet|markdown_to_html }}
            </div>
        </div>
    </main>
</div>
{% endblock %}
