<!DOCTYPE html>

{% extends 'base.html' %}

{% load l10n %}

{% load common_tags %}

{% block title %}{{ audit.case.organisation_name }} | Add pages{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' audit.case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'audits:audit-detail' audit.id %}">Test</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Add pages
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper no-padding-top">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='Add pages' case=audit.case %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'audits:edit-audit-add-pages' audit.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div class="govuk-button-group">
                                <a href="{% url 'audits:edit-audit-create-page' audit.id %}" class="govuk-button govuk-button--secondary">
                                    Add page
                                </a>
                            </div>
                        </div>
                        <div class="govuk-grid-column-full">
                            <h2 class="govuk-heading-m">Contents</h2>
                            <ul class="govuk-list">
                                {% for page in audit.every_page %}
                                    {% include 'audits/helpers/page_content.html' %}
                                {% endfor %}
                                <a href="#deleted-pages" class="govuk-link govuk-link--no-visited-state">
                                    Removed pages</a>
                            </ul>
                        </div>
                        {% for page in audit.every_page %}
                            <div class="govuk-grid-column-full">
                                <h2 id="page-{{ page.id }}"class="govuk-heading-l bottom-margin-5">{{ page }}{% if page.complete_date %}&check;{% endif %}</h2>
                                <p class="govuk-body">
                                    <a href="{% url 'audits:edit-audit-page-checks' page.id %}" class="govuk-link govuk-link--no-visited-state">
                                        Edit test{% if page.complete_date %} <span class="govuk-visually-hidden">complete</span>{% endif %}</a>&nbsp;
                                    {% if page.page_type != 'all-except-pdf' %}
                                        <a href="{% url 'audits:edit-audit-page' page.id %}" class="govuk-link govuk-link--no-visited-state">
                                            Update page details</a>&nbsp;
                                        <a href="{{ page.url }}" class="govuk-link" target="_blank">Visit webpage</a>&nbsp;
                                        <a href="{% url 'audits:delete-page' page.id %}" class="govuk-link govuk-link--no-visited-state">
                                            Remove page</a>
                                    {% endif %}
                                </p>
                            </div>
                        {% endfor %}
                        <div class="govuk-grid-column-full">
                            <h2 id="deleted-pages"class="govuk-heading-l bottom-margin-5">Removed pages</h2>
                            {% if audit.deleted_pages %}
                                <table class="govuk-table">
                                    <tbody class="govuk-table__body">
                                        {% for page in audit.deleted_pages %}
                                            <tr class="govuk-table__row">
                                                <th scope="row" class="govuk-table__header amp-width-one-half">{{ page }}</th>
                                                <td class="govuk-table__cell amp-width-one-half">
                                                    <a href="{% url 'audits:restore-page' page.id %}" class="govuk-link govuk-link--no-visited-state">
                                                        Unremove page</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p class="govuk-body">No removed pages</p>
                            {% endif %}
                        </div>
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_form_snippet.html' %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input type="submit" value="Save" name="save" class="govuk-button" data-module="govuk-button" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/nav_steps.html' with current_page='audits:edit-audit-add-pages' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
