<!DOCTYPE html>

{% extends 'base.html' %}

{% load l10n %}

{% block content %}
<div class="govuk-width-container">
    <a href="{% url 'audits:edit-audit-manual' audit.id audit.next_page.id %}" class="govuk-back-link">Back</a>
    <main id="main-content" class="govuk-main-wrapper no-padding-top">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'audits:edit-audit-axe' audit.id page.id %}">
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            {% include 'common/field_errors.html' with errors=form.next_page.errors %}
                            {{ form.next_page }}
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <div class="govuk-button-group" style="justify-content:flex-end; margin-bottom: 0;">
                                <input
                                    type="submit"
                                    value="Save and change test page"
                                    name="save_change_test_page"
                                    class="govuk-button govuk-button--secondary"
                                    data-module="govuk-button"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <hr style="width:100%;">
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div class="govuk-body" style="padding-top: 35px;">
                                {% if page.type == 'all-except-pdf' %}
                                    <p class="govuk-body">Entered results will be copied to all pages.</p>
                                {% else %}
                                    {% include 'audits/helpers/page_link.html' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {{ check_results_formset.management_form }}
                    <div class="govuk-grid-row">
                        {% for form in check_results_formset %}
                            <div class="govuk-grid-column-full">
                                {% include 'common/amp_form_snippet.html' %}
                            </div>
                            <div class="govuk-grid-column-full govuk-button-group">
                                {% if form.instance.id %}
                                    <input
                                        type="submit"
                                        value="Remove violation"
                                        name="remove_check_result_{{ form.instance.id }}"
                                        class="govuk-button govuk-button--secondary"
                                        data-module="govuk-button" />
                                {% else %}
                                    <input
                                        type="submit"
                                        value="Save and add violation"
                                        name="save_change_test_page"
                                        class="govuk-button govuk-button--secondary"
                                        data-module="govuk-button" />
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <hr style="width:100%;">
                            {% include 'common/amp_field.html' with field=form.audit_axe_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'audits/helpers/save_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/navbar.html' with current_page='audits:edit-audit-axe' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
