{% extends 'cases/base.html' %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'cases/helpers/case_banner.html' with case=retest.simplified_case %}
        </div>
    </div>
    {% include 'audits/helpers/retest_breadcrumbs.html' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "common/helpers/edit_header.html" with retest_header=True %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/equality_body_retest_nav_steps.html' with current_page='audits:edit-equality-body-statement-pages' %}
            </div>
            <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row amp-margin-bottom-30">
                <div class="govuk-grid-column-full">
                    {% if retest.simplified_case.audit.unique_statement_page_urls %}
                        {% for statement_page in retest.simplified_case.audit.unique_statement_page_urls %}
                            <p class="govuk-body-m amp-margin-bottom-0">
                                <b>Statement link #{{ forloop.counter }}</b>
                            </p>
                            <ul class="govuk-list govuk-list--bullet amp-margin-bottom-20">
                                <li>
                                    <a href="{{ statement_page.url }}" class="govuk-link govuk-link--no-visited-state" target="_blank">
                                        {{ statement_page.url }}</a>
                                </li>
                                {% if statement_page.created %}
                                    <li>Added {{ statement_page.created|amp_datetime }}</li>
                                {% else %}
                                    <li>Added 1 January 1970</li>
                                {% endif %}
                                <li>
                                    <a href="{% url 'audits:edit-equality-body-remove-statement-page' retest.id statement_page.id %}" class="govuk-link govuk-link--no-visited-state">
                                        Remove</a>
                                </li>
                            </ul>
                        {% endfor %}
                    {% else %}
                        <p class="govuk-body-m amp-margin-bottom-20">No statement links added</p>
                    {% endif %}
                </div>
            </div>
            {% include "common/messages.html" %}
            <form method="post" action="{% url sitemap.current_platform_page.url_name retest.id %}">
                {% csrf_token %}
                {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                {% include 'common/form_hidden_fields.html' with hidden_fields=statement_link_form.hidden_fields %}
                {% include 'common/amp_field.html' with field=statement_link_form.statement_url %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <input
                            type="submit"
                            value="Save and add another link"
                            name="save"
                            class="govuk-button govuk-button--secondary"
                            data-module="govuk-button" />
                    </div>
                </div>
                {% include 'common/amp_field.html' with field=form.statement_pages_complete_date %}
                {% include 'simplified/helpers/save_continue_cancel.html' %}
            </form>
        </div>
    </main>
</div>
{% endblock %}
