{% extends 'base.html' %}

{% load l10n %}

{% block title %}{{ retest }} | {{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/case_banner.html' with case=retest.case %}
        </div>
    </div>
    {% include 'audits/helpers/retest_breadcrumb.html' with page_heading=sitemap.current_platform_page.get_name %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading=sitemap.current_platform_page.get_name case=retest.case retest_header=True %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/equality_body_retest_nav_steps.html' with current_page='audits:retest-metadata-update' %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <b>
                            <p class="govuk-body-m">
                                Retest continued from
                                {% if retest.previous_retest %}
                                    <a href="{% url 'audits:retest-metadata-update' retest.previous_retest.id %}" class="govuk-link govuk-link--no-visited-state">
                                        {{ retest.previous_retest }}</a>.
                                {% else %}
                                    <a href="{% url 'audits:audit-retest-detail' retest.case.audit.id %}" class="govuk-link govuk-link--no-visited-state">
                                        12-week retest</a>.
                                {% endif %}
                            </p>
                        </b>
                    </div>
                </div>
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'audits:retest-metadata-update' retest.id %}">
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_field.html' with field=form.date_of_retest %}
                            {% include 'common/amp_field.html' with field=form.retest_notes %}
                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>Date of test (initial test)</b></label>
                                <div class="govuk-hint">{{ retest.case.audit.date_of_test|amp_date }}</div>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>Screen size (initial test)</b></label>
                                <div class="govuk-hint">{{ retest.case.audit.get_screen_size_display }}</div>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>Exemptions (initial test)</b></label>
                                <div class="govuk-hint">{{ retest.case.audit.get_exemptions_state_display }}</div>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>Notes (initial test)</b></label>
                                <div class="govuk-hint amp-notes">
                                    {% if retest.case.audit.exemptions_notes %}
                                        {{ retest.case.audit.exemptions_notes|markdown_to_html }}
                                    {% else %}
                                        None
                                    {% endif %}
                                </div>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>Date of retest (12-week retest)</b></label>
                                <div class="govuk-hint">{{ retest.case.audit.date_of_test|amp_date }}</div>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>Notes (12-week retest)</b></label>
                                <div class="govuk-hint amp-notes">
                                    {% if retest.case.audit.audit_retest_metadata_notes %}
                                        {{ retest.case.audit.audit_retest_metadata_notes|markdown_to_html }}
                                    {% else %}
                                        None
                                    {% endif %}
                                </div>
                            </div>
                            {% include 'common/amp_field.html' with field=form.complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Save"
                                name="save"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <input
                                type="submit"
                                value="Save and continue"
                                name="save_continue"
                                class="govuk-button govuk-button--secondary"
                                data-module="govuk-button"
                            />
                            <a
                                href="{% url 'cases:edit-retest-overview' retest.case.id %}"
                                class="govuk-link govuk-link--no-visited-state"
                            >
                                Cancel and return to retest overview
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
