{% extends 'base.html' %}

{% load l10n %}

{% block title %}{{ wcag_audit.equality_body_retest_name }} | {{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'cases/helpers/case_banner.html' with case=wcag_audit.simplified_case %}
        </div>
    </div>
    {% include 'audits/helpers/retest_breadcrumbs.html' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "common/helpers/edit_header.html" with retest_header=True %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/equality_body_retest_nav_steps.html' %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <b>
                            <p class="govuk-body-m">
                                Retest continued from
                                {% if wcag_audit.equality_body_previous_wcag_audit %}
                                    <a href="{% url 'audits:retest-metadata-update' wcag_audit.equality_body_previous_wcag_audit.id %}" class="govuk-link govuk-link--no-visited-state">
                                        {{ wcag_audit.equality_body_previous_wcag_audit.equality_body_retest_name }}</a>.
                                {% elif wcag_audit.simplified_case.audit_overview.first_twelve_week_wcag_audit %}
                                    <a href="{% url 'audits:edit-audit-retest-metadata' wcag_audit.simplified_case.audit_overview.first_twelve_week_wcag_audit.id %}" class="govuk-link govuk-link--no-visited-state">
                                        12-week retest</a>.
                                {% else %}
                                    <a href="{% url 'audits:edit-audit-metadata' wcag_audit.simplified_case.audit_overview.initial_wcag_audit.id %}" class="govuk-link govuk-link--no-visited-state">
                                        12-week retest</a>.
                                {% endif %}
                            </p>
                        </b>
                    </div>
                </div>
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'audits:retest-metadata-update' wcag_audit.id %}">
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_field.html' with field=form.date_of_test %}
                            {% include 'common/amp_field.html' with field=form.notes %}
                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>Date of test (initial test)</b></label>
                                <div class="govuk-hint">{{ initial_wcag_audit.date_of_test|amp_date }}</div>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>Screen size (initial test)</b></label>
                                <div class="govuk-hint">{{ initial_wcag_audit.get_screen_size_display }}</div>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>Exemptions (initial test)</b></label>
                                <div class="govuk-hint">{{ initial_wcag_audit.get_exemptions_state_display }}</div>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>Date of retest (12-week retest)</b></label>
                                <div class="govuk-hint">{{ first_twelve_week_wcag_audit.date_of_test|amp_date }}</div>
                            </div>
                            {% include 'common/amp_field.html' with field=form.metadata_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Save"
                                name="save"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <input
                                type="submit"
                                value="Save and continue"
                                name="save_continue"
                                class="govuk-button govuk-button--secondary"
                                data-module="govuk-button"
                            />
                            <a
                                href="{% url 'simplified:edit-retest-overview' case.id %}"
                                class="govuk-link govuk-link--no-visited-state"
                            >
                                Cancel and return to retest overview
                            </a>
                        </div>
                    </div>
                    {% include 'common/next_platform_page.html' %}
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
