{% extends 'cases/base.html' %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'cases/helpers/case_banner.html' with case=retest.simplified_case %}
        </div>
    </div>
    {% include 'audits/helpers/retest_breadcrumbs.html' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "common/helpers/edit_header.html" with retest_header=True %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/equality_body_retest_nav_steps.html' with current_page='audits:edit-equality-body-statement-backup' %}
            </div>
            <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row amp-margin-bottom-30">
                <div class="govuk-grid-column-full">
                    {% include "audits/helpers/statement_links_backups.html" %}
                </div>
            </div>
            {% include "common/messages.html" %}
            <form method="post" action="{% url sitemap.current_platform_page.url_name retest.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                {% include 'common/form_hidden_fields.html' with hidden_fields=statement_backup_form.hidden_fields %}
                {% include 'common/amp_field.html' with field=statement_backup_form.file_to_upload %}
                {% include 'common/amp_field.html' with field=form.statement_backup_complete_date %}
                {% include 'simplified/helpers/save_continue_cancel.html' %}
            </form>
        </div>
    </main>
</div>
{% endblock %}
