{% extends 'base.html' %}

{% load l10n %}

{% load static %}

{% block title %}{{ retest_page.retest.case.organisation_name }} | {{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/case_banner.html' with case=retest_page.retest.case %}
        </div>
    </div>
    {% include 'audits/helpers/retest_breadcrumb.html' with retest=retest_page.retest page_heading=retest_page %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl amp-margin-bottom-15">{{ sitemap.current_platform_page.get_name }}</h1>
                {% include "cases/helpers/case_title.html" with case=retest_page.retest.case %}
                {% include "cases/helpers/messages.html" %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/equality_body_retest_nav_steps.html' with current_page='audits:edit-retest-page-checks' page_id=retest_page.id retest=retest_page.retest %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                {% if not retest_check_results_formset.forms %}
                    <div class="govuk-grid-row amp-margin-bottom-30">
                        <div class="govuk-grid-column-full">
                            <p class="govuk-body-m">
                                All errors have been fixed in a previous retest.
                            </p>
                        </div>
                    </div>
                {% endif %}
                <form method="post" action="{% url 'audits:edit-retest-page-checks' retest_page.id %}">
                    <div class="govuk-grid-row">
                        {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                        <div class="govuk-grid-column-one-half">
                            {% include 'common/amp_field.html' with field=form.complete_date %}
                        </div>
                        {% if retest_check_results_formset.forms %}
                            <div class="govuk-grid-column-one-half">
                                {% include 'common/amp_field.html' with field=form.missing_date %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <details class="govuk-details" data-module="govuk-details" {% if form.additional_issues_notes.value %}open{% endif %}>
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">Additional issues found on page</span>
                                </summary>
                                <div class="govuk-details__text">
                                    {% for retest_page in form.instance.all_retest_pages %}
                                        {% if retest_page != form.instance %}
                                            <label class="govuk-label amp-margin-bottom-15"><b>{{ retest_page.retest }} additional issues</b></label>
                                            {% if retest_page.additional_issues_notes %}
                                                {{ retest_page.additional_issues_notes|markdown_to_html }}
                                            {% else %}
                                                <p>None</p>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% include 'common/amp_field.html' with field=form.additional_issues_notes %}
                                </div>
                            </details>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Save"
                                name="save"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <input
                                type="submit"
                                value="Save and next page"
                                name="save_continue"
                                class="govuk-button govuk-button--secondary"
                                data-module="govuk-button"
                            />
                            <a href="{{ retest_page.page.url }}" class="govuk-link" target="_blank">
                                Link to {% if retest_page.page.page_type == 'pdf' %}{{ retest_page.page }}{% else %}{{ retest_page.page|lower }}{% endif %}
                            </a>
                            {% if retest_page.page.location %}
                                <p class="govuk-body">{{ retest_page.page.location }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% include 'common/error_summary.html' with formset=retest_check_results_formset %}
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    {{ retest_check_results_formset.management_form }}
                    {% if retest_check_results_formset.forms %}
                        {% for form in retest_check_results_formset %}
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <hr class="amp-width-100 amp-margin-bottom-15">
                                    <label class="govuk-label amp-margin-bottom-15"><b>{{ form.instance.check_result.wcag_definition }}</b></label>
                                    <details class="govuk-details amp-margin-bottom-10" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">Previous test notes</span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            <label class="govuk-label"><b>Initial notes</b></label>
                                            {{ form.instance.check_result.notes|markdown_to_html }}
                                            {% for retest_check_result in form.instance.all_retest_check_results %}
                                                {% if retest_check_result != form.instance %}
                                                    <label class="govuk-label"><b>{{ retest_check_result.retest }} notes</b></label>
                                                    {% if retest_check_result.retest_notes %}
                                                        {{ retest_check_result.retest_notes|markdown_to_html }}
                                                    {% else %}
                                                        <p>None</p>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </details>
                                    {% if form.instance.matching_wcag_retest_check_results %}
                                        <details class="govuk-details" data-module="govuk-details">
                                            <summary class="govuk-details__summary">
                                                <span class="govuk-details__summary-text">Matching errors ({{ form.instance.matching_wcag_retest_check_results.count }})</span>
                                            </summary>
                                            <div class="govuk-details__text">
                                                {% for retest_check_result in form.instance.matching_wcag_retest_check_results %}
                                                    <label class="govuk-label"><b>{{ retest_check_result.retest_page.page }}</b></label>
                                                    <textarea id="{{ form.retest_notes.auto_id }}-{{ forloop.counter }}" hidden>{{ retest_check_result.retest_notes }}</textarea>
                                                    <span tabIndex="0"
                                                        class="amp-control amp-copy-error"
                                                        sourceId="{{ form.retest_notes.auto_id }}-{{ forloop.counter }}"
                                                        targetId="{{ form.retest_notes.auto_id }}">
                                                        Click to populate additional issues</span>
                                                    {{ retest_check_result.retest_notes|markdown_to_html }}
                                                {% endfor %}
                                            </div>
                                        </details>
                                    {% endif %}
                                    <div class="govuk-hint">
                                    </div>
                                    {% include 'common/amp_form_snippet.html' %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block extrascript %}
<script src="{% static 'js/audits_copy_error.js' %}"></script>
{% endblock %}
