{% extends 'base.html' %}

{% load l10n %}

{% block title %}{{ retest }} | {{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/case_banner.html' with case=retest.case %}
        </div>
    </div>
    {% include 'audits/helpers/retest_breadcrumb.html' with page_heading=sitemap.current_platform_page.get_name %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading=sitemap.current_platform_page.get_name case=retest.case retest_header=True %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/equality_body_retest_nav_steps.html' with current_page='audits:retest-comparison-update' %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full govuk-button-group">
                        {% if show_failures_by_wcag %}
                            <a
                                href="?view=Page view&{% if hide_fixed %}hide-fixed=true{% else %}show-all=true{% endif %}"
                                class="govuk-button govuk-button--secondary"
                            >
                                Group by page
                            </a>
                        {% else %}
                            <a
                                href="?view=WCAG view&{% if hide_fixed %}hide-fixed=true{% else %}show-all=true{% endif %}"
                                class="govuk-button govuk-button--secondary"
                            >
                                Group by WCAG
                            </a>
                        {% endif %}
                        {% if hide_fixed %}
                            <a
                                href="?show-all=true&{% if show_failures_by_wcag %}view=WCAG view{% else %}view=Page view{% endif %}"
                                class="govuk-button govuk-button--secondary"
                            >
                                Show all
                            </a>
                        {% else %}
                            <a
                                href="?hide-fixed=true&{% if show_failures_by_wcag %}view=WCAG view{% else %}view=Page view{% endif %}"
                                class="govuk-button govuk-button--secondary"
                            >
                                Hide fixed
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% include 'common/error_summary.html' %}
                {% if show_failures_by_wcag %}
                    {% if missing_pages %}
                        <h2 class="govuk-heading-l">Pages removed by the organisation</h2>
                        {% for retest_page in missing_pages %}
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <h3 class="govuk-heading-m">{{ retest_page.page }}</h3>
                                    <p class="govuk-body-m">
                                        This page has been removed by the organisation.
                                        Update the
                                        <a href="{% url 'audits:edit-retest-page-checks' retest_page.id %}" class="govuk-link govuk-link--no-visited-state amp-margin-bottom-0">
                                            retest page</a>
                                        if this is incorrect.
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <h2 class="govuk-heading-l">Test summary | WCAG view</h2>
                    {% for wcag_definition, retest_check_results in audit_failures_by_wcag.items %}
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <h3 class="govuk-heading-m">{{ wcag_definition.name }}</h3>
                                <p class="govuk-body-m">{{ wcag_definition.description }}</p>
                                <table class="govuk-table">
                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th scope="col" class="govuk-table__header amp-width-one-third">Page</th>
                                            <th scope="row" class="govuk-table__header amp-width-one-third">{{ retest.previous_retest }}</th>
                                            <th scope="row" class="govuk-table__header amp-width-one-third">{{ retest }}</th>
                                        </tr>
                                    </thead>
                                    <tbody class="govuk-table__body">
                                        {% for retest_check_result in retest_check_results %}
                                            <tr class="govuk-table__row">
                                                <td scope="row" class="govuk-table__cell amp-width-one-third">
                                                    <ul class="govuk-list">
                                                        <li>{{ retest_check_result.retest_page.page }}</li>
                                                        <li>
                                                            <a href="{% url 'audits:edit-retest-page-checks' retest_check_result.retest_page.id %}" class="govuk-link govuk-link--no-visited-state amp-margin-bottom-0">
                                                                Edit retest
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ retest_check_result.retest_page.page.url }}" class="govuk-link amp-margin-bottom-0" target="_blank">
                                                                Link to {% if retest_check_result.retest_page.page.page_type == 'pdf' %}{{ retest_check_result.retest_page.page }}{% else %}{{ retest_check_result.retest_page.page|lower }}{% endif %}
                                                            </a>
                                                            {% if retest_check_result.retest_page.page.location %}
                                                                <p class="govuk-body">{{ retest_check_result.retest_page.page.location }}</p>
                                                            {% endif %}
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="govuk-table__cell amp-width-one-third">
                                                    <label class="govuk-label">{{ retest_check_result.previous_retest_check_result.get_retest_state_display }}</label>
                                                    <div class="govuk-hint">{{ retest_check_result.previous_retest_check_result.retest_notes|markdown_to_html }}</div>
                                                </td>
                                                <td class="govuk-table__cell amp-width-one-third">
                                                    <label class="govuk-label">{{ retest_check_result.get_retest_state_display }}</label>
                                                    <div class="govuk-hint">{{ retest_check_result.retest_notes|markdown_to_html }}</div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2 class="govuk-heading-l">Test summary | Page view</h2>
                    {% for retest_page in retest.retestpage_set.all %}
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <h2 class="govuk-heading-l amp-margin-bottom-5">{{ retest_page }}</h2>
                            </div>
                        </div>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full govuk-button-group amp-margin-bottom-5">
                                {% if retest_page.unfixed_check_results %}
                                    <a href="{% url 'audits:edit-retest-page-checks' retest_page.id %}" class="govuk-link govuk-link--no-visited-state amp-margin-bottom-0">
                                        Edit retest
                                    </a>
                                {% endif %}
                                <a href="{{ retest_page.page.url }}" class="govuk-link amp-margin-bottom-0" target="_blank">
                                    Link to {{ retest_page }}
                                </a>
                                {% if retest_page.page.location %}
                                    <p class="govuk-body">{{ retest_page.page.location }}</p>
                                {% endif %}
                            </div>
                        </div>
                        {% if retest_page.missing_date %}
                            <div class="govuk-grid-row amp-margin-bottom-30">
                                <div class="govuk-grid-column-full">
                                    <p class="govuk-body-m">
                                        This page has been removed by the organisation.
                                    </p>
                                </div>
                            </div>
                        {% elif retest_page.all_check_results %}
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full amp-markdown">
                                    {% if hide_fixed %}
                                        {% if retest_page.unfixed_check_results %}
                                            <table class="govuk-table amp-accordion-table">
                                                {% include 'audits/helpers/equality_body_retest_page_comparison_table.html' with retest_check_results=retest_page.unfixed_check_results %}
                                            </table>
                                        {% else %}
                                            <p class="govuk-body-m">No unfixed issues</p>
                                        {% endif %}
                                    {% else %}
                                        <table class="govuk-table amp-accordion-table">
                                            {% include 'audits/helpers/equality_body_retest_page_comparison_table.html' with retest_check_results=retest_page.all_check_results %}
                                        </table>
                                    {% endif %}
                                    <label class="govuk-label amp-margin-bottom-15"><b>Additional issues found</b></label>
                                    {% if retest_page.additional_issues_notes %}
                                        {{ retest_page.additional_issues_notes|markdown_to_html }}
                                    {% else %}
                                        <p>None</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% else %}
                            <div class="govuk-grid-row amp-margin-bottom-30">
                                <div class="govuk-grid-column-full">
                                    <p class="govuk-body-m">
                                        All errors have been fixed in a previous retest.
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <form method="post" action="{% url 'audits:retest-comparison-update' retest.id %}">
                            {% csrf_token %}
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    {% include 'common/amp_form_snippet.html' %}
                                </div>
                                <div class="govuk-grid-column-full govuk-button-group">
                                    <input
                                        type="submit"
                                        value="Save"
                                        name="save"
                                        class="govuk-button"
                                        data-module="govuk-button"
                                    />
                                    <input
                                        type="submit"
                                        value="Save and continue"
                                        name="save_continue"
                                        class="govuk-button govuk-button--secondary"
                                        data-module="govuk-button"
                                    />
                                    <a
                                        href="{% url 'cases:edit-retest-overview' retest.case.id %}"
                                        class="govuk-link govuk-link--no-visited-state"
                                    >
                                        Cancel and return to retest overview
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
