{% extends 'base.html' %}

{% load l10n %}

{% block title %}{{ wcag_audit }} | {{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'cases/helpers/case_banner.html' %}
        </div>
    </div>
    {% include 'audits/helpers/retest_breadcrumbs.html' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "common/helpers/edit_header.html" with retest_header=True %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/equality_body_retest_nav_steps.html' with current_page='audits:retest-comparison-update' %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full govuk-button-group">
                        {% if show_failures_by_wcag %}
                            <a
                                href="?view=Page view&{% if hide_fixed %}hide-fixed=true{% else %}show-all=true{% endif %}"
                                class="govuk-button govuk-button--secondary"
                            >
                                Group by page
                            </a>
                        {% else %}
                            <a
                                href="?view=WCAG view&{% if hide_fixed %}hide-fixed=true{% else %}show-all=true{% endif %}"
                                class="govuk-button govuk-button--secondary"
                            >
                                Group by WCAG
                            </a>
                        {% endif %}
                        {% if hide_fixed %}
                            <a
                                href="?show-all=true&{% if show_failures_by_wcag %}view=WCAG view{% else %}view=Page view{% endif %}"
                                class="govuk-button govuk-button--secondary"
                            >
                                Show all
                            </a>
                        {% else %}
                            <a
                                href="?hide-fixed=true&{% if show_failures_by_wcag %}view=WCAG view{% else %}view=Page view{% endif %}"
                                class="govuk-button govuk-button--secondary"
                            >
                                Hide fixed
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% include 'common/error_summary.html' %}
                {% if show_failures_by_wcag %}
                    {% if missing_pages %}
                        <h2 class="govuk-heading-l">Pages removed by the organisation</h2>
                        {% for wcag_page_retest in missing_pages %}
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <h3 class="govuk-heading-m">{{ wcag_page_retest.page }}</h3>
                                    <p class="govuk-body-m">
                                        This page has been removed by the organisation.
                                        Update the
                                        <a href="{% url 'audits:edit-retest-page-checks' wcag_page_retest.id %}" class="govuk-link govuk-link--no-visited-state amp-margin-bottom-0">
                                            retest page</a>
                                        if this is incorrect.
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <h2 class="govuk-heading-l">Test summary | WCAG view</h2>
                    {% for wcag_definition, wcag_check_result_retests in audit_failures_by_wcag.items %}
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <h3 class="govuk-heading-m">{{ wcag_definition.name }}</h3>
                                <p class="govuk-body-m">{{ wcag_definition.description }}</p>
                                <table class="govuk-table">
                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th scope="col" class="govuk-table__header amp-width-one-third">Page</th>
                                            <th scope="row" class="govuk-table__header amp-width-one-third">{{ wcag_audit.previous_equality_body_retest.ui_name }}</th>
                                            <th scope="row" class="govuk-table__header amp-width-one-third">{{ wcag_audit.ui_name }}</th>
                                        </tr>
                                    </thead>
                                    <tbody class="govuk-table__body">
                                        {% for wcag_check_result_retest in wcag_check_result_retests %}
                                            <tr class="govuk-table__row">
                                                <td scope="row" class="govuk-table__cell amp-width-one-third">
                                                    <ul class="govuk-list">
                                                        <li>{{ wcag_check_result_retest.wcag_page_retest.wcag_page_initial }}</li>
                                                        <li>
                                                            <a href="{% url 'audits:edit-retest-page-checks' wcag_check_result_retest.wcag_page_retest.id %}" class="govuk-link govuk-link--no-visited-state amp-margin-bottom-0">
                                                                Edit retest
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ wcag_check_result_retest.wcag_page_retest.latest_page_url }}" class="govuk-link amp-margin-bottom-0" target="_blank">
                                                                Link to {% if wcag_check_result_retest.wcag_page_retest.wcag_page_initial.page_type == 'pdf' %}{{ wcag_check_result_retest.wcag_page_retest.wcag_page_initial }}{% else %}{{ wcag_check_result_retest.wcag_page_retest.wcag_page_initial|lower }}{% endif %}
                                                            </a>
                                                            {% if wcag_check_result_retest.wcag_page_retest.wcag_page_initial.lattest_page_location %}
                                                                <p class="govuk-body">{{ wcag_check_result_retest.wcag_page_retest.wcag_page_initial.lattest_page_location }}</p>
                                                            {% endif %}
                                                        </li>
                                                        <li>
                                                            {% include 'audits/helpers/issue_identifier.html' with issue=wcag_check_result_retest.wcag_check_result_initial %}
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="govuk-table__cell amp-width-one-third">
                                                    <label class="govuk-label">{{ wcag_check_result_retest.previous_wcag_check_result_retest.get_retest_state_display }}</label>
                                                    <div class="govuk-hint">{{ wcag_check_result_retest.previous_wcag_check_result_retest.notes|markdown_to_html }}</div>
                                                </td>
                                                <td class="govuk-table__cell amp-width-one-third">
                                                    <label class="govuk-label">{{ wcag_check_result_retest.get_retest_state_display }}</label>
                                                    <div class="govuk-hint">{{ wcag_check_result_retest.notes|markdown_to_html }}</div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2 class="govuk-heading-l">Test summary | Page view</h2>
                    {% for wcag_page_retest in wcag_audit.wcag_page_retests %}
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <h2 class="govuk-heading-l amp-margin-bottom-5">{{ wcag_page_retest }}</h2>
                            </div>
                        </div>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full govuk-button-group">
                                {% if wcag_page_retest.unfixed_wcag_check_result_retests %}
                                    <a href="{% url 'audits:edit-retest-page-checks' wcag_page_retest.id %}" class="govuk-link govuk-link--no-visited-state amp-margin-bottom-0">
                                        Edit retest
                                    </a>
                                {% endif %}
                                <a href="{{ wcag_page_retest.latest_page_url }}" class="govuk-link amp-margin-bottom-0" target="_blank">
                                    Link to {{ wcag_page_retest }}
                                </a>
                                {% if wcag_page_retest.latest_page_location %}
                                    <p class="govuk-body">{{ wcag_page_retest.latest_page_location }}</p>
                                {% endif %}
                            </div>
                        </div>
                        {% if wcag_page_retest.page_missing_date %}
                            <div class="govuk-grid-row amp-margin-bottom-30">
                                <div class="govuk-grid-column-full">
                                    <p class="govuk-body-m">
                                        This page has been removed by the organisation.
                                    </p>
                                </div>
                            </div>
                        {% elif wcag_page_retest.all_wcag_check_result_retests %}
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full amp-markdown">
                                    {% if hide_fixed %}
                                        {% if wcag_page_retest.unfixed_wcag_check_result_retests %}
                                            <table class="govuk-table">
                                                {% include 'audits/helpers/equality_body_wcag_page_retest_comparison_table.html' with wcag_check_result_retests=wcag_page_retest.unfixed_wcag_check_result_retests %}
                                            </table>
                                        {% else %}
                                            <p class="govuk-body-m">No unfixed issues</p>
                                        {% endif %}
                                    {% else %}
                                        <table class="govuk-table">
                                            {% include 'audits/helpers/equality_body_wcag_page_retest_comparison_table.html' with wcag_check_result_retests=wcag_page_retest.all_wcag_check_result_retests %}
                                        </table>
                                    {% endif %}
                                    <label class="govuk-label amp-margin-bottom-15"><b>Additional issues found</b></label>
                                    {% if wcag_page_retest.notes %}
                                        {{ wcag_page_retest.notes|markdown_to_html }}
                                    {% else %}
                                        <p>None</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% else %}
                            <div class="govuk-grid-row amp-margin-bottom-30">
                                <div class="govuk-grid-column-full">
                                    <p class="govuk-body-m">
                                        All errors have been fixed in a previous retest.
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <form method="post" action="{% url 'audits:retest-comparison-update' wcag_audit.id %}">
                            {% csrf_token %}
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    {% include 'common/amp_form_snippet.html' %}
                                </div>
                                <div class="govuk-grid-column-full govuk-button-group">
                                    <input
                                        type="submit"
                                        value="Save"
                                        name="save"
                                        class="govuk-button"
                                        data-module="govuk-button"
                                    />
                                    <input
                                        type="submit"
                                        value="Save and continue"
                                        name="save_continue"
                                        class="govuk-button govuk-button--secondary"
                                        data-module="govuk-button"
                                    />
                                    <a
                                        href="{% url 'simplified:edit-retest-overview' case.id %}"
                                        class="govuk-link govuk-link--no-visited-state"
                                    >
                                        Cancel and return to retest overview
                                    </a>
                                </div>
                            </div>
                            {% include 'common/next_platform_page.html' %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
