{% extends 'base.html' %}

{% load l10n %}

{% block title %}{{ retest }} | {{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'cases/helpers/case_banner.html' with case=retest.simplified_case %}
        </div>
    </div>
    {% include 'audits/helpers/retest_breadcrumb.html' with page_heading=sitemap.current_platform_page.get_name %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "simplified/helpers/edit_header.html" with retest_header=True %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/equality_body_retest_nav_steps.html' with current_page='audits:retest-compliance-update' %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <form method="post" action="{% url 'audits:retest-compliance-update' retest.id %}">
                            {% csrf_token %}
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    {% include 'common/amp_form_snippet.html' %}
                                </div>
                                <div class="govuk-grid-column-full govuk-button-group">
                                    <input
                                        type="submit"
                                        value="Save"
                                        name="save"
                                        class="govuk-button"
                                        data-module="govuk-button"
                                    />
                                    <input
                                        type="submit"
                                        value="Save and continue"
                                        name="save_continue"
                                        class="govuk-button govuk-button--secondary"
                                        data-module="govuk-button"
                                    />
                                    <a
                                        href="{% url 'simplified:edit-retest-overview' retest.simplified_case.id %}"
                                        class="govuk-link govuk-link--no-visited-state"
                                    >
                                        Cancel and return to retest overview
                                    </a>
                                </div>
                            </div>
                            {% include 'common/next_platform_page.html' %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
