{% extends 'common/case_form.html' %}

{% block preform %}
<p class="govuk-body amp-margin-bottom-5"><b>Statement link</b></p>
<p class="govuk-body">
    <a href="{{ statement_page.url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
        {{ statement_page.url }}</a>
</p>
<p class="govuk-body amp-margin-bottom-5"><b>Added</b></p>
{% if statement_page.created %}
    <p class="govuk-body">{{ statement_page.created|amp_datetime }}</p>
{% else %}
    <p class="govuk-body">1 January 1970</p>
{% endif %}
{% endblock %}

{% block formbuttons %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-button-group">
        <input
            type="submit"
            value="Remove and return"
            name="delete"
            class="govuk-button govuk-button--warning"
            data-module="govuk-button"
        />
        <a
            href="{% url 'audits:edit-statement-pages' statement_page.audit.id %}"
            class="govuk-link govuk-link--no-visited-state"
        >
            Cancel and return
        </a>
    </div>
</div>
{% endblock %}
