{% extends 'common/case_form.html' %}

{% block preform %}
<div class="govuk-grid-row amp-margin-bottom-30">
    <div class="govuk-grid-column-full">
        {% if case.unique_statement_page_urls %}
            {% for statement_page in case.unique_statement_page_urls %}
                <p class="govuk-body-m amp-margin-bottom-0">
                    <b>Statement link #{{ forloop.counter }}</b>
                </p>
                <ul class="govuk-list govuk-list--bullet amp-margin-bottom-20">
                    {% include 'audits/helpers/statement_page_url_and_added.html' %}
                    <li>
                        <a href="{% url 'audits:initial-remove-statement-page' statement_page.id %}" class="govuk-link govuk-link--no-visited-state">
                            Remove</a>
                    </li>
                </ul>
            {% endfor %}
        {% else %}
            <p class="govuk-body-m amp-margin-bottom-20">No statement links added</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block form %}
    {% include "common/messages.html" %}
    <form method="post" action="{% url sitemap.current_platform_page.url_name statement_audit.id %}">
        {% csrf_token %}
        {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
        {% include 'common/form_hidden_fields.html' with hidden_fields=statement_link_form.hidden_fields %}
        {% include 'common/amp_field.html' with field=statement_link_form.statement_url %}
        {% include 'audits/helpers/save_and_add_another_button.html' %}
        {% include 'common/amp_field.html' with field=form.pages_complete_date %}
        {% include 'simplified/helpers/save_continue_cancel.html' %}
    </form>
{% endblock %}
