{% extends 'base.html' %}

{% load l10n %}

{% load static %}

{% block title %}{{ page.audit.case.organisation_name }} | Testing {{ page }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' page.audit.case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'audits:audit-detail' page.audit.id %}">Test</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Testing {{ page }}
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl amp-margin-bottom-15">Testing {{ page }}</h1>
                {% include "cases/helpers/case_title.html" with case=page.audit.case %}
                {% include "cases/helpers/messages.html" %}
            </div>
        </div>
        {% include 'reports/helpers/pending_unpublished_rebuild_notification.html' with case=page.audit.case %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-fieldset__heading">Search WCAG error</h2>
                    </legend>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <h2 class="govuk-heading-m" id="number_of_errors">Showing {{ definitions_forms_errors|length }} errors</h2>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_field.html' with field=filter_form.name %}
                        </div>
                    </div>
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Show advanced filters
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    {% include 'common/amp_field.html' with field=filter_form.type_filter %}
                                </div>
                            </div>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    {% include 'common/amp_field.html' with field=filter_form.state_filter %}
                                </div>
                            </div>
                        </div>
                    </details>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Clear search form"
                                name="clear"
                                class="govuk-button govuk-button--secondary"
                                data-module="govuk-button"
                                id="clear_search_form"
                            />
                        </div>
                    </div>
                </fieldset>
                <form method="post" action="{% url 'audits:edit-audit-page-checks' page.id %}">
                    <div class="govuk-grid-row">
                        {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                        <div class="govuk-grid-column-one-half">
                            {% include 'common/amp_field.html' with field=form.complete_date %}
                        </div>
                        <div class="govuk-grid-column-one-half">
                            {% include 'common/amp_field.html' with field=form.no_errors_date %}
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Save"
                                name="save"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <input
                                type="submit"
                                value="Save and next page"
                                name="save_continue"
                                class="govuk-button govuk-button--secondary"
                                data-module="govuk-button"
                            />
                            {% if page and page.page_type != 'all-except-pdf' %}
                                <a href="{{ page.url }}" class="govuk-link" target="_blank">
                                    Link to {% if page.page_type == 'pdf' %}{{ page }}{% else %}{{ page|lower }}{% endif %}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    {% include 'common/error_summary.html' %}
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    {{ check_results_formset.management_form }}
                    {% for wcag_definition, form, matching_issues in definitions_forms_errors %}
                        <div class="govuk-grid-row"
                            data-check-type="{{ wcag_definition.type }}"
                            data-filter-string="{{wcag_definition.name}} {{wcag_definition.description}}"
                        >
                            <div class="govuk-grid-column-full">
                                <hr class="amp-width-100">
                                {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                                {% include 'common/amp_field.html' with field=form.check_result_state %}
                                {% if matching_issues %}
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">
                                                Matching errors
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            <ul class="govuk-list govuk-list--bullet amp-margin-bottom-10">
                                            {% for issue in matching_issues %}
                                                <li>
                                                    <b>{{ issue.page }}</b>
                                                    <textarea id="{{ form.notes.auto_id }}-{{ forloop.counter }}" hidden>{{ issue.notes }}</textarea>
                                                    <span tabIndex="0"
                                                        class="amp-control amp-copy-error"
                                                        sourceId="{{ form.notes.auto_id }}-{{ forloop.counter }}"
                                                        targetId="{{ form.notes.auto_id }}">
                                                        Click to populate error details</span>
                                                    {{ issue.notes|markdown_to_html }}
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </details>
                                {% endif %}
                                {% include 'common/amp_field.html' with field=form.notes %}
                                {% include 'common/preview_markdown.html' with field_id=form.notes.auto_id %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <hr class="amp-width-100">
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Save"
                                name="save"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <input
                                type="submit"
                                value="Save and next page"
                                name="save_continue"
                                class="govuk-button govuk-button--secondary"
                                data-module="govuk-button"
                            />
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/nav_steps.html' with current_page='audits:edit-audit-page-checks' page_id=page.id audit=page.audit %}
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block extrascript %}
<script src="{% static 'js/audits_check_filter.js' %}"></script>
<script src="{% static 'js/audits_copy_error.js' %}"></script>
<script src="{% static 'js/markdown_preview.js' %}"></script>
{% endblock %}
