<!DOCTYPE html>

{% extends 'base.html' %}

{% load l10n %}

{% load common_tags %}

{% block title %}{{ audit.case.organisation_name }} | Edit test | Pages{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <a href="{% url 'audits:edit-audit-metadata' audit.id %}" class="govuk-back-link">Back</a>
    <main id="main-content" class="govuk-main-wrapper no-padding-top">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='Edit test | Pages' case=audit.case %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'audits:edit-audit-pages' audit.id %}">
                    {% csrf_token %}
                    {{ standard_pages_formset.management_form }}
                    {{ extra_pages_formset.management_form }}

                    <table class="govuk-table">
                        <tbody class="govuk-table__body">
                        {% for page_form in standard_pages_formset %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-full">
                                            <h2 class="govuk-heading-m">
                                                {{ standard_page_headers|list_item_by_index:forloop.counter0 }}
                                            </h2>
                                            {% include 'common/form_errors.html' with errors=page_form.non_field_errors %}
                                            {% include 'common/form_hidden_fields.html' with hidden_fields=page_form.hidden_fields %}
                                            {% for field in page_form.visible_fields %}
                                                {% include 'common/amp_field.html' %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for page_form in extra_pages_formset %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-full">
                                            <h2 id="extra-page-{{ forloop.counter }}" class="govuk-heading-m">Page {{ forloop.counter }}</h2>
                                            {% include 'common/form_errors.html' with errors=page_form.non_field_errors %}
                                            {% include 'common/form_hidden_fields.html' with hidden_fields=page_form.hidden_fields %}
                                            {% for field in page_form.visible_fields %}
                                                {% include 'common/amp_field.html' %}
                                            {% endfor %}
                                        </div>
                                        {% if page_form.instance.id %}
                                            <div class="govuk-grid-column-full">
                                                <input
                                                    type="submit"
                                                    value="Remove page"
                                                    name="remove_extra_page_{{ page_form.instance.id }}"
                                                    class="govuk-button govuk-button--secondary"
                                                    data-module="govuk-button" />
                                            </div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <input
                        type="submit"
                        value="Save and create additional page"
                        name="add_extra"
                        class="govuk-button govuk-button--secondary"
                        data-module="govuk-button"
                    />
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_form_snippet.html' %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'audits/helpers/save_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/nav_steps.html' with current_page='audits:edit-audit-pages' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
