<!DOCTYPE html>

{% extends 'base.html' %}

{% load l10n %}

{% block title %}{{ audit.case.organisation_name }} | Edit test | {% if page %}Edit page details{% else %}Add page{% endif %}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' audit.case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'audits:audit-detail' audit.id %}">Test</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'audits:edit-audit-website' audit.id %}">Edit test | Website test</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Edit test | {% if page %}Edit page details{% else %}Add page{% endif %}
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper no-padding-top">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% if page %}
                {% include "cases/helpers/edit_header.html" with page_heading='Edit test | Edit page details' case=audit.case %}
                {% else %}
                {% include "cases/helpers/edit_header.html" with page_heading='Edit test | Add page' case=audit.case %}
                {% endif %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                {% if page %}
                <form method="post" action="{% url 'audits:edit-audit-page' page.id %}">
                {% else %}
                <form method="post" action="{% url 'audits:edit-audit-create-page' audit.id %}">
                    {% endif %}
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_form_snippet.html' %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Save and return"
                                name="save_return"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <a
                                href="{% url 'audits:edit-audit-website' audit.id %}"
                                class="govuk-link govuk-link--no-visited-state"
                            >
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
            </div>
        </div>
    </main>
</div>
{% endblock %}
