{% extends 'common/case_form.html' %}

{% load static %}

{% block preform %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-m amp-margin-bottom-5">
            {{ page.page_title }} link:
            {% if page.url %}
                <a href="{{ page.url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                    Open page in new tab</a>
            {% else %}
                None
            {% endif %}
        </p>
        <p class="govuk-body-m">
            Page location:
            {% if page.location %}
                {{ page.location }}
            {% else %}
                N/A
            {% endif %}
        </p>
    </div>
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body-m amp-margin-bottom-0">
            <a href="#save-and-continue-buttons" class="govuk-link govuk-link--no-visited-state">Go to save and continue</a>
        </p>
    </div>
</div>
{% include 'audits/helpers/page_check_filters.html' with page='test' %}
{% endblock %}

{% block form %}
<form method="post" action="{% url 'audits:edit-audit-page-checks' page.id %}">
    <div class="govuk-grid-row">
        {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
        <div class="govuk-grid-column-full">
            {% include 'common/amp_field.html' with field=form.no_errors_date %}
        </div>
    </div>
    {% include 'common/formset_error_summary.html' with formset=check_results_formset %}
    {% csrf_token %}
    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
    {{ check_results_formset.management_form }}
    {% for wcag_definition, form, matching_issues in definitions_forms_errors %}
        <div class="govuk-grid-row"
            data-check-type="{{ wcag_definition.type }}"
            data-filter-string="{{ form.check_result_state.label }}"
        >
            <div class="govuk-grid-column-full">
                <hr class="amp-width-100 amp-margin-bottom-30">
                {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                {% include 'audits/helpers/amp_wcag_state_field.html' with field=form.check_result_state %}
                {% if matching_issues %}
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Matching errors
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <ul class="govuk-list govuk-list--bullet amp-margin-bottom-10">
                            {% for issue in matching_issues %}
                                <li>
                                    <b>{{ issue.page }}</b>
                                    <textarea id="{{ form.notes.auto_id }}-{{ forloop.counter }}" hidden>{{ issue.notes }}</textarea>
                                    <span tabIndex="0"
                                        class="amp-control amp-copy-error"
                                        sourceId="{{ form.notes.auto_id }}-{{ forloop.counter }}"
                                        targetId="{{ form.notes.auto_id }}">
                                        Click to populate error details</span>
                                    {{ issue.notes|markdown_to_html }}
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </details>
                {% endif %}
                {% include 'common/amp_field.html' with field=form.notes %}
                {% include 'common/preview_markdown.html' with field_id=form.notes.auto_id %}
                <div class="govuk-grid-row amp-margin-bottom-20 amp-margin-top-20">
                    <div class="govuk-grid-column-full govuk-button-group">
                        {% include 'common/back_to_top.html' %}
                        <a href="#save-and-continue-buttons" class="govuk-link govuk-link--no-visited-state">Go to save and continue</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <hr id="save-and-continue-buttons" class="amp-width-100 amp-margin-bottom-30">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/amp_field.html' with field=form.complete_date %}
        </div>
    </div>
    {% include 'cases/helpers/save_continue_cancel.html' %}
</form>
{% endblock %}

{% block extrascript %}
<script src="{% static 'js/audits_check_filter.js' %}"></script>
<script src="{% static 'js/audits_copy_error.js' %}"></script>
<script src="{% static 'js/markdown_preview.js' %}"></script>
{% endblock %}
