{% extends 'base.html' %}

{% load l10n %}

{% block title %}{{ audit.case.organisation_name }} | {{ amp_page_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/case_banner.html' with case=audit.case %}
        </div>
    </div>
    {% include 'audits/helpers/breadcrumb_audit.html' with page_heading=amp_page_name %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include "cases/helpers/case_nav.html" %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                {% include "cases/helpers/edit_header.html" with page_heading=amp_page_name case=audit.case %}
                <h2 class="govuk-heading-l">Report text</h2>
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'audits:edit-audit-report-options' audit.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}

                            {% include 'common/amp_field.html' with field=form.archive_accessibility_statement_state %}
                            {% include 'common/amp_field.html' with field=form.archive_accessibility_statement_not_correct_format %}
                            {% include 'common/amp_field.html' with field=form.archive_accessibility_statement_not_specific_enough %}
                            {% include 'common/amp_field.html' with field=form.archive_accessibility_statement_missing_accessibility_issues %}
                            {% include 'common/amp_field.html' with field=form.archive_accessibility_statement_missing_mandatory_wording %}
                            <details class="govuk-details" data-module="govuk-details" {% if form.archive_accessibility_statement_missing_mandatory_wording_notes.value %}open{% endif %}>
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">Add additional text for mandatory wording</span>
                                </summary>
                                <div class="govuk-details__text">
                                    {% include 'common/amp_field.html' with field=form.archive_accessibility_statement_missing_mandatory_wording_notes %}
                                </div>
                            </details>
                            {% include 'common/amp_field.html' with field=form.archive_accessibility_statement_needs_more_re_disproportionate %}
                            {% include 'common/amp_field.html' with field=form.archive_accessibility_statement_needs_more_re_accessibility %}
                            {% include 'common/amp_field.html' with field=form.archive_accessibility_statement_deadline_not_complete %}
                            <details class="govuk-details" data-module="govuk-details" {% if form.archive_accessibility_statement_deadline_not_complete.value == 'yes' %}open{% endif %}>
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">Amend wording for missed deadline</span>
                                </summary>
                                <div class="govuk-details__text">
                                    {% include 'common/amp_field.html' with field=form.archive_accessibility_statement_deadline_not_complete_wording %}
                                </div>
                            </details>
                            {% include 'common/amp_field.html' with field=form.archive_accessibility_statement_deadline_not_sufficient %}
                            <details class="govuk-details" data-module="govuk-details" {% if form.archive_accessibility_statement_deadline_not_sufficient.value == 'yes' %}open{% endif %}>
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">Amend wording for insufficient deadline</span>
                                </summary>
                                <div class="govuk-details__text">
                                    {% include 'common/amp_field.html' with field=form.archive_accessibility_statement_deadline_not_sufficient_wording %}
                                </div>
                            </details>
                            {% include 'common/amp_field.html' with field=form.archive_accessibility_statement_out_of_date %}
                            {% include 'common/amp_field.html' with field=form.archive_accessibility_statement_eass_link %}
                            {% include 'common/amp_field.html' with field=form.archive_accessibility_statement_template_update %}
                            {% include 'common/amp_field.html' with field=form.archive_accessibility_statement_accessible %}
                            {% include 'common/amp_field.html' with field=form.archive_accessibility_statement_prominent %}
                            {% include 'common/amp_field.html' with field=form.archive_accessibility_statement_report_text_wording %}
                            {% include 'common/amp_field.html' with field=form.archive_report_options_next %}
                            <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Report text preview
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <p class="govuk-body">
                                        You should fix the issues that were found and do your own accessibility
                                        audit to check for issues that go beyond the scope of simple accessibility testing.
                                    </p>
                                    <p class="govuk-body"><b>Or</b></p>
                                    <p class="govuk-body">
                                            You should do your own accessibility audit to check for issues that go beyond
                                        the scope of simple accessibility testing.
                                    </p>
                                </div>
                            </details>

                            <p class="govuk-body">Then choose all options which apply</p>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-half">
                                    {% include 'common/amp_field.html' with field=form.archive_report_next_change_statement %}
                                </div>
                                <div class="govuk-grid-column-one-half">
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">
                                                Report text preview
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            You need to review your accessibility statement to cover the issues found
                                            in this report and any others found during your own audit.
                                        </div>
                                    </details>
                                </div>
                            </div>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-half">
                                    {% include 'common/amp_field.html' with field=form.archive_report_next_no_statement %}
                                </div>
                                <div class="govuk-grid-column-one-half">
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">
                                                Report text preview
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            You need to write and publish an accessibility statement that
                                            meets the required legislative format.
                                        </div>
                                    </details>
                                </div>
                            </div>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-half">
                                    {% include 'common/amp_field.html' with field=form.archive_report_next_statement_not_right %}
                                </div>
                                <div class="govuk-grid-column-one-half">
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">
                                                Report text preview
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            You need to review your accessibility statement to cover the
                                            issues found in this report, including ones related to your
                                            accessibility statement, and any other accessibility issues
                                            found during your own site audit.
                                        </div>
                                    </details>
                                </div>
                            </div>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-half">
                                    {% include 'common/amp_field.html' with field=form.archive_report_next_statement_matches %}
                                </div>
                                <div class="govuk-grid-column-one-half">
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">
                                                Report text preview
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            You need to review your accessibility statement to cover any other issues
                                            found during your own audit.
                                        </div>
                                    </details>
                                </div>
                            </div>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-half">
                                    {% include 'common/amp_field.html' with field=form.archive_report_next_disproportionate_burden %}
                                </div>
                                <div class="govuk-grid-column-one-half">
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">
                                                Report text preview
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            A disproportionate burden assessment must have been completed before adding
                                            this section to your accessibility statement. You need to send evidence of
                                            the assessment to us for review.
                                        </div>
                                    </details>
                                </div>
                            </div>

                            {% include 'common/amp_field.html' with field=form.archive_report_options_notes %}
                            {% include 'common/amp_field.html' with field=form.archive_audit_report_options_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'audits/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
