<!DOCTYPE html>

{% extends 'base.html' %}

{% load l10n %}

{% block content %}
<div class="govuk-width-container">
    <a href="{% url 'audits:edit-audit-report-options' case.id audit.id %}" class="govuk-back-link">Back</a>
    <main id="main-content" class="govuk-main-wrapper no-padding-top">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" action="{% url 'audits:edit-audit-report-text' case.id audit.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_form_snippet.html' %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Save and exit"
                                name="save_exit"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <a
                                href="{% url 'audits:audit-detail' case.id audit.id %}"
                                class="govuk-link govuk-link--no-visited-state"
                            >
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/navbar.html' with current_page='audits:edit-audit-report-text' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
