{% extends 'base.html' %}

{% load l10n %}

{% load common_tags %}

{% load static %}

{% block title %}{{ audit.case.organisation_name }} | Report text{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' audit.case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'audits:audit-detail' audit.id %}">Test</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Report text
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper no-padding-top">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='Report text' case=audit.case %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                        This is the end of the testing process. Return to
                        <a href="{% url 'cases:edit-test-results' audit.case.id %}" class="govuk-link govuk-link--no-visited-state">
                            Case > Testing details</a>
                    </strong>
                </div>
                <h1 class="govuk-heading-l">Report text</h1>
                    <div id="report-text">
                    <img
                        src="{% static 'assets/cddo-co-logo-smallest.png' %}"
                        style="padding-bottom:10px;"
                        alt="Logos of Central Digital and Data Office and Cabinet Office"
                    />
                    <p>Date: {{ audit.date_of_test|date:"d F Y" }}</p>
                    <p>
                        Website:
                        <a
                            href="{{ audit.case.home_page_url }}"
                            style="font-family:arial,sans-serif;color:#00f;text-decoration:underline;"
                            rel="noopener noreferrer"
                            target="_blank">{{ audit.case.home_page_url }}</a>
                    </p>

                    <p>
                        Website accessibility regulations came into force on 23 September 2018.
                        The regulations mean that public sector bodies now have a legal obligation
                        to meet accessibility requirements for their websites.
                    </p>

                    <p>
                        To check how well the public sector are meeting the requirements,
                        the Central Digital and Data Office (part of the Cabinet Office)
                        has been monitoring a sample of public sector websites.
                    </p>

                    <p>
                        You’ve been sent this report because
                        <a href="{{ audit.case.home_page_url }}" style="font-family:arial,sans-serif;color:#00f;text-decoration:underline;" rel="noopener noreferrer" target="_blank">{{ audit.case.home_page_url }}</a>
                        is one of the websites we’ve monitored. This document explains:
                    </p>

                    <ul>
                        <li>which parts of your website we looked at</li>
                        <li>how we checked the accessibility of those pages</li>
                        <li>the accessibility issues found and how important they are</li>
                        <li>what you need to do next to fix the issues</li>
                    </ul>

                    <p>
                        You can
                        <a href="http://gov.uk/accessibility-regulations" style="font-family:arial,sans-serif;color:#00f;text-decoration:underline;" rel="noopener noreferrer" target="_blank">
                            read more about the web accessibility regulations</a>.
                    </p>

                    <h1>How accessible the website is</h1>

                    <p>
                        We checked
                        <a href="{{ audit.case.home_page_url }}" style="font-family:arial,sans-serif;color:#00f;text-decoration:underline;" rel="noopener noreferrer" target="_blank">{{audit.case.home_page_url }}</a>
                        on
                        {{ audit.date_of_test|date:"d F Y" }}
                        against the Web Content Accessibility Guidelines (WCAG) 2.1 AA standard:
                        <a href="https://www.w3.org/TR/WCAG21/" style="font-family:arial,sans-serif;color:#00f;text-decoration:underline;" rel="noopener noreferrer" target="_blank">
                            https://www.w3.org/TR/WCAG21/</a>.
                    </p>

                    <p>
                        Based on our testing, this site is partially compliant with WCAG 2.1 AA.
                        This means there are some things which are not fully accessible.
                    </p>

                    <h1>How we checked</h1>

                    <p>
                        We use a mixture of simple manual checks and automated tests to find
                        only the most common barriers to users with accessibility needs.
                        We would expect your organisation to fully audit the website to find
                        any other accessibility issues.
                    </p>

                    <p>
                        Manual checks included using each page without a mouse, viewing the page
                        at different zoom settings, and simulating viewing the page on a small screen.
                    </p>

                    <p>
                        The automated tests were completed using the latest version of axe:
                        <a href="https://www.deque.com/axe/" style="font-family:arial,sans-serif;color:#00f;text-decoration:underline;" rel="noopener noreferrer" target="_blank">
                            https://www.deque.com/axe/</a>.
                    </p>

                    <p>
                        Tests were completed using different settings in the Google Chrome browser
                        on Mac OSX with a {{ audit.get_screen_size_display }} screen.
                    </p>

                    <h1>Pages we checked</h1>

                    <table id="urls-to-copy" caption="Names and URLs of pages we checked">
                        <thead>
                            <tr>
                                <th id="name" style="font-family:arial,sans-serif;color:#ffffff;background-color:#1A5293;">Page Name</th>
                                <th id="url" style="font-family:arial,sans-serif;color:#ffffff;background-color:#1A5293;">URL</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for page in audit.testable_pages %}
                                <tr>
                                    <td headers="name" style="font-family:arial,sans-serif;">{{ page }}</td>
                                    <td headers="url" style="font-family:arial,sans-serif;"><a href="{{ page.url }}" style="font-family:arial,sans-serif;color:#00f;text-decoration:underline;" rel="noopener noreferrer" target="_blank">
                                        {{ page.url }}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <h1>The issues we found</h1>

                    <p>
                        Only serious accessibility issues on the sample of pages we tested
                        are listed in this report – these will cause problems for users with
                        access needs when using your website. There are likely to be smaller
                        errors which will make things more difficult for some users.
                        You must carry out your own audit to find and fix issues on other pages.
                    </p>

                    <h2>Issues</h2>

                    <p>
                        The following errors were found.
                    </p>

                    <table id="issues-to-copy" caption="Issues we found">
                        <thead>
                            <tr>
                                <th id="issue" style="width:50%;font-family:arial,sans-serif;color:#ffffff;background-color:#1A5293;">Issue and description</th>
                                <th id="location" style="width:50%;font-family:arial,sans-serif;color:#ffffff;background-color:#1A5293;">Where the issue was found</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for check_result in audit.failed_check_results %}
                                <tr>
                                    <td headers="issue" style="font-family:arial,sans-serif;">
                                        <p>
                                            {% if check_result.wcag_definition.url_on_w3 %}
                                                <a href="{{ check_result.wcag_definition.url_on_w3 }}" style="font-family:arial,sans-serif;color:#00f;text-decoration:underline;" rel="noopener noreferrer" target="_blank">
                                                    {{ check_result.wcag_definition.name }}</a>
                                            {% else %}
                                                {{ check_result.wcag_definition.name }}
                                            {% endif %}
                                        </p>
                                        {{ check_result.wcag_definition.report_boilerplate|markdown_to_html }}
                                    </td>
                                    <td headers="location" style="font-family:arial,sans-serif;">
                                        <p>{{ check_result.page }}</p>
                                        <ul><li>{{ check_result.notes|markdown_to_html }}</li></ul>
                                    </td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>

                    <h1>Accessibility statement</h1>

                    <p>As part of the regulations you must publish an accessibility statement.</p>

                    <p>{{ audit.get_accessibility_statement_state_display }}</p>
                    {% if audit.accessibility_statement_state == 'found-but' %}
                        <ul>
                            {% for issue in audit.report_accessibility_issues %}
                                <li>{{ issue }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <p>
                        More information about accessibility statements can be found at:
                        <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps" style="font-family:arial,sans-serif;color:#00f;text-decoration:underline;" rel="noopener noreferrer" target="_blank">
                            https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps</a>.
                    </p>

                    <p>
                        A sample statement can be found at:
                        <a href="https://www.gov.uk/government/publications/sample-accessibility-statement" style="font-family:arial,sans-serif;color:#00f;text-decoration:underline;" rel="noopener noreferrer" target="_blank">
                            https://www.gov.uk/government/publications/sample-accessibility-statement</a>.
                    </p>

                    <h1>What to do next</h1>

                    <p>
                        It is a requirement of The Public Sector Bodies (Websites and Mobile Applications) (No. 2)
                        Accessibility Regulations 2018 that public sector websites are accessible.
                    </p>

                    <p>
                        {% if audit.report_options_next == 'errors' %}
                            You should fix the issues that were found and do your own accessibility audit
                            to check for issues that go beyond the scope of simple accessibility testing.
                        {% else %}
                            You should do your own accessibility audit to check for issues that go beyond
                            the scope of simple accessibility testing.
                        {% endif %}
                    </p>
                    {% if audit.report_next_change_statement == 'yes' %}
                        <p>
                            You need to review your accessibility statement to cover the issues found in
                            this report and any others found during your own audit.
                        </p>
                    {% endif %}
                    {% if audit.report_next_no_statement == 'yes' %}
                        <p>
                            You need to write and publish an accessibility statement that meets the required
                            legislative format.
                        </p>
                    {% endif %}
                    {% if audit.report_next_statement_not_right == 'yes' %}
                        <p>
                            You need to review your accessibility statement to cover the issues found in this report,
                            including ones related to your accessibility statement, and any other accessibility issues
                            found during your own site audit.
                        </p>
                    {% endif %}
                    {% if audit.report_next_statement_matches == 'yes' %}
                        <p>
                            You need to review your accessibility statement to cover any other issues found during your
                            own audit.
                        </p>
                    {% endif %}
                    {% if audit.report_next_disproportionate_burden == 'yes' %}
                        <p>
                            A disproportionate burden assessment must have been completed before adding this section to
                            your accessibility statement. You need to send evidence of the assessment to us for review.
                        </p>
                    {% endif %}

                    <h1>Enforcement</h1>

                    <p>
                        On behalf of the Minister for the Cabinet Office we provide the Equality and Human Rights Commission (EHRC)
                        or Equality Commission for Northern Ireland (ECNI) with details about public sector bodies who have
                        been monitored. If accessibility issues remain after giving you time to fix them, the EHRC or ECNI
                        may take further action.
                    </p>

                    <p>
                        Public sector bodies must publish an accessibility statement and review it regularly.
                        If the decision is taken that a public sector body has failed to publish an accessibility
                        statement or that the accessibility statement is incorrect, the Minister for the Cabinet
                        Office may publish the name of the body and a copy of the decision.
                    </p>

                    <p>
                        The enforcement process can be found at
                        <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps#how-the-accessibility-regulations-will-be-monitored-and-enforced" style="font-family:arial,sans-serif;color:#00f;text-decoration:underline;" rel="noopener noreferrer" target="_blank">
                        https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps#how-the-accessibility-regulations-will-be-monitored-and-enforced</a>.
                    </p>

                    <h1>Contact and more information</h1>

                    <p>
                        This test was conducted by the Central Digital and Data Office on behalf of the
                        Minister of the Cabinet Office as part of their obligations to monitor the accessibility
                        of public sector websites in the United Kingdom.
                    </p>

                    <p>
                        As the monitoring body we cannot offer specific advice on approaches or general accessibility
                        queries other than questions directly related to the items in this report.
                    </p>

                    <p>
                        Any questions about this report can be sent to
                        <a href="mailto:accessibility-monitoring@digital.cabinet-office.gov.uk" style="font-family:arial,sans-serif;color:#00f;text-decoration:underline;" rel="noopener noreferrer" target="_blank">
                            accessibility-monitoring@digital.cabinet-office.gov.uk</a>.
                    </p>

                    <p>
                        Further information on guidance and tools for digital accessibility can be found at:
                        <a href="https://www.gov.uk/guidance/guidance-and-tools-for-digital-accessibility" style="font-family:arial,sans-serif;color:#00f;text-decoration:underline;" rel="noopener noreferrer" target="_blank">
                            https://www.gov.uk/guidance/guidance-and-tools-for-digital-accessibility</a>.
                    </p>

                    <p>
                        Help with accessibility auditing and publishing an accessibility statement can be found at
                        <a href="https://www.gov.uk/guidance/make-your-website-or-app-accessible-and-publish-an-accessibility-statement" style="font-family:arial,sans-serif;color:#00f;text-decoration:underline;" rel="noopener noreferrer" target="_blank">
                            https://www.gov.uk/guidance/make-your-website-or-app-accessible-and-publish-an-accessibility-statement</a>.
                    </p>
                </div>

                <form method="post" action="{% url 'audits:edit-audit-report-text' audit.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_form_snippet.html' %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Save"
                                name="save"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <input
                                type="submit"
                                value="Save and exit"
                                name="save_exit"
                                class="govuk-button govuk-button--secondary"
                                data-module="govuk-button"
                            />
                            <a
                                href="{% url 'audits:audit-detail' audit.id %}"
                                class="govuk-link govuk-link--no-visited-state"
                            >
                                Cancel and return to test view
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                <button
                    id="copy-report-to-clipboard"
                    class="govuk-button govuk-button--secondary"
                >
                    Copy report to clipboard
                </button>
                {% include 'audits/helpers/nav_steps.html' with current_page='audits:edit-audit-report-text' %}
            </div>
        </div>
    </main>
    <script src="{% static 'js/audits_copy_report.js' %}"></script>
</div>
{% endblock %}
