<!DOCTYPE html>

{% extends 'base.html' %}

{% load l10n %}

{% block content %}
<div class="govuk-width-container">
    <a href="{% url 'audits:edit-audit-summary' case.id audit.id %}" class="govuk-back-link">Back</a>
    <main id="main-content" class="govuk-main-wrapper no-padding-top">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Report text</h2>
                <form method="post" action="{% url 'audits:edit-audit-report-options' case.id audit.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}

                            {% include 'common/amp_field.html' with field=form.accessibility_statement_state %}
                            {% include 'common/amp_field.html' with field=form.accessibility_statement_not_correct_format %}
                            {% include 'common/amp_field.html' with field=form.accessibility_statement_not_specific_enough %}
                            {% include 'common/amp_field.html' with field=form.accessibility_statement_missing_accessibility_issues %}
                            {% include 'common/amp_field.html' with field=form.accessibility_statement_missing_mandatory_wording %}
                            {% include 'common/amp_field.html' with field=form.accessibility_statement_need_more_re_disproportionate %}
                            {% include 'common/amp_field.html' with field=form.accessibility_statement_need_more_re_accessibility %}
                            {% include 'common/amp_field.html' with field=form.accessibility_statement_deadline_not_complete %}
                            {% include 'common/amp_field.html' with field=form.accessibility_statement_deadline_not_sufficient %}
                            {% include 'common/amp_field.html' with field=form.accessibility_statement_out_of_date %}
                            {% include 'common/amp_field.html' with field=form.accessibility_statement_template_update %}
                            {% include 'common/amp_field.html' with field=form.accessibility_statement_accessible %}
                            {% include 'common/amp_field.html' with field=form.accessibility_statement_prominent %}
                            {% include 'common/amp_field.html' with field=form.report_options_next %}
                            <p class="govuk-body">Then choose all options which apply</p>
                            {% include 'common/amp_field.html' with field=form.report_next_change_statement %}
                            {% include 'common/amp_field.html' with field=form.report_next_no_statement %}
                            {% include 'common/amp_field.html' with field=form.report_next_statement_not_right %}
                            {% include 'common/amp_field.html' with field=form.report_next_statement_matches %}
                            {% include 'common/amp_field.html' with field=form.report_next_disproportionate_burden %}
                            {% include 'common/amp_field.html' with field=form.audit_report_options_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Save and continue"
                                name="save_continue"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <input
                                type="submit"
                                value="Save and exit"
                                name="save_exit"
                                class="govuk-button govuk-button--secondary"
                                data-module="govuk-button"
                            />
                            <a
                                href="{% url 'audits:audit-detail' case.id audit.id %}"
                                class="govuk-link govuk-link--no-visited-state"
                            >
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/navbar.html' with current_page='audits:edit-audit-report-options' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
