{% extends 'common/case_form.html' %}

{% block preform %}
    {% include 'audits/helpers/statement_pages_twelve_week.html' with small_margin_bottom=True %}
    {% include 'common/error_summary.html' with form=case_compliance_form %}
    {% if audit.accessibility_statement_initially_found %}
        {% include 'simplified/helpers/view_initial_decision.html' with case=audit.case %}
    {% else %}
        <p class="govuk-body-m">Statement missing during initial test</p>
    {% endif %}
{% endblock %}

{% block formfields %}
{% include 'common/amp_form_snippet.html' with form=case_compliance_form %}
{% include 'common/amp_form_snippet.html' %}
{% endblock %}
