{% extends 'common/case_form.html' %}

{% block preform %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-button-group">
            {% if show_failures_by_page %}
                <a href="?wcag-view=true{% if hide_fixed %}&hide-fixed=true{% endif %}" class="govuk-button govuk-button--secondary">WCAG view</a>
            {% else %}
                <a href="?page-view=true{% if hide_fixed %}&hide-fixed=true{% endif %}" class="govuk-button govuk-button--secondary">Page view</a>
            {% endif %}
            {% if hide_fixed %}
                <a href="?show-all=true{% if show_failures_by_page %}&page-view=true{% endif %}" class="govuk-button govuk-button--secondary">Show all</a>
            {% else %}
                <a href="?hide-fixed=true{% if show_failures_by_page %}&page-view=true{% endif %}" class="govuk-button govuk-button--secondary">Hide fixed</a>
            {% endif %}
        </div>
    </div>
    {% if show_failures_by_page %}
        <h2 class="govuk-heading-l">{{ sitemap.current_platform_page.get_name }} | Page view</h2>
        {% for page, failures in audit_failures_by_page.items %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h3 class="govuk-heading-m">{{ page }}</h3>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% if page.failed_check_results %}
                                <a href="{% url 'audits:edit-audit-retest-page-checks' page.id %}" class="govuk-link govuk-link--no-visited-state{% if not page.location %} amp-margin-bottom-0{% endif %}">
                                    Edit retest
                                </a>
                            {% endif %}
                            <a href="{{ page.url }}" class="govuk-link{% if not page.location %} amp-margin-bottom-0{% endif %}" target="_blank">
                                Link to {% if page.page_type == 'pdf' %}{{ page }}{% else %}{{ page|lower }}{% endif %}
                            </a>
                            {% if page.location %}
                                <p class="govuk-body">{{ page.location }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header amp-width-one-third">WCAG issue</th>
                                <th scope="col" class="govuk-table__header amp-width-one-third">Initial test</th>
                                <th scope="col" class="govuk-table__header amp-width-one-third">12-week test</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            {% for failure in failures %}
                                <tr class="govuk-table__row ">
                                    <td scope="row" class="govuk-table__header amp-width-one-third">{{ failure.wcag_definition.name }} | {{ failure.unique_id_within_case }}</td>
                                    <td class="govuk-table__cell amp-width-one-third amp-notes">
                                        <p>{{ failure.get_check_result_state_display }}</p>
                                        {{ failure.notes|markdown_to_html }}
                                    </td>
                                    <td class="govuk-table__cell amp-width-one-third amp-notes">
                                        <p>{{ failure.get_retest_state_display }}</p>
                                        {{ failure.retest_notes|markdown_to_html }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2 class="govuk-heading-l">{{ sitemap.current_platform_page.get_name }} | WCAG view</h2>
        {% for wcag_definition, failures in audit_failures_by_wcag.items %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h3 class="govuk-heading-m">{{ wcag_definition.name }}</h3>
                    <p class="govuk-body-m">{{ wcag_definition.description }}</p>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header amp-width-one-third">Page</th>
                                <th scope="col" class="govuk-table__header amp-width-one-third">Initial test</th>
                                <th scope="col" class="govuk-table__header amp-width-one-third">12-week test</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            {% for failure in failures %}
                                <tr class="govuk-table__row ">
                                    <td class="govuk-table__cell amp-width-one-third amp-notes">
                                        <p>{{ failure.page }} | {{ failure.unique_id_within_case }}</p>
                                        <p>
                                            <a href="{% url 'audits:edit-audit-retest-page-checks' failure.page.id %}" class="govuk-link govuk-link--no-visited-state{% if not failure.page.location %} amp-margin-bottom-0{% endif %}">
                                                Edit retest
                                            </a>
                                        </p>
                                        <p>
                                            <a href="{{ failure.page.url }}" class="govuk-link{% if not failure.page.location %} amp-margin-bottom-0{% endif %}" target="_blank">
                                                Link to {% if failure.page.page_type == 'pdf' %}{{ failure.page }}{% else %}{{ failure.page|lower }}{% endif %}
                                            </a>
                                        </p>
                                        {% if failure.page.location %}
                                            <p class="govuk-body">{{ failure.page.location }}</p>
                                        {% endif %}
                                    </td>
                                    <td class="govuk-table__cell amp-width-one-third amp-notes">
                                        <p>{{ failure.get_check_result_state_display }}</p>
                                        {{ failure.notes|markdown_to_html }}
                                    </td>
                                    <td class="govuk-table__cell amp-width-one-third amp-notes">
                                        <p>{{ failure.get_retest_state_display }}</p>
                                        {{ failure.retest_notes|markdown_to_html }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <h2 class="govuk-heading-l">Accessibility statement</h2>
    <p class="govuk-body">As part of the regulations you must publish an accessibility statement.</p>
    {% if audit.accessibility_statement_found %}
        {% if audit.uses_statement_checks %}
            {% include 'audits/helpers/retest_statement_summary.html' with title='Statement overview' edit_link='audits:edit-retest-statement-overview' check_results=audit.overview_statement_check_results %}
            {% include 'audits/helpers/retest_statement_summary.html' with title='Statement information' edit_link='audits:edit-retest-statement-website' check_results=audit.website_statement_check_results %}
            {% include 'audits/helpers/retest_statement_summary.html' with title='Compliance status' edit_link='audits:edit-retest-statement-compliance' check_results=audit.compliance_statement_check_results %}
            {% include 'audits/helpers/retest_statement_summary.html' with title='Non-accessible content' edit_link='audits:edit-retest-statement-non-accessible' check_results=audit.non_accessible_statement_check_results %}
            {% include 'audits/helpers/retest_statement_summary.html' with title='Statement preparation' edit_link='audits:edit-retest-statement-preparation' check_results=audit.preparation_statement_check_results %}
            {% include 'audits/helpers/retest_statement_summary.html' with title='Feedback and enforcement procedure' edit_link='audits:edit-retest-statement-feedback' check_results=audit.feedback_statement_check_results %}
            {% include 'audits/helpers/retest_statement_summary.html' with title='Custom statement issues' edit_link='audits:edit-retest-statement-custom' check_results=audit.custom_statement_check_results %}
        {% else %}
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    {% for row in audit_statement_rows %}
                        {% include 'cases/helpers/detail_row.html' with row=row %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% else %}
        <p class="govuk-body">
            An accessibility page for the website could not be found or the page did
            not include a statement. Every public sector website must include an
            accessibility statement and it is against the law to not have one.
        </p>
    {% endif %}
{% endblock %}
