{% extends 'base.html' %}

{% load l10n %}

{% load static %}

{% block title %}{{ audit.case.organisation_name }} | {{ current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/case_banner.html' with case=audit.case %}
        </div>
    </div>
    {% include 'audits/helpers/breadcrumb_audit_retest.html' with page_heading=current_platform_page.get_name %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading=current_platform_page.get_name case=audit.case %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/twelve_week_retest_nav_steps.html' with current_page='audits:edit-audit-retest-statement-1' %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                {% include 'audits/helpers/statement_pages_twelve_week.html' %}
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'audits:edit-audit-retest-statement-1' audit.id %}">
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% if audit.statement_pages or audit.twelve_week_accessibility_statement_found %}
                                {% include 'audits/helpers/retest_statement_field_info.html' with name='Scope' example='audits/archive_statement_examples/scope_state.html' decision=audit.get_archive_scope_state_display notes=audit.archive_scope_notes %}
                                {% include 'common/amp_field.html' with field=form.archive_audit_retest_scope_state %}
                                {% include 'common/amp_field.html' with field=form.archive_audit_retest_scope_notes %}
                                {% include 'audits/helpers/retest_statement_field_info.html' with name='Feedback' example='audits/archive_statement_examples/feedback_state.html' decision=audit.get_archive_feedback_state_display notes=audit.archive_feedback_notes %}
                                {% include 'common/amp_field.html' with field=form.archive_audit_retest_feedback_state %}
                                {% include 'common/amp_field.html' with field=form.archive_audit_retest_feedback_notes %}
                                {% include 'audits/helpers/retest_statement_field_info.html' with name='Contact Information' example='audits/archive_statement_examples/contact_information_state.html' decision=audit.get_archive_contact_information_state_display notes=audit.archive_contact_information_notes %}
                                {% include 'common/amp_field.html' with field=form.archive_audit_retest_contact_information_state %}
                                {% include 'cases/helpers/contact_page_link.html' with case=audit.case %}
                                {% include 'common/amp_field.html' with field=form.archive_audit_retest_contact_information_notes %}
                                {% include 'audits/helpers/retest_statement_field_info.html' with name='Enforcement Procedure' example='audits/archive_statement_examples/enforcement_procedure_state.html' decision=audit.get_archive_enforcement_procedure_state_display notes=audit.archive_enforcement_procedure_notes %}
                                {% include 'common/amp_field.html' with field=form.archive_audit_retest_enforcement_procedure_state %}
                                {% include 'common/amp_field.html' with field=form.archive_audit_retest_enforcement_procedure_notes %}
                                {% include 'audits/helpers/retest_statement_field_info.html' with name='Declaration' example='audits/archive_statement_examples/declaration_state.html' decision=audit.get_archive_declaration_state_display notes=audit.archive_declaration_notes %}
                                {% include 'common/amp_field.html' with field=form.archive_audit_retest_declaration_state %}
                                {% include 'common/amp_field.html' with field=form.archive_audit_retest_declaration_notes %}
                                {% include 'audits/helpers/retest_statement_field_info.html' with name='Compliance Status' example='audits/archive_statement_examples/compliance_state.html' decision=audit.get_archive_compliance_state_display notes=audit.archive_compliance_notes %}
                                {% include 'common/amp_field.html' with field=form.archive_audit_retest_compliance_state %}
                                {% include 'common/amp_field.html' with field=form.archive_audit_retest_compliance_notes %}
                                {% include 'audits/helpers/retest_statement_field_info.html' with name='Non-accessible Content - non compliance with regulations' example='audits/archive_statement_examples/non_regulation_state.html' decision=audit.get_archive_non_regulation_state_display notes=audit.archive_non_regulation_notes %}
                                {% include 'common/amp_field.html' with field=form.archive_audit_retest_non_regulation_state %}
                                {% include 'common/amp_field.html' with field=form.archive_audit_retest_non_regulation_notes %}
                            {% endif %}
                            {% include 'common/amp_field.html' with field=form.archive_audit_retest_statement_1_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'audits/helpers/retest_save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block extrascript %}
{% endblock %}
