{% extends 'base.html' %}

{% load l10n %}

{% block title %}{{ audit.case.organisation_name }} | {{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/case_banner.html' with case=audit.case %}
        </div>
    </div>
    {% include 'audits/helpers/breadcrumb_audit_retest.html' with page_heading=sitemap.current_platform_page.get_name %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/twelve_week_retest_nav_steps.html' with current_page='audits:edit-audit-retest-statement-comparison' %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                {% include 'audits/helpers/statement_comparison.html' %}
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'audits:edit-audit-retest-statement-comparison' audit.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_form_snippet.html' %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Save"
                                name="save"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            {% if audit.uses_statement_checks %}
                                <input
                                        type="submit"
                                        value="Save and exit"
                                        name="save_exit"
                                        class="govuk-button govuk-button--secondary"
                                        data-module="govuk-button"
                                    />
                            {% else %}
                                <input
                                    type="submit"
                                    value="Save and continue"
                                    name="save_continue"
                                    class="govuk-button govuk-button--secondary"
                                    data-module="govuk-button"
                                />
                            {% endif %}
                            <a
                                href="{% url 'audits:audit-retest-detail' audit.id %}"
                                class="govuk-link govuk-link--no-visited-state"
                            >
                                Cancel and return to 12-week test view
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
