{% extends 'base.html' %}

{% load l10n %}

{% load static %}

{% block title %}{{ audit.case.organisation_name }} | 12-week accessibility statement Pt. 1{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {% include 'audits/helpers/breadcrumb_audit_retest.html' with page_heading='12-week accessibility statement Pt. 1' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='12-week accessibility statement Pt. 1' case=audit.case %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'audits:edit-audit-retest-statement-1' audit.id %}">
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    {% if audit.accessibility_statement_initially_found %}
                        {% include 'audits/helpers/accessibility_statement_and_backup_link.html' with twelve_week_test=1 %}
                    {% elif audit.twelve_week_accessibility_statement_found %}
                        <p class="govuk-body-m">
                            The statement was appended during the 12-week retest.
                            <a href="{% url 'audits:edit-audit-12-week-statement' audit.id %}" class="govuk-link govuk-link--no-visited-state">
                                Edit or remove appended statement links</a>
                        </p>
                        {% include 'audits/helpers/accessibility_statement_and_backup_link.html' with twelve_week_test=1 %}
                    {% endif %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% if audit.accessibility_statement_initially_found or audit.twelve_week_accessibility_statement_found %}
                                {% include 'audits/helpers/retest_statement_field_info.html' with name='Scope' example='audits/statement_examples/scope_state.html' decision=audit.get_scope_state_display notes=audit.scope_notes %}
                                {% include 'common/amp_field.html' with field=form.audit_retest_scope_state %}
                                {% include 'common/amp_field.html' with field=form.audit_retest_scope_notes %}
                                {% include 'audits/helpers/retest_statement_field_info.html' with name='Feedback' example='audits/statement_examples/feedback_state.html' decision=audit.get_feedback_state_display notes=audit.feedback_notes %}
                                {% include 'common/amp_field.html' with field=form.audit_retest_feedback_state %}
                                {% include 'common/amp_field.html' with field=form.audit_retest_feedback_notes %}
                                {% include 'audits/helpers/retest_statement_field_info.html' with name='Contact Information' example='audits/statement_examples/contact_information_state.html' decision=audit.get_contact_information_state_display notes=audit.contact_information_notes %}
                                {% include 'common/amp_field.html' with field=form.audit_retest_contact_information_state %}
                                <p class="govuk-body-m">
                                    <a href="{% url 'cases:edit-contact-details' audit.case.id %}"
                                        rel="noreferrer noopener" target="_blank" class="govuk-link govuk-link--no-visited-state">
                                        Open contact details page in new tab</a>
                                </p>
                                {% include 'common/amp_field.html' with field=form.audit_retest_contact_information_notes %}
                                {% include 'audits/helpers/retest_statement_field_info.html' with name='Enforcement Procedure' example='audits/statement_examples/enforcement_procedure_state.html' decision=audit.get_enforcement_procedure_state_display notes=audit.enforcement_procedure_notes %}
                                {% include 'common/amp_field.html' with field=form.audit_retest_enforcement_procedure_state %}
                                {% include 'common/amp_field.html' with field=form.audit_retest_enforcement_procedure_notes %}
                                {% include 'audits/helpers/retest_statement_field_info.html' with name='Declaration' example='audits/statement_examples/declaration_state.html' decision=audit.get_declaration_state_display notes=audit.declaration_notes %}
                                {% include 'common/amp_field.html' with field=form.audit_retest_declaration_state %}
                                {% include 'common/amp_field.html' with field=form.audit_retest_declaration_notes %}
                                {% include 'audits/helpers/retest_statement_field_info.html' with name='Compliance Status' example='audits/statement_examples/compliance_state.html' decision=audit.get_compliance_state_display notes=audit.compliance_notes %}
                                {% include 'common/amp_field.html' with field=form.audit_retest_compliance_state %}
                                {% include 'common/amp_field.html' with field=form.audit_retest_compliance_notes %}
                                {% include 'audits/helpers/retest_statement_field_info.html' with name='Non-accessible Content - non compliance with regulations' example='audits/statement_examples/non_regulation_state.html' decision=audit.get_non_regulation_state_display notes=audit.non_regulation_notes %}
                                {% include 'common/amp_field.html' with field=form.audit_retest_non_regulation_state %}
                                {% include 'common/amp_field.html' with field=form.audit_retest_non_regulation_notes %}
                            {% else %}
                                {% include 'audits/helpers/no_statement_at_retest.html' %}
                            {% endif %}
                            {% include 'common/amp_field.html' with field=form.audit_retest_statement_1_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'audits/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/retest_nav_steps.html' with current_page='audits:edit-audit-retest-statement-1' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block extrascript %}
{% endblock %}
