{% extends 'base.html' %}

{% load l10n %}

{% block title %}{{ audit.case.organisation_name }} | 12-week accessibility statement Pt. 2{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' audit.case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'audits:audit-retest-detail' audit.id %}">12-week test</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                12-week accessibility statement Pt. 2
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper no-padding-top">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='12-week accessibility statement Pt. 2' case=audit.case %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'audits:edit-audit-retest-statement-2' audit.id %}">
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    {% include 'audits/helpers/accessibility_statement_link.html' with twelve_week_test=1 %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_field_link_button.html' with field=form.audit_retest_accessibility_statement_backup_url %}
                            {% if audit.audit_retest_accessibility_statement_backup_url_date %}
                                <p class="govuk-body amp-margin-top-minus-20"> Added {{audit.audit_retest_accessibility_statement_backup_url_date}} </p>
                            {% endif %}
                            {% include 'audits/helpers/retest_statement_field_info.html' with name='Non-accessible Content - disproportionate burden' example='audits/statement_examples/disproportionate_burden_state.html' decision=audit.get_disproportionate_burden_state_display notes=audit.disproportionate_burden_notes %}
                            {% include 'common/amp_field.html' with field=form.audit_retest_disproportionate_burden_state %}
                            {% include 'common/amp_field.html' with field=form.audit_retest_disproportionate_burden_notes %}
                            {% include 'audits/helpers/retest_statement_field_info.html' with name='Non-accessible Content - the content is not within the scope of the applicable legislation' example='audits/statement_examples/content_not_in_scope_state.html' decision=audit.get_content_not_in_scope_state_display notes=audit.content_not_in_scope_notes %}
                            {% include 'common/amp_field.html' with field=form.audit_retest_content_not_in_scope_state %}
                            {% include 'common/amp_field.html' with field=form.audit_retest_content_not_in_scope_notes %}
                            {% include 'audits/helpers/retest_statement_field_info.html' with name='Preparation Date' example='audits/statement_examples/preparation_date_state.html' decision=audit.get_preparation_date_state_display notes=audit.preparation_date_notes %}
                            {% include 'common/amp_field.html' with field=form.audit_retest_preparation_date_state %}
                            {% include 'common/amp_field.html' with field=form.audit_retest_preparation_date_notes %}
                            {% include 'audits/helpers/retest_statement_field_info.html' with name='Review' example='audits/statement_examples/review_state.html' decision=audit.get_review_state_display notes=audit.review_notes %}
                            {% include 'common/amp_field.html' with field=form.audit_retest_review_state %}
                            {% include 'common/amp_field.html' with field=form.audit_retest_review_notes %}
                            {% include 'audits/helpers/retest_statement_field_info.html' with name='Method' example='audits/statement_examples/method_state.html' decision=audit.get_method_state_display notes=audit.method_notes %}
                            {% include 'common/amp_field.html' with field=form.audit_retest_method_state %}
                            {% include 'common/amp_field.html' with field=form.audit_retest_method_notes %}
                            {% include 'audits/helpers/retest_statement_field_info.html' with name='Access Requirements' example='audits/statement_examples/access_requirements_state.html' decision=audit.get_access_requirements_state_display notes=audit.access_requirements_notes %}
                            {% include 'common/amp_field.html' with field=form.audit_retest_access_requirements_state %}
                            {% include 'common/amp_field.html' with field=form.audit_retest_access_requirements_notes %}
                            {% include 'common/amp_field.html' with field=form.audit_retest_statement_2_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'audits/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/retest_nav_steps.html' with current_page='audits:edit-audit-retest-statement-2' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
