{% extends 'base.html' %}

{% load l10n %}

{% load static %}

{% block title %}{{ page.audit.case.organisation_name }} | Retesting {{ page }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' page.audit.case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'audits:audit-retest-detail' page.audit.id %}">12-week test</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Retesting {{ page }}
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl amp-margin-bottom-15">Retesting {{ page }}</h1>
                {% include "cases/helpers/case_title.html" with case=page.audit.case %}
                {% include "cases/helpers/messages.html" %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-fieldset__heading">Search WCAG error</h2>
                    </legend>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_field.html' with field=filter_form.name %}
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            {% include 'common/amp_field.html' with field=filter_form.fixed %}
                        </div>
                        <div class="govuk-grid-column-one-third">
                            {% include 'common/amp_field.html' with field=filter_form.not_fixed %}
                        </div>
                        <div class="govuk-grid-column-one-third">
                            {% include 'common/amp_field.html' with field=filter_form.not_retested %}
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Clear search form"
                                name="clear"
                                class="govuk-button govuk-button--secondary"
                                data-module="govuk-button"
                                id="clear_search_form"
                            />
                        </div>
                    </div>
                </fieldset>
                <form method="post" action="{% url 'audits:edit-audit-retest-page-checks' page.id %}">
                    <div class="govuk-grid-row">
                        {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                        <div class="govuk-grid-column-one-half">
                            {% include 'common/amp_field.html' with field=form.retest_complete_date %}
                        </div>
                        <div class="govuk-grid-column-one-half">
                            {% include 'common/amp_field.html' with field=form.retest_page_missing_date %}
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <details class="govuk-details" data-module="govuk-details" {% if form.retest_notes.value %}open{% endif %}>
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">Additional issues found on page</span>
                                </summary>
                                <div class="govuk-details__text">
                                    {% include 'common/amp_field.html' with field=form.retest_notes %}
                                </div>
                            </details>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Save"
                                name="save"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <input
                                type="submit"
                                value="Save and next page"
                                name="save_continue"
                                class="govuk-button govuk-button--secondary"
                                data-module="govuk-button"
                            />
                            {% if page and page.page_type != 'all-except-pdf' %}
                                <a href="{{ page.url }}" class="govuk-link" target="_blank">
                                    Link to {% if page.page_type == 'pdf' %}{{ page }}{% else %}{{ page|lower }}{% endif %}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <hr class="amp-width-100">
                            <h2 class="govuk-heading-m" id="number_of_errors">Found 0 errors</h2>
                        </div>
                    </div>
                    {% include 'common/error_summary.html' %}
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    {{ check_results_formset.management_form }}
                    {% for check_result, form in check_results_and_forms %}
                        <div class="govuk-grid-row" id="testlist {{ check_result.wcag_definition.name }} {{ check_result.wcag_definition.description }}">
                            <div class="govuk-grid-column-full">
                                <label class="govuk-label"><b>{{ check_result.wcag_definition }}</b></label>
                                <div class="govuk-hint">{{ check_result.notes|markdown_to_html }}</div>
                                {% include 'common/amp_form_snippet.html' %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-button-group">
                            <hr class="amp-width-100">
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Save"
                                name="save"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <input
                                type="submit"
                                value="Save and next page"
                                name="save_continue"
                                class="govuk-button govuk-button--secondary"
                                data-module="govuk-button"
                            />
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/retest_nav_steps.html' with current_page='audits:edit-audit-retest-page-checks' page_id=page.id audit=page.audit %}
            </div>
        </div>
    </main>
    <script src="{% static 'js/audits_retest_check_filter.js' %}"></script>
</div>
{% endblock %}
