{% extends 'base.html' %}

{% load l10n %}

{% load static %}

{% block title %}{{ audit.case.organisation_name }} | Accessibility statement Pt. 2{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' audit.case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'audits:audit-detail' audit.id %}">Test</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Accessibility statement Pt. 2
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='Accessibility statement Pt. 2' case=audit.case %}
            </div>
        </div>
        {% include 'reports/helpers/pending_unpublished_rebuild_notification.html' with case=audit.case %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'audits:edit-audit-statement-2' audit.id %}">
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    {% if not audit.no_accessibility_statement_found %}
                        {% include 'audits/helpers/accessibility_statement_link.html' with twelve_week_test=0 %}
                    {% endif %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% if audit.no_accessibility_statement_found %}
                                {% include 'audits/helpers/no_statement_warning.html' %}
                            {% else %}
                                {% include 'common/amp_field_link_button.html' with field=form.accessibility_statement_backup_url %}
                                {% if audit.accessibility_statement_backup_url_date %}
                                    <p class="govuk-body amp-margin-top-minus-20"> Added {{audit.accessibility_statement_backup_url_date}} </p>
                                {% endif %}
                                {% include 'audits/helpers/test_statement_field_info.html' with field=form.disproportionate_burden_state help_details='audits/statement_examples/disproportionate_burden_state.html' %}
                                {% include 'common/amp_field.html' with field=form.disproportionate_burden_notes %}
                                {% include 'audits/helpers/test_statement_field_info.html' with field=form.content_not_in_scope_state help_details='audits/statement_examples/content_not_in_scope_state.html' %}
                                {% include 'common/amp_field.html' with field=form.content_not_in_scope_notes %}
                                {% include 'audits/helpers/test_statement_field_info.html' with field=form.preparation_date_state help_details='audits/statement_examples/preparation_date_state.html' %}
                                {% include 'common/amp_field.html' with field=form.preparation_date_notes %}
                                {% include 'audits/helpers/test_statement_field_info.html' with field=form.review_state help_details='audits/statement_examples/review_state.html' %}
                                {% include 'common/amp_field.html' with field=form.review_notes %}
                                {% include 'audits/helpers/test_statement_field_info.html' with field=form.method_state help_details='audits/statement_examples/method_state.html' %}
                                {% include 'common/amp_field.html' with field=form.method_notes %}
                                {% include 'audits/helpers/test_statement_field_info.html' with field=form.access_requirements_state help_details='audits/statement_examples/access_requirements_state.html' %}
                                {% include 'common/amp_field.html' with field=form.access_requirements_notes %}
                            {% endif %}
                            {% include 'common/amp_field.html' with field=form.audit_statement_2_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'audits/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/nav_steps.html' with current_page='audits:edit-audit-statement-2' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block extrascript %}
<script src="{% static 'js/common_field_link_button.js' %}"></script>
{% endblock %}
