{% extends 'base.html' %}

{% load l10n %}

{% load static %}

{% block title %}{{ audit.case.organisation_name }} | {{ amp_page_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/case_banner.html' with case=audit.case %}
        </div>
    </div>
    {% include 'audits/helpers/breadcrumb_audit.html' with page_heading=amp_page_name %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include "cases/helpers/nav_details.html" %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                {% include "cases/helpers/edit_header.html" with page_heading=amp_page_name case=audit.case %}
                {% include 'audits/helpers/statement_pages.html' %}
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'audits:edit-audit-statement-2' audit.id %}">
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% if audit.statement_pages %}
                                {% include 'common/amp_field.html' with field=form.accessibility_statement_backup_url %}
                                {% if audit.accessibility_statement_backup_url_date %}
                                    <p class="govuk-body amp-margin-top-minus-20"> Added {{audit.accessibility_statement_backup_url_date }} </p>
                                {% endif %}
                                {% include 'audits/helpers/test_statement_field_info.html' with field=form.archive_disproportionate_burden_state help_details='audits/archive_statement_examples/disproportionate_burden_state.html' %}
                                {% include 'common/amp_field.html' with field=form.archive_disproportionate_burden_notes %}
                                {% include 'audits/helpers/test_statement_field_info.html' with field=form.archive_content_not_in_scope_state help_details='audits/archive_statement_examples/content_not_in_scope_state.html' %}
                                {% include 'common/amp_field.html' with field=form.archive_content_not_in_scope_notes %}
                                {% include 'audits/helpers/test_statement_field_info.html' with field=form.archive_preparation_date_state help_details='audits/archive_statement_examples/preparation_date_state.html' %}
                                {% include 'common/amp_field.html' with field=form.archive_preparation_date_notes %}
                                {% include 'audits/helpers/test_statement_field_info.html' with field=form.archive_review_state help_details='audits/archive_statement_examples/review_state.html' %}
                                {% include 'common/amp_field.html' with field=form.archive_review_notes %}
                                {% include 'audits/helpers/test_statement_field_info.html' with field=form.archive_method_state help_details='audits/archive_statement_examples/method_state.html' %}
                                {% include 'common/amp_field.html' with field=form.archive_method_notes %}
                                {% include 'audits/helpers/test_statement_field_info.html' with field=form.archive_access_requirements_state help_details='audits/archive_statement_examples/access_requirements_state.html' %}
                                {% include 'common/amp_field.html' with field=form.archive_access_requirements_notes %}
                            {% else %}
                                {% include 'audits/helpers/no_statement_warning.html' %}
                            {% endif %}
                            {% include 'common/amp_field.html' with field=form.archive_audit_statement_2_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'audits/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block extrascript %}
{% endblock %}
