{% extends 'base.html' %}

{% load l10n %}

{% load static %}

{% block title %}{{ audit.case.organisation_name }} | {{ amp_page_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/case_banner.html' with case=audit.case %}
        </div>
    </div>
    {% include 'audits/helpers/breadcrumb_audit.html' with page_heading=amp_page_name %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading=amp_page_name case=audit.case %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include "cases/helpers/nav_details.html" with current_page_name=amp_page_name %}
                {% include 'cases/helpers/nav_steps.html' %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                {% include 'audits/helpers/statement_pages.html' %}
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'audits:edit-audit-statement-1' audit.id %}">
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% if audit.statement_pages %}
                                {% include 'audits/helpers/test_statement_field_info.html' with field=form.archive_scope_state help_details='audits/archive_statement_examples/scope_state.html' %}
                                {% include 'common/amp_field.html' with field=form.archive_scope_notes %}
                                {% include 'audits/helpers/test_statement_field_info.html' with field=form.archive_feedback_state help_details='audits/archive_statement_examples/feedback_state.html' %}
                                {% include 'common/amp_field.html' with field=form.archive_feedback_notes %}
                                {% include 'audits/helpers/test_statement_field_info.html' with field=form.archive_contact_information_state  help_details='audits/archive_statement_examples/contact_information_state.html'%}
                                <details class="govuk-details" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">Add contact</span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        {% include 'common/amp_field.html' with field=form.add_contact_email %}
                                        {% include 'common/amp_field.html' with field=form.add_contact_notes %}
                                    </div>
                                </details>
                                {% include 'common/amp_field.html' with field=form.archive_contact_information_notes %}
                                {% include 'audits/helpers/test_statement_field_info.html' with field=form.archive_enforcement_procedure_state help_details='audits/archive_statement_examples/enforcement_procedure_state.html' %}
                                {% include 'common/amp_field.html' with field=form.archive_enforcement_procedure_notes %}
                                {% include 'audits/helpers/test_statement_field_info.html' with field=form.archive_declaration_state help_details='audits/archive_statement_examples/declaration_state.html' %}
                                {% include 'common/amp_field.html' with field=form.archive_declaration_notes %}
                                {% include 'audits/helpers/test_statement_field_info.html' with field=form.archive_compliance_state help_details='audits/archive_statement_examples/compliance_state.html' %}
                                {% include 'common/amp_field.html' with field=form.archive_compliance_notes %}
                                {% include 'audits/helpers/test_statement_field_info.html' with field=form.archive_non_regulation_state help_details='audits/archive_statement_examples/non_regulation_state.html' %}
                                {% include 'common/amp_field.html' with field=form.archive_non_regulation_notes %}
                            {% endif %}
                            {% include 'common/amp_field.html' with field=form.archive_audit_statement_1_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'audits/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block extrascript %}
{% endblock %}
