{% extends 'common/case_form.html' %}

{% block preform %}
    {% include 'audits/helpers/statement_pages.html' %}
{% endblock %}

{% block formfields %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
            {% if audit.statement_pages %}
                {% include 'audits/helpers/test_statement_field_info.html' with field=form.archive_scope_state help_details='audits/archive_statement_examples/scope_state.html' %}
                {% include 'common/amp_field.html' with field=form.archive_scope_notes %}
                {% include 'audits/helpers/test_statement_field_info.html' with field=form.archive_feedback_state help_details='audits/archive_statement_examples/feedback_state.html' %}
                {% include 'common/amp_field.html' with field=form.archive_feedback_notes %}
                {% include 'audits/helpers/test_statement_field_info.html' with field=form.archive_contact_information_state  help_details='audits/archive_statement_examples/contact_information_state.html'%}
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">Add contact</span>
                    </summary>
                    <div class="govuk-details__text">
                        {% include 'common/amp_field.html' with field=form.add_contact_email %}
                        {% include 'common/amp_field.html' with field=form.add_contact_notes %}
                    </div>
                </details>
                {% include 'common/amp_field.html' with field=form.archive_contact_information_notes %}
                {% include 'audits/helpers/test_statement_field_info.html' with field=form.archive_enforcement_procedure_state help_details='audits/archive_statement_examples/enforcement_procedure_state.html' %}
                {% include 'common/amp_field.html' with field=form.archive_enforcement_procedure_notes %}
                {% include 'audits/helpers/test_statement_field_info.html' with field=form.archive_declaration_state help_details='audits/archive_statement_examples/declaration_state.html' %}
                {% include 'common/amp_field.html' with field=form.archive_declaration_notes %}
                {% include 'audits/helpers/test_statement_field_info.html' with field=form.archive_compliance_state help_details='audits/archive_statement_examples/compliance_state.html' %}
                {% include 'common/amp_field.html' with field=form.archive_compliance_notes %}
                {% include 'audits/helpers/test_statement_field_info.html' with field=form.archive_non_regulation_state help_details='audits/archive_statement_examples/non_regulation_state.html' %}
                {% include 'common/amp_field.html' with field=form.archive_non_regulation_notes %}
            {% endif %}
            {% include 'common/amp_field.html' with field=form.archive_audit_statement_1_complete_date %}
        </div>
    </div>
{% endblock %}
