{% extends 'base.html' %}

{% load l10n %}

{% block title %}{{ audit.case.organisation_name }} | {{ amp_page_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/case_banner.html' with case=audit.case %}
        </div>
    </div>
    {% include 'audits/helpers/breadcrumb_audit.html' with nav_section_name='Initial statement' page_heading=amp_page_name %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include "cases/helpers/nav_details.html" %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                {% include "cases/helpers/edit_header.html" with page_heading=amp_page_name case=audit.case %}
                {% include 'audits/helpers/statement_pages.html' %}
                {% include 'common/error_summary.html' with form=case_compliance_form %}
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'audits:edit-statement-decision' audit.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_form_snippet.html' with form=case_compliance_form %}
                            {% include 'common/amp_form_snippet.html' %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'audits/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
