{% extends 'base.html' %}

{% load l10n %}

{% block title %}{{ audit.case.organisation_name }} | Test summary{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' audit.case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'audits:audit-detail' audit.id %}">Test</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Summary
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='Test summary' case=audit.case %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                {% if show_failures_by_page %}
                    <form method="get" action="{% url 'audits:edit-audit-summary' audit.id %}">
                        <input
                            type="submit"
                            value="Test view"
                            name="view"
                            class="govuk-button govuk-button--secondary"
                            data-module="govuk-button"
                        />
                    </form>
                {% else %}
                    <form method="get" action="{% url 'audits:edit-audit-summary' audit.id %}">
                        <input
                            type="submit"
                            value="Page view"
                            name="view"
                            class="govuk-button govuk-button--secondary"
                            data-module="govuk-button"
                        />
                    </form>
                {% endif %}
                <form method="post" action="{% url 'audits:edit-audit-summary' audit.id %}">
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}

                    {% if show_failures_by_page %}
                        <h2 class="govuk-heading-l">Test summary | Page view</h2>
                        {% for page, failures in audit_failures_by_page.items %}
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <h3 class="govuk-heading-m">{{ page }}</h3>
                                    <table class="govuk-table">
                                        <tbody class="govuk-table__body">
                                            {% for failure in failures %}
                                                <tr class="govuk-table__row ">
                                                    <th scope="row" class="govuk-table__header amp-width-one-half">{{ failure.wcag_definition.name }}</th>
                                                    <td class="govuk-table__cell amp-width-one-half amp-notes">{{ failure.notes|markdown_to_html }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h2 class="govuk-heading-l">Test summary | WCAG view</h2>
                        {% for wcag_definition, failures in audit_failures_by_wcag.items %}
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <h3 class="govuk-heading-m">{{ wcag_definition.name }}</h3>
                                    <p class="govuk-body-m">{{ wcag_definition.description }}</p>
                                    <table class="govuk-table">
                                        <tbody class="govuk-table__body">
                                            {% for failure in failures %}
                                                <tr class="govuk-table__row ">
                                                    <th scope="row" class="govuk-table__header amp-width-one-half">{{ failure.page }}</th>
                                                    <td class="govuk-table__cell amp-width-one-half amp-notes">{{ failure.notes|markdown_to_html }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <h2 class="govuk-heading-l">Accessibility statement</h2>
                    <p class="govuk-body">As part of the regulations you must publish an accessibility statement.</p>
                    {% if audit.accessibility_statement_found %}
                        {% if audit.statement_check_results %}
                            {% if audit.failed_statement_check_results %}
                                <p class="govuk-body">An accessibility statement for the website was found but we found the following issues.<p>
                                <table class="govuk-table">
                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th scope="col" class="govuk-table__header amp-report-column-counter">#</th>
                                            <th scope="col" class="govuk-table__header">Issue</th>
                                        </tr>
                                    </thead>
                                    <tbody class="govuk-table__body">
                                        {% for statement_check_result in audit.failed_statement_check_results %}
                                            <tr class="govuk-table__row ">
                                                <td class="govuk-table__cell">
                                                    <span class="govuk-visually-hidden">Issue:</span> {{ forloop.counter }}
                                                </td>
                                                <td class="govuk-table__cell">
                                                    {{ statement_check_result.statement_check.report_text }}
                                                    {% if statement_check_result.report_comment  %}
                                                        <br><br>Auditors comment:
                                                        {{ statement_check_result.report_comment }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p class="govuk-body">
                                    An accessibility statement for the website was found in the correct format.
                                </p>
                            {% endif %}
                        {% else %}
                            <table class="govuk-table">
                                <tbody class="govuk-table__body">
                                    {% for row in audit_statement_rows %}
                                        {% include 'cases/helpers/detail_row.html' with row=row %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% else %}
                        <p class="govuk-body">
                            An accessibility page for the website could not be found or the page did
                            not include a statement. Every public sector website must include an
                            accessibility statement and it is against the law to not have one.
                        </p>
                    {% endif %}

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_form_snippet.html' %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% if audit.case.report_methodology == 'odt' %}
                                {% include 'audits/helpers/save_continue_cancel.html' %}
                            {% else %}
                                <input
                                    type="submit"
                                    value="Save"
                                    name="save"
                                    class="govuk-button"
                                    data-module="govuk-button"
                                />
                                <input
                                    type="submit"
                                    value="Save and exit"
                                    name="save_exit"
                                    class="govuk-button govuk-button--secondary"
                                    data-module="govuk-button"
                                />
                                <a
                                    href="{% url 'audits:audit-detail' audit.id %}"
                                    class="govuk-link govuk-link--no-visited-state"
                                >
                                    Cancel and return to test view
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/nav_steps.html' with current_page='audits:edit-audit-summary' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
