{% extends 'common/case_form.html' %}

{% block preform %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-s">WCAG issues summary</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>Initial WCAG compliance decision: <b>{{ case.compliance.get_website_compliance_state_initial_display }}</b></li>
                <li>12-week WCAG compliance decision: <b>{{ case.compliance.get_website_compliance_state_12_week_display }}</b></li>
                <li>Initial issues: {{ case.audit.failed_check_results.count }}</li>
                <li>
                    Issues remaining at 12-weeks: {{ audit.unfixed_check_results.count }} issues
                    {% if audit %}
                        ({{ audit.percentage_wcag_issues_fixed }}% fixed)
                    {% endif %}
                </li>
                <li>Pages removed: {{ case.audit.missing_at_retest_pages.count }}
                <li>Issues removed: {{ case.audit.missing_at_retest_check_results.count }}</li>
            </ul>
            <h2 class="govuk-heading-s">Statement issues summary</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>Initial statement compliance: <b>{{ case.compliance.get_statement_compliance_state_initial_display }}</b></li>
                <li>Initial disproportionate burden: <b>{{ case.audit.get_initial_disproportionate_burden_claim_display }}</b></li>
                <li>12-week statement compliance: <b>{{ case.compliance.get_statement_compliance_state_12_week_display }}</b></li>
                <li>12-week disproportionate burden: <b>{{ case.audit.get_twelve_week_disproportionate_burden_claim_display }}</b></li>
                <li>
                    {% if case.audit.accessibility_statement_found %}
                        <a href="{{ case.audit.latest_statement_link }}" class="govuk-link govuk-link--no-visited-state" target="_blank">
                            Accessibility Statement</a>
                        added to case
                    {% else %}
                        No accessibility statement added
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-s">WCAG test contents</h2>
            <div class="amp-nav-details__text">
                {% if audit_failures_by_page or audit_failures_by_wcag %}
                    <ul class="govuk-list">
                        {% if show_failures_by_page %}
                            {% for page, failures in audit_failures_by_page.items %}
                                <li>
                                    <a href="#page-{{ page.id }}" class="govuk-link govuk-link--no-visited-state">{{ page.page_title }}</a>
                                </li>
                            {% endfor %}
                        {% else %}
                            {% for wcag_definition, failures in audit_failures_by_wcag.items %}
                                <li>
                                    <a href="#wcag-{{ wcag_definition.id }}" class="govuk-link govuk-link--no-visited-state">
                                        {{ wcag_definition.name }} ({{ failures|length }})</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                {% else %}
                    <p class="govuk-body">No test results found</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-s">Statement assessment contents</h2>
            <div class="amp-nav-details__text">
                {% if case.audit.accessibility_statement_found %}
                    <ul class="govuk-list">
                        <li><a href="#auditsedit-statement-overview" class="govuk-link govuk-link--no-visited-state">Statement overview</a></li>
                        <li><a href="#auditsedit-statement-website" class="govuk-link govuk-link--no-visited-state">Statement information</a></li>
                        <li><a href="#auditsedit-statement-compliance" class="govuk-link govuk-link--no-visited-state">Compliance status</a></li>
                        <li><a href="#auditsedit-statement-non-accessible" class="govuk-link govuk-link--no-visited-state">Non-accessible content</a></li>
                        <li><a href="#auditsedit-statement-preparation" class="govuk-link govuk-link--no-visited-state">Statement preparation</a></li>
                        <li><a href="#auditsedit-statement-feedback" class="govuk-link govuk-link--no-visited-state">Feedback and enforcement procedure</a></li>
                        <li><a href="#auditsedit-statement-custom" class="govuk-link govuk-link--no-visited-state">Custom statement issues</a></li>
                    </ul>
                {% else %}
                    <ul class="govuk-list">
                        <li><a href="#missing-accessibility-statement" class="govuk-link govuk-link--no-visited-state">Missing accessibility statement</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    {% if audit_failures_by_page or audit_failures_by_wcag %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-s">Group test results</h2>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-button-group">
                {% if show_failures_by_page %}
                    <a href="?wcag-view=true" class="govuk-button govuk-button--secondary">WCAG view</a>
                {% else %}
                    <a href="?page-view=true" class="govuk-button govuk-button--secondary">Page view</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if show_failures_by_page %}
        {% for page, failures in audit_failures_by_page.items %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 id="page-{{ page.id }}" class="govuk-heading-m">{{ page.page_title }}</h2>
                    {% if page.location %}
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <p class="govuk-body">{{ page.location }}</p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-button-group">
                            <a href="{{ page.url }}" class="govuk-link" target="_blank">
                                Open page in new tab
                            </a>
                            <a href="{% url 'audits:edit-audit-page-checks' page.id %}" class="govuk-link govuk-link--no-visited-state">
                                Edit initial test
                            </a>
                            {% if page.failed_check_results %}
                                <a href="{% url 'audits:edit-audit-retest-page-checks' page.id %}" class="govuk-link govuk-link--no-visited-state">
                                    Edit 12-week test
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header amp-width-one-third">WCAG issue</th>
                                <th scope="col" class="govuk-table__header amp-width-one-third">Initial test</th>
                                <th scope="col" class="govuk-table__header amp-width-one-third">12-week test</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            {% for failure in failures %}
                                <tr class="govuk-table__row ">
                                    <td scope="row" class="govuk-table__cell amp-width-one-third">{{ failure.wcag_definition.name }} | {{ failure.unique_id_within_case }}</td>
                                    <td class="govuk-table__cell amp-width-one-third amp-notes">
                                        <p>{{ failure.get_check_result_state_display }}</p>
                                        {{ failure.notes|markdown_to_html }}
                                    </td>
                                    <td class="govuk-table__cell amp-width-one-third amp-notes">
                                        <p>{{ failure.get_retest_state_display }}</p>
                                        {{ failure.retest_notes|markdown_to_html }}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr class="govuk-table__row ">
                                <td scope="row" class="govuk-table__cell amp-width-one-third">Additonal issues found on page</td>
                                <td class="govuk-table__cell amp-width-one-third amp-notes"></td>
                                <td class="govuk-table__cell amp-width-one-third amp-notes">
                                    {{ page.retest_notes|markdown_to_html }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% for wcag_definition, failures in audit_failures_by_wcag.items %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 id="wcag-{{ wcag_definition.id }}" class="govuk-heading-m">{{ wcag_definition.name }} ({{ failures|length }})</h2>
                    {% if wcag_definition.description %}
                        <p class="govuk-body-m">{{ wcag_definition.description }}</p>
                    {% endif %}
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header amp-width-one-third">Page</th>
                                <th scope="col" class="govuk-table__header amp-width-one-third">Initial test</th>
                                <th scope="col" class="govuk-table__header amp-width-one-third">12-week test</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            {% for failure in failures %}
                                <tr class="govuk-table__row ">
                                    <td class="govuk-table__cell amp-width-one-third amp-notes">
                                        <p>{{ failure.page }} | {{ failure.unique_id_within_case }}</p>
                                        <ul class="govuk-list">
                                        {% if failure.page.location %}
                                            <li>{{ failure.page.location }}</li>
                                        {% endif %}
                                        <li>
                                            <a href="{{ failure.page.url }}" class="govuk-link" target="_blank">
                                                Open page in new tab
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'audits:edit-audit-page-checks' failure.page.id %}" class="govuk-link govuk-link--no-visited-state">
                                                Edit initial test
                                            </a>
                                        </li>
                                        {% if failure.page.failed_check_results %}
                                            <li>
                                                <a href="{% url 'audits:edit-audit-retest-page-checks' failure.page.id %}" class="govuk-link govuk-link--no-visited-state">
                                                    Edit 12-week test
                                                </a>
                                            </li>
                                        {% endif %}
                                    </td>
                                    <td class="govuk-table__cell amp-width-one-third amp-notes">
                                        <p>{{ failure.get_check_result_state_display }}</p>
                                        {{ failure.notes|markdown_to_html }}
                                    </td>
                                    <td class="govuk-table__cell amp-width-one-third amp-notes">
                                        <p>{{ failure.get_retest_state_display }}</p>
                                        {{ failure.retest_notes|markdown_to_html }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if audit.accessibility_statement_found %}
        {% include 'audits/helpers/test_summary_statement_content.html' with title='Statement overview' initial_link='audits:edit-statement-overview' twelve_week_link='audits:edit-retest-statement-overview' check_results=audit.overview_statement_check_results %}
        {% include 'audits/helpers/test_summary_statement_content.html' with title='Statement information' initial_link='audits:edit-statement-website' twelve_week_link='audits:edit-retest-statement-website' check_results=audit.website_statement_check_results %}
        {% include 'audits/helpers/test_summary_statement_content.html' with title='Compliance status' initial_link='audits:edit-statement-compliance' twelve_week_link='audits:edit-retest-statement-compliance' check_results=audit.compliance_statement_check_results %}
        {% include 'audits/helpers/test_summary_statement_content.html' with title='Non-accessible content' initial_link='audits:edit-statement-non-accessible' twelve_week_link='audits:edit-retest-statement-non-accessible' check_results=audit.non_accessible_statement_check_results %}
        {% include 'audits/helpers/test_summary_statement_content.html' with title='Statement preparation' initial_link='audits:edit-statement-preparation' twelve_week_link='audits:edit-retest-statement-preparation' check_results=audit.preparation_statement_check_results %}
        {% include 'audits/helpers/test_summary_statement_content.html' with title='Feedback and enforcement procedure' initial_link='audits:edit-statement-feedback' twelve_week_link='audits:edit-retest-statement-feedback' check_results=audit.feedback_statement_check_results %}
        {% include 'audits/helpers/test_summary_statement_content.html' with title='Custom statement issues' initial_link='audits:edit-statement-custom' twelve_week_link='audits:edit-retest-statement-custom' check_results=audit.custom_statement_check_results %}
    {% else %}
        <h2 id="missing-accessibility-statement" class="govuk-heading-m">Missing accessibility statement</h2>
        <p class="govuk-body">As part of the regulations you must publish an accessibility statement.</p>
        <p class="govuk-body">
            An accessibility page for the website could not be found or the page did
            not include a statement. Every public sector website must include an
            accessibility statement and it is against the law to not have one.
        </p>
    {% endif %}
{% endblock %}
