{% extends 'base.html' %}

{% load l10n %}

{% block title %}{{ audit.case.organisation_name }} | {{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/case_banner.html' with case=audit.case %}
        </div>
    </div>
    {% include 'audits/helpers/breadcrumb_audit_retest.html' with page_heading=sitemap.current_platform_page.get_name %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/twelve_week_retest_nav_steps.html' with current_page='audits:edit-audit-retest-pages-comparison' %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                {% include 'cases/helpers/email_templates.html' with case=audit.case %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full govuk-button-group">
                        <a
                            href="{% url 'audits:edit-audit-retest-pages-comparison' audit.id %}?{% if hide_fixed %}hide-fixed=true{% else %}show-all=true{% endif %}"
                            class="govuk-button govuk-button--secondary"
                        >
                            Group by page
                        </a>
                        {% if hide_fixed %}
                            <a href="?show-all=true" class="govuk-button govuk-button--secondary">Show all</a>
                        {% else %}
                            <a href="?hide-fixed=true" class="govuk-button govuk-button--secondary">Hide fixed</a>
                        {% endif %}
                    </div>
                </div>
                {% include 'common/error_summary.html' %}
                {% include 'audits/helpers/missing_pages.html' %}
                <h2 class="govuk-heading-l">Test summary | WCAG view</h2>
                {% for wcag_definition, failures in audit_failures_by_wcag.items %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <h3 class="govuk-heading-m">{{ wcag_definition.name }}</h3>
                            <p class="govuk-body-m">{{ wcag_definition.description }}</p>
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header amp-width-one-third">Page</th>
                                        <th scope="col" class="govuk-table__header amp-width-one-third">Initial notes</th>
                                        <th scope="col" class="govuk-table__header amp-width-one-third">Fixed at 12-weeks?</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    {% for failure in failures %}
                                        <tr class="govuk-table__row ">
                                            <td scope="row" class="govuk-table__cell amp-width-one-third">
                                                <ul class="govuk-list">
                                                    <li>{{ failure.page }}</li>
                                                    {% if failure.page.failed_check_results %}
                                                        <li>
                                                            <a href="{% url 'audits:edit-audit-retest-page-checks' failure.page.id %}" class="govuk-link govuk-link--no-visited-state{% if not failure.page.location %} amp-margin-bottom-0{% endif %}">
                                                                Edit retest
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                    <li>
                                                        <a href="{{ failure.page.url }}" class="govuk-link{% if not failure.page.location %} amp-margin-bottom-0{% endif %}" target="_blank">
                                                            Link to {% if failure.page.page_type == 'pdf' %}{{ failure.page }}{% else %}{{ failure.page|lower }}{% endif %}
                                                        </a>
                                                        {% if failure.page.location %}
                                                            <p class="govuk-body">{{ failure.page.location }}</p>
                                                        {% endif %}
                                                    </li>
                                                </ul>
                                            </td>
                                            <td scope="row" class="govuk-table__cell amp-width-one-third amp-notes">
                                                {{ failure.notes|markdown_to_html }}
                                            </td>
                                            <td class="govuk-table__cell amp-width-one-third amp-notes">
                                                {{ failure.get_retest_state_display }}<br>
                                                {{ failure.retest_notes|markdown_to_html }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
                <form method="post" action="{% url 'audits:edit-audit-retest-pages-comparison' audit.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_form_snippet.html' %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'audits/helpers/retest_save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
