{% extends 'common/case_form.html' %}

{% block preform %}
{% for statement_page in initial_statement_pages %}
    <h2 id="statement-page-{{ statement_page.id }}" class="govuk-heading-m">Initial link {{ forloop.counter }}</h2>
    <p class="govuk-body amp-margin-bottom-5"><b>Link to statement</b></p>
    <p class="govuk-body">
        <a href="{{ statement_page.url }}" rel="noreferrer noopener"
            target="_blank" class="govuk-link">{{ statement_page.url }}</a>
        <span class="amp-new-window">&nbsp;&nbsp;&nbsp;</span>
    </p>
    <p class="govuk-body amp-margin-bottom-5"><b>Statement backup</b></p>
    <p class="govuk-body">
        <a href="{{ statement_page.backup_url }}" rel="noreferrer noopener"
            target="_blank" class="govuk-link">{{ statement_page.backup_url }}</a>
        <span class="amp-new-window">&nbsp;&nbsp;&nbsp;</span>
    </p>
{% endfor %}
{% endblock %}

{% block form %}
    {% include 'common/formset_error_summary.html' with formset=statement_pages_formset %}
    <form method="post" action="{% url 'audits:edit-audit-retest-statement-pages' audit.id %}">
        {% csrf_token %}
        {{ statement_pages_formset.management_form }}
        {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
        <table class="govuk-table">
            <tbody class="govuk-table__body">
            {% if statement_pages_formset.forms %}
                {% for statement_page_form in statement_pages_formset %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <h2 id="statement-page-{{ statement_page_form.instance.id }}" class="govuk-heading-m">12-week link {{ forloop.counter }}</h2>
                                    {% include 'common/form_errors.html' with errors=statement_page_form.non_field_errors %}
                                    {% include 'common/form_hidden_fields.html' with hidden_fields=statement_page_form.hidden_fields %}
                                    {% for field in statement_page_form.visible_fields %}
                                        {% include 'common/amp_field.html' %}
                                    {% endfor %}
                                </div>
                                {% if statement_page_form.instance.id %}
                                    <div class="govuk-grid-column-full">
                                        <input
                                            type="submit"
                                            value="Remove statement link"
                                            name="remove_statement_page_{{ statement_page_form.instance.id }}"
                                            class="govuk-button govuk-button--secondary"
                                            data-module="govuk-button" />
                                    </div>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <p class="govuk-body-l">No statement links have been entered</p>
            {% endif %}
            </tbody>
        </table>
        <input
            type="submit"
            value={% if statement_pages_formset.forms %}"Save and add link to statement"{% else %}"Create statement link"{% endif %}
            name="add_statement_page"
            class="govuk-button govuk-button--secondary"
            data-module="govuk-button"
        />
        {% include 'common/amp_field.html' with field=form.audit_retest_statement_pages_complete_date %}
        {% include 'simplified/helpers/save_continue_cancel.html' %}
    </form>
{% endblock %}
