{% extends 'common/case_form.html' %}

{% load static %}

{% block preform %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'audits/helpers/psb_page_links.html' %}
        </div>
    </div>
    {% include 'audits/helpers/page_check_filters.html' with page='retest' %}
{% endblock %}

{% block form %}
    <form method="post" action="{% url 'audits:edit-audit-retest-page-checks' page.id %}">
        <div class="govuk-grid-row">
            {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
            <div class="govuk-grid-column-one-half">
                {% include 'common/amp_field.html' with field=form.retest_complete_date %}
            </div>
            <div class="govuk-grid-column-one-half">
                {% include 'common/amp_field.html' with field=form.retest_page_missing_date %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <details class="govuk-details" data-module="govuk-details" {% if form.retest_notes.value %}open{% endif %}>
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">Additional issues found on page</span>
                    </summary>
                    <div class="govuk-details__text">
                        {% if other_pages_with_retest_notes %}
                            <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Other additional issues
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <ul class="govuk-list govuk-list--bullet amp-margin-bottom-10">
                                    {% for other_page in other_pages_with_retest_notes %}
                                        <li>
                                            <b>{{ other_page }}</b>
                                            <textarea id="{{ form.retest_notes.auto_id }}-{{ forloop.counter }}" hidden>{{ other_page.retest_notes }}</textarea>
                                            <span tabIndex="0"
                                                class="amp-control amp-copy-error"
                                                sourceId="{{ form.retest_notes.auto_id }}-{{ forloop.counter }}"
                                                targetId="{{ form.retest_notes.auto_id }}">
                                                Click to populate additional issues</span>
                                            {{ other_page.retest_notes|markdown_to_html }}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </details>
                        {% endif %}
                        {% include 'common/amp_field.html' with field=form.retest_notes %}
                    </div>
                </details>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-button-group">
                <input
                    type="submit"
                    value="Save and continue"
                    name="save_continue"
                    class="govuk-button"
                    data-module="govuk-button"
                />
                <input
                    type="submit"
                    value="Save"
                    name="save"
                    class="govuk-button govuk-button--secondary"
                    data-module="govuk-button"
                />
            </div>
        </div>
        {% include 'common/next_platform_page.html' %}
        {% include 'common/formset_error_summary.html' with formset=check_results_formset %}
        {% csrf_token %}
        {% include 'common/form_errors.html' with errors=form.non_field_errors %}
        {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
        {{ check_results_formset.management_form }}
        {% for check_result, form in check_results_and_forms %}
            <div class="govuk-grid-row"
                data-check-type="{{ check_result.wcag_definition.type }}"
                data-filter-string="{{ check_result.wcag_definition }} {{ check_result.wcag_definition.hint }} {{ check_result.issue_identifier }}"
            >
                <div class="govuk-grid-column-full">
                    <hr class="amp-width-100 amp-margin-bottom-30">
                    <label class="govuk-label"><b>{{ check_result.wcag_definition }}</b> [{{ check_result.issue_identifier }}]</label>
                    <div class="govuk-hint">{{ check_result.notes|markdown_to_html }}</div>
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    {% include 'common/amp_field.html' with field=form.retest_state %}
                    {% if check_result.matching_wcag_with_retest_notes_check_results %}
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    Matching errors
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                <ul class="govuk-list govuk-list--bullet amp-margin-bottom-10">
                                {% for other_check_result in check_result.matching_wcag_with_retest_notes_check_results %}
                                    <li>
                                        <b>{{ other_check_result.page }}</b>
                                        <textarea id="{{ form.retest_notes.auto_id }}-{{ forloop.counter }}" hidden>{{ other_check_result.retest_notes }}</textarea>
                                        <span tabIndex="0"
                                            class="amp-control amp-copy-error"
                                            sourceId="{{ form.retest_notes.auto_id }}-{{ forloop.counter }}"
                                            targetId="{{ form.retest_notes.auto_id }}">
                                            Click to populate error details</span>
                                        {{ other_check_result.retest_notes|markdown_to_html }}
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </details>
                    {% endif %}
                    {% include 'common/amp_field.html' with field=form.retest_notes %}
                    {% include 'common/preview_markdown.html' with field_id=form.retest_notes.auto_id %}
                </div>
            </div>
        {% endfor %}
    </form>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-body">
            <hr class="amp-width-100 amp-margin-bottom-30">
            {% include 'common/back_to_top.html' %}
        </div>
    </div>
{% endblock %}

{% block extrascript %}
    <script src="{% static 'js/audits_check_filter.js' %}"></script>
    <script src="{% static 'js/audits_copy_error.js' %}"></script>
    <script src="{% static 'js/markdown_preview.js' %}"></script>
{% endblock %}
