{% extends 'base.html' %}

{% load l10n %}

{% block title %}{{ audit.case.organisation_name }} | {{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/case_banner.html' with case=audit.case %}
        </div>
    </div>
    {% include 'audits/helpers/breadcrumb_audit_retest.html' with page_heading=sitemap.current_platform_page.get_name %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading=sitemap.current_platform_page.get_name case=audit.case %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include 'audits/helpers/twelve_week_retest_nav_steps.html' with current_page='audits:edit-audit-retest-pages-comparison' %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                {% include 'cases/helpers/email_templates.html' with case=audit.case %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full govuk-button-group">
                        <a
                            href="{% url 'audits:edit-audit-retest-pages-comparison-by-wcag' audit.id %}?{% if hide_fixed %}hide-fixed=true{% else %}show-all=true{% endif %}"
                            class="govuk-button govuk-button--secondary"
                        >
                            Group by WCAG
                        </a>
                        {% if hide_fixed %}
                            <a href="?show-all=true" class="govuk-button govuk-button--secondary">Show all</a>
                        {% else %}
                            <a href="?hide-fixed=true" class="govuk-button govuk-button--secondary">Hide fixed</a>
                        {% endif %}
                    </div>
                </div>
                {% include 'common/error_summary.html' %}
                {% include 'audits/helpers/missing_pages.html' %}
                <h2 class="govuk-heading-l">Test summary | Page view</h2>
                {% for page in audit.testable_pages %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <h3 class="govuk-heading-m">{{ page }}</h3>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full govuk-button-group">
                                    {% if page.failed_check_results %}
                                        <a href="{% url 'audits:edit-audit-retest-page-checks' page.id %}" class="govuk-link govuk-link--no-visited-state{% if not page.location %} amp-margin-bottom-0{% endif %}">
                                            Edit retest
                                        </a>
                                    {% endif %}
                                    <a href="{{ page.url }}" class="govuk-link{% if not page.location %} amp-margin-bottom-0{% endif %}" target="_blank">
                                        Link to {% if page.page_type == 'pdf' %}{{ page }}{% else %}{{ page|lower }}{% endif %}
                                    </a>
                                    {% if page.location %}
                                        <p class="govuk-body">{{ page.location }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            {% if hide_fixed and not page.unfixed_check_results %}
                            {% elif not page.failed_check_results %}
                            {% else %}
                                <table class="govuk-table">
                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th scope="col" class="govuk-table__header amp-width-one-third">Initial WCAG issues</th>
                                            <th scope="col" class="govuk-table__header amp-width-one-third">Initial notes</th>
                                            <th scope="col" class="govuk-table__header amp-width-one-third">Fixed at 12-weeks?</th>
                                        </tr>
                                    </thead>
                                    <tbody class="govuk-table__body">
                                        {% for failure in page.failed_check_results %}
                                            {% if hide_fixed and failure.retest_state == 'fixed' %}
                                            {% else %}
                                                <tr class="govuk-table__row ">
                                                    <td scope="row" class="govuk-table__cell amp-width-one-third">
                                                        {{ failure.wcag_definition.name }}
                                                    </td>
                                                    <td scope="row" class="govuk-table__cell amp-width-one-third amp-notes">
                                                        {{ failure.notes|markdown_to_html }}
                                                    </td>
                                                    <td class="govuk-table__cell amp-width-one-third amp-notes">
                                                        {{ failure.get_retest_state_display }}<br>
                                                        {{ failure.retest_notes|markdown_to_html }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                            <p class="govuk-body-m">
                                <b>Additional issues found on page</b>
                            </p>
                            <div class="govuk-body-m amp-margin-bottom-30">
                                {% if page.retest_notes %}
                                    {{ page.retest_notes|markdown_to_html}}
                                {% else %}
                                    None
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <form method="post" action="{% url 'audits:edit-audit-retest-pages-comparison' audit.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_form_snippet.html' %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'audits/helpers/retest_save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
