{% extends 'common/case_form.html' %}

{% load static %}

{% block preform %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-m amp-margin-bottom-0">
            ▼ <a href="#save-and-continue-buttons" class="govuk-link govuk-link--no-visited-state">Go to save and continue</a>
        </p>
    </div>
    <div class="govuk-grid-column-one-third govuk-button-group">
        <p class="govuk-body-m amp-margin-bottom-10">
            {% if page.url %}
                <a href="{{ page.url }}" rel="noreferrer noopener" target="_blank" class="govuk-link amp-margin-right-5">
                    Open page in new tab
                </a>
                <div class="amp-new-window"></div>
            {% else %}
                None
            {% endif %}
        </p>
        {% if page.location %}
            <p class="govuk-body-m">
                Page location: {{ page.location }}
            </p>
        {% endif %}
    </div>
</div>
{% if page.updated_url or page.updated_location %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full amp-margin-bottom-0">
            <p class="govuk-body-m amp-margin-bottom-0"><b>12-week retest</b></p>
        </div>
        <div class="govuk-grid-column-full govuk-button-group">
            <p class="govuk-body-m amp-margin-bottom-0">
                {{ page.page_title }} link:
                {% if page.updated_url %}
                    <a href="{{ page.updated_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link amp-margin-right-5">
                        Open page in new tab
                    </a>
                    <div class="amp-new-window"/></div>
                {% else %}
                    None
                {% endif %}
            </p>
            {% if page.updated_location %}
                <p class="govuk-body-m">
                    Page location:
                    {% if page.updated_location %}
                        {{ page.updated_location }}
                    {% else %}
                        N/A
                    {% endif %}
                </p>
            {% endif %}
        </div>
    </div>
{% endif %}
{% include 'audits/helpers/page_check_filters.html' with page='retest' %}
{% endblock %}

{% block form %}
    <form method="post" action="{% url 'audits:edit-audit-retest-page-checks' page.id %}">
        <div class="govuk-grid-row">
            {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
            <div class="govuk-grid-column-full">
                {% include 'common/amp_field.html' with field=form.retest_page_missing_date %}
            </div>
        </div>
        {% include 'common/formset_error_summary.html' with formset=check_results_formset %}
        {% csrf_token %}
        {% include 'common/form_errors.html' with errors=form.non_field_errors %}
        {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
        {{ check_results_formset.management_form }}
        {% for form in check_results_formset %}
            <div class="govuk-grid-row" id="{{ form.initial.check_result.issue_identifier }}"
                data-check-type="{{ form.initial.check_result.wcag_definition.type }}"
                data-filter-string="{{ form.initial.check_result.wcag_definition }} {{ form.initial.check_result.wcag_definition.hint }} {{ form.initial.check_result.issue_identifier }}"
            >
                <div class="govuk-grid-column-full">
                    <hr class="amp-width-100 amp-margin-bottom-30">
                    <p class="govuk-heading-s"><b>{{ form.initial.check_result.wcag_definition }}</b> [{{ form.initial.check_result.issue_identifier }}]</p>
                    <p class="govuk-heading-s amp-margin-bottom-5"><b>Error details for report</b></p>
                    <div class="amp-nav-details__text amp-markdown">
                        {{ form.initial.check_result.notes|markdown_to_html }}
                        {% if form.initial.check_result.notes %}
                            <a
                                href="#"
                                class="amp-initial-report-text"
                                id="amp-report-content-copy-{{forloop.counter0}}"
                                data-report-text="{{form.initial.check_result.notes}}"
                            >
                                Copy report text to error details
                            </a>
                        {% endif %}
                    </div>
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    {% include 'common/amp_field.html' with field=form.retest_state %}
                    {% include 'audits/helpers/check_result_matching_retest_errors.html' with check_result=form.initial.check_result %}
                    {% include 'common/amp_field.html' with field=form.retest_notes %}
                    {% include 'common/preview_markdown.html' with field_id=form.retest_notes.auto_id %}
                    {% include 'audits/helpers/check_result_retest_notes_history.html' with check_result=form.initial.check_result %}
                    <div class="govuk-grid-row amp-margin-bottom-20 amp-margin-top-20">
                        <div class="govuk-grid-column-full govuk-button-group">
                            ▼ &nbsp; <a href="#save-and-continue-buttons" class="govuk-link govuk-link--no-visited-state">Go to save and continue</a>
                            ▲ &nbsp; {% include 'common/back_to_top.html' %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <hr class="amp-width-100 amp-margin-bottom-30">
                <label class="govuk-label amp-margin-bottom-30"><b>Additional issues found on page</b></label>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Other additional issues ({{ other_pages_with_retest_notes|length }})
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <ul class="govuk-list govuk-list--bullet amp-margin-bottom-10">
                        {% for other_page in other_pages_with_retest_notes %}
                            <li>
                                <b>{{ other_page }}</b>
                                <textarea id="{{ form.retest_notes.auto_id }}-{{ forloop.counter }}" hidden>{{ other_page.retest_notes }}</textarea>
                                <span tabIndex="0"
                                    class="amp-control amp-copy-error"
                                    sourceId="{{ form.retest_notes.auto_id }}-{{ forloop.counter }}"
                                    targetId="{{ form.retest_notes.auto_id }}">
                                    Click to populate additional issues</span>
                                {{ other_page.retest_notes|markdown_to_html }}
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </details>
                {% include 'common/amp_field.html' with field=form.retest_notes %}
                {% include 'common/preview_markdown.html' with field_id=form.retest_notes.auto_id %}
                <div class="govuk-grid-row amp-margin-bottom-20 amp-margin-top-20">
                    <div class="govuk-grid-column-full govuk-button-group">
                        ▲ &nbsp; {% include 'common/back_to_top.html' %}
                    </div>
                </div>
            </div>
        </div>
        <hr id="save-and-continue-buttons" class="amp-width-100 amp-margin-bottom-30">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include 'common/amp_field.html' with field=form.retest_complete_date %}
            </div>
        </div>
        {% include 'simplified/helpers/save_continue_cancel.html' %}
    </form>
{% endblock %}

{% block extrascript %}
    <script src="{% static 'js/audits_check_filter.js' %}"></script>
    <script src="{% static 'js/audits_copy_error.js' %}"></script>
    <script src="{% static 'js/markdown_preview.js' %}"></script>
    <script src="{% static 'js/audits_copy_initial_error_details.js' %}"></script>
{% endblock %}
