{% extends 'simplified/base.html' %}

{% block casebanner %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% include 'cases/helpers/case_banner.html' %}
    </div>
</div>
{% endblock casebanner %}

{% block breadcrumbs %}
{% include 'detailed/helpers/breadcrumbs.html' with show_platform_page_group_name=True %}
{% endblock %}

{% block maincontent %}
<div class="govuk-grid-row">
    {% if amp_hide_case_nav %}
        <div class="govuk-grid-column-full">
    {% else %}
        <div class="govuk-grid-column-one-quarter">
            {% include "cases/helpers/case_nav.html" with case_nav_type='detailed_case_nav' %}
        </div>
        <div class="govuk-grid-column-three-quarters amp-padding-vertical-30">
    {% endif %}
        {% include "common/helpers/edit_header.html" %}
        {% include 'common/error_summary.html' %}
        {% block preform %}{% endblock %}
        {% block form %}
        <form method="post" action="{% url sitemap.current_platform_page.url_name object.id %}">
            {% csrf_token %}
            {% include 'common/form_errors.html' with errors=form.non_field_errors %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {% block formfields %}
                    {% include 'common/amp_form_snippet.html' %}
                    {% endblock %}
                </div>
            </div>
            {% block formbuttons %}
                {% include 'simplified/helpers/save_continue_cancel.html' %}
            {% endblock %}
        </form>
        {% endblock %}
        {% block postform %}{% endblock %}
    </div>
</div>
{% endblock maincontent %}
