{% extends 'base.html' %}

{% load static %}

{% block title %}{{ detailed_case.organisation_name }} | {{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/case_banner.html' %}
        </div>
    </div>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            {% include 'common/breadcrumb_home.html' %}
            <li class="govuk-breadcrumbs__list-item">{{ sitemap.current_platform_page.platform_page_group.name }}</li>
            <li class="govuk-breadcrumbs__list-item">{{ sitemap.current_platform_page.get_name }}</li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-button-group">
                    <h1 class="govuk-heading-xl amp-margin-bottom-15 amp-padding-right-20">{{ sitemap.current_platform_page.get_name }}</h1>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                {% include 'cases/details/search_in_case.html' %}
                <span class="amp-todo">TODO search</span>
                <hr class="amp-width-100 amp-margin-bottom-30" />
                {% include 'cases/helpers/case_nav.html' with case_nav_type='detailed_case_nav' %}
            </div>
            <div class="govuk-grid-column-one-half">
                {% include 'detailed/helpers/overview.html' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
