{% extends 'detailed/base.html' %}

{% load static %}

{% block breadcrumbs %}
{% include 'cases/helpers/breadcrumbs_overview.html' %}
{% endblock %}

{% block maincontent %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-button-group">
            <h1 class="govuk-heading-xl amp-margin-bottom-15 amp-padding-right-20">{{ sitemap.current_platform_page.get_name }}</h1>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        {% include 'detailed/details/search_in_case.html' %}
        <hr class="amp-width-100 amp-margin-bottom-30" />
        {% include 'cases/helpers/case_nav.html' with case_nav_type='detailed_case_nav' %}
    </div>
    <div class="govuk-grid-column-one-half">
        {% include 'detailed/helpers/overview.html' %}
    </div>
</div>
{% include 'detailed/details/sections.html' with hide_sections=True %}
{% endblock %}

{% block extrascript %}
<script src="{% static 'js/cases_search_in_case.js' %}"></script>
{% endblock %}
