<div class="govuk-date-input">
    {% for subwidget in widget.subwidgets %}
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label"{% if subwidget.attrs.id %} for="{{ subwidget.attrs.id }}"{% endif %}>
                    {{ subwidget.attrs.label }}
                </label>
                <input
                    class="{{ subwidget.attrs.class }}"
                    type="{{ subwidget.type }}"
                    name="{{ subwidget.name }}"
                    {% if subwidget.value is not None %}
                        value="{{ subwidget.value|stringformat:'s' }}"
                    {% endif %}
                    {% for name, value in subwidget.attrs.items %}
                        {% if value is not False and name != 'label' %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}
                    {% endfor %}
                >
            </div>
        </div>
    {% endfor %}
</div>
<p class="govuk-body-m" style="margin-top:10px;margin-bottom:0;">
    <span class="amp-control" tabIndex="0"
        onkeypress="keypressPopulateWithTodaysDate(event, '{{ widget.subwidgets.0.attrs.id }}', '{{ widget.subwidgets.1.attrs.id }}', '{{ widget.subwidgets.2.attrs.id }}')"
        onclick="clickPopulateWithTodaysDate('{{ widget.subwidgets.0.attrs.id }}', '{{ widget.subwidgets.1.attrs.id }}', '{{ widget.subwidgets.2.attrs.id }}')">
        Populate with today's date
    </span>
</p>
