{% if form.non_field_errors %}
    <div class="govuk-grid-column-full govuk-error-message">
        {% for error in form.non_field_errors %}
            <p class="govuk-error-message">{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}

{% for hidden_field in form.hidden_fields %}
    <div class="govuk-error-message">{{ hidden_field.errors }}</div>
    {{ hidden_field }}
{% endfor %}

<div class="govuk-grid-column-full">
    {% for field in form.visible_fields %}
        {% include 'common/amp_field.html' %}
    {% endfor %}
</div>
