<div class="govuk-form-group{% if field.errors %} govuk-form-group--error{% endif %}">
    {% if field.field.widget.input_type == 'radio' %}
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l no-bottom-margin">
                <label class="govuk-label"><b>{{ field.label }}</b></label>
            </legend>
            <div class="govuk-hint">{{ field.help_text }}</div>
            <span id="{{ field.auto_id }}-error" class="govuk-error-message">
                {% for error in field.errors %}
                    <span class="govuk-visually-hidden">Error:</span> {{ error }}
                {% endfor %}
            </span>
            {{ field }}
        </fieldset>
    {% else %}
        <label class="govuk-label" for="{{ field.auto_id }}"><b>{{ field.label }}</b></label>
        <div class="govuk-hint">{{ field.help_text }}</div>
        <span id="{{ field.auto_id }}-error" class="govuk-error-message">
            {% for error in field.errors %}
                <span class="govuk-visually-hidden">Error:</span> {{ error }}
            {% endfor %}
        </span>
        {{ field }}
    {% endif %}
</div>
