<div class="govuk-date-input">
    {% for subwidget in widget.subwidgets %}
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label"{% if subwidget.attrs.id %} for="{{ subwidget.attrs.id }}"{% endif %}>
                    {{ subwidget.attrs.label }}
                </label>
                <input
                    class="{{ subwidget.attrs.class }}"
                    type="{{ subwidget.type }}"
                    name="{{ subwidget.name }}"
                    {% if subwidget.value is not None %}
                        value="{{ subwidget.value|stringformat:'s' }}"
                    {% endif %}
                    {% for name, value in subwidget.attrs.items %}
                        {% if value is not False and name != 'label' %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}
                    {% endfor %}
                >
            </div>
        </div>
    {% endfor %}
</div>
{% if widget.attrs.populate_with_future_dates %}
    <p class="govuk-body-m amp-margin-top-10 amp-margin-bottom-0">
        <span class="amp-control amp-populate-date-1-week" tabIndex="0"
            dayFieldId="{{ widget.subwidgets.0.attrs.id }}"
            monthFieldId="{{ widget.subwidgets.1.attrs.id }}"
            yearFieldId="{{ widget.subwidgets.2.attrs.id }}">
            Populate date with one week from today
        </span>
    </p>
    <p class="govuk-body-m amp-margin-top-0 amp-margin-bottom-0">
        <span class="amp-control amp-populate-date-2-weeks" tabIndex="0"
            dayFieldId="{{ widget.subwidgets.0.attrs.id }}"
            monthFieldId="{{ widget.subwidgets.1.attrs.id }}"
            yearFieldId="{{ widget.subwidgets.2.attrs.id }}">
            Populate date with two weeks from today
        </span>
    </p>
    <p class="govuk-body-m amp-margin-top-0 amp-margin-bottom-0">
        <span class="amp-control amp-populate-date-4-weeks" tabIndex="0"
            dayFieldId="{{ widget.subwidgets.0.attrs.id }}"
            monthFieldId="{{ widget.subwidgets.1.attrs.id }}"
            yearFieldId="{{ widget.subwidgets.2.attrs.id }}">
            Populate date with four weeks from today
        </span>
    </p>
    <p class="govuk-body-m amp-margin-top-0 amp-margin-bottom-0">
        <span class="amp-control amp-populate-date-12-weeks" tabIndex="0"
            dayFieldId="{{ widget.subwidgets.0.attrs.id }}"
            monthFieldId="{{ widget.subwidgets.1.attrs.id }}"
            yearFieldId="{{ widget.subwidgets.2.attrs.id }}">
            Populate date with 12 weeks from today
        </span>
    </p>
{% elif widget.attrs.populate_with_12_week_only %}
    <p class="govuk-body-m amp-margin-top-10 amp-margin-bottom-0">
        <span class="amp-control amp-populate-date-12-weeks" tabIndex="0"
            dayFieldId="{{ widget.subwidgets.0.attrs.id }}"
            monthFieldId="{{ widget.subwidgets.1.attrs.id }}"
            yearFieldId="{{ widget.subwidgets.2.attrs.id }}">
            Populate date with 12 weeks from today
        </span>
    </p>
{% else %}
    <p class="govuk-body-m amp-margin-top-10 amp-margin-bottom-0">
        <span class="amp-control amp-populate-date-today" tabIndex="0"
            dayFieldId="{{ widget.subwidgets.0.attrs.id }}"
            monthFieldId="{{ widget.subwidgets.1.attrs.id }}"
            yearFieldId="{{ widget.subwidgets.2.attrs.id }}">
            Populate with today's date
        </span>
    </p>
{% endif %}
