{% with id=widget.attrs.id %}
    <div class="govuk-radios {% if widget.attrs.horizontal %} govuk-radios--inline{% endif %} {% if widget.attrs.small %} govuk-radios--small amp-small-inline-radio{% endif %}">
        {% for group, options, index in widget.optgroups %}
            {% for option in options %}
                <div class="govuk-radios__item">
                    <input
                        class="govuk-radios__input"
                        type="{{ option.type }}"
                        name="{{ option.name }}"
                        {% if option.value != None %}
                            value="{{ option.value|stringformat:'s' }}"
                            {% if option.value == widget.value %}
                                selected
                            {% endif %}
                        {% endif %}
                        {% for name, value in option.attrs.items %}
                            {% if value is not False and name != 'label' %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}
                        {% endfor %}
                    >
                    {% if option.wrap_label %}
                    <label class="govuk-label govuk-radios__label"{% if option.attrs.id %} for="{{ option.attrs.id }}"{% endif %}>
                        {{ option.label }}
                    </label>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endwith %}
