<div class="govuk-form-group{% if field.errors %} govuk-form-group--error{% endif %}">
    {% if field.field.widget.input_type == 'radio' %}
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <label id="{{ field.auto_id }}-label" class="govuk-label"><b>{{ field.label }}</b></label>
            </legend>
            {% if field.help_text %}<div class="govuk-hint">{{ field.help_text }}</div>{% endif %}
            {% include 'common/field_errors.html' with errors=field.errors %}
            {{ field }}
        </fieldset>
    {% else %}
        <label id="{{ field.auto_id }}-label" class="govuk-label" for="{{ field.auto_id }}"><b>{{ field.label }}</b></label>
        {% if field.help_text %}<div class="govuk-hint">{{ field.help_text }}</div>{% endif %}
        {% include 'common/field_errors.html' with errors=field.errors %}
        {{ field }}
    {% endif %}
</div>
