{% extends 'base.html' %}

{% block title %}{{ case.organisation_name }} | {{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/case_banner.html' %}
        </div>
    </div>
    {% block breadcrumbs %}
    {% include 'cases/helpers/breadcrumbs.html' %}
    {% endblock %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        {% include 'cases/helpers/compliant_website_notification.html' %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter amp-padding-left-0">
                {% block nav %}
                    {% if case.archive %}
                        <p class="govuk-body-s amp-margin-bottom-10">
                            <a href="{% url 'cases:case-detail' case.id %}" class="govuk-link govuk-link--no-visited-state">Archived case</a>
                        </p>
                    {% endif %}
                    {% include "cases/helpers/case_nav.html" %}
                {% endblock %}
            </div>
            <div class="govuk-grid-column-three-quarters amp-padding-vertical-30">
                {% block header %}
                {% include "cases/helpers/edit_header.html" %}
                {% endblock %}
                {% include 'common/error_summary.html' %}
                {% block preform %}{% endblock %}
                {% block form %}
                <form method="post" action="{% url sitemap.current_platform_page.url_name object.id %}">
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% block formfields %}
                            {% include 'common/amp_form_snippet.html' %}
                            {% endblock %}
                        </div>
                    </div>
                    {% block formbuttons %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'cases/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                    {% endblock %}
                </form>
                {% endblock %}
                {% block postform %}{% endblock %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
