{% extends 'base.html' %}

{% block title %}{{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            {% include 'common/breadcrumb_home.html' %}
            <li class="govuk-breadcrumbs__list-item">{{ sitemap.current_platform_page.get_name }}</li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl amp-margin-bottom-15">{{ sitemap.current_platform_page.get_name }}</h1>
                {% include 'common/error_summary.html' %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" action="{% url 'common:contact-admin' %}">
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}

                    <div class="govuk-grid-row">
                        {% for field in form.visible_fields %}
                            <div class="govuk-grid-column-full govuk-form-group">
                                <label class="govuk-label"
                                    for="{{ field.auto_id }}"><b>{{ field.label }}</b>
                                </label>
                                <p class="govuk-body-m">{{ field.help_text }}</p>
                                {% include 'common/form_errors.html' with errors=field.errors %}
                                {{ field }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Submit enquiry"
                                name="submit"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
            </div>
        </div>
    </main>
</div>
{% endblock %}
