<h3 class="govuk-heading-m amp-margin-bottom-5">Frequently used links</h3>
<ul class="govuk-list">
    <li>
        {% if case.audit %}
            <a href="{{ case.audit.get_absolute_url }}" class="govuk-link govuk-link--no-visited-state">
                View test
            </a>
        {% else %}
            No test
        {% endif %}
    </li>
    <li>
        {% if case.audit %}
            <a href="{% url 'audits:audit-retest-detail' case.audit.id %}" class="govuk-link govuk-link--no-visited-state">
                12-week retest
            </a>
        {% else %}
            No 12-week retest
        {% endif %}
    </li>
    <li>
        <a href="{% url 'cases:outstanding-issues' case.id %}?view=Page view" rel="noreferrer noopener" class="govuk-link govuk-link--no-visited-state">
            View outstanding issues
        </a>
    </li>
    <li>
        <a href="{% url 'cases:twelve-week-correspondence-email' case.id %}" rel="noreferrer noopener" class="govuk-link govuk-link--no-visited-state">
            View email template
        </a>
    </li>
    <li>
        {% if case.report.latest_s3_report %}
            <a href="{{ case.published_report_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                View published HTML report
            </a>
        {% else %}
            No report has been published
        {% endif %}
    </li>
    <li>
        <a href="{{ case.home_page_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
            View website
        </a>
    </li>
    {% if in_testing_ui %}
        <li>
            <a href="{{ case.get_absolute_url }}" rel="noreferrer noopener" class="govuk-link govuk-link--no-visited-state">
                Link to case view
            </a>
        </li>
    {% endif %}
    {% if case.zendesk_url %}
        <li>
            <a href="{{ case.zendesk_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                Zendesk
            </a>
        </li>
    {% endif %}
    {% if case.trello_url %}
        <li>
            <a href="{{ case.trello_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                Trello
            </a>
        </li>
    {% endif %}
    <li>
        {% if case.audit.latest_statement_link %}
            <a href="{{ case.audit.latest_statement_link }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                View latest accessibility statement
            </a>
        {% else %}
            No accessibility statement URL found
        {% endif %}
    </li>
    {% if in_testing_ui %}
        <li>
            <a href="{% url 'common:markdown-cheatsheet' %}" target="_blank" class="govuk-link govuk-link--no-visited-state">
                Markdown cheatsheet
            </a>
        </li>
    {% endif %}
    {% for custom_frequently_used_link in custom_frequently_used_links %}
        <li>
            <a href="{{ custom_frequently_used_link.url }}" target="_blank" class="govuk-link govuk-link--no-visited-state">
                {{ custom_frequently_used_link.label }}
            </a>
        </li>
    {% endfor %}
</ul>
