<br/>
<h2 class="govuk-heading-s amp-margin-bottom-10">Case tools</h2>
<div class="amp-nav-steps">
    <ul class="govuk-list">
        {% for platform_page_group in sitemap.platform_page_groups %}
            {% if platform_page_group.type == 'case_tools' and platform_page_group.show %}
                {% for platform_page in platform_page_group.pages %}
                    {% if platform_page.show %}
                        <li>
                            <a href="{{ platform_page.url }}" rel="noreferrer noopener" class="govuk-link govuk-link--no-visited-state">
                                {{ platform_page.get_name }}</a>
                        </li>
                        {% if platform_page.url_name == 'cases:zendesk-tickets' %}
                            <li>
                                <a href="{% url 'cases:list-equality-body-correspondence' case.id %}" class="govuk-link govuk-link--no-visited-state">
                                    Equality body Zendesk tickets
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
<h2 class="govuk-heading-s amp-margin-bottom-10">Links</h2>
<div class="amp-nav-steps">
    <ul class="govuk-list">
        {% for frequently_used_link in frequently_used_links %}
            <li>
                <a href="{{ frequently_used_link.url }}" target="_blank" class="govuk-link govuk-link--no-visited-state">
                    {% if frequently_used_link.label %}
                        {{ frequently_used_link.label }}
                    {% else %}
                        {{ frequently_used_link.url }}
                    {% endif %}
                </a>
            </li>
        {% endfor %}
        {% if case.trello_url %}
            <li>
                <a href="{{ case.trello_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                    Trello
                </a>
            </li>
        {% endif %}
        <li>
            {% if case.audit.latest_statement_link %}
                <a href="{{ case.audit.latest_statement_link }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                    Latest accessibility statement
                </a>
            {% else %}
                No accessibility statement URL
            {% endif %}
        </li>
    </ul>
</div>
