

{% extends 'base.html' %}

{% load l10n %}

{% block title %}{{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-breadcrumbs">
                    <ol class="govuk-breadcrumbs__list">
                        {% include 'common/breadcrumb_home.html' %}
                        {% if sitemap.current_platform_page.platform_page_group.name %}
                            <li class="govuk-breadcrumbs__list-item">{{ sitemap.current_platform_page.platform_page_group.name }}</li>
                        {% endif %}
                        <li class="govuk-breadcrumbs__list-item">{{ sitemap.current_platform_page.get_name }}</li>
                    </ol>
                </div>
                <h1 class="govuk-heading-xl amp-margin-bottom-15">{{ sitemap.current_platform_page.get_name }}</h1>
                {% include "common/pagination_controls.html" %}
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                    {% for issue_report in issue_reports %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <h2 class="govuk-heading-m">
                                    Issue #{{ issue_report.issue_number }}
                                </h2>
                                <p class="govuk-body-m amp-margin-bottom-5">
                                    <b>Page:</b>
                                    {{ issue_report.page_title }}
                                </p>
                                <p class="govuk-body-m amp-margin-bottom-5">
                                    <b>URL:</b>
                                    <a href="https://{{ request.get_host }}{{ issue_report.page_url }}"
                                        class="govuk-link govuk-link--no-visited-state">
                                        https://{{ request.get_host }}{{ issue_report.page_url }}</a>
                                </p>
                                <p class="govuk-body-m amp-margin-bottom-5">
                                    <b>Reported on:</b>
                                    {{ issue_report.created|amp_date }}
                                </p>
                                <p class="govuk-body-m amp-margin-bottom-5">
                                    <b>Reported by:</b>
                                    {{ issue_report.created_by.first_name }}
                                </p>
                                {% if issue_report.goal_description %}
                                    <p class="govuk-body-m amp-margin-bottom-5">
                                        <b>User goal:</b>
                                        {{ issue_report.goal_description }}
                                    </p>
                                {% endif %}
                                <p class="govuk-body-m amp-margin-bottom-5">
                                    <b>User issue:</b>
                                    {{ issue_report.issue_description }}
                                </p>
                                <p class="govuk-body-m amp-margin-bottom-5">
                                    <b>Tech response:</b>
                                    {% if issue_report.notes %}
                                        <i>{{ issue_report.notes }}</i>
                                    {% else %}
                                        None
                                    {% endif %}
                                </p>
                                <p class="govuk-body-m amp-margin-bottom-5">
                                    <b>Trello ticket:</b>
                                    {% if issue_report.trello_ticket %}
                                        <a href="{{ issue_report.trello_ticket }}"
                                            class="govuk-link govuk-link--no-visited-state">
                                            {{ issue_report.trello_ticket }}</a>
                                    {% else %}
                                        None
                                    {% endif %}
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "common/pagination_controls.html" %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
