<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body">
            Next:
            {% if next_platform_pages %}
                {% for next_platform_page in next_platform_pages %}
                    {% if forloop.counter > 1 %}<br>or{% endif %}
                    <b>{{ next_platform_page.platform_page_group.name }} |
                    {{ next_platform_page.get_name }}</b>
                {% endfor %}
            {% else %}
                <span class="amp-highlight">Unknown</span>
            {% endif %}
      </p>
  </div>
</div>
