<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">alpha</strong>
        <span class="govuk-phase-banner__text">
            This is a new service – Please
            {% if prototype_name %}
                report
            {% else %}
                <a href="{% url 'issue-report' %}?page_url={{ request.path }}&page_title={{ page_title }}"
                    target="_blank"
                    class="govuk-link govuk-link--no-visited-state">report</a>
            {% endif %}
            any issues you find in this page
        </span>
    </p>
</div>
