<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">Alpha</strong>
        <span class="govuk-phase-banner__text">
            This is a new service – Please
            {% if django_settings.AMP_PROTOTYPE_NAME and django_settings.AMP_PROTOTYPE_NAME != 'TEST' %}
                report
            {% else %}
                <a href="{% url 'common:issue-report' %}{% if user.is_authenticated %}?page_url={{ request.path }}{% endif %}"
                    target="_blank"
                    class="govuk-link govuk-link--no-visited-state">report</a>
            {% endif %}
            any issues you find in this page
        </span>
    </p>
</div>
