{% extends 'base.html' %}

{% load humanize %}

{% block title %}{{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block phase_banner %}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            {% include 'common/breadcrumb_home.html' %}
            <li class="govuk-breadcrumbs__list-item">{{ sitemap.current_platform_page.get_name }}</li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl amp-margin-bottom-15">{{ sitemap.current_platform_page.get_name }}</h1>
                {% include 'common/error_summary.html' %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Write to log</h2>
                <form method="post" action="{% url 'common:platform-checking' %}">
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}

                    <div class="govuk-grid-row">
                        {% for field in form.visible_fields %}
                            <div class="govuk-grid-column-full govuk-form-group">
                                <label class="govuk-label"
                                    for="{{ field.auto_id }}"><b>{{ field.label }}</b>
                                </label>
                                <p class="govuk-body-m">{{ field.help_text }}</p>
                                {% include 'common/form_errors.html' with errors=field.errors %}
                                {{ field }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Post"
                                name="submit"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <a
                                href="{% url 'dashboard:home' %}"
                                class="govuk-link govuk-link--no-visited-state"
                            >
                                Cancel
                            </a>
                        </div>
                    </div>
                    <h2 class="govuk-heading-m">Trigger exception</h2>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="400"
                                name="trigger_400"
                                class="govuk-button govuk-button--secondary"
                                data-module="govuk-button"
                            />
                            <input
                                type="submit"
                                value="403"
                                name="trigger_403"
                                class="govuk-button govuk-button--secondary"
                                data-module="govuk-button"
                            />
                            <input
                                type="submit"
                                value="500"
                                name="trigger_500"
                                class="govuk-button govuk-button--secondary"
                                data-module="govuk-button"
                            />
                        </div>
                    </div>
                    <h2 class="govuk-heading-m">Housekeeping</h2>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Delete {{ number_of_old_events|intcomma }} old events"
                                name="delete_old_events"
                                class="govuk-button govuk-button--warning"
                                data-module="govuk-button"
                            />
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 id="sitemap" class="govuk-heading-m">Sitemap</h2>
                <ol>
                    {% for platform_page_group in sitemap.platform_page_groups %}
                        <li>
                            {% if platform_page_group.name %}<i>{{ platform_page_group.name }}</i>{% else %}ANONYMOUS{% endif %}
                            (page group type {% if platform_page_group.type %}<code>{{ platform_page_group.type }}</code>{% else %}none{% endif %}):
                            {% if platform_page_group.pages %}
                                {% include 'common/platform_subpages.html' with pages=platform_page_group.pages %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </main>
</div>
{% endblock %}
