{% extends 'base.html' %}

{% block title %}{{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            {% include 'common/breadcrumb_home.html' %}
            <li class="govuk-breadcrumbs__list-item">Tech team</li>
            <li class="govuk-breadcrumbs__list-item">{{ sitemap.current_platform_page.get_name }}</li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl amp-margin-bottom-15">{{ sitemap.current_platform_page.get_name }}</h1>
                <p class="govuk-body">Examples and links to components and patterns used in the platform.</p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <nav role="navigation" class="amp-margin-bottom-40">
                    <h2 class="govuk-heading-m">Contents</h2>
                    <div class="amp-left-border">
                        <ul class="govuk-list">
                            <li>
                                <a href="#id_forms" class="govuk-link govuk-link--no-visited-state">
                                    Forms</a>
                            </li>
                            <li>
                                <a href="#id_formlike_style" class="govuk-link govuk-link--no-visited-state">
                                    Form-like style example</a>
                            </li>
                            <li>
                                <a href="#id_gds_design_system_components" class="govuk-link govuk-link--no-visited-state">
                                    GDS Design system components</a>
                            </li>
                            <li>
                                <a href="#id_headers" class="govuk-link govuk-link--no-visited-state">
                                    Header examples</a>
                            </li>
                            <li>
                                <a href="#id_labels_of_notes_fields" class="govuk-link govuk-link--no-visited-state">
                                    Labels of notes fields</a>
                            </li>
                            <li>
                                <a href="#id_links" class="govuk-link govuk-link--no-visited-state">
                                    Link examples</a>
                            </li>
                            <li>
                                <a href="#id_lists" class="govuk-link govuk-link--no-visited-state">
                                    List examples</a>
                            </li>
                            <li>
                                <a href="#id_markdown_textarea" class="govuk-link govuk-link--no-visited-state">
                                    Markdown textarea example</a>
                            </li>
                            <li>
                                <a href="#id_page_layouts" class="govuk-link govuk-link--no-visited-state">
                                    Page layouts</a>
                            </li>
                            <li>
                                <a href="#id_tables" class="govuk-link govuk-link--no-visited-state">
                                    Tables</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-m">Tech team pages</h2>
                <ul class="govuk-list">
                    <li>
                        <a href="{% url 'common:issue-reports-list' %}" class="govuk-link govuk-link--no-visited-state">
                            Issue reports</a>
                    </li>
                    <li>
                        <a href="{% url 'common:platform-checking' %}" class="govuk-link govuk-link--no-visited-state">
                            Tools and sitemap</a>
                        (<a href="{% url 'common:platform-checking' %}#id_sitemap" class="govuk-link govuk-link--no-visited-state"
                            >sitemap</a>)
                    </li>
                </ul>
                <h2 class="govuk-heading-m">Platform history</h2>
                <ul class="govuk-list">
                    <li>
                        <a href="{% url 'common:platform-history' %}" class="govuk-link govuk-link--no-visited-state">
                            Versions</a>
                        (<a href="{% url 'admin:common_issuereport_changelist' %}?complete__exact=0" class="govuk-link govuk-link--no-visited-state"
                            >admin</a>)
                    </li>
                </ul>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <hr class="amp-width-100 amp-margin-bottom-30" />
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 id="id_forms" class="govuk-heading-m">Forms</h2>
                <ol class="govuk-list govuk-list--number">
                    <li>
                        Case page with Save an continue:
                        <a href="{% url 'cases:edit-case-metadata' case.id %}" class="govuk-link govuk-link--no-visited-state">
                            Case metadata</a>
                    </li>
                    <li>
                        Case page with formset:
                        <a href="{% url 'audits:edit-audit-pages' case.audit.id %}" class="govuk-link govuk-link--no-visited-state">
                            Add or remove pages</a>
                    </li>
                </ol>
                <hr class="amp-width-100 amp-margin-bottom-30" />
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 id="id_formlike_style" class="govuk-heading-m">Form-like style example</h2>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p class="govuk-body amp-margin-bottom-5"><b>Date created</b></p>
                <p class="govuk-body">{{ case.created|amp_date }}</p>
                <p class="govuk-body amp-margin-bottom-5"><b>Last edited</b></p>
                <p class="govuk-body">{{ case.last_edited|amp_date }}</p>
            </div>
            <div class="govuk-grid-column-three-quarters govuk-body">
                <code class="amp-code">
&lt;p class="govuk-body amp-margin-bottom-5">&lt;b>Date created&lt;/b>&lt;/p>
&lt;p class="govuk-body">&#123;{ case.created|amp_date }}&lt;/p>
&lt;p class="govuk-body amp-margin-bottom-5">&lt;b>Last edited&lt;/b>&lt;/p>
&lt;p class="govuk-body">&#123;{ case.last_edited|amp_date }}&lt;/p></code>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <hr class="amp-width-100 amp-margin-bottom-30" />
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 id="id_gds_design_system_components" class="govuk-heading-m">GDS Design System components</h2>
                <ol class="govuk-list govuk-list--number">
                    <li>
                        <a href="https://design-system.service.gov.uk/components/breadcrumbs/" rel="noreferrer noopener" target="_blank" class="govuk-link">Breadcrumbs</a>
                    </li>
                    <li>
                        <a href="https://design-system.service.gov.uk/components/details/" rel="noreferrer noopener" target="_blank" class="govuk-link">Details</a>
                    </li>
                    <li>
                        <a href="https://design-system.service.gov.uk/components/notification-banner/" rel="noreferrer noopener" target="_blank" class="govuk-link">Notification banner</a>
                    </li>
                </ol>
                <hr class="amp-width-100 amp-margin-bottom-30" />
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 id="id_headers" class="govuk-heading-m">Header examples</h2>
                <ol class="govuk-list govuk-list--number">
                    <li>
                        H1 extra-large:
                        <code class="amp-code">&lt;h1 class="govuk-heading-xl amp-margin-bottom-30">Case metadata&lt;/h1></code>
                    </li>
                    <li>
                        H2 large:
                        <code class="amp-code">&lt;h2 class="govuk-heading-l amp-margin-bottom-20">Retest notes&lt;/h2></code class="amp-code">
                    </li>
                    <li>
                        H2 medium:
                        <code class="amp-code">&lt;h2 class="govuk-heading-m">Tests completed in last 30 days&lt;/h2></code class="amp-code">
                    </li>
                    <li>
                        H2 small:
                        <code class="amp-code">&lt;h2 class="govuk-heading-s amp-margin-bottom-5">Markdown preview&lt;/h2></code class="amp-code">
                    </li>
                    <li>
                        H3 medium:
                        <code class="amp-code">&lt;h3 class="govuk-heading-m">PSB Zendesk tickets&lt;/h3></code class="amp-code">
                    </li>
                    <li>
                        H3 small:
                        <code class="amp-code">&lt;h3 class="govuk-heading-s amp-margin-bottom-0">Comments for report&lt;/h3></code class="amp-code">
                    </li>
                </ol>
                <hr class="amp-width-100 amp-margin-bottom-30" />
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 id="id_labels_of_notes_fields" class="govuk-heading-m">Labels of notes fields</h2>
                <h3 class="govuk-heading-s">External (public-facing)</h3>
                <ol class="govuk-list govuk-list--number">
                    <li>12-week disproportionate burden claim details (included in equality body export)</li>
                    <li>Comments for equality body email</li>
                    <li>Comments for report</li>
                    <li>Disproportionate burden claim details</li>
                    <li>Enforcement recommendation notes including exemptions (included in equality body export)</li>
                    <li>Error details for correspondence</li>
                    <li>Error details for report</li>
                    <li>Extra report text</li>
                    <li>Issue description for organisation</li>
                    <li>Notes [in equality body retests]</li>
                    <li>Retest notes</li>
                    <li>Summary of progress made from public sector body (included in equality body export)</li>
                </ol>
                <h3 class="govuk-heading-s">Internal team use</h3>
                <ol class="govuk-list govuk-list--number">
                    <li>12-week correspondence notes</li>
                    <li>12-week internal notes</li>
                    <li>12-week statement compliance notes</li>
                    <li>12-week website compliance decision notes</li>
                    <li>Correspondence notes</li>
                    <li>Equality body notes</li>
                    <li>Initial statement compliance notes</li>
                    <li>Initial website compliance notes</li>
                    <li>Notes</li>
                    <li>Notes for auditor</li>
                    <li>Public sector body appeal notes</li>
                    <li>Summary of events after the case was closed</li>
                </ol>
                <hr class="amp-width-100 amp-margin-bottom-30" />
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 id="id_links" class="govuk-heading-m">Link examples</h2>
                <ol class="govuk-list govuk-list--number">
                    <li>
                        To platform page:
                        <a href="{% url 'cases:edit-case-metadata' case.id %}" class="govuk-link govuk-link--no-visited-state">
                            Case metadata</a>
                        <br>
                        <code class="amp-code">&lt;a href="&#123;% url 'cases:edit-case-metadata' case.id %}"
class="govuk-link govuk-link--no-visited-state">Case metadata&lt;/a></code>
                    </li>
                    <li>
                        To platform page (in new tab):
                        <a href="{% url 'reports:report-preview' case.report.id %}" class="govuk-link govuk-link--no-visited-state" target="_blank">
                            Report preview</a>
                        <br>
                        <code class="amp-code">&lt;a href="&#123;% url 'reports:report-preview' case.report.id %}"
class="govuk-link govuk-link--no-visited-state" target="_blank">Report preview&lt;/a></code>
                    </li>
                    <li>
                        To external page (in new tab):
                        <a href="{{ case.audit.latest_statement_link }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                            View latest accessibility statement</a>
                        <br>
                        <code class="amp-code">&lt;a href="&#123;{ case.audit.latest_statement_link }}" rel="noreferrer noopener"
target="_blank" class="govuk-link">View latest accessibility statement&lt;/a></code>
                    </li>
                    <li>
                        On current page:
                        <a href="#id_lists" class="govuk-link govuk-link--no-visited-state">
                            List examples</a>
                        <br>
                        <code class="amp-code">&lt;a href="#id_lists" class="govuk-link govuk-link--no-visited-state">List examples&lt;/a></code>
                    </li>
                </ol>
                <hr class="amp-width-100 amp-margin-bottom-30" />
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 id="id_lists" class="govuk-heading-m">List examples</h2>
                <ol class="govuk-list govuk-list--number">
                    <li>
                        Unordered
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-half">
                                <ul class="govuk-list">
                                    <li>One</li>
                                    <li>Two</li>
                                    <li>Three</li>
                                </ul>
                            </div>
                            <div class="govuk-grid-column-one-half">
                                <code class="amp-code">
&lt;ul class="govuk-list">
    &lt;li>One&lt;/li>
    &lt;li>Two&lt;/li>
    &lt;li>Three&lt;/li>
&lt;/ul></code>
                            </div>
                        </div>
                    </li>
                    <li>
                        Unordered bulleted
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-half">
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>One</li>
                                    <li>Two</li>
                                    <li>Three</li>
                                </ul>
                            </div>
                            <div class="govuk-grid-column-one-half">
                                <code class="amp-code">
&lt;ul class="govuk-list govuk-list--bullet">
    &lt;li>One&lt;/li>
    &lt;li>Two&lt;/li>
    &lt;li>Three&lt;/li>
&lt;/ul></code>
                            </div>
                        </div>
                    </li>
                    <li>
                        Ordered
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-half">
                                <ol class="govuk-list govuk-list--number">
                                    <li>One</li>
                                    <li>Two</li>
                                    <li>Three</li>
                                </ol>
                            </div>
                            <div class="govuk-grid-column-one-half">
                                <code class="amp-code">
&lt;ol class="govuk-list govuk-list--number">
    &lt;li>One&lt;/li>
    &lt;li>Two&lt;/li>
    &lt;li>Three&lt;/li>
&lt;/ol></code>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <hr class="amp-width-100 amp-margin-bottom-30" />
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 id="id_markdown_textarea" class="govuk-heading-m">Markdown textarea example</h2>
                <p class="govuk-body">
                    Script finds preview elements with class <code class="amp-code">amp-preview</code>.
                    Matching input element id is found in each preview element's id
                    (after prefix <code class="amp-code">preview-</code>).
                    <a href="{% url 'common:markdown-cheatsheet' %}" class="govuk-link govuk-link--no-visited-state">
                        Markdown cheatsheet</a>
                </p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <label class="govuk-label" for="id_markdown_input"><b>Markdown input</b></label>
                <textarea name="markdown_input" cols="40" rows="4" class="govuk-textarea" id="id_markdown_input">Paragraph</textarea>
                <p class="govuk-heading-s">Preview</p>
                <div id="preview-id_markdown_input" class="amp-preview govuk-body"></div>
                <script src="/static/js/markdown_preview.js"></script>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <code class="amp-code">
&lt;label class="govuk-label" for="id_markdown_input">&lt;b>Markdown input&lt;/b>&lt;/label>
&lt;textarea name="markdown_input" cols="40" rows="4"
    class="govuk-textarea" id="id_markdown_input">Paragraph&lt;/textarea>
&lt;p class="govuk-heading-s">Preview&lt;/p>
&lt;div id="preview-id_markdown_input" class="amp-preview govuk-body">&lt;/div>
&lt;script src="/static/js/markdown_preview.js">&lt;/script></code>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <hr class="amp-width-100 amp-margin-bottom-30" />
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 id="id_page_layouts" class="govuk-heading-m">Page layouts</h2>
                <ol class="govuk-list govuk-list--number">
                    <li>
                        One column:
                        <a href="{% url 'cases:email-template-list' case.id %}" class="govuk-link govuk-link--no-visited-state">
                            Email templates</a>
                    </li>
                    <li>
                        Two columns, one-third:
                        <a href="{% url 'cases:edit-case-metadata' case.id %}" class="govuk-link govuk-link--no-visited-state">
                            Case metadata</a>
                    </li>
                    <li>
                        Two equal columns:
                        <a href="{% url 'cases:case-detail' case.id %}" class="govuk-link govuk-link--no-visited-state">
                            Case overview</a>
                    </li>
                </ol>
                <hr class="amp-width-100 amp-margin-bottom-30" />
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 id="id_tables" class="govuk-heading-m">Tables</h2>
                <ol class="govuk-list govuk-list--number">
                    <li>
                        1-column (faked):
                        <a href="{% url 'cases:edit-qa-comments' case.id %}" class="govuk-link govuk-link--no-visited-state">
                            QA comments</a>
                    </li>
                    <li>
                        1-column (real):
                        <a href="{% url 'audits:edit-audit-pages' case.audit.id %}" class="govuk-link govuk-link--no-visited-state">
                            Add or remove pages</a>
                    </li>
                    <li>
                        2-column (row headers):
                        <a href="{% url 'cases:case-view-and-search' case.id %}#page-group-1-case-details" class="govuk-link govuk-link--no-visited-state">
                            View and search all case data</a>
                    </li>
                    <li>
                        3-column (complex cells):
                        <a href="{% url 'cases:outstanding-issues' case.id %}/?show-all=true#wcag-7" class="govuk-link govuk-link--no-visited-state">
                            Outstanding issues</a>
                    </li>
                    <li>
                        4-column (uneven):
                        <a href="/#cases-status-in-correspondence-with-equalities-body" class="govuk-link govuk-link--no-visited-state">
                            In correspondence with equalities body</a>
                    </li>
                </ol>
                <hr class="amp-width-100 amp-margin-bottom-30" />
            </div>
        </div>
    </main>
</div>
{% endblock %}
