{% for view_section in view_sections %}
    <div class="govuk-accordion__section"">
        <div class="govuk-accordion__section-header">
            <h2 id="{{ view_section.name|slugify }}" class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-heading-{{ view_section.name|slugify }}">
                    {{ view_section.name }}
                    {% if view_section.complete %}
                        <span class="govuk-visually-hidden">complete</span>
                        &check;
                    {% endif %}
                </span>
            </h2>
        </div>
        <div id="accordion-content-{{ view_section.name|slugify }}" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-{{ view_section.name|slugify }}">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <p class="govuk-body-m"><b>{{ view_section.name }}</b></p>
                </div>
            </div>
            {% if view_section.subsections %}
                <div class="amp-left-border">
                    <ul class="govuk-list amp-margin-bottom-5">
                        {% for subsection in view_section.subsections %}
                            {% include 'cases/details/archive_section_link.html' with section=subsection %}
                            {% if subsection.subsections %}
                                <li>
                                    <ul class="govuk-list govuk-list--bullet amp-margin-bottom-10">
                                        {% for subsubsection in subsection.subsections %}
                                            {% include 'cases/details/archive_section_link.html' with section=subsubsection %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% include 'cases/details/archive_section_content.html' with section=view_section top_section=True %}
            {% for subsection in view_section.subsections %}
                {% include 'cases/details/archive_section_content.html' with section=subsection %}
                {% for subsubsection in subsection.subsections %}
                    {% include 'cases/details/archive_section_content.html' with section=subsubsection %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endfor %}
