<div class="govuk-accordion__section" data-search-target-page-name="{{ view_section.name }}" data-search-target-label="Edit" data-search-target-url="{{ view_section.edit_url }}">
    <div class="govuk-accordion__section-header">
        <h2 id="{{ view_section.anchor }}" class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-heading-{{ view_section.name|slugify }}">
                {{ view_section.name }}
                {% if view_section.complete %}
                    <span class="govuk-visually-hidden">complete</span>
                    &check;
                {% endif %}
            </span>
        </h2>
    </div>
    <div id="accordion-content-{{ view_section.name|slugify }}" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-{{ view_section.name|slugify }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p id="{{ view_section.anchor }}" class="govuk-body-m">
                    <b>{{ view_section.name }}</b> |
                    <a href="{{ view_section.edit_url }}" class="govuk-link govuk-link--no-visited-state">Edit</a>
                </p>
            </div>
        </div>
        {% if view_section.type == 'audit-results' %}
            {% include 'common/view_toc.html' with view_sections=view_section.subsections %}
            {% for subsection in view_section.subsections %}
                {% if subsection.anchor %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <p id="{{ subsection.anchor }}" class="govuk-body-m">
                                <b>{{ subsection.name }}</b> |
                                <a href="{{ subsection.edit_url }}" class="govuk-link govuk-link--no-visited-state">Edit</a>
                            </p>
                        </div>
                    </div>
                    {% include 'common/view_accordion_section_content.html' with view_section=subsection %}
                    {% for subsection in subsection.subsections %}
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <p id="{{ subsection.anchor }}" class="govuk-body-m">
                                    <b>{{ subsection.name }}</b> |
                                    <a href="{{ subsection.edit_url }}" class="govuk-link govuk-link--no-visited-state">Edit</a>
                                </p>
                            </div>
                        </div>
                        {% include 'common/view_accordion_section_content.html' with view_section=subsection %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% include 'common/view_accordion_section_content.html' %}
    </div>
</div>
