{% if not top_section %}
    <p class="govuk-body-m"><b>{{ section.name }}</b></p>
{% endif %}
<table class="govuk-table{% if top_section %} amp-accordion-table{% endif %}">
    <tbody class="govuk-table__body">
        {% for field in section.fields %}
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">{{ field.label }}</th>
                <td class="govuk-table__cell amp-width-one-half{% if field.type == 'markdown' %} amp-notes{% endif %}">
                    {% if field.type == 'url' %}
                        {% if field.value %}
                            <a href="{{ field.value }}"
                                rel="noreferrer noopener" target="_blank" class="govuk-link">
                                {% if field.display_value %}{{ field.display_value }}{% else %}{{ field.value }}{% endif %}
                            </a>
                        {% else %}
                            None
                        {% endif %}
                    {% elif field.type == 'notes' %}
                        {% if field.value %}{{ field.value|markdown_to_html }}{% endif %}
                    {% else %}
                        {% if field.display_value %}{{ field.display_value }}{% else %}{{ field.value }}{% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
