<table class="govuk-table{% if top_section %} amp-accordion-table{% endif %}">
    {% if section.display_table.header_row %}
        <thead class="govuk-table__head">
            <tr class="govuk-row">
                {% for cell in section.display_table.header_row.cells %}
                    <th scope="col" class="govuk-table__cell {{ cell.css_class }}">{{ cell.content }}</th>
                {% endfor %}
            </tr>
        </thead>
    {% endif %}
    <tbody class="govuk-table__body">
        {% for row in section.display_table.rows %}
            <tr class="govuk-table__row">
                {% for cell in row.cells %}
                    {% if cell.header %}
                        <th scope="row" class="govuk-table__cell {{ cell.css_class }}">{{ cell.content }}</th>
                    {% else %}
                        <td class="govuk-table__cell {{ cell.css_class }}{% if cell.type == 'notes' %} amp-notes{% endif %}">
                            {% if cell.type == 'url' %}
                                {% if cell.content %}
                                    <a href="{{ cell.content }}"
                                        rel="noreferrer noopener" target="_blank" class="govuk-link">
                                        {{ cell.content }}
                                    </a>
                                {% else %}
                                    None
                                {% endif %}
                            {% elif cell.type == 'notes' %}
                                {% if cell.content %}{{ cell.content|markdown_to_html }}{% endif %}
                            {% else %}
                                {{ cell.content }}
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
