{% extends "base.html" %}

{% block title %}Password reset done{% endblock %}

{% block phase_banner %}{% endblock %}

{% block content %}
  <main id="main-content" class="govuk-main-wrapper">
    <a href="{% url 'login' %}" class="govuk-back-link">Back</a>
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        The password has been changed.
      </h1>
    </div>
    <p class="govuk-body-l">
        Return to <a class="govuk-link govuk-link--no-visited-state" href="{% url 'login' %}">Sign in</a>
        page to use your new password
    </p>
  </main>
{% endblock %}
