<!DOCTYPE html>

{% extends "base.html" %}

{% block phase_banner %}{% endblock %}

{% block content %}
<main id="main-content" class="govuk-main-wrapper">
  <h1 class="govuk-heading-l">{{ page_title }}</h1>
  <div class="form_default">
    <form id="fm1" action="" method="post">
      <label class="govuk-label govuk-label--m" for="{{form.email.auto_id}}">Enter your email address below</label>
      {% csrf_token %}
      {% if form.email.errors %}
        <p class="govuk-body">{{ form.email.errors }}</p>
      {% endif %}
      {{ form.email }}
      <input type="submit" class="govuk-button" data-module="govuk-button">
    </form>
  </div>
</main>
{% endblock %}
