{% extends "base.html" %}

{% block content %}

<div class="govuk-main-wrapper">
  <div class="region login">
    <h1 class='govuk-heading-l'>Reset password</h1>
    <div class="form_default">
    <form id="fm1" action="" method="post">
      <div class="form-group"></div>
        <label class="govuk-label govuk-label--m">Enter your email address below</label>
        {% csrf_token %}
        {% if form.email.errors %}
          <p class="govuk-body">{{ form.email.errors }}</p>
        {% endif %}
        <div id="gds-cred2" class="form-group form-group--mb0" errorid="loginStatusUsername">
          <input name="{{ form.email.name }}" class="govuk-input govuk-input--width-20"></input>
        </div>
        <input type="submit" class="govuk-button" data-module="govuk-button">
      </div>
    </form>
  </div>
  </div>
</div>
{% endblock %}