{% extends 'common/case_form.html' %}

{% load static %}

{% block preform %}
{% include 'simplified/helpers/correspondence.html' %}
{% if case.no_psb_contact == 'yes' %}
    <p class="govuk-body-m">
        The public sector body has been as unresponsive to this case.
        Progress to
        <a
            href="{% url 'simplified:edit-twelve-week-retest' case.id %}"
            class="govuk-link govuk-link--no-visited-state">Case > 12-week retest</a>.
    </p>
    <p class="govuk-body-m">
        If the PSB has since responded, untick Mark the PSB as unresponsive
        to this case in
        <a
            href="{% url 'simplified:edit-no-psb-response' case.id %}"
            class="govuk-link govuk-link--no-visited-state">Case > Report correspondence > Public sector body is unresponsive</a>.
    </p>
{% endif %}
{% include 'simplified/helpers/report_visits.html' %}
{% endblock %}

{% block formfields %}
{% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
{% include 'simplified/helpers/amp_due_date_field.html' with field=form.twelve_week_update_requested_date due_date=case.report_followup_week_12_due_date due_date_field=form.report_followup_week_12_due_date %}
{% include 'common/amp_email_field.html' with field=form.twelve_week_update_request_sent_to_email %}
{% include 'common/amp_field.html' with field=form.twelve_week_update_requested_complete_date %}
{% endblock %}

{% block extrascript %}
<script src="{% static 'js/cases_copy_text.js' %}"></script>
{% endblock %}
