{% extends 'common/case_form.html' %}

{% block preform %}
{% include 'simplified/helpers/correspondence.html' %}
{% endblock %}

{% block formbuttons %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="govuk-button-group">
            <input
                type="submit"
                value="Save and return"
                name="save"
                class="govuk-button"
                data-module="govuk-button"
            />
            <a
                href="{% url 'simplified:manage-contact-details' case.id %}"
                class="govuk-link govuk-link--no-visited-state"
            >
                Cancel
            </a>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="govuk-button-group amp-flex-end">
            <input
                type="submit"
                value="Remove contact"
                name="delete_contact"
                class="govuk-button govuk-button--warning"
                data-module="govuk-button"
            />
        </div>
    </div>
</div>
{% endblock %}
