{% extends 'common/case_form.html' %}

{% block preform %}
{% include 'simplified/helpers/correspondence.html' %}
<div class="amp-margin-bottom-40">
    <p class="govuk-body amp-margin-bottom-40">
        {% if case.enable_correspondence_process %}
            <a href="{% url 'simplified:edit-contact-create' case.id %}" class="govuk-link govuk-link--no-visited-state">
                + Add contact</a>
        {% else %}
            <a href="{% url 'simplified:edit-contact-create' case.id %}" class="govuk-link govuk-link--no-visited-state">+ Add contact</a> or
            <a href="{% url 'simplified:enable-correspondence-process' case.id %}" class="govuk-link govuk-link--no-visited-state">start correspondence process</a>
            if you’re unable to find sufficient contact details
        {% endif %}
    </p>
</div>
<div class="amp-margin-bottom-40">
    {% for contact in case.contacts %}
    <div class="amp-margin-bottom-40">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m amp-margin-bottom-10">
                    Contact {{ forloop.counter }}
                    &nbsp;
                    <a href="{% url 'simplified:edit-contact-update' contact.id %}" class="govuk-link govuk-link--no-visited-state govuk-body-m">
                        Edit
                    </a>
                </h3>
            </div>
        </div>
        <table class="govuk-body">
            <tr>
                <td class="amp-padding-bottom-10 amp-padding-right-25 amp-min-width-180 amp-vertically-align-top"><b>Name</b></td>
                <td class="amp-padding-bottom-10">{{ contact.name }}</td>
            </tr>
            <tr>
                <td class="amp-padding-bottom-10 amp-padding-right-25 amp-min-width-180 amp-vertically-align-top"><b>Job title</b></td>
                <td class="amp-padding-bottom-10">{{ contact.job_title }}</td>
            </tr>
            <tr>
                <td class="amp-padding-bottom-10 amp-padding-right-25 amp-min-width-180 amp-vertically-align-top"><b>Email</b></td>
                <td class="amp-padding-bottom-10">{{ contact.email }}</td>
            </tr>
            <tr>
                <td class="amp-padding-bottom-10 amp-padding-right-25 amp-min-width-180 amp-vertically-align-top"><b>Active contact</b></td>
                <td class="amp-padding-bottom-10">{{ contact.get_preferred_display }}</td>
            </tr>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block formbuttons %}
    {% include 'simplified/helpers/save_continue_cancel.html' %}
{% endblock %}
