{% extends 'common/case_form.html' %}

{% load static %}

{% block preform %}
{% include 'simplified/helpers/correspondence.html' %}
{% include 'simplified/helpers/report_visits.html' %}
{% endblock %}

{% block formfields %}
{% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
{% include 'simplified/helpers/amp_due_date_field.html' with field=form.report_followup_week_1_sent_date due_date=case.report_followup_week_1_due_date due_date_field=form.report_followup_week_1_due_date %}
{% include 'common/amp_email_field.html' with field=form.one_week_followup_sent_to_email %}
{% include 'common/amp_field.html' with field=form.one_week_followup_complete_date %}
{% endblock %}

{% block extrascript %}
<script src="{% static 'js/cases_copy_text.js' %}"></script>
{% endblock %}
