{% extends 'common/case_form.html' %}

{% load static %}

{% block preform %}
{% include 'simplified/helpers/correspondence.html' %}
{% include 'simplified/helpers/complaint_warning.html' %}
{% endblock %}

{% block formfields %}
{% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
{% include 'common/amp_field.html' with field=form.report_sent_date %}
{% include 'common/amp_email_field.html' with field=form.report_sent_to_email %}
{% include 'common/amp_field.html' with field=form.correspondence_notes %}
{% include 'common/amp_field.html' with field=form.report_sent_on_complete_date %}
{% endblock %}

{% block extrascript %}
<script src="{% static 'js/cases_copy_text.js' %}"></script>
{% endblock %}
