{% extends 'common/case_form.html' %}

{% block preform %}
{% include 'simplified/helpers/email_templates.html' %}
<div class="govuk-grid-row amp-margin-top-20">
    <div class="govuk-grid-column-full govuk-button-group">
        <a
            {% if case.audit_overview.equality_body_wcag_audits.last.compliance_state == 'not-known' %}
                href="{% url 'simplified:retest-create-error' case.id %}"
            {% else %}
                href="{% url 'audits:create-equality-body-retest' case.id %}"
            {% endif %}
            role="button"
            draggable="false"
            class="govuk-button"
            data-module="govuk-button"
        >
            New retest
        </a>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="amp-width-100 amp-margin-bottom-30" />
        {% for equality_body_retest in equality_body_retests %}
            <h2 class="govuk-heading-m">{{ equality_body_retest.equality_body_retest_name }}</h2>
            <p class="govuk-body-m">
                <a href="{% url 'audits:retest-metadata-update' equality_body_retest.id %}" class="govuk-link govuk-link--no-visited-state">
                    Edit retest</a>
            </p>
            <p class="govuk-body-m amp-margin-bottom-5"><b>Date of retest</b></p>
            <p class="govuk-body-m">{{ equality_body_retest.date_of_test|amp_date }}</p>
            <p class="govuk-body-m amp-margin-bottom-5"><b>Outcome</b></p>
            <p class="govuk-body-m">{{ equality_body_retest.get_compliance_state_display }}</p>
            <p class="govuk-body-m amp-margin-bottom-5"><b>Statement outcome</b></p>
            <p class="govuk-body-m">{{ equality_body_retest.equivalent_equality_body_statement_retest.get_compliance_state_display }}</p>
            <p class="govuk-body-m amp-margin-bottom-5"><b>WCAG issues</b></p>
            <p class="govuk-body-m">{{ equality_body_retest.wcag_fixed_check_result_retests.count }} of {{ equality_body_retest.simplified_case.audit_overview.initial_wcag_audit.wcag_failed_check_result_retests.count }} issues fixed</p>
            <p class="govuk-body-m amp-margin-bottom-5"><b>Retest notes</b></p>
            <div class="amp-report-wrapper">
                {% if equality_body_retest.notes %}
                    {{ equality_body_retest.notes|markdown_to_html }}
                {% else %}
                    <p>None</p>
                {% endif %}
            </div>
            <hr class="amp-width-100 amp-margin-bottom-30" />
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block form %}
{% endblock %}
