{% extends 'common/case_form.html' %}

{% block breadcrumbs %}
    {% include 'simplified/helpers/psb_zendesk_breadcrumbs.html' %}
{% endblock %}

{% block formbuttons %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-button-group">
        <input
            type="submit"
            value="Save and return"
            name="save_return"
            class="govuk-button"
            data-module="govuk-button"
        />
        <a
            href="{% url 'simplified:zendesk-tickets' case.id %}"
            class="govuk-link govuk-link--no-visited-state"
        >
            Cancel
        </a>
    </div>
</div>
{% endblock %}
