{% include 'common/emails/templates/subject-line.html' with subject='Website accessibility monitoring' %}
Subject: Missing website accessibility statement
<br>
<br>
Dear {{ case.organisation_name }},
<br>
<br>
I am {{ case.auditor.get_full_name }} from the accessibility monitoring team at Government Digital Service.
<br>
<br>
Our role is to monitor the accessibility of public sector websites and mobile apps. Your website
(<a href="{{ case.home_page_url }}">{{ case.home_page_url }}</a>)
was chosen from a random sample.
<br>
<br>
All public sector websites published since 23 September 2018 need to have an accessibility statement. We could not find an accessibility statement on your website.
<br>
<br>
There is guidance on how to create an accessibility statement at:
<a href="https://www.gov.uk/guidance/make-your-website-or-app-accessible-and-publish-an-accessibility-statement">https://www.gov.uk/guidance/make-your-website-or-app-accessible-and-publish-an-accessibility-statement</a>
<br>
<br>
By having an accessibility statement on your website you help assistive technology users understand what to expect when trying to use your services and information.
You can also help users to contact you if they encounter problems using your website.
<br>
<br>
Providing an accessibility statement is a legal requirement under the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018:
<a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps">https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps</a>
<br>
<br>
Please acknowledge that you have received this email within 7 days.
<br>
<br>
You should add an accessibility statement to your website and contact us when you have done this. You should do this within 12 weeks.
<br>
<br>
GDS recently moved from Cabinet Office to the Department for Science, Innovation and Technology (DSIT). Our email addresses for monitoring will remain on digital.cabinet-office.gov.uk until we move to dsit.gov.uk.
<br>
