{% include 'common/emails/templates/helpers/subject-line.html' with subject_suffix='Website accessibility monitoring: 7 day follow up' %}
Dear {{ case.organisation_name }},
<br>
<br>
We recently sent you an email on
{% if case.report_sent_date %}{{ case.report_sent_date|amp_date }}{% else %}<span class="amp-email-placeholder">(date of previous email)</span>{% endif %}
about meeting website accessibility regulations.
<a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps">https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps</a>
<br>
<br>
We are following up as we have not received any response from you about the monitoring report.
<br>
<br>
Please acknowledge receipt of the report.
<br>
