Dear {{ case.organisation_name }},
<br>
<br>
We have completed the retest and some issues are still outstanding.
Please review the issues listed below and provide an update.
<br>
<br>
{% if case.audit_overview.first_twelve_week_wcag_audit.unfixed_wcag_check_result_retests %}
    {% for wcag_page_retest in case.audit_overview.first_twelve_week_wcag_audit.retestable_wcag_page_retests %}
        {% if not wcag_page_retest.page_missing_date %}
            {% if wcag_page_retest.unfixed_wcag_check_result_retests or wcag_page_retest.notes %}
                <h2>{{ wcag_page_retest }}{% if wcag_page_retest.page_type != 'pdf' %} page{% endif %} issues</h2>
                <br>
                <a href="{{ wcag_page_retest.latest_page_url }}">{{ wcag_page_retest.latest_page_url }}</a>
                {{ wcag_page_retest.latest_page_location }}
                <br>
                <br>
            {% endif %}
            {% if wcag_page_retest.unfixed_wcag_check_result_retests %}
                <table id="email-issues-table-{{ forloop.counter }}">
                    <thead>
                        <tr>
                            <th id="issue-{{ forloop.counter }}" width=33%>Issue and description</th>
                            <th id="retest-notes-{{ forloop.counter }}" width=33%>Retest notes</th>
                            <th id="12-week-update-{{ forloop.counter }}" width=33%>Organisation update</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for wcag_check_result_retest in wcag_page_retest.unfixed_wcag_check_result_retests %}
                            <tr valign="top">
                                <td headers="issue-{{ forloop.parentloop.counter }}" width=33%>
                                    <p><b>Issue {{ wcag_check_result_retest.wcag_check_result_initial.issue_identifier }}</b></p>
                                    <p><a href="{{ wcag_check_result_retest.wcag_definition.url_on_w3 }}">{{ wcag_check_result_retest.wcag_definition.name }}</a></p>
                                    {{ wcag_check_result_retest.wcag_check_result_initial.notes|markdown_to_html }}
                                </td>
                                <td headers="retest-notes-{{ forloop.parentloop.counter }}" width=33%>{{ wcag_check_result_retest.notes|markdown_to_html }}</td>
                                <td headers="12-week-update-{{ forloop.parentloop.counter }}" width=33%></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if wcag_page_retest.notes %}
                <b>Additional issues found on wcag_page_retest</b>
                <br>
                <br>
                {{ wcag_page_retest.notes|markdown_to_html}}
            {% endif %}
        {% endif %}
    {% endfor %}
{% else %}
    We found no major issues.
{% endif %}
<br>
<br>
<h2>Your statement</h2>
<br>
{% if case.audit_overview.first_twelve_week_statement_audit.outstanding_statement_check_results %}
    <table id="email-statement-issues-table">
        <thead>
            <tr>
                <th id="statement-issue" width=33%>Issue</th>
                <th id="statement-notes" width=33%>Notes</th>
                <th id="statement-12-week-update" width=33%>Organisation update</th>
            </tr>
        </thead>
        <tbody>
            {% for statement_check_result in case.audit_overview.first_twelve_week_statement_audit.outstanding_statement_check_results %}
                <tr valign="top">
                    <td headers="statement-issue" width=33%>
                        <p><b>Issue {{ statement_check_result.issue_identifier }}</b></p>
                        <p>{{ statement_check_result.statement_check.report_text }}</p>
                    </td>
                    <td headers="statement-issue" width=33%>
                        {{ statement_check_result.statement_check_result_initial.public_comment|markdown_to_html }}
                        {{ statement_check_result.auditor_information|markdown_to_html }}
                    </td>
                    <td headers="statement-12-week-update" width=33%>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    We found no major issues.
{% endif %}
<br>
<br>
