Dear {{ case.organisation_name }},
<br>
<br>
Thank you for your response.
<br>
<br>
<h2>What happens next</h2>
<br>
<h3>Accessibility compliance</h3>
<br>
<br>
As your website was monitored following a complaint from a member of the public, I need to send the details to the {{ case.get_enforcement_body_display }} ({{ case.enforcement_body|upper }}) who enforce the accessibility requirement as set out in <a href="https://gov.uk/accessibility-regulations">The Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018</a> and will make a decision on this complaint.
<br>
<br>
They will contact you if they believe further action is required.
<br>
<br>
<h3>Accessibility Statement</h3>
<br>
<br>
On behalf of the Secretary of State for Science, Innovation and Technology we make a decision on the compliance of accessibility statements.
<br>
<br>
{% if case.accessibility_statement_compliance_display == 'Compliant' %}
We have determined that your statement is compliant.
{% else %}
<span class="amp-email-placeholder">[If compliant]</span>
<br>
We have determined that your statement is compliant.
<br>
<br>
<span class="amp-email-placeholder">OR--------</span>
<br>
<span class="amp-email-placeholder">[If non compliant - REMEMBER TO SAVE A COPY OF THE STATEMENT AGAIN]</span>
<br>
We have determined that your statement is not compliant. <span class="amp-email-placeholder">[reasons?]</span>
<br>
<br>
<span class="amp-email-placeholder">[If the statement is not found:]</span>
<br>
We could not find an accessibility statement so this does not comply with the requirement to publish a statement.
<br>
<br>
Public sector bodies may request a review where they disagree with this decision. Any request for a review must be made in writing (via email) within 28 days of the decision and state the reason for the review.
<br>
<br>
If there is no request for review or the decision of non-compliance is upheld, the public sector body will be notified and we may publish the name of the non-compliant public sector body.
<br>
<br>
{% endif %}
<h2>Future monitoring</h2>
<br>
Our monitoring is based on a sampling process. It is possible that your website may be put forward for further testing in the future. It is important that accessibility standards are maintained.
<br>
