Dear {{ case.organisation_name }},
<br>
<br>
It is a requirement of <a href="https://gov.uk/accessibility-regulations">The Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018</a> that public sector websites are accessible to everyone.
<br>
<br>
<span class="amp-email-placeholder">[If no response at all:]</span>
<br>
We contacted you on {% if case.report_sent_date %}{{ case.report_sent_date|amp_date }}{% else %}<span class="amp-email-placeholder">[add date]</span>{% endif %} to tell you that your website had been chosen from a sample to be monitored. A report of issues found was attached to the email which you needed to respond to and take action.
<br>
<br>
<span class="amp-email-placeholder">[If they acknowledged the report but had no response at the 12 week stage:]</span>
<br>
We contacted you on {% if case.twelve_week_update_requested_date %}{{ case.twelve_week_update_requested_date|amp_date }}{% else %}<span class="amp-email-placeholder">[add date]</span>{% endif %} to get an update on the progress made to improve the accessibility of your website.
<br>
<br>
We have had no response to the request.
<br>
<br>
We will now give our findings to the {{ case.get_enforcement_body_display }} ({{ case.enforcement_body|upper }}) who will decide any further action that may be needed to resolve the accessibility issues outlined in the report.
<br>
<br>
<span class="amp-email-placeholder">[Optional section to include if accessibility statement is also non-compliant:]</span>
<br>
<h3>Accessibility statement compliance</h3>
<br>
<br>
On behalf of the Minister for the Cabinet Office, we make a decision on the compliance of accessibility statements. They must conform to <a href="https://www.gov.uk/guidance/model-accessibility-statement">the model accessibility statement</a> and include known accessibility issues.
<br>
<br>
<span class="amp-email-placeholder">[If the statement isn’t compliant  - REMEMBER TO SAVE A COPY OF THE STATEMENT AGAIN:]</span>
<br>
We have determined that your statement is not compliant.
<br>
<br>
<span class="amp-email-placeholder">[If the statement is not found:]</span>
<br>
We were not able to find an accessibility statement and this does not comply with the requirement to publish a statement.
<br>
<br>
Public sector bodies may request a review where they disagree with this decision. Any request for a review must be made in writing (via email) within 28 days of the decision and state the reason for the review.
<br>
<br>
If there is no request for review or the decision of non-compliance is upheld, the public sector body will be notified and the Minister for the Cabinet Office may publish the name of the non-compliant public sector body.
<br>
