Dear {{ case.organisation_name }},

<br>
<br>

Thanks for getting in touch.
<br>
<br>
A new website essentially voids our test and will be taken as mitigation for the monitoring process.
<br>


<br>
<span class="amp-email-placeholder"> (If they've said the new site will be live before the 12 weeks)</span>
<br>
Instead of retesting, we will contact you after the 12 weeks to check the site has been changed and to ensure that the new site has a compliant accessibility statement. We will then pass all of this information on to EHRC /ECNI.</span>
<br>

<br>
<span class="amp-email-placeholder"> (If they've said the new site won't be live until after the 12 weeks)</span>
<br>

Instead of retesting, we will contact you after the 12 weeks to confirm your timelines for the new site launch. We will also check that you have updated your accessibility statement in the meantime so that it lists all of the issues you are aware of and that may pose a barrier to users. We will then pass all of this information on to EHRC /ECNI.
<br>
