{% include 'common/emails/templates/helpers/dear-name.html' %}
<br>
<br>
Thank you for your response.
<br>
<br>
<h2>What happens next</h2>
<h3>Accessibility compliance</h3>
<br>
As the {{ case.target_of_test_first_mention|safe }} was monitored following a complaint from a member of the public, I need to send the details to the
{{ case.get_enforcement_body_display }} ({{ case.enforcement_body|upper }})
who enforce the accessibility requirement as set out in The Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 and will make a decision on this complaint.
<br>
<br>
They will contact you if they believe further action is required.
<br>
<br>
<h3>Accessibility statement</h3>
<br>
On behalf of the Secretary of State for Science, Innovation and Technology, we make a decision on the compliance of accessibility statements.
<br>
<br>
{% if case.retest_statement_compliance_state == 'compliant' or case.retest_ios_statement_compliance_state == 'compliant' and case.retest_android_statement_compliance_state == 'compliant' %}
We have determined that your statement is compliant.
{% else %}
{% if case.retest_statement_compliance_state == 'not-compliant' or case.retest_ios_statement_compliance_state == 'not-compliant' or case.retest_android_statement_compliance_state == 'not-compliant' %}
We have determined that your statement is not compliant.
<br>
<br>
{% elif case.retest_statement_compliance_state == 'no-statement' or case.retest_ios_statement_compliance_state == 'no-statement' or case.retest_android_statement_compliance_state == 'no-statement' %}
We were not able to find an accessibility statement and this does not comply with the requirement to publish a statement.
<br>
<br>
{% endif %}
Public sector bodies may request a review where they disagree with this decision. Any request for a review must be made in writing (via email) within 28 days of the decision and state the reason for the review. A list of websites without correct accessibility statements may be published by the Department for Science, Innovation and Technology (DSIT).
{% endif %}
<br>
<br>
<h2>Future monitoring</h2>
<br>
Our monitoring is based on a sampling process. It is possible that the {{ case.target_of_test_subsequent_mention }}
may be put forward for further testing in the future. It is important that accessibility standards are maintained.
<br>
<br>
Many thanks,
<br>
<br>
