Subject: {% include 'common/emails/templates/subject-line.html' with subject_suffix='accessibility monitoring' %}
Dear {{ case.organisation_name }},
<br>
<br>
I am {{ request.user.get_full_name }} from the accessibility monitoring team at Government Digital Service,
part of the Department for Science, Innovation and Technology. We are currently monitoring {{ case.target_of_test }}s
under the accessibility regulations and have chosen your {{ case.target_of_test }}
from a random sample.
<br>
<br>
We are contacting you as we could not find appropriate contact details on your {{ case.target_of_test }}
and we require more information.
<br>
<br>
Please provide an email address for the team responsible for your {{ case.target_of_test }}
within 1 week by {{ 7_days_from_now|amp_date }}.
<br>
<br>
More information on our monitoring:
<a href="https://www.gov.uk/guidance/public-sector-website-and-mobile-application-accessibility-monitoring">https://www.gov.uk/guidance/public-sector-website-and-mobile-application-accessibility-monitoring</a>.
<br>
<br>
Many thanks,
<br>
<br>
{{ request.user.get_full_name }}
