{% include 'common/emails/templates/helpers/dear-name.html' %}
<br>
<br>
We recently sent you an email on {% if case.report_sent_date %}{{ case.report_sent_date|amp_date }}{% else %}<span class="amp-email-placeholder">(date)</span>{% endif %}
with an accessibility report for the {{ case.target_of_test_first_mention|safe }} to help you meet the regulations:
<a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps">https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps</a>
<br>
<br>
We are following up as we have not received any response from you.
<br>
<br>
Please respond within the next 7 days to acknowledge receipt of the report.
<br>
<br>
We look forward to receiving your response.
<br>
<br>
Many thanks,
<br>
<br>
