{% include 'common/emails/templates/helpers/dear-name.html' %}
<br>
<br>
We emailed you an accessibility report on {% if case.report_sent_date %}{{ case.report_sent_date|amp_date }}{% else %}<span class="amp-email-placeholder">(date)</span>{% endif %}
with a deadline of {% if case.twelve_week_deadline_date %}{{ case.twelve_week_deadline_date|amp_date }}{% else %}<span class="amp-email-placeholder">(date)</span>{% endif %}
to review the accessibility of the {{ case.target_of_test_first_mention|safe }} and fix any issues.
<br>
<br>
You must now provide an update on the progress you have made.
<br>
<br>
<h2>What you need to do</h2>
<br>
You must now provide an update on each issue raised in the accessibility report including:
<ul>
<li>Issues you have fixed</li>
<li>Issues you have been unable to fix</li>
<li>A timeline for fixing unresolved issues</li>
<li>Any other comments about the accessibility of the {{ case.target_of_test_subsequent_mention }}</li>
</ul>
Please provide the update within 7 days.
<br>
<br>
We may retest parts of the {{ case.target_of_test_subsequent_mention }} to check that they meet the accessibility regulations.
<br>
<br>
Any remaining accessibility issues will be passed to the {{ case.get_enforcement_body_display }} ({{ case.enforcement_body|upper }}) for further action.
A list of websites and mobile applications without correct accessibility statements may be published by
the Department for Science, Innovation and Technology.
<br>
<br>
Many thanks,
<br>
<br>
