Subject: {% include 'common/emails/templates/subject-line.html' with subject_suffix='accessibility monitoring' %}
Dear {{ case.organisation_name }},
<br>
<br>
We emailed you an accessibility report on <span class="amp-email-placeholder">(date)</span>
with a deadline of <span class="amp-email-placeholder">(date)</span>
to review the accessibility of your {{ case.target_of_test }} and fix any issues.
<br>
<br>
You must now provide an update on the progress you have made.
<br>
<br>
<h2>What you need to do</h2>
<br>
You must now provide an update on each issue raised in the accessibility report including:
<ul>
<li>Issues you have fixed</li>
<li>Issues you have been unable to fix</li>
<li>A timeline for fixing unresolved issues</li>
<li>Any other comments about the accessibility of your {{ case.target_of_test}}</li>
</ul>
Please provide the update within 7 days.
<br>
<br>
We may retest parts of your {{ case.target_of_test }} to check that they meet the accessibility regulations.
<br>
<br>
Any remaining accessibility issues will be passed to the {{ case.get_enforcement_body_display }} ({{ case.enforcement_body|upper }}) for further action.
A list of websites and mobile applications without correct accessibility statements may be published by
the Department for Science, Innovation and Technology.
<br>
<br>
Many thanks,
<br>
<br>
{{ request.user.get_full_name }}
