{% if case.test_type == 'detailed' %}
    {% if case.service_type == 'website' %}
        <a href="{{ case.home_page_url }}">website</a>
    {% else %}
        service
    {% endif %}
{% elif case.test_type == 'mobile' %}
    {% if case.ios_test_included == 'yes' and case.android_test_included == 'yes' %}
      iOS/Android
    {% elif case.ios_test_included == 'yes' %}
      iOS
    {% elif case.android_test_included == 'yes' %}
      Android
    {% endif %}
    mobile application
{% else %}
  website
{% endif %}
