<div class="govuk-accordion__section" data-search-target-page-name="{{ view_section.name }}" data-search-target-label="Edit" data-search-target-url="{{ view_section.edit_url }}">
    <div class="govuk-accordion__section-header">
        <h2 id="{{ view_section.anchor }}" class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-heading-{{ view_section.name|slugify }}">
                {{ view_section.name }}
                {% if view_section.complete %}
                    <span class="govuk-visually-hidden">complete</span>
                    &check;
                {% endif %}
            </span>
        </h2>
    </div>
    <div id="accordion-content-{{ view_section.content_id }}" class="govuk-accordion__section-content" role="region" aria-labelledby="accordion-heading-{{ view_section.name|slugify }}">
        {% include 'common/view_accordion/section_edit.html' %}
        {% if view_section.has_content %}
            {% if view_section.type == 'audit-results-on-view-case' %}
                {% include 'common/view_accordion/toc.html' with view_sections=view_section.subsections %}
                {% for subsection in view_section.subsections %}
                    {% include 'common/view_accordion/section_edit.html' with view_section=subsection %}
                    {% include 'common/view_accordion/section_content.html' with view_section=subsection %}
                    {% for subsection in subsection.subsections %}
                        {% include 'common/view_accordion/section_edit.html' with view_section=subsection %}
                        {% include 'common/view_accordion/section_content.html' with view_section=subsection %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% include 'common/view_accordion/section_content.html' %}
        {% else %}
            <p class="govuk-body-m">{{ view_section.placeholder }}</p>
        {% endif %}
    </div>
</div>
