<nav role="navigation" class="amp-margin-bottom-40">
    <h2 class="govuk-heading-m">Contents</h2>
    <div class="amp-left-border">
        <ul class="govuk-list">
            {% for view_section in view_sections %}
                {% if view_section.name == 'Statement enforcement' %}
                    </ul>
                    <h3 class="govuk-heading-s amp-margin-bottom-5">Post case</h3>
                    <ul class="govuk-list">
                {% endif %}
                <li>
                    {% include 'common/view_accordion/toc_link.html' with section=view_section %}
                    {% if view_section.subsections and not view_section.type == 'audit-results-on-view-case' %}
                        <ul class="govuk-list govuk-list--bullet amp-margin-bottom-10">
                            {% for subsection in view_section.subsections %}
                                <li>
                                    {% include 'common/view_accordion/toc_link.html' with section=subsection %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
