<nav role="navigation" class="amp-nav-steps amp-margin-bottom-40">
    <h2 class="govuk-heading-m">Contents</h2>
    <div class="amp-left-border">
        <ul class="govuk-list">
            {% for platform_page_group in sitemap %}
                {% if platform_page_group.show %}
                    {% for platform_page in platform_page_group.pages %}
                        {% if platform_page.url_name == 'cases:edit-statement-enforcement' %}
                            </ul>
                            <h3 class="govuk-heading-s amp-margin-bottom-5">Post case</h3>
                            <ul class="govuk-list">
                        {% endif %}
                        {% if platform_page.show %}
                            <li>
                                {% include 'common/view_accordion/toc_link.html' with page=platform_page %}
                                {% if platform_page.subpages %}
                                    <ul class="govuk-list govuk-list--bullet amp-margin-bottom-10">
                                        {% for subpage in platform_page.subpages %}
                                            {% if subpage.show %}
                                                <li>
                                                    {% include 'common/view_accordion/toc_link.html' with page=subpage %}
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>
