{% if page.toc_anchor %}
    <a href="#{{ page.toc_anchor }}" class="govuk-link govuk-link--no-visited-state">
        {% if platform_page_group.name %}{{ platform_page_group.name }} &gt; {% endif %}{{ page.get_name }}{% if page.complete %}<span class="govuk-visually-hidden">complete</span>{% endif %}</a>
{% else %}
    {% if platform_page_group.name %}{{ platform_page_group.name }} &gt; {% endif %}{{ page.get_name }}{% if page.complete %}<span class="govuk-visually-hidden">complete</span>{% endif %}
{% endif %}
{% if page.url %}
    |
    <a id="{{ page.url_id }}" href="{{ page.url }}" class="govuk-link govuk-link--no-visited-state">
        Edit{% if page.complete %}<span class="govuk-visually-hidden">complete</span>{% endif %}</a>
    {% if page.complete %}&check;{% endif %}
{% endif %}
