{% extends 'base.html' %}

{% block title %}{{ case.organisation_name }} | {{ sitemap.current_platform_page.get_name }}{% endblock title %}

{% block content %}
<div class="govuk-width-container">
    {% block casebanner %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'cases/helpers/case_banner.html' %}
        </div>
    </div>
    {% endblock casebanner %}
    {% block breadcrumbs %}
    {% include 'simplified/helpers/breadcrumbs.html' %}
    {% endblock breadcrumbs %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
    {% block maincontent %}
        {% include 'simplified/helpers/compliant_website_notification.html' %}
        <div class="govuk-grid-row">
            {% if amp_hide_case_nav %}
            {% else %}
            <div class="govuk-grid-column-one-quarter amp-padding-left-0">
                {% block nav %}
                    {% if case.archive %}
                        <p class="govuk-body-s amp-margin-bottom-10">
                            <a href="{% url 'simplified:case-detail' case.id %}" class="govuk-link govuk-link--no-visited-state">Return to case overview</a>
                        </p>
                    {% endif %}
                    {% include "cases/helpers/case_nav.html" with case_nav_type='simplified_case_nav' %}
                {% endblock nav %}
            </div>
            {% endif %}
            <div class="{% if amp_hide_case_nav %}govuk-grid-column-full{% else %}govuk-grid-column-three-quarters amp-padding-vertical-30{% endif %}">
                {% block header %}
                {% include "simplified/helpers/edit_header.html" %}
                {% endblock header %}
                {% block controls %}
                    {% if amp_show_go_back %}
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <p class="govuk-body-m">
                                    {% include "common/amp_control_go_back.html" %}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                {% endblock controls %}
                {% include 'common/error_summary.html' %}
                {% block preform %}{% endblock preform %}
                {% block form %}
                <form method="post" action="{% url sitemap.current_platform_page.url_name object.id %}">
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% block formfields %}
                            {% include 'common/amp_form_snippet.html' %}
                            {% endblock formfields %}
                        </div>
                    </div>
                    {% block formbuttons %}
                        {% include 'simplified/helpers/save_continue_cancel.html' %}
                    {% endblock formbuttons %}
                </form>
                {% endblock form %}
                {% block postform %}{% endblock postform %}
            </div>
        </div>
    {% endblock maincontent %}
    </main>
</div>
{% endblock content %}
