{% extends 'common/case_form.html' %}

{% block preform %}
<h2 class="govuk-heading-s amp-margin-bottom-5">Status summary</h2>
<ul class="govuk-list govuk-list--bullet">
    <li>
        Current status: {{ case.get_status_display }}
    </li>
    <li>
        Next required action:
        {% if case.archive %}
            Archived
        {% else %}
            <a href="{{ case.next_page_link.url }}" class="govuk-link govuk-link--no-visited-state">
                {{ case.next_page_link.label }}
            </a>
        {% endif %}
    </li>
</ul>

<h2 class="govuk-heading-s amp-margin-bottom-5">Unassigned case {% if case.auditor %}[COMPLETE]{% endif %}</h2>
<ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="{% url 'simplified:edit-case-metadata' case.id %}" class="govuk-link govuk-link--no-visited-state">
            Assign an auditor
        </a>
        {% if case.auditor %}&check;{% endif %}
    </li>
</ul>

<h2 class="govuk-heading-s amp-margin-bottom-5">
    Test in progress
    {% if case.compliance.website_compliance_state_initial != 'not-known' and case.compliance.statement_compliance_state_initial != 'unknown'  %}
        [COMPLETE]
    {% endif %}
</h2>
<ul class="govuk-list govuk-list--bullet">
    {% if case.audit %}
        <li>
            <a href="{% url 'audits:edit-website-decision' case.audit.id %}" class="govuk-link govuk-link--no-visited-state">
                Initial website compliance decision is not filled in
            </a>
            {% if case.compliance.website_compliance_state_initial != 'not-known' %}&check;{% endif %}
        </li>
        <li>
            <a href="{% url 'audits:edit-statement-decision' case.audit.id %}" class="govuk-link govuk-link--no-visited-state">
                Initial accessibility statement decision is not filled in
            </a>
            {% if case.compliance and case.compliance.statement_compliance_state_initial != 'unknown' %}&check;{% endif %}
        </li>
    {% else %}
        <li>
            <a href="{% url 'simplified:edit-test-results' case.id %}" class="govuk-link govuk-link--no-visited-state">
                Initial website compliance decision is not filled in
            </a>
            {% if case.compliance.website_compliance_state_initial != 'not-known' %}&check;{% endif %}
        </li>
        <li>
            <a href="{% url 'simplified:edit-test-results' case.id %}" class="govuk-link govuk-link--no-visited-state">
                Initial accessibility statement decision is not filled in
            </a>
            {% if case.compliance and case.compliance.statement_compliance_state_initial != 'unknown' %}&check;{% endif %}
        </li>
    {% endif %}
</ul>

<h2 class="govuk-heading-s amp-margin-bottom-5">Report in progress {% if case.report_review_status == 'yes' %} [COMPLETE] {% endif %}</h2>
<ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="{% url 'simplified:edit-report-ready-for-qa' case.id %}" class="govuk-link govuk-link--no-visited-state">
            Report ready for QA process needs to be Yes
        </a>
        {% if case.report_review_status == 'yes' %}&check;{% endif %}
    </li>
</ul>

<h2 class="govuk-heading-s amp-margin-bottom-5">QA in progress {% if case.report_approved_status == 'yes' %} [COMPLETE] {% endif %}</h2>
<ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="{% url 'simplified:edit-qa-approval' case.id %}" class="govuk-link govuk-link--no-visited-state">
            Report approved needs to be Yes
        </a>
        {% if case.report_approved_status == 'yes' %}&check;{% endif %}
    </li>
</ul>

<h2 class="govuk-heading-s amp-margin-bottom-5">Report ready to send {% if case.report_sent_date %}[COMPLETE]{% endif %}</h2>
<ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="{% url 'simplified:edit-report-sent-on' case.id %}" class="govuk-link govuk-link--no-visited-state">
            Report sent on requires a date
        </a>
        {% if case.report_sent_date %}&check;{% endif %}
    </li>
</ul>

<h2 class="govuk-heading-s amp-margin-bottom-5">Report sent {% if case.report_acknowledged_date or case.no_psb_contact == 'yes' %}[COMPLETE]{% endif %}</h2>
<ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="{% url 'simplified:edit-report-acknowledged' case.id %}" class="govuk-link govuk-link--no-visited-state">
            Report acknowledged requires a date
        </a>
        {% if case.report_acknowledged_date %}&check;{% endif %}
    </li>
    <li>
        or <a href="{% url 'simplified:edit-no-psb-response' case.id %}" class="govuk-link govuk-link--no-visited-state"> No response from PSB </a>
        {% if case.no_psb_contact == 'yes' %}&check;{% endif %}
    </li>
</ul>

<h2 class="govuk-heading-s amp-margin-bottom-5">Report acknowledged waiting for 12-week deadline {% if case.twelve_week_update_requested_date %}[COMPLETE]{% endif %}</h2>
<ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="{% url 'simplified:edit-12-week-update-requested' case.id %}" class="govuk-link govuk-link--no-visited-state">
            12-week update requested requires a date
        </a>
        {% if case.twelve_week_update_requested_date %}&check;{% endif %}
    </li>
</ul>

<h2 class="govuk-heading-s amp-margin-bottom-5">12-week update request acknowledged {% if case.twelve_week_correspondence_acknowledged_date or case.no_psb_contact == 'yes' %}[COMPLETE]{% endif %}</h2>
<ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="{% url 'simplified:edit-12-week-update-request-ack' case.id %}" class="govuk-link govuk-link--no-visited-state">
            12-week update received requires a date or mark the case as having no response
        </a>
        {% if case.twelve_week_correspondence_acknowledged_date or case.no_psb_contact == 'yes' %}&check;{% endif %}
    </li>
</ul>

<h2 class="govuk-heading-s amp-margin-bottom-5">Reviewing changes {% if case.is_ready_for_final_decision == 'yes' %}[COMPLETE]{% endif %} </h2>
<ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="{% url 'simplified:edit-review-changes' case.id %}" class="govuk-link govuk-link--no-visited-state">
            Is this case ready for final decision? needs to be Yes
        </a>
        {% if case.is_ready_for_final_decision == 'yes' %}&check;{% endif %}
    </li>
</ul>

<h2 class="govuk-heading-s amp-margin-bottom-5">Final decision due {% if case.case_completed != 'no-decision' %}[COMPLETE]{% endif %}</h2>
<ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="{% url 'simplified:edit-case-close' case.id %}" class="govuk-link govuk-link--no-visited-state">
            Case completed requires a decision
        </a>
        {% if case.case_completed != 'no-decision' %}&check;{% endif %}
    </li>
</ul>

<h2 class="govuk-heading-s amp-margin-bottom-5">Case closed and waiting to be sent to equalities body</h2>
<ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="{% url 'simplified:edit-equality-body-metadata' case.id %}" class="govuk-link govuk-link--no-visited-state">
            Date sent to equality body requires a date
        </a>
        {% if case.sent_to_enforcement_body_sent_date %}&check;{% endif %}
    </li>
</ul>

<h2 class="govuk-heading-s amp-margin-bottom-5">Case closed and sent to equalities body {% if case.enforcement_body_closed_case != 'no' %}[COMPLETE]{% endif %}</h2>
<ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="{% url 'simplified:edit-equality-body-metadata' case.id %}" class="govuk-link govuk-link--no-visited-state">
            Equality body pursuing this case? should either be 'Yes, completed' or 'Yes, in progress'
        </a>
        {% if case.enforcement_body_closed_case != 'no' %}&check;{% endif %}
    </li>
</ul>

<h2 class="govuk-heading-s amp-margin-bottom-5">In correspondence with equalities body {% if case.enforcement_body_closed_case == 'yes' %}[COMPLETE]{% endif %}</h2>
<ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="{% url 'simplified:edit-equality-body-metadata' case.id %}" class="govuk-link govuk-link--no-visited-state">
            Equality body has officially closed the case? should either be 'Yes' or 'Case in progress'
        </a>
        {% if case.enforcement_body_closed_case != 'no' %}&check;{% endif %}

    </li>
</ul>

<h2 class="govuk-heading-s amp-margin-bottom-5">Complete</h2>
<ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="{% url 'simplified:edit-case-close' case.id %}" class="govuk-link govuk-link--no-visited-state">
            Case complete needs to be 'Case should not be sent to the equality body'
        </a>
        {% if case.case_close_complete_date %}&check;{% endif %}
    </li>
    <li>
        or
        <a href="{% url 'simplified:edit-equality-body-metadata' case.id %}" class="govuk-link govuk-link--no-visited-state">
            Equality body pursuing this case? needs to be 'Yes, completed'
        </a>
        {% if case.enforcement_correspondence_complete_date %}&check;{% endif %}
    </li>
</ul>
{% endblock %}

{% block form %}
{% endblock %}
