{% extends 'base.html' %}

{% load l10n %}

{% load static %}

{% block title %}{{ case.organisation_name }} | Equality body retest email template{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            {% include 'common/breadcrumb_home.html' %}
            {% include 'cases/helpers/breadcrumb_case.html' %}
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:edit-retest-overview' case.id %}">
                    Retest overview</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">Equality body retest email template</li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='Equality body retest email template' retest_header=False %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        Ensure the information is correct before sending
                    </strong>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-button-group">
                <button class="copy-email-to-clipboard govuk-button govuk-button--secondary">
                    Copy email template
                </button>
                <a
                    href="{% url 'cases:edit-retest-overview' case.id %}"
                    class="govuk-link govuk-link--no-visited-state"
                >
                    Return to retest overview
                </a>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div id="email-text" class="amp-report-wrapper">
                    Dear <b>[NAMED CONTACT]</b>,
                    <br>
                    <br>
                    <h2 class="amp-margin-bottom-0">{{ case.organisation_name }}</h2>
                    {{ case.domain }}
                    <br>
                    <br>
                    Case started: {{ case.created|amp_date }}
                    <br>
                    Report published: {{ case.report.latest_s3_report.created|amp_date }}
                    <br>
                    Case sent to EHRC: <span class="amp-todo">UNKNOWN to platform</span>
                    <br>
                    Most recent retest completed: <span class="amp-todo">UNKNOWN to platform</span>
                    <br>
                    <br>
                    <h3 class="amp-margin-bottom-0">Overview</h3>
                    <ul>
                        <li>
                            Retest results:
                            <ul>
                                {% for retest_page in retest.retestpage_set.all %}
                                    <li>
                                        {{ retest_page.page }}{% if retest_page.page.page_type != 'pdf' %} page{% endif %}
                                        ({{ retest_page.unfixed_check_results.count }} of {{ retest_page.original_check_results.count }}
                                        issue{% if retest_page.original_check_results.count != 1 %}s{% endif %} remaining)
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                    <br>
                    <h3 class="amp-margin-bottom-0">Pages we retested</h3>
                    <table id="pages-table">
                        <thead>
                            <tr>
                                <td id="page-name" width=50%>Page name</td>
                                <td id="page-url" width=50%>URL</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for retest_page in retest.retestpage_set.all %}
                            <tr valign="top">
                                <td headers="page-name" width=50%>{{ retest_page.page }}</td>
                                <td headers="page-url" width=50%>
                                    <a href="{{ retest_page.page.url }}">{{ retest_page.page.url }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    <h3 class="amp-margin-bottom-0">Correspondence</h3>
                    Report sent {{ case.report_sent_date|amp_date }} through <span class="amp-todo">unknown form or email</span>
                    <br>
                    <br>
                    1-week follow up sent {{ case.report_followup_week_1_sent_date|amp_date }} through <span class="amp-todo">unknown</span>
                    <br>
                    <br>
                    4-week follow up sent {{ case.report_followup_week_4_sent_date|amp_date }} through <span class="amp-todo">unknown</span>
                    <br>
                    <br>
                    Report acknowledged {{ case.report_acknowledged_date|amp_date }} by <span class="amp-todo">unknown</span>
                    <br>
                    <br>
                    12-week update request sent {{ case.twelve_week_update_requested_date|amp_date }} to <span class="amp-todo">unknown</span>
                    <br>
                    <br>
                    12-week update followup request sent {{ case.twelve_week_1_week_chaser_sent_date|amp_date }} to <span class="amp-todo">unknown</span>
                    <br>
                    <br>
                    12-week update followup request acknowledged {{ case.twelve_week_correspondence_acknowledged_date|amp_date }} by <span class="amp-todo">unknown</span>
                    <br>
                    <br>
                    Closing email sent <span class="amp-todo">on which date?</span> to <span class="amp-todo">unknown</span>
                    <h3 class="amp-margin-bottom-0">Errors found in report <span class="amp-todo">report?</span></h3>
                    <br>
                    {% for retest_page in retest.retestpage_set.all %}
                        <b>{{ retest_page.page }}{% if retest_page.page.page_type != 'pdf' %} page{% endif %} issues</b>
                        ({{ retest_page.unfixed_check_results.count }} issue{% if retest_page.unfixed_check_results.count != 1 %}s{% endif %} remaining)
                        <br>
                        <a href="{{ retest_page.page.url }}">{{ retest_page.page.url }}</a>
                        <br>
                        <br>
                        {% if retest_page.missing_page %}
                            This page has been removed by the organisation.
                            <br>
                            <br>
                        {% endif %}
                        <table id="email-issues-table-{{ forloop.counter }}">
                            <thead>
                                <tr>
                                    <td width=1%>#</td>
                                    <td id="issue-{{ forloop.counter }}" width=33%>Issue and description</td>
                                    <td id="where-found-{{ forloop.counter }}" width=33%>Where the issue was found</td>
                                    <td id="retest-update-{{ forloop.counter }}" width=33%>Retest outcome</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for retest_check_result in retest_page.original_check_results %}
                                    <tr valign="top">
                                        <td width=1%>{{ forloop.counter }}</td>
                                        <td headers="issue-{{ forloop.parentloop.counter }}" width=33%>
                                            {% if retest_check_result.check_result.wcag_definition.url_on_w3 %}
                                                <a href="{{ retest_check_result.check_result.wcag_definition.url_on_w3 }}">
                                                    {{ retest_check_result.check_result.wcag_definition.name }}</a>
                                            {% else %}
                                                {{ retest_check_result.check_result.wcag_definition.name }}
                                            {% endif %}
                                            <br>
                                            <br>
                                            {{ retest_check_result.check_result.wcag_definition.description|markdown_to_html }}
                                            <br>
                                            {{ retest_check_result.check_result.wcag_definition.report_boilerplate|markdown_to_html }}
                                        </td>
                                        <td headers="where-found-{{ forloop.parentloop.counter }}" width=33%>
                                            {{ retest_check_result.check_result.notes|markdown_to_html }}
                                        </td>
                                        <td headers="retest-update-{{ forloop.parentloop.counter }}" width=33%>
                                            {% if retest_check_result.latest_retest_check_result %}
                                                {{ retest_check_result.latest_retest_check_result.get_retest_state_display }}
                                                <br>
                                                <br>
                                                {{ retest_check_result.latest_retest_check_result.retest_notes|markdown_to_html }}
                                            {% else %}
                                                Fixed in a previous retest
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                    <br>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row amp-margin-top-10">
            <div class="govuk-grid-column-full govuk-button-group">
                <button class="copy-email-to-clipboard govuk-button govuk-button--secondary">
                    Copy email template
                </button>
                <a
                    href="{% url 'cases:edit-retest-overview' case.id %}"
                    class="govuk-link govuk-link--no-visited-state"
                >
                    Return to retest overview
                </a>
            </div>
        </div>
    </main>
    <script src="{% static 'js/cases_copy_email.js' %}"></script>
</div>
{% endblock %}
