{% extends 'base.html' %}

{% load l10n %}

{% load static %}

{% block title %}{{ case.organisation_name }} | Unfixed issues email template{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            {% include 'common/breadcrumb_home.html' %}
            {% include 'cases/helpers/breadcrumb_case.html' %}
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:outstanding-issues' case.id %}">
                    Outstanding issues</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">Unfixed issues email template</li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='Unfixed issues email template' %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        Ensure the information is correct before sending
                    </strong>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-button-group">
                <button class="copy-email-to-clipboard govuk-button govuk-button--secondary">
                    Copy email template
                </button>
                <a
                    href="{% url 'cases:outstanding-issues' case.id %}"
                    class="govuk-link govuk-link--no-visited-state"
                >
                    Return to outstanding issues
                </a>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div id="email-text" class="amp-report-wrapper">
                    {{ email_template }}
                </div>
            </div>
        </div>
        <div class="govuk-grid-row amp-margin-top-10">
            <div class="govuk-grid-column-full govuk-button-group">
                <button class="copy-email-to-clipboard govuk-button govuk-button--secondary">
                    Copy email template
                </button>
                <a
                    href="{% url 'cases:outstanding-issues' case.id %}"
                    class="govuk-link govuk-link--no-visited-state"
                >
                    Return to outstanding issues
                </a>
            </div>
        </div>
    </main>
    <script src="{% static 'js/cases_copy_email.js' %}"></script>
</div>
{% endblock %}
