{% extends 'base.html' %}

{% block title %}{{ case.organisation_name }} | 12-week update request acknowledged{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {% include 'cases/helpers/breadcrumbs.html' with page_heading='12-week update request acknowledged' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='12-week update request acknowledged' %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                {% include 'cases/helpers/correspondence_overview_detail.html' %}
                <form method="post" action="{% url 'cases:edit-12-week-update-request-ack' case.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                            {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                            {% include 'common/amp_field.html' with field=form.twelve_week_correspondence_acknowledged_date %}
                            {% include 'cases/helpers/amp_email_field.html' with field=form.twelve_week_correspondence_acknowledged_by_email %}
                            {% include 'common/amp_field.html' with field=form.organisation_response %}
                            {% include 'common/amp_field.html' with field=form.twelve_week_correspondence_notes %}
                            {% include 'common/amp_field.html' with field=form.twelve_week_update_request_ack_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'cases/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'cases/helpers/nav_steps.html' with current_page='cases:edit-12-week-update-request-ack' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
