{% extends 'base.html' %}

{% load static %}

{% block title %}{{ case.organisation_name }} | {{ amp_page_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/case_banner.html' %}
        </div>
    </div>
    {% include 'cases/helpers/breadcrumbs.html' with page_heading=amp_page_name %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include "cases/helpers/nav_details.html" %}
                {% include 'cases/helpers/nav_steps.html' with current_section_name='12-week correspondence' current_page='cases:edit-12-week-update-request-ack' %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                {% include "cases/helpers/edit_header.html" with page_heading=amp_page_name %}
                {% include 'common/error_summary.html' %}
                {% include 'cases/helpers/correspondence_overview_detail.html' %}
                {% include 'cases/helpers/zendesk_tickets.html' %}
                {% include 'cases/helpers/email_templates.html' %}
                <form method="post" action="{% url 'cases:edit-12-week-update-request-ack' case.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                            {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                            {% include 'common/amp_field.html' with field=form.twelve_week_correspondence_acknowledged_date %}
                            {% include 'cases/helpers/amp_email_field.html' with field=form.twelve_week_correspondence_acknowledged_by_email %}
                            {% include 'common/amp_field.html' with field=form.organisation_response %}
                            {% include 'common/amp_field.html' with field=form.twelve_week_correspondence_notes %}
                            {% include 'common/amp_field.html' with field=form.twelve_week_update_request_ack_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'cases/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block extrascript %}
<script src="{% static 'js/cases_copy_text.js' %}"></script>
{% endblock %}
