<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %}{{ case.organisation_name }} | Closing the case{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Closing the case
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper no-padding-top">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='Closing the case' %}
            </div>
        </div>
        {% if case.is_website_compliant == 'compliant' and case.accessibility_statement_state == 'compliant' %}
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    The public sector body website is compliant and has no issues with the accessibility statement.
                    The case can be marked as completed with no further action.
                </strong>
            </div>
        {% endif %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'cases:edit-case-close' case.id %}">
                    {% csrf_token %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_field.html' with field=form.retested_website_date %}
                            {% include 'common/amp_field.html' with field=form.final_decision_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'cases/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'cases/helpers/nav_steps.html' with current_page='cases:edit-case-close' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
