<!DOCTYPE html>

{% extends 'base.html' %}

{% load common_tags %}

{% block title %}{{ case.organisation_name }} | Closing the case{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Closing the case
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper no-padding-top">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='Closing the case' %}
            </div>
        </div>
        {% if case.is_website_compliant == 'compliant' and case.accessibility_statement_state == 'compliant' %}
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    The public sector body website is compliant and has no issues with the accessibility statement.
                    The case can be marked as completed with no further action.
                </strong>
            </div>
        {% endif %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">View compliance decisions</span>
                    </summary>
                    <div class="govuk-details__text">
                        <div class="govuk-form-group">
                            <label class="govuk-label"><b>Disproportionate burden claimed?</b></label>
                            <div class="govuk-hint">{{ case.get_is_disproportionate_claimed_display }}</div>
                            <label class="govuk-label"><b>Disproportionate burden notes</b></label>
                            <div class="govuk-hint">
                                {% if case.disproportionate_notes %}{{ case.disproportionate_notes|markdown_to_html }}{% else %}None{% endif %}
                            </div>
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label"><b>Initial accessibility statement decision (found in
                                <a href="{% url 'audits:audit-detail' case.audit.id %}" class="govuk-link govuk-link--no-visited-state">Initial test</a>)</b></label>
                            <div class="govuk-hint">{{ case.get_accessibility_statement_state_display }}</div>
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label"><b>Initial accessibility statement notes (found in
                                <a href="{% url 'audits:audit-detail' case.audit.id %}" class="govuk-link govuk-link--no-visited-state">Initial test</a>)</b></label>
                            <div class="govuk-hint">
                                {% if case.accessibility_statement_notes %}{{ case.accessibility_statement_notes|markdown_to_html }}{% else %}None{% endif %}
                            </div>
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label"><b>Final accessibility statement decision (found in
                                <a href="{% url 'audits:audit-retest-detail' case.audit.id %}" class="govuk-link govuk-link--no-visited-state">retest</a>)</b></label>
                            <div class="govuk-hint">{{ case.get_accessibility_statement_state_final_display }}</div>
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label"><b>Link to screenshot of accessibility statement</b></label>
                            <div class="govuk-hint">
                                {% if case.accessibility_statement_screenshot_url %}
                                    <a href="{{ audit.accessibility_statement_screenshot_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                                    {{ case.accessibility_statement_screenshot_url }}</a></div>
                                {% else %}
                                    <p>None</p>
                                {% endif %}
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label"><b>Final accessibility statement notes (found in
                                <a href="{% url 'audits:audit-retest-detail' case.audit.id %}" class="govuk-link govuk-link--no-visited-state">retest</a>)</b></label>
                            <div class="govuk-hint">
                                {% if case.accessibility_statement_notes_final %}{{ case.accessibility_statement_notes_final|markdown_to_html }}{% else %}None{% endif %}
                            </div>
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label"><b>Initial compliance decision (found in
                                <a href="{% url 'audits:audit-detail' case.audit.id %}" class="govuk-link govuk-link--no-visited-state">Initial test</a>)</b></label>
                            <div class="govuk-hint">{{ case.get_is_website_compliant_display }}</div>
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label"><b>Initial compliance notes (found in
                                <a href="{% url 'audits:audit-detail' case.audit.id %}" class="govuk-link govuk-link--no-visited-state">Initial test</a>)</b></label>
                            <div class="govuk-hint">
                                {% if case.compliance_decision_notes %}
                                    {{ case.compliance_decision_notes|markdown_to_html }}
                                {% else %}
                                    None
                                {% endif %}
                            </div>
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label"><b>Final compliance decision (found in
                                <a href="{% url 'audits:audit-retest-detail' case.audit.id %}" class="govuk-link govuk-link--no-visited-state">retest</a>)</b></label>
                            <div class="govuk-hint">{{ case.get_website_state_final_display }}</div>
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label"><b>Final compliance notes (found in
                                <a href="{% url 'audits:audit-retest-detail' case.audit.id %}" class="govuk-link govuk-link--no-visited-state">retest</a>)</b></label>
                            <div class="govuk-hint">
                                {% if case.website_state_notes_final %}{{ case.website_state_notes_final|markdown_to_html }}{% else %}None{% endif %}
                            </div>
                        </div>
                    </div>
                </details>
                <form method="post" action="{% url 'cases:edit-case-close' case.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_form_snippet.html' %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'cases/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'cases/helpers/nav_steps.html' with current_page='cases:edit-case-close' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
