{% extends 'base.html' %}

{% block title %}{{ case.organisation_name }} | Contact details{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Contact details
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='Contact details' %}
            </div>
        </div>
        {% include 'cases/helpers/compliant_website_notification.html' %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                <p class="govuk-body-m">
                    {% if case.audit.contact_page.url and case.audit.contact_page.not_found == 'no' %}
                        <a href="{{ case.audit.contact_page.url }}" target="_blank" class="govuk-link">
                            Open contact page
                        </a>
                    {% else %}
                        No contact page.
                    {% endif %}
                </p>
                <p class="govuk-body-m">
                    {% if case.audit.accessibility_statement_page.url and case.audit.accessibility_statement_page.not_found == 'no' %}
                        <a href="{{ case.audit.accessibility_statement_page.url }}" target="_blank" class="govuk-link">
                            Open accessibility statement page
                        </a>
                    {% else %}
                        No accessibility statement page.
                    {% endif %}
                </p>
                <form method="post" action="{% url 'cases:edit-contact-details' case.id %}">
                    {% csrf_token %}
                    {{ contacts_formset.management_form }}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    <table class="govuk-table">
                        <tbody class="govuk-table__body">
                        {% if contacts_formset.forms %}
                            {% for contact_form in contacts_formset %}
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <div class="govuk-grid-row">
                                            <div class="govuk-grid-column-full">
                                                <h2 id="contact-{{ contact_form.instance.id }}" class="govuk-heading-m">Contact {{ forloop.counter }}</h2>
                                                {% include 'common/form_errors.html' with errors=contact_form.non_field_errors %}
                                                {% include 'common/form_hidden_fields.html' with hidden_fields=contact_form.hidden_fields %}
                                                {% for field in contact_form.visible_fields %}
                                                    {% if field.name != "preferred" or contacts_formset.total_form_count > 1 %}
                                                        {% include 'common/amp_field.html' %}
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            {% if contact_form.instance.id %}
                                                <div class="govuk-grid-column-full">
                                                    <input
                                                        type="submit"
                                                        value="Remove contact"
                                                        name="remove_contact_{{ contact_form.instance.id }}"
                                                        class="govuk-button govuk-button--secondary"
                                                        data-module="govuk-button" />
                                                </div>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <p class="govuk-body-l">No contacts have been entered</p>
                        {% endif %}
                        </tbody>
                    </table>
                    <input
                        type="submit"
                        value={% if contacts_formset.forms %} "Save and add another contact" {% else %} "Create contact" {% endif %}
                        name="add_contact"
                        class="govuk-button govuk-button--secondary"
                        data-module="govuk-button"
                    />
                    {% include 'common/amp_field.html' with field=form.contact_notes %}
                    {% include 'common/amp_field.html' with field=form.contact_details_complete_date %}
                    <div class="govuk-button-group">
                        {% include 'cases/helpers/save_continue_cancel.html' %}
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'cases/helpers/nav_steps.html' with current_page='cases:edit-contact-details' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
