{% extends 'base.html' %}

{% block title %}{{ case.organisation_name }} | Deactivate case{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Deactivate case
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='Deactivate case' %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include 'common/error_summary.html' %}
                <div class="govuk-body">
                    <p class="govuk-body-m">
                        Deactivate case removes the case from the dashboard, platform metrics,
                        and will be given an inactive status.
                    </p>
                </div>
                <form method="post" action="{% url 'cases:deactivate-case' case.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_form_snippet.html' %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Deactivate case"
                                name="deactivate"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <a
                                href="{% url 'cases:case-detail' case.id %}"
                                class="govuk-link govuk-link--no-visited-state"
                            >
                                Cancel and return to case view
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
