<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Edit case | Case details
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper no-padding-top">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'cases:edit-case-details' case.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                        <div class="govuk-grid-column-full">
                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>Date created</b></label>
                                <p class="govuk-body-m">{{ case.created|date:"d/m/Y"}}</p>
                            </div>

                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>Status</b></label>
                                <p class="govuk-body-m">{{ case.get_status_display}}</p>
                            </div>

                            {% for field in form.visible_fields %}
                                {% include 'common/amp_field.html' %}
                            {% endfor %}
                        </div>

                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Save"
                                name="save"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'cases/helpers/navbar.html' with current_page='cases:edit-case-details' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
