{% extends 'base.html' %}

{% block title %}{{ case.organisation_name }} | Case details{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {% include 'cases/helpers/breadcrumbs.html' with page_heading='Case details' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='Case details' %}
            </div>
        </div>
        {% include 'cases/helpers/compliant_website_notification.html' %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'cases:edit-case-details' case.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                        <div class="govuk-grid-column-full">
                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>Date created</b></label>
                                <p class="govuk-body-m">{{ case.created|amp_date }}</p>
                            </div>

                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>Status</b></label>
                                <p class="govuk-body-m">{{ case.get_status_display}}</p>
                            </div>

                            {% for field in form.visible_fields %}
                                {% include 'common/amp_field.html' %}
                            {% endfor %}
                        </div>

                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'cases/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'cases/helpers/nav_steps.html' with current_page='cases:edit-case-details' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
