{% extends 'cases/forms/document_upload_update.html' %}

{% block preform %}
<p class="govuk-body amp-margin-bottom-5"><b>Filename</b></p>
<p class="govuk-body">{{ document_upload.name }}</p>
<p class="govuk-body amp-margin-bottom-5"><b>Uploaded</b></p>
<p class="govuk-body">{{ document_upload.uploaded_time|amp_datetime }}</p>
<p class="govuk-body amp-margin-bottom-5"><b>Type</b></p>
<p class="govuk-body">{{ document_upload.get_type_display }}</p>
{% endblock %}

{% block formbuttons %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-button-group">
            <input
                type="submit"
                value="Remove and return"
                name="save_return"
                class="govuk-button govuk-button--warning"
                data-module="govuk-button"
            />
            <a
                href="{% url 'cases:document-upload-list' document_upload.base_case.id %}"
                class="govuk-link govuk-link--no-visited-state"
            >
                Return to files manager
            </a>
        </div>
    </div>
{% endblock %}
