{% extends 'common/case_form.html' %}

{% block breadcrumbs %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        {% include 'common/breadcrumb_home.html' %}
        {% include 'cases/helpers/breadcrumb_case.html' %}
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="{% url 'cases:list-equality-body-correspondence' case.id %}">
                All equality body correspondence</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">{{ sitemap.current_platform_page.get_name }}</li>
    </ol>
</div>
{% endblock %}

{% block formbuttons %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-button-group">
        <input
            type="submit"
            value="Save"
            name="save"
            class="govuk-button"
            data-module="govuk-button"
        />
        <input
            type="submit"
            value="Save and return"
            name="save_return"
            class="govuk-button govuk-button--secondary"
            data-module="govuk-button"
        />
        <a
            href="{% url 'cases:list-equality-body-correspondence' case.id %}"
            class="govuk-link govuk-link--no-visited-state"
        >
            Cancel
        </a>
    </div>
</div>
{% endblock %}
