{% extends 'base.html' %}

{% block title %}{{ case.organisation_name }} | {{ amp_page_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/case_banner.html' %}
        </div>
    </div>
    {% include 'cases/helpers/breadcrumbs.html' with page_heading=amp_page_name %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include "cases/helpers/nav_details.html" %}
                {% include 'cases/helpers/nav_steps.html' with current_section_name='Contact details' current_page=current_url_name %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                {% include "cases/helpers/edit_header.html" with page_heading=amp_page_name %}
                {% include 'common/error_summary.html' %}
                {% include 'cases/helpers/correspondence_overview_detail.html' %}
                {% include 'cases/helpers/zendesk_tickets.html' %}
                {% include 'cases/helpers/email_templates.html' %}
                <form method="post" action="{% url current_url_name case.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                            {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                            {% include 'cases/helpers/amp_due_date_field.html' with field=form.no_contact_four_week_chaser_sent_date due_date=case.no_contact_four_week_chaser_due_date due_date_field=form.no_contact_four_week_chaser_due_date %}
                            {% include 'common/amp_field.html' with field=form.no_contact_four_week_chaser_sent_to %}
                            {% include 'common/amp_field.html' with field=form.correspondence_notes %}
                            {% include 'common/amp_field.html' with field=form.four_week_contact_details_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'cases/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
