{% extends 'common/case_form.html' %}

{% block formbuttons %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-button-group">
            <input
                type="submit"
                value="Save"
                name="save"
                class="govuk-button"
                data-module="govuk-button"
            />
            <a
                href="{{ case.get_absolute_url }}"
                class="govuk-link govuk-link--no-visited-state"
            >
                Cancel and return to case view
            </a>
        </div>
    </div>
{% endblock %}
