{% extends 'common/case_form.html' %}

{% block preform %}
{% if case.no_psb_contact == 'yes' %}
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
            Public sector body is unresponsive and has been moved to equalities bodies correspondence
        </strong>
    </div>
{% endif %}
{% endblock %}

{% block formfields %}
{% include 'common/form_errors.html' with errors=form.non_field_errors %}
{% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
{% include 'common/amp_field.html' with field=form.post_case_notes %}
{% include 'common/amp_field.html' with field=form.case_updated_date %}
<div class="govuk-form-group">
    <label class="govuk-label"><b>Public sector body statement appeal deadline</b></label>
    <div class="govuk-hint">
        {% if case.psb_appeal_deadline %}
            {{ case.psb_appeal_deadline|amp_date }}
        {% else %}
            None
        {% endif %}
    </div>
</div>
{% include 'common/amp_field.html' with field=form.psb_appeal_notes %}
{% include 'common/amp_field.html' with field=form.post_case_complete_date %}
{% endblock %}

{% block formbuttons %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-button-group">
        <input
            type="submit"
            value="Save"
            name="save"
            class="govuk-button"
            data-module="govuk-button"
        />
        <input
            type="submit"
            value="Save and exit"
            name="save_exit"
            class="govuk-button govuk-button--secondary"
            data-module="govuk-button"
        />
        <a
            href="{{ case.get_absolute_url }}"
            class="govuk-link govuk-link--no-visited-state"
        >
            Cancel and return to case view
        </a>
    </div>
</div>
{% endblock %}
