{% extends 'common/case_form.html' %}

{% block preform %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% include 'cases/helpers/qa_links.html' %}
        {% if case.published_report_url %}
            <p class="govuk-body">
                The report is now published and available for viewing
                <a href="{{ case.published_report_url }}" class="govuk-link" target="_blank">here</a>.
            </p>
            <p class="govuk-body">
                To republish the report, press 'Republish HTML Report' in the
                <a href="{% url 'reports:report-publisher' case.report.id %}" class="govuk-link govuk-link--no-visited-state">report publisher</a>.
            </p>
        {% elif case.report and case.report_review_status == 'yes' and case.report_approved_status == 'yes' %}
            <p class="govuk-body">The report is approved and ready for publication.</p>
            <p class="govuk-body">It will create a permanent link for external sharing.</p>
            <p class="govuk-body">Would you like to proceed?</p>
        {% else %}
            <p class="govuk-body">To publish this report, you need to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    Set the report status to Ready to Review in
                    <a href="{% url 'cases:edit-report-details' case.id %}" class="govuk-link govuk-link--no-visited-state">Report Ready for QA process</a>
                </li>
                <li>Get <a href="{% url 'cases:edit-report-approved' case.id %}" class="govuk-link govuk-link--no-visited-state">approval from another auditor</a></li>
            </ul>
            <p class="govuk-body">When these steps are finished, the report can be published.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block formbuttons %}
<div class="govuk-grid-row">
    {% if case.published_report_url %}
        <div class="govuk-grid-column-full govuk-button-group">
            {% include 'cases/helpers/save_continue_cancel.html' %}
        </div>
    {% elif case.report and case.report_review_status == 'yes' and case.report_approved_status == 'yes' %}
        <div class="govuk-grid-column-full govuk-button-group">
            <input type="submit" value="Create HTML report" name="create_html_report" class="govuk-button" data-module="govuk-button" />
        </div>
    {% endif %}
</div>
{% endblock %}
