{% extends "base.html" %}

{% block title %}{{ case.organisation_name }} | Add comment{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:edit-qa-process' case.id %}">QA process</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Add comment
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='Add comment' %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'cases:add-qa-comment' case.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_form_snippet.html' %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Add comment and exit"
                                name="save_return"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <a
                                href="{% url 'cases:edit-qa-process' case.id %}?#qa-discussion"
                                class="govuk-link govuk-link--no-visited-state"
                            >
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
                {% for comment in case.qa_comments %}
                    {% include "comments/helpers/comment.html" %}
                    <hr class="amp-width-100" />
                {% endfor %}
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'cases/helpers/nav_steps.html' with current_page='cases:edit-qa-process' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
