{% extends 'common/case_form.html' %}

{% block preform %}
    {% include 'cases/helpers/qa_links.html' %}
{% endblock %}

{% block formbuttons %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-button-group">
        <input
            type="submit"
            value="Save and continue"
            name="save_continue"
            class="govuk-button"
            data-module="govuk-button"
        />
        <input
            type="submit"
            value="Save"
            name="save"
            class="govuk-button govuk-button--secondary"
            data-module="govuk-button"
        />
        <a
            href="{{ case.get_absolute_url }}"
            class="govuk-link govuk-link--no-visited-state"
        >
            Return to overview
        </a>
        <a
            href="{% url 'cases:mark-qa-comments-as-read' case.id %}"
            class="govuk-link govuk-link--no-visited-state"
        >
            Mark case tasks as seen
        </a>
    </div>
</div>
{% include 'common/next_platform_page.html' %}
{% endblock %}

{% block postform %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full amp-margin-top-30">
            {% for comment in case.qa_comments %}
                {% include "comments/helpers/comment.html" %}
                {% if request.user == comment.user  %}
                    <p class="govuk-body-m">
                        <a href="{% url 'comments:edit-qa-comment' comment.id %}" class="govuk-link govuk-link--no-visited-state">
                            Edit or delete comment</a>
                    </p>
                {% endif %}
                <hr class="amp-width-100" />
            {% endfor %}
        </div>
    </div>
{% endblock %}
