{% extends 'common/case_form.html' %}

{% block preform %}
    {% include 'cases/helpers/qa_links.html' %}
{% endblock %}

{% block postform %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 id="qa-discussion" class="govuk-heading-m">QA discussion</h2>
            {% for comment in case.qa_comments %}
                {% include "comments/helpers/comment.html" %}
                {% if request.user == comment.user  %}
                    <p class="govuk-body-m">
                        <a href="{% url 'comments:edit-qa-comment' comment.id %}" class="govuk-link govuk-link--no-visited-state">
                            Edit or delete comment</a>
                    </p>
                {% endif %}
                <hr class="amp-width-100" />
            {% endfor %}
        </div>
    </div>
{% endblock %}
