{% extends 'base.html' %}

{% load notifications %}

{% load comments %}

{% block title %}{{ case.organisation_name }} | QA process{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                QA process
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='QA process' %}
            </div>
        </div>
        {% include 'cases/helpers/compliant_website_notification.html' %}
        {% include 'reports/helpers/pending_unpublished_rebuild_notification.html' %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'cases:edit-qa-process' case.id %}">
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_field.html' with field=form.report_review_status %}
                            {% include 'common/amp_field.html' with field=form.reviewer %}
                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>Link to report draft</b></label>
                                <div class="govuk-hint">
                                    {% if case.report_methodology == 'platform' %}
                                        {% if case.report %}
                                            <a href="{% url 'reports:report-publisher' case.report.id %}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                                                Report publisher
                                            </a>
                                        {% else %}
                                            None
                                        {% endif %}
                                    {% else %}
                                        {% if case.report_draft_url %}
                                            <a href="{{ case.report_draft_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                                                Link to report draft
                                            </a>
                                        {% else %}
                                            None
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            {% include 'common/amp_field.html' with field=form.report_approved_status %}
                            {% if case.report_methodology == 'platform' and case.report %}
                                <div class="govuk-form-group">
                                    <label class="govuk-label"><b>Published report</b></label>
                                    <div class="govuk-hint">
                                        {% if case.report.latest_s3_report %}
                                            <a href="{{ django_settings.AMP_PROTOCOL }}{{ django_settings.AMP_VIEWER_DOMAIN }}{{ case.report.latest_s3_report.get_absolute_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                                                View final HTML report
                                            </a>
                                        {% else %}
                                            HTML report has not been published. Publish report in
                                            <a href="{% url 'reports:report-confirm-publish' case.report.id %}" class="govuk-link govuk-link--no-visited-state">
                                                Case > Report > Publish HTML report</a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            {% include 'common/amp_field.html' with field=form.reviewer_notes %}
                            {% if case.report_methodology != 'platform' %}
                                {% include 'common/amp_field.html' with field=form.report_final_odt_url %}
                                {% include 'common/amp_field.html' with field=form.report_final_pdf_url %}
                            {% endif %}
                            {% include 'common/amp_field.html' with field=form.qa_process_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'cases/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        Submitting a comment does not save any changes in the above fields.
                    </strong>
                </div>
                {% comments_app request=request case=case %}
                {% read_notification request=request %}
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'cases/helpers/nav_steps.html' with current_page='cases:edit-qa-process' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
