{% extends 'base.html' %}

{% block title %}{{ case.organisation_name }} | QA process{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {% include 'cases/helpers/breadcrumbs.html' with page_heading='QA process' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='QA process' %}
            </div>
        </div>
        {% include 'cases/helpers/compliant_website_notification.html' %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'cases:edit-qa-process' case.id %}">
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_field.html' with field=form.report_review_status %}
                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>Link to report draft</b></label>
                                <div class="govuk-hint">
                                    {% include 'cases/helpers/report_link_draft.html' %}
                                </div>
                            </div>
                            <h2 id="qa-discussion" class="govuk-heading-m">QA discussion</h2>
                            <details class="govuk-details" data-module="govuk-details" open>
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Show QA discussion ({{ case.qa_comments.count }} comment{% if case.qa_comments.count != 1 %}s{% endif %})
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <div class="govuk-button-group">
                                        <input
                                            type="submit"
                                            value="Add comment"
                                            name="add_comment"
                                            class="govuk-button govuk-button--secondary"
                                            data-module="govuk-button"
                                        />
                                    </div>
                                    {% for comment in case.qa_comments %}
                                        {% include "comments/helpers/comment.html" %}
                                        {% if request.user == comment.user  %}
                                            <p class="govuk-body-m">
                                                <a href="{% url 'comments:edit-qa-comment' comment.id %}" class="govuk-link govuk-link--no-visited-state">
                                                    Edit or delete comment</a>
                                            </p>
                                        {% endif %}
                                        <hr class="amp-width-100" />
                                    {% endfor %}
                                </div>
                            </details>
                            {% include 'common/amp_field.html' with field=form.reviewer %}
                            {% include 'common/amp_field.html' with field=form.report_approved_status %}
                            {% if case.report_methodology == 'platform' and case.report %}
                                <div class="govuk-form-group">
                                    <label class="govuk-label"><b>Published report</b></label>
                                    <div class="govuk-hint">
                                        {% if case.report.latest_s3_report %}
                                            <a href="{{ case.published_report_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                                                View published HTML report
                                            </a>
                                        {% else %}
                                            HTML report has not been published. Publish report in
                                            <a href="{% url 'reports:report-confirm-publish' case.report.id %}" class="govuk-link govuk-link--no-visited-state">
                                                Case > Report publisher > Publish HTML report</a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if case.report_methodology != 'platform' %}
                                {% include 'common/amp_field.html' with field=form.report_final_odt_url %}
                                {% include 'common/amp_field.html' with field=form.report_final_pdf_url %}
                            {% endif %}
                            {% include 'common/amp_field.html' with field=form.qa_process_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'cases/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'cases/helpers/nav_steps.html' with current_page='cases:edit-qa-process' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
