{% extends 'base.html' %}

{% load notifications %}

{% load comments %}

{% block title %}{{ case.organisation_name }} | QA process{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                QA process
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper no-padding-top">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='QA process' %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'cases:edit-qa-process' case.id %}">
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>Link to report draft</b></label>
                                {% if case.report_draft_url %}
                                    <a href="{{ case.report_draft_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                                        Link to report draft
                                    </a>
                                {% else %}
                                    <div class="govuk-hint">None</div>
                                {% endif %}
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>On call</b></label>
                                <div class="govuk-hint">{{ platform.active_qa_auditor.get_full_name }}</div>
                            </div>
                            {% include 'common/amp_field.html' with field=form.reviewer %}
                            {% include 'common/amp_field.html' with field=form.report_approved_status %}
                            {% include 'common/amp_field.html' with field=form.reviewer_notes %}
                            {% include 'common/amp_field.html' with field=form.report_final_odt_url %}
                            {% include 'common/amp_field.html' with field=form.report_final_pdf_url %}
                            {% include 'common/amp_field.html' with field=form.qa_process_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'cases/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
                {% comments_app request=request case_id=case.id page="qa_process" %}
                {% read_notification request=request %}
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'cases/helpers/nav_steps.html' with current_page='cases:edit-qa-process' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
