<!DOCTYPE html>

{% extends 'base.html' %}

{% comment %}
{% load comments %}
{% endcomment %}

{% block content %}

<div class="govuk-width-container">
    <a href="{% url 'cases:edit-test-results' case.id %}" class="govuk-back-link">Back</a>
    <main id="main-content" class="govuk-main-wrapper no-padding-top">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'cases:edit-report-details' case.id %}">
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_field.html' with field=form.report_draft_url %}
                            {% include 'common/amp_field.html' with field=form.report_review_status %}

                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>Auditor</b></label>
                                <div class="govuk-hint">{{ case.auditor.get_full_name }}</div>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>Active QA auditor{% if qa_auditors|length != 1 %}s{% endif %}</b></label>
                                {% for qa_auditor in qa_auditors %}
                                    <div class="govuk-hint">{{ qa_auditor.get_full_name }}</div>
                                {% endfor %}
                            </div>
                            {% include 'common/amp_field.html' with field=form.reviewer %}
                            {% include 'common/amp_field.html' with field=form.report_approved_status %}
                            {% include 'common/amp_field.html' with field=form.reviewer_notes %}
                            {% include 'common/amp_field.html' with field=form.report_final_odt_url %}
                            {% include 'common/amp_field.html' with field=form.report_final_pdf_url %}
                            {% include 'common/amp_field.html' with field=form.reporting_details_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Save and continue"
                                name="save_continue"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <input
                                type="submit"
                                value="Save and exit"
                                name="save_exit"
                                class="govuk-button govuk-button--secondary"
                                data-module="govuk-button"
                            />
                            <a
                                href="{% url 'cases:case-detail' case.id %}"
                                class="govuk-link govuk-link--no-visited-state"
                            >
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
                {% comment %}
                {% comments_app request=request case_id=case.id page="report_details" %}
                {% endcomment %}
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'cases/helpers/navbar.html' with current_page='cases:edit-report-details' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
