{% extends 'base.html' %}

{% block title %}{{ case.organisation_name }} | {{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/case_banner.html' %}
        </div>
    </div>
    {% include 'cases/helpers/breadcrumbs.html' with page_heading=sitemap.current_platform_page.get_name %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        {% include 'cases/helpers/compliant_website_notification.html' %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include "cases/helpers/case_nav.html" %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                {% include "cases/helpers/edit_header.html" with page_heading=sitemap.current_platform_page.get_name %}
                {% include 'common/error_summary.html' %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        {% if case.audit %}
                            {% if case.report %}
                                <div class="govuk-button-group">
                                    <a
                                        href="{% url 'reports:report-publisher' case.report.id %}"
                                        class="govuk-link govuk-link--no-visited-state"
                                    >
                                        Go to Case > Report publisher
                                    </a>
                                </div>
                                <table class="govuk-table">
                                    <tbody class="govuk-table__body">
                                        {% include 'reports/helpers/report_metadata_rows.html' with report=case.report %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p class="govuk-body">
                                    This case currently does not have a report.
                                </p>
                                <div class="govuk-button-group">
                                    <a
                                        href="{% url 'reports:report-create' case.id %}"
                                        role="button"
                                        draggable="false"
                                        class="govuk-button govuk-button--secondary"
                                        data-module="govuk-button"
                                    >
                                        Create report
                                    </a>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="govuk-warning-text">
                                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                <strong class="govuk-warning-text__text">
                                    <span class="govuk-warning-text__assistive">Warning</span>
                                    This case does not have a test. Complete a test in
                                    <a href="{% url 'cases:edit-test-results' case.id %}" class="govuk-link govuk-link--no-visited-state">
                                        Case > Testing details</a>
                                    before starting the report.
                                </strong>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <form method="post" action="{% url 'cases:edit-report-details' case.id %}">
                    {% csrf_token %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_field.html' with field=form.report_review_status %}
                        </div>
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_field.html' with field=form.reporting_details_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'cases/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
