{% extends 'base.html' %}

{% block title %}{{ case.organisation_name }} | Report correspondence{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Report correspondence
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper no-padding-top">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='Report correspondence' %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                <p class="govuk-body-m">
                    <a
                        href="{% url 'cases:edit-report-followup-due-dates' case.id %}"
                        class="govuk-link govuk-link--no-visited-state"
                    >
                        Edit report followup due dates
                    </a>
                </p>
                {% if case.report_methodology == 'platform' and case.report.publishedreport_set.count == 0 %}
                    <p class="govuk-body-m">
                        A published report does not exist for this case. Create a report in
                        case > report
                    </p>
                {% endif %}
                <form method="post" action="{% url 'cases:edit-report-correspondence' case.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                        <div class="govuk-grid-column-full">
                            {% if case.report_methodology == 'platform' and case.report.publishedreport_set.count > 0 %}
                                {% include 'common/amp_field.html' with field=form.published_report_sent %}
                            {% endif %}
                            {% include 'common/amp_field.html' with field=form.report_sent_date %}
                            {% include 'common/amp_field.html' with field=form.report_followup_week_1_sent_date %}
                            {% include 'common/amp_field.html' with field=form.report_followup_week_4_sent_date %}
                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>12-week deadline</b></label>
                                <div class="govuk-hint">
                                    {% if case.report_followup_week_12_due_date %}
                                        Due {{ case.report_followup_week_12_due_date|date:"d/m/Y" }}
                                    {% else %}
                                        None
                                    {% endif %}
                                </div>
                            </div>
                            {% include 'common/amp_field.html' with field=form.report_acknowledged_date %}
                            {% include 'common/amp_field.html' with field=form.zendesk_url %}
                            {% include 'common/amp_field.html' with field=form.correspondence_notes %}
                            {% include 'common/amp_field.html' with field=form.report_correspondence_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full">
                            <p class="govuk-body-m">
                                <a
                                    href="{% url 'cases:edit-no-psb-response' case.id %}"
                                    class="govuk-link govuk-link--no-visited-state"
                                >
                                    Unable to send report or no response from public sector body?
                                </a>
                            </p>
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'cases/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'cases/helpers/nav_steps.html' with current_page='cases:edit-report-correspondence' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
