{% extends 'base.html' %}

{% block title %}{{ case.organisation_name }} | {{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/case_banner.html' %}
        </div>
    </div>
    {% include 'cases/helpers/breadcrumbs.html' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        {% include 'cases/helpers/compliant_website_notification.html' %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include "cases/helpers/case_nav.html" %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                {% include "cases/helpers/edit_header.html" with page_heading=sitemap.current_platform_page.get_name %}
                {% include 'common/error_summary.html' %}
                {% include 'cases/helpers/qa_links.html' %}
                <form method="post" action="{% url 'cases:edit-report-approved' case.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_form_snippet.html' %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'cases/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
