{% extends 'base.html' %}

{% block title %}{{ case.organisation_name }} | Report correspondence{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Report correspondence
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='Report correspondence' %}
            </div>
        </div>
        {% include 'cases/helpers/compliant_website_notification.html' %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                <p class="govuk-body-m">
                    <a
                        href="{% url 'cases:edit-no-psb-response' case.id %}"
                        class="govuk-link govuk-link--no-visited-state"
                    >
                        Unable to send report or no response from public sector body?
                    </a>
                </p>
                {% if case.report_methodology == 'platform' and case.s3report_set.count == 0 %}
                    <p class="govuk-body-m">
                        A published report does not exist for this case.
                        {% if case.report %}
                            Publish report in
                            <a
                                href="{% url 'reports:report-publisher' case.report.id %}"
                                class="govuk-link govuk-link--no-visited-state"
                            >
                                Case > Report publisher
                            </a>
                        {% else %}
                            Create a report in
                            <a
                                href="{% url 'cases:edit-report-details' case.id %}"
                                class="govuk-link govuk-link--no-visited-state"
                            >
                                Case > Report details
                            </a>
                    {% endif %}
                    </p>
                {% endif %}
                <form method="post" action="{% url 'cases:edit-report-correspondence' case.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_field_two_column.html' with field=form.report_sent_date %}
                            <hr class="amp-width-100">
                            {% if case.report and case.report_methodology == "platform" %}
                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-one-half">
                                        <label class="govuk-label"><b>Report visits</b></label>
                                    </div>
                                    <div class="govuk-grid-column-one-half">
                                        <span class="govuk-hint">
                                            {{ number_of_visits }}
                                            (<a href="{% url 'reports:report-metrics-view' case.report.id %}" class="govuk-link govuk-link--no-visited-state">View visits log</a>)
                                        </span>
                                    </div>
                                </div>
                                <hr class="amp-width-100">
                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-one-half">
                                        <label class="govuk-label"><b>Unique report visits</b></label>
                                    </div>
                                    <div class="govuk-grid-column-one-half">
                                        <span class="govuk-hint">
                                            {{ number_of_unique_visitors }}
                                            (<a href="{% url 'reports:report-metrics-view' case.report.id %}" class="govuk-link govuk-link--no-visited-state">View visits log</a>)
                                        </span>
                                    </div>
                                </div>
                                <hr class="amp-width-100">
                            {% endif %}
                            {% include 'common/amp_field_two_column.html' with field=form.report_followup_week_1_sent_date %}
                            <hr class="amp-width-100">
                            {% include 'common/amp_field_two_column.html' with field=form.report_followup_week_4_sent_date %}
                            <hr class="amp-width-100">
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-half">
                                    <label class="govuk-label">
                                        <b>12-week deadline</b> |
                                        <a href="{% url 'cases:edit-report-followup-due-dates' case.id %}"
                                            class="govuk-link govuk-link--no-visited-state">Edit</a>
                                    </label>
                                </div>
                                <div class="govuk-grid-column-one-half">
                                    <span class="govuk-hint">
                                        {% if case.report_followup_week_12_due_date %}
                                            Due {{ case.report_followup_week_12_due_date|amp_date }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            <hr class="amp-width-100">
                            {% include 'common/amp_field_two_column.html' with field=form.report_acknowledged_date %}
                            <hr class="amp-width-100">
                            {% include 'common/amp_field.html' with field=form.zendesk_url %}
                            {% include 'common/amp_field.html' with field=form.correspondence_notes %}
                            {% include 'common/amp_field.html' with field=form.report_correspondence_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'cases/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'cases/helpers/nav_steps.html' with current_page='cases:edit-report-correspondence' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
