{% extends 'common/case_form.html' %}

{% load static %}

{% block preform %}
{% include 'cases/helpers/correspondence.html' %}
{% include 'cases/helpers/no_response_link.html' %}
{% include 'cases/helpers/report_visits.html' %}
{% endblock %}

{% block formfields %}
{% include 'common/form_errors.html' with errors=form.non_field_errors %}
{% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
{% if case.report_acknowledged_date %}
    {% include 'cases/helpers/report_acknowledged_warning.html' %}
{% else %}
    {% include 'cases/helpers/amp_due_date_field.html' with field=form.report_followup_week_4_sent_date due_date=case.report_followup_week_4_due_date due_date_field=form.report_followup_week_4_due_date %}
    {% include 'cases/helpers/amp_email_field.html' with field=form.four_week_followup_sent_to_email %}
{% endif %}
{% include 'common/amp_field.html' with field=form.correspondence_notes %}
{% include 'common/amp_field.html' with field=form.four_week_followup_complete_date %}
{% endblock %}

{% block extrascript %}
<script src="{% static 'js/cases_copy_text.js' %}"></script>
{% endblock %}
