<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
<div class="govuk-width-container">
    <a href="{% url 'cases:edit-report-correspondance' case.id %}" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper no-padding-top">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with header_suffix="Report followup dates" %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-body">
                    <p class="govuk-!-font-size-19 govuk-!-font-weight-bold">Report sent on</p>
                    <p class="govuk-!-font-weight-regular">{{ case.report_sent_date|date:"d/m/Y" }}</p>
                </div>
                <form method="post" action="{% url 'cases:edit-report-followup-due-dates' case.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        {% include 'common/amp_column_full_form_snippet.html' %}
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Save and return"
                                name="save_return"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <a
                                href="{% url 'cases:edit-report-correspondance' case.id %}"
                                class="govuk-link govuk-link--no-visited-state"
                            >
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'cases/helpers/navbar.html' with current_page='edit-report-correspondance' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
