<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
<div class="govuk-width-container">
    <a href="{% url 'cases:edit-twelve-week-correspondence' case.id %}" class="govuk-back-link">Back</a>
    <main id="main-content" class="govuk-main-wrapper no-padding-top">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include 'common/error_summary.html' %}
                <form method="post" action="{% url 'cases:edit-twelve-week-correspondence-due-dates' case.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_form_snippet.html' %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Save and return"
                                name="save_return"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <a
                                href="{% url 'cases:edit-twelve-week-correspondence' case.id %}"
                                class="govuk-link govuk-link--no-visited-state"
                            >
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
