<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Edit case | 12 week correspondence
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper no-padding-top">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                <p class="govuk-body-m">
                    <a
                        href="{% url 'cases:edit-twelve-week-correspondence-due-dates' case.id %}"
                        class="govuk-link govuk-link--no-visited-state"
                    >
                        Edit 12 week correspondence due dates
                    </a>
                </p>
                <form method="post" action="{% url 'cases:edit-twelve-week-correspondence' case.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div class="govuk-form-group">
                                <label class="govuk-label"><b>12 week deadline</b></label>
                                <div class="govuk-hint">
                                    {% if case.report_followup_week_12_due_date %}
                                        Due {{ case.report_followup_week_12_due_date|date:"d/m/Y" }}
                                    {% else %}
                                        None
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_form_snippet.html' %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Save"
                                name="save"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'cases/helpers/navbar.html' with current_page='cases:edit-twelve-week-correspondence' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
