<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
<div class="govuk-width-container">
    <a href="{% url 'cases:edit-report-correspondance' case.id %}" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper no-padding-top">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with header_suffix="12 week correspondance" %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body-m">
                    <a
                        href="{% url 'cases:edit-12-week-correspondance-due-dates' case.id %}"
                        class="govuk-link govuk-link--no-visited-state"
                    >
                        Edit followup dates
                    </a>
                </p>
                <form method="post" action="{% url 'cases:edit-12-week-correspondance' case.id %}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        {% include 'common/amp_column_full_form_snippet.html' %}
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Save and continue"
                                name="save_continue"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <input
                                type="submit"
                                value="Save and exit"
                                name="save_exit"
                                class="govuk-button govuk-button--secondary"
                                data-module="govuk-button"
                            />
                            <a
                                href="{% url 'cases:case-detail' case.id %}"
                                class="govuk-link govuk-link--no-visited-state"
                            >
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'cases/helpers/navbar.html' with current_page='edit-12-week-correspondance' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
