{% extends 'base.html' %}

{% block title %}{{ case.organisation_name }} | 12-week correspondence{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                12-week correspondence
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "cases/helpers/edit_header.html" with page_heading='12-week correspondence' %}
            </div>
        </div>
        {% include 'cases/helpers/compliant_website_notification.html' %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include 'common/error_summary.html' %}
                {% if case.no_psb_contact == 'yes' %}
                    <p class="govuk-body-m">
                        The public sector body has been as unresponsive to this case.
                        Progress to
                        <a
                            href="{% url 'cases:edit-twelve-week-retest' case.id %}"
                            class="govuk-link govuk-link--no-visited-state">Case > 12-week retest</a>.
                    </p>
                    <p class="govuk-body-m">
                        If the PSB has since responded, untick Mark the PSB as unresponsive
                        to this case in
                        <a
                            href="{% url 'cases:edit-no-psb-response' case.id %}"
                            class="govuk-link govuk-link--no-visited-state">Case > Report correspondence > Public sector body is unresponsive</a>.
                    </p>
                {% else %}
                    <p class="govuk-body-m">
                        <a
                            href="{% url 'cases:twelve-week-correspondence-email' case.id %}"
                            class="govuk-link govuk-link--no-visited-state"
                        >
                            View email template
                        </a>
                    </p>
                {% endif %}
                <form method="post" action="{% url 'cases:edit-twelve-week-correspondence' case.id %}">
                    {% csrf_token %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    <div class="govuk-grid-row">
                        {% if case.no_psb_contact == 'no' %}
                            <div class="govuk-grid-column-full">
                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-one-half">
                                        <label class="govuk-label">
                                            <b>12-week deadline</b> |
                                            <a href="{% url 'cases:edit-twelve-week-correspondence-due-dates' case.id %}"
                                                class="govuk-link govuk-link--no-visited-state">Edit</a>
                                        </label>
                                    </div>
                                    <div class="govuk-grid-column-one-half">
                                        <span class="govuk-hint">
                                            {% if case.report_followup_week_12_due_date %}
                                                Due {{ case.report_followup_week_12_due_date|amp_date }}
                                            {% else %}
                                                None
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-grid-column-full">
                                <hr class="amp-width-100">
                                {% include 'common/amp_field_two_column.html' with field=form.twelve_week_update_requested_date %}
                                <hr class="amp-width-100">
                                {% include 'common/amp_field_two_column.html' with field=form.twelve_week_1_week_chaser_sent_date %}
                                <hr class="amp-width-100">
                                {% include 'common/amp_field_two_column.html' with field=form.twelve_week_correspondence_acknowledged_date %}
                                <hr class="amp-width-100">
                                {% include 'common/amp_field.html' with field=form.twelve_week_correspondence_notes %}
                                {% include 'common/amp_field.html' with field=form.twelve_week_response_state %}
                            </div>
                        {% endif %}
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_field.html' with field=form.twelve_week_correspondence_complete_date %}
                        </div>
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'cases/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include 'cases/helpers/nav_steps.html' with current_page='cases:edit-twelve-week-correspondence' %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
