<!DOCTYPE html>

<div style="display: block; padding: 20px 0px 0px 0px; border-top: 2px solid lightgrey;">
    <div>
        <div style="vertical-align: middle;">
            <p class="govuk-body" id="comments{{counter}}">
                <b class="govuk-body-l govuk-!-font-weight-bold">{{item.user.first_name}} {{item.user.last_name}} </b>
                on {{item.created_date|date:'d/m/Y H:i'}}
            </p>
        </div>
    </div>
    <p class="govuk-body">
        {{item.body}}
    </p>
    {% if request.user == item.user  %}
        <form style="padding: 10px 0px 0px 0px;" method="post" action="{% url 'comments:remove-comment' item.id %}">
            {% csrf_token %}
            <div class="govuk-button-group">
                <input
                    type="submit"
                    value="Remove comment"
                    name="remove_comment"
                    class="govuk-button govuk-button--secondary"
                    data-module="govuk-button"
                />
                <a
                    href="{% url 'comments:edit-comment' item.id %}"
                    class="govuk-link govuk-link--no-visited-state"
                >
                    Edit comment
                </a>
            </div>
        </form>
    {% endif %}
    <div>
        {% if item.updated_date  %}
            <p class="govuk-body-s">
                Last edited {{item.updated_date|date:'d/m/Y H:i'}}
            </p>
        {% endif %}
    </div>
</div>
