{% extends "base.html" %}

{% block content %}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard:home' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'cases:case-detail' comment.case.id %}">Case</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Edit comment
            </li>
        </ol>
    </div>
    <main id="main-content" class="govuk-main-wrapper dashboard">
        <div class="govuk-body">
            <h1 class="govuk-heading-xl">Edit comment</h1>
        </div>
        <form method="post" action="{% url 'comments:edit-comment' comment.id %}">
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
                <div class="govuk-error-message">{{ hidden_field.errors }}</div>
                {{ hidden_field }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {% include 'common/amp_field.html' %}
            {% endfor %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-button-group">
                    <input
                        type="submit"
                        value="Save comment"
                        name="save_comment"
                        class="govuk-button govuk-button--secondary"
                        data-module="govuk-button"
                    />
                    <a
                        href="{% url 'cases:edit-qa-process' comment.case.id %}#comments"
                        class="govuk-link govuk-link--no-visited-state"
                    >
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </main>
</div>

{% endblock %}
