{% if audit.twelve_week_accessibility_statement_found %}
    <a href="{{ audit.twelve_week_accessibility_statement_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
        Link to accessibility statement
    </a>
{% elif audit.accessibility_statement_page.url %}
    <a href="{{ audit.accessibility_statement_page.url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
        Link to {{ audit.accessibility_statement_page|lower }}
    </a>
{% else %}
    <span class="govuk-body">No accessibility statement found</span>
{% endif %}
