<nav role="navigation" class="amp-nav-steps">
    <h2 class="govuk-heading-m amp-margin-bottom-5">Retest steps</h2>
    <ul class="govuk-list">
        {% include 'audits/helpers/nav_step.html' with edit_name='audits:retest-metadata-update' key_id=wcag_audit.id name='Retest metadata' complete=wcag_audit.metadata_complete_date %}
        <li>
            Pages:
            <ul class="govuk-list govuk-list--bullet amp-margin-bottom-10">
                {% for page in wcag_audit.retestable_wcag_page_retests %}
                    {% include 'audits/helpers/nav_step.html' with edit_name='audits:edit-retest-page-checks' key_id=page.id complete=page.complete_date %}
                {% endfor %}
            </ul>
        </li>
        {% include 'audits/helpers/nav_step.html' with edit_name='audits:retest-comparison-update' key_id=wcag_audit.id name='Comparison' complete=wcag_audit.comparison_complete_date %}
        {% include 'audits/helpers/nav_step.html' with edit_name='audits:retest-compliance-update' key_id=wcag_audit.id name='Compliance decision' complete=wcag_audit.compliance_complete_date %}
        {% include 'audits/helpers/nav_step.html' with edit_name='audits:edit-equality-body-statement-pages' key_id=statement_audit.id name='Statement links' complete=statement_audit.statement_pages_complete_date %}
        {% if current_page == 'audits:edit-equality-body-retest-remove-statement-page' %}
            <li>
                <ul class="govuk-list govuk-list--bullet amp-margin-bottom-10">
                    <li>Remove statement link</li>
                </ul>
            </li>
        {% endif %}
        {% include 'audits/helpers/nav_step.html' with edit_name='audits:edit-equality-body-statement-backup' key_id=statement_audit.id name='Statement backups' complete=retest.statement_backup_complete_date %}
        {% include 'audits/helpers/nav_step.html' with edit_name='audits:edit-equality-body-statement-overview' key_id=statement_audit.id name='Statement overview' complete=retest.statement_overview_complete_date %}
        {% if retest.all_overview_statement_checks_have_passed %}
            <li>
                <ul class="govuk-list govuk-list--bullet amp-margin-bottom-10">
                    {% include 'audits/helpers/nav_step.html' with edit_name='audits:edit-equality-body-statement-website' key_id=statement_audit.id name='Statement information' complete=retest.statement_website_complete_date %}
                    {% include 'audits/helpers/nav_step.html' with edit_name='audits:edit-equality-body-statement-compliance' key_id=statement_audit.id name='Compliance status' complete=retest.statement_compliance_complete_date %}
                    {% include 'audits/helpers/nav_step.html' with edit_name='audits:edit-equality-body-statement-non-accessible' key_id=statement_audit.id name='Non-accessible content' complete=retest.statement_non_accessible_complete_date %}
                    {% include 'audits/helpers/nav_step.html' with edit_name='audits:edit-equality-body-statement-preparation' key_id=statement_audit.id name='Statement preparation' complete=retest.statement_preparation_complete_date %}
                    {% include 'audits/helpers/nav_step.html' with edit_name='audits:edit-equality-body-statement-feedback' key_id=statement_audit.id name='Feedback and enforcement procedure' complete=retest.statement_feedback_complete_date %}
                    {% include 'audits/helpers/nav_step.html' with edit_name='audits:edit-equality-body-statement-disproportionate' key_id=statement_audit.id name='Disproportionate burden claim' complete=retest.statement_disproportionate_complete_date %}
                    {% include 'audits/helpers/nav_step.html' with edit_name='audits:edit-equality-body-statement-custom' key_id=statement_audit.id name='Custom statement issues' complete=retest.statement_custom_complete_date %}
                </ul>
            </li>
        {% endif %}
        {% include 'audits/helpers/nav_step.html' with edit_name='audits:edit-equality-body-statement-results' key_id=statement_audit.id name='Statement results' complete=retest.statement_results_complete_date %}
        {% include 'audits/helpers/nav_step.html' with edit_name='audits:edit-equality-body-disproportionate-burden' key_id=statement_audit.id name='Disproportionate burden claim' complete=retest.disproportionate_burden_complete_date %}
        {% include 'audits/helpers/nav_step.html' with edit_name='audits:edit-equality-body-statement-decision' key_id=statement_audit.id name='Statement decision' complete=retest.statement_decision_complete_date %}
    </ul>
    {% include 'common/tools_and_frequently_used_links.html' with in_testing_ui='true' case=retest.simplified_case %}
</nav>
