<nav role="navigation" style="margin-bottom:40px">
    <h2 class="govuk-heading-m bottom-margin-5">Test steps</h2>
    <ul class="govuk-list">
        {% include './nav_step.html' with edit_name='audits:edit-audit-metadata' name='Test metadata' complete=audit.audit_metadata_complete_date %}
        {% include './nav_step.html' with edit_name='audits:edit-audit-add-pages' name='Add pages' complete=audit.audit_add_pages_complete_date %}
        <ul class="govuk-list govuk-list--bullet bottom-margin-10">
            {% for page in audit.testable_pages %}
                {% include './nav_step.html' with edit_name='audits:edit-audit-page-checks' %}
            {% endfor %}
        </ul>
        {% include './nav_step.html' with edit_name='audits:edit-audit-statement-1' name='Accessibility statement 1' complete=audit.audit_statement_1_complete_date %}
        {% include './nav_step.html' with edit_name='audits:edit-audit-statement-2' name='Accessibility statement 2' complete=audit.audit_statement_2_complete_date %}
        {% include './nav_step.html' with edit_name='audits:edit-audit-summary' name='Test summary' complete=audit.audit_summary_complete_date %}
        {% include './nav_step.html' with edit_name='audits:edit-audit-report-options' name='Report options' complete=audit.audit_report_options_complete_date %}
        {% include './nav_step.html' with edit_name='audits:edit-audit-report-text' name='Report text' complete=audit.audit_report_text_complete_date %}
    </ul>
    <h2 class="govuk-heading-m  bottom-margin-5">Frequently used links</h2>
    <ul class="govuk-list">
        <li>
            <a href="{{ audit.case.home_page_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                Link to website
            </a>
        </li>
        <li>
            <a href="{% url 'cases:case-detail' audit.case.id %}" rel="noreferrer noopener" class="govuk-link govuk-link--no-visited-state">
                Link to case view
            </a>
        </li>
        {% if audit.case.zendesk_url %}
            <li>
                <a href="{{ audit.case.zendesk_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                    Zendesk
                </a>
            </li>
        {% endif %}
        {% if audit.case.trello_url %}
            <li>
                <a href="{{ audit.case.trello_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                    Trello
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
