            <li>
                {% if edit_name == 'audits:edit-audit-page-checks' or edit_name == 'audits:edit-audit-retest-page-checks' %}
                    {% if current_page == edit_name and page_id == page.id %}
                        {{ page }}
                        {% if complete %}<span class="govuk-visually-hidden">complete</span>{% endif %}
                    {% else %}
                        <a href="{% url edit_name page.id %}" class="govuk-link govuk-link--no-visited-state">
                            {{ page }}{% if complete %}<span class="govuk-visually-hidden">complete</span>{% endif %}</a>
                    {% endif %}
                    {% if complete %}&check;{% endif %}
                {% else %}
                    {% if current_page == edit_name %}
                        {{ name }}
                        {% if complete %}<span class="govuk-visually-hidden">complete</span>{% endif %}
                    {% else %}
                        <a href="{% url edit_name audit.id %}" class="govuk-link govuk-link--no-visited-state">
                            {{ name }}{% if complete %}<span class="govuk-visually-hidden">complete</span>{% endif %}</a>
                    {% endif %}
                    {% if complete %}&check;{% endif %}
                {% endif %}
            </li>
