<nav role="navigation" class="amp-nav-steps">
    <ul class="govuk-list">
        {% if audit.uses_statement_checks %}
        {% else %}
            {% include './nav_step.html' with edit_name='audits:edit-audit-statement-1' name='Accessibility statement 1' complete=audit.archive_audit_statement_1_complete_date %}
            {% include './nav_step.html' with edit_name='audits:edit-audit-statement-2' name='Accessibility statement 2' complete=audit.archive_audit_statement_2_complete_date %}
            {% include './nav_step.html' with edit_name='audits:edit-statement-decision' name='Accessibility statement compliance decision' complete=audit.audit_statement_decision_complete_date %}
            {% include './nav_step.html' with edit_name='audits:edit-audit-report-options' name='Report options' complete=audit.archive_audit_report_options_complete_date %}
        {% endif %}
    </ul>
    {% include 'common/frequently_used_links.html' with in_testing_ui='true' case=audit.case %}
</nav>
