            <li>
                {% if current_page == edit_name %}
                    {{ name }}
                    {% if complete %}<span class="govuk-visually-hidden">complete</span>{% endif %}
                {% else %}
                    <a
                    {% if edit_name == 'audits:edit-audit-manual' or edit_name == 'audits:edit-audit-axe' or edit_name == 'audits:edit-audit-manual-axe' %}
                        href="{% url edit_name audit.id audit.next_page.id %}"
                    {% else %}
                        href="{% url edit_name audit.id %}"
                    {% endif %}
                        class="govuk-link govuk-link--no-visited-state"
                    >
                        {{ name }}{% if complete %}<span class="govuk-visually-hidden">complete</span>{% endif %}</a>
                {% endif %}
                {% if complete %}&check;{% endif %}
            </li>
