            <li>
                {% if anchor %}
                    <a href="#{{ anchor }}" class="govuk-link govuk-link--no-visited-state">
                        {{ name }}{% if complete %}<span class="govuk-visually-hidden">complete</span>{% endif %}</a>
                {% else %}
                    {{ name }}{% if complete %}<span class="govuk-visually-hidden">complete</span>{% endif %}
                {% endif %}
                |
                {% if page %}
                <a href="{% url edit_name page.id %}" class="govuk-link govuk-link--no-visited-state">
                {% else %}
                <a href="{% url edit_name audit.id %}" class="govuk-link govuk-link--no-visited-state">
                {% endif %}
                        Edit{% if complete %}<span class="govuk-visually-hidden">complete</span>{% endif %}</a>
                {% if complete %}&check;{% endif %}
            </li>
