<nav role="navigation" style="margin-bottom:40px">
    <h2 class="govuk-heading-m">Contents</h2>
    <ul class="govuk-list">
        {% include './nav_content.html' with anchor='audit-metadata' edit_name='audits:edit-audit-metadata' name='Test metadata' complete=audit.audit_metadata_complete_date %}
        {% include './nav_content.html' with anchor='audit-add-pages' edit_name='audits:edit-audit-add-pages' name='Add pages' complete=audit.audit_add_pages_complete_date %}
        {% include './nav_content.html' with anchor="audit-statement" edit_name='audits:edit-audit-statement-1' name='Accessibility statement 1' complete=audit.audit_statement_1_complete_date %}
        {% include './nav_content.html' with anchor="audit-statement" edit_name='audits:edit-audit-statement-2' name='Accessibility statement 2' complete=audit.audit_statement_2_complete_date %}
        {% include './nav_content.html' with anchor="" edit_name='audits:edit-audit-summary' name='Test summary' complete=audit.audit_summary_complete_date %}
        {% include './nav_content.html' with anchor="audit-report-options" edit_name='audits:edit-audit-report-options' name='Report options' complete=audit.audit_report_options_complete_date %}
        {% include './nav_content.html' with anchor="audit-report-text" edit_name='audits:edit-audit-report-text' name='Report text' complete=audit.audit_report_text_complete_date %}
    </ul>
</nav>
