            <li>
                {% if current_page == edit_name %}
                    {{ name }}
                    {% if complete %}<span class="govuk-visually-hidden">complete</span>{% endif %}
                {% else %}
                    {% if edit_name == 'audits:edit-audit-manual' or edit_name == 'audits:edit-audit-axe' %}
                    <a href="{% url edit_name audit.id audit.next_page.id %}" class="govuk-link govuk-link--no-visited-state">
                    {% else %}
                    <a href="{% url edit_name audit.id %}" class="govuk-link govuk-link--no-visited-state">
                    {% endif %}
                        {{ name }}{% if complete %}<span class="govuk-visually-hidden">complete</span>{% endif %}</a>
                {% endif %}
                {% if complete %}&check;{% endif %}
            </li>
