<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading" style="max-width:100%;">
            Only 12-week accessibility statement comparison is available as the public sector body did not respond.
        </h3>
        <h3 class="govuk-notification-banner__heading" style="max-width:100%;">
            To re-enable the website comparison process, uncheck ‘Move this case onto equality bodies correspondence
            stage?’ in Case > Report correspondence > Public sector body is unresponsive

        </h3>
        <p class="govuk-body">
            <a href="{% url 'cases:edit-no-psb-response' audit.case.id %}" class="govuk-link govuk-link--no-visited-state">
                Go to Case > Report correspondence > Public sector body is unresponsive</a>
        </p>
    </div>
</div>
