<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        The statement assessment is not visible as no statement has been found
        for this organisation website. To make the form visible, add an
        accessibility statement to
        <a href="{% url 'audits:edit-audit-pages' audit.id %}" class="govuk-link govuk-link--no-visited-state">
            Test > Pages</a>
        and uncheck 'Not found?'
    </strong>
</div>
