{% load humanize %}

<h2 class="govuk-heading-m">Overview</h2>
<div class="amp-left-border">
    <h2 class="govuk-heading-s amp-margin-bottom-5">Test created</h2>
    <p class="govuk-body-m amp-margin-bottom-10">{{ audit.date_of_test|amp_date }}</p>
    <h2 class="govuk-heading-s amp-margin-bottom-5">Auditor</h2>
    <p class="govuk-body-m amp-margin-bottom-10">{% if audit.case.auditor %}{{ audit.case.auditor.get_full_name }}{% else %}None{% endif %}</p>
    <h2 class="govuk-heading-s amp-margin-bottom-5">Website compliance</h2>
    <p class="govuk-body-m amp-margin-bottom-10">{{ audit.case.website_compliance_display }}</p>
    <h2 class="govuk-heading-s amp-margin-bottom-5">Statement compliance</h2>
    <p class="govuk-body-m amp-margin-bottom-10">{{ audit.case.accessibility_statement_compliance_display }}</p>
    {% include "audits/helpers/numbers_of_issues.html" %}
    </div>
