<fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h2 class="govuk-fieldset__heading">Search WCAG error</h2>
    </legend>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p class="govuk-body-m" id="number_of_errors">Showing {{ definitions_forms_errors|length }} errors</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/amp_form_snippet.html' with form=filter_form %}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-button-group">
            <input type="submit" value="Clear search form" name="clear" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="clear_search_form" />
        </div>
    </div>
</fieldset>
