<nav role="navigation" class="amp-margin-bottom-40">
    {% if not on_view_case %}<h2 class="govuk-heading-m">Contents</h2>{% endif %}
    <div class="amp-left-border">
        <ul class="govuk-list">
            {% include './nav_content.html' with id='edit-audit-retest-metadata' anchor='audit-retest-metadata' edit_name='audits:edit-audit-retest-metadata' name='12-week test metadata' complete=audit.audit_retest_metadata_complete_date %}
            {% if audit.case.psb_response %}
                {% if audit.testable_pages %}
                    <li>
                        Pages:
                        <ul class="govuk-list govuk-list--bullet amp-margin-bottom-10">
                            {% for page in audit.testable_pages %}
                                {% if page.failed_check_results %}
                                    {% include './nav_content.html' with anchor=page.anchor anchor_prefix='retest-' edit_name='audits:edit-audit-retest-page-checks' name=page complete=page.retest_complete_date %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                {% include './nav_content.html' with id='edit-audit-retest-pages' edit_name='audits:edit-audit-retest-pages' name='12-week pages comparison' complete=audit.audit_retest_pages_complete_date %}
                {% include './nav_content.html' with id='edit-audit-retest-website-decision' anchor='audit-retest-website-decision' edit_name='audits:edit-audit-retest-website-decision' name='12-week website compliance decision' complete=audit.audit_retest_website_decision_complete_date %}
            {% endif %}
            {% if audit.uses_statement_checks %}
                {% include './nav_content.html' with id='edit-retest-statement-overview' anchor='retest-statement-overview' edit_name='audits:edit-retest-statement-overview' name='12-week statement overview' complete=audit.audit_retest_statement_overview_complete_date %}
                {% if audit.all_overview_statement_checks_have_passed %}
                    <li>
                        <ul class="govuk-list govuk-list--bullet amp-margin-bottom-10">
                            {% include './nav_content.html' with id='edit-retest-statement-website' anchor='retest-statement-website' edit_name='audits:edit-retest-statement-website' name='12-week statement information' complete=audit.audit_retest_statement_website_complete_date %}
                            {% include './nav_content.html' with id='edit-retest-statement-compliance' anchor='retest-statement-compliance' edit_name='audits:edit-retest-statement-compliance' name='12-week compliance status' complete=audit.audit_retest_statement_compliance_complete_date %}
                            {% include './nav_content.html' with id='edit-retest-statement-non-accessible' anchor='retest-statement-non-accessible' edit_name='audits:edit-retest-statement-non-accessible' name='12-week non-accessible content' complete=audit.audit_retest_statement_non_accessible_complete_date %}
                            {% include './nav_content.html' with id='edit-retest-statement-preparation' anchor='retest-statement-preparation' edit_name='audits:edit-retest-statement-preparation' name='12-week statement preparation' complete=audit.audit_retest_statement_preparation_complete_date %}
                            {% include './nav_content.html' with id='edit-retest-statement-feedback' anchor='retest-statement-feedback' edit_name='audits:edit-retest-statement-feedback' name='12-week feedback and enforcement procedure' complete=audit.audit_retest_statement_feedback_complete_date %}
                            {% include './nav_content.html' with id='edit-retest-statement-custom' anchor='retest-statement-custom' edit_name='audits:edit-retest-statement-custom' name='12-week custom statement issues' complete=audit.audit_retest_statement_custom_complete_date %}
                        </ul>
                    </li>
                {% endif %}
            {% else %}
                {% include './nav_content.html' with id='edit-audit-retest-statement-1' anchor='audit-retest-statement-1' edit_name='audits:edit-audit-retest-statement-1' name='12-week accessibility statement Pt. 1' complete=audit.archive_audit_retest_statement_1_complete_date %}
                {% include './nav_content.html' with id='edit-audit-retest-statement-2' anchor='audit-retest-statement-2' edit_name='audits:edit-audit-retest-statement-2' name='12-week accessibility statement Pt. 2' complete=audit.archive_audit_retest_statement_2_complete_date %}
            {% endif %}
            {% include './nav_content.html' with id='edit-audit-retest-statement-comparison' anchor='audit-retest-statement-comparison' edit_name='audits:edit-audit-retest-statement-comparison' name='12-week accessibility statement comparison' complete=audit.audit_retest_statement_comparison_complete_date %}
            {% if not audit.uses_statement_checks %}
                {% include './nav_content.html' with id='edit-audit-retest-statement-decision' anchor='audit-retest-statement-decision' edit_name='audits:edit-audit-retest-statement-decision' name='12-week accessibility statement compliance decision' complete=audit.archive_audit_retest_statement_decision_complete_date %}
            {% endif %}
        </ul>
        {% if not on_view_case %}
            {% include 'common/frequently_used_links.html' with in_testing_ui='true' case=audit.case %}
        {% endif %}
    </div>
</nav>
