<nav role="navigation">
    {% include "cases/helpers/status_requirements.html" with case=audit.case %}
    <h2 class="govuk-heading-m amp-margin-bottom-5">Test steps</h2>
    <ul class="govuk-list">
        {% include './nav_step.html' with edit_name='audits:edit-audit-retest-metadata' name='12-week test metadata' complete=audit.audit_retest_metadata_complete_date %}
        {% if audit.case.psb_response %}
            {% if audit.testable_pages %}
                <li>
                    Pages:
                    <ul class="govuk-list govuk-list--bullet amp-margin-bottom-10">
                        {% for page in audit.testable_pages %}
                            {% if page.failed_check_results %}
                                {% include './nav_step.html' with edit_name='audits:edit-audit-retest-page-checks' complete=page.retest_complete_date %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            {% include './nav_step.html' with edit_name='audits:edit-audit-retest-pages' name='12-week pages comparison' complete=audit.audit_retest_pages_complete_date %}
            {% include './nav_step.html' with edit_name='audits:edit-audit-retest-website-decision' name='12-week website compliance decision' complete=audit.audit_retest_website_decision_complete_date %}
        {% endif %}
        {% if audit.uses_statement_checks %}
            {% include './nav_step.html' with edit_name='audits:edit-retest-statement-overview' name='12-week statement overview' complete=audit.audit_retest_statement_overview_complete_date %}
        {% else %}
            {% include './nav_step.html' with edit_name='audits:edit-audit-retest-statement-1' name='12-week accessibility statement Pt. 1' complete=audit.audit_retest_statement_1_complete_date %}
            {% include './nav_step.html' with edit_name='audits:edit-audit-retest-statement-2' name='12-week accessibility statement Pt. 2' complete=audit.audit_retest_statement_2_complete_date %}
        {% endif %}
        {% if audit.accessibility_statement_initially_found %}
            {% include './nav_step.html' with edit_name='audits:edit-audit-retest-statement-comparison' name='12-week accessibility statement comparison' complete=audit.audit_retest_statement_comparison_complete_date %}
        {% endif %}
        {% include './nav_step.html' with edit_name='audits:edit-audit-retest-statement-decision' name='12-week accessibility statement compliance decision' complete=audit.audit_retest_statement_decision_complete_date %}
    </ul>
    {% include 'common/frequently_used_links.html' with in_testing_ui='true' case=audit.case %}
</nav>
