<nav role="navigation" style="margin-bottom:40px">
    <h2 class="govuk-heading-m">Contents</h2>
    <ul class="govuk-list">
        {% include './nav_content.html' with anchor='audit-retest-metadata' edit_name='audits:edit-audit-retest-metadata' name='Test metadata' complete=audit.audit_retest_metadata_complete_date %}
        {% include './nav_content.html' with anchor='audit-retest-pages' edit_name='audits:edit-audit-retest-pages' name='Pages comparison' complete=audit.audit_retest_pages_complete_date %}
        {% if audit.testable_pages %}
           <ul class="govuk-list govuk-list--bullet bottom-margin-10">
                {% for page in audit.testable_pages %}
                    {% include './nav_content.html' with edit_name='audits:edit-audit-retest-page-checks' name=page complete=page.retest_complete_date %}
                {% endfor %}
            </ul>
        {% endif %}
        {% include './nav_content.html' with anchor='audit-retest-website-decision' edit_name='audits:edit-audit-retest-website-decision' name='Website compliance decision' complete=audit.audit_retest_website_decision_complete_date %}
    </ul>
</nav>
