{% load common_tags %}

<h2 class="govuk-heading-m">{{ name }}</h2>
<div class="govuk-form-group">
    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Example of {{ name }}</span>
        </summary>
        <div class="govuk-details__text">{% include example %}</div>
    </details>
    <label class="govuk-label"><b>Initial decision</b></label>
    <div class="govuk-hint">{{ decision }}</div>
    <label class="govuk-label"><b>Initial notes</b></label>
    <div class="govuk-hint">{% if audit.scope_notes %}{{ notes|markdown_to_html }}{% else %}None{% endif %}</div>
</div>
