{% load humanize %}

<h2 class="govuk-heading-m">Overview</h2>
<div class="amp-left-border">
    <h2 class="govuk-heading-s amp-margin-bottom-5">Retest created</h2>
    <p class="govuk-body-m amp-margin-bottom-10">{{ audit.retest_date|amp_date }}</p>
    <h2 class="govuk-heading-s amp-margin-bottom-5">Auditor</h2>
    <p class="govuk-body-m amp-margin-bottom-10">{% if audit.case.auditor %}{{ audit.case.auditor.get_full_name }}{% else %}None{% endif %}</p>
    <h2 class="govuk-heading-s amp-margin-bottom-5">12-week website compliance</h2>
    <p class="govuk-body-m amp-margin-bottom-10">{{ audit.case.compliance.get_website_compliance_state_12_week_display }}</p>
    <h2 class="govuk-heading-s amp-margin-bottom-5">12-week Statement compliance</h2>
    <p class="govuk-body-m amp-margin-bottom-10">{{ audit.case.compliance.get_statement_compliance_state_12_week_display }}</p>
    <h2 class="govuk-heading-s amp-margin-bottom-5">Number of remaining WCAG issues</h2>
    <p class="govuk-body-m amp-margin-bottom-10">{{ audit.unfixed_check_results.count|intcomma }}</p>
    <h2 class="govuk-heading-s amp-margin-bottom-5">Number of remaining statement issues</h2>
    <p class="govuk-body-m amp-margin-bottom-10">
        {{ audit.finally_invalid_accessibility_statement_checks|length }}
    </p>
    </div>
