<div class="govuk-grid-row govuk-body amp-bottom-border">
    <div class="govuk-grid-column-one-half">
        <b>Original test</b>
    </div>
    <div class="govuk-grid-column-one-half">
        <b>12-week retest</b>
    </div>
</div>
<div class="govuk-grid-row govuk-body amp-bottom-border">
    <div class="govuk-grid-column-one-half">
        <b>Scope</b><br>
        {{ audit.get_scope_state_display }}<br>
        {{ audit.scope_notes|markdown_to_html }}
    </div>
    <div class="govuk-grid-column-one-half">
        <br>
        {{ audit.get_audit_retest_scope_state_display }}<br>
        {{ audit.audit_retest_scope_notes|markdown_to_html }}
    </div>
</div>
<div class="govuk-grid-row govuk-body amp-bottom-border">
    <div class="govuk-grid-column-one-half">
        <b>Feedback</b><br>
        {{ audit.get_feedback_state_display }}<br>
        {{ audit.feedback_notes|markdown_to_html }}
    </div>
    <div class="govuk-grid-column-one-half">
        <br>
        {{ audit.get_audit_retest_feedback_state_display }}<br>
        {{ audit.audit_retest_feedback_notes|markdown_to_html }}
    </div>
</div>
<div class="govuk-grid-row govuk-body amp-bottom-border">
    <div class="govuk-grid-column-one-half">
        <b>Contact information</b><br>
        {{ audit.get_contact_information_state_display }}<br>
        {{ audit.contact_information_notes|markdown_to_html }}
    </div>
    <div class="govuk-grid-column-one-half">
        <br>
        {{ audit.get_audit_retest_contact_information_state_display }}<br>
        {{ audit.audit_retest_contact_information_notes|markdown_to_html }}
    </div>
</div>
<div class="govuk-grid-row govuk-body amp-bottom-border">
    <div class="govuk-grid-column-one-half">
        <b>Enforcement procedure</b><br>
        {{ audit.get_enforcement_procedure_state_display }}<br>
        {{ audit.enforcement_procedure_notes|markdown_to_html }}
    </div>
    <div class="govuk-grid-column-one-half">
        <br>
        {{ audit.get_audit_retest_enforcement_procedure_state_display }}<br>
        {{ audit.audit_retest_enforcement_procedure_notes|markdown_to_html }}
    </div>
</div>
<div class="govuk-grid-row govuk-body amp-bottom-border">
    <div class="govuk-grid-column-one-half">
        <b>Declaration</b><br>
        {{ audit.get_declaration_state_display }}<br>
        {{ audit.declaration_notes|markdown_to_html }}
    </div>
    <div class="govuk-grid-column-one-half">
        <br>
        {{ audit.get_audit_retest_declaration_state_display }}<br>
        {{ audit.audit_retest_declaration_notes|markdown_to_html }}
    </div>
</div>
<div class="govuk-grid-row govuk-body amp-bottom-border">
    <div class="govuk-grid-column-one-half">
        <b>Compliance status</b><br>
        {{ audit.get_compliance_state_display }}<br>
        {{ audit.compliance_notes|markdown_to_html }}
    </div>
    <div class="govuk-grid-column-one-half">
        <br>
        {{ audit.get_audit_retest_compliance_state_display }}<br>
        {{ audit.audit_retest_compliance_notes|markdown_to_html }}
    </div>
</div>
<div class="govuk-grid-row govuk-body amp-bottom-border">
    <div class="govuk-grid-column-one-half">
        <b>Non-accessible content - non compliance with regulations</b><br>
        {{ audit.get_non_regulation_state_display }}<br>
        {{ audit.non_regulation_notes|markdown_to_html }}
    </div>
    <div class="govuk-grid-column-one-half">
        <br>
        {{ audit.get_audit_retest_non_regulation_state_display }}<br>
        {{ audit.audit_retest_non_regulation_notes|markdown_to_html }}
    </div>
</div>
<div class="govuk-grid-row govuk-body amp-bottom-border">
    <div class="govuk-grid-column-one-half">
        <b>Non-accessible content - disproportionate burden</b><br>
        {{ audit.get_disproportionate_burden_state_display }}<br>
        {{ audit.disproportionate_burden_notes|markdown_to_html }}
    </div>
    <div class="govuk-grid-column-one-half">
        <br>
        {{ audit.get_audit_retest_disproportionate_burden_state_display }}<br>
        {{ audit.audit_retest_disproportionate_burden_notes|markdown_to_html }}
    </div>
</div>
<div class="govuk-grid-row govuk-body amp-bottom-border">
    <div class="govuk-grid-column-one-half">
        <b>Non-accessible content - the content is not within the scope of the applicable legislation</b><br>
        {{ audit.get_content_not_in_scope_state_display }}<br>
        {{ audit.content_not_in_scope_notes|markdown_to_html }}
    </div>
    <div class="govuk-grid-column-one-half">
        <br>
        {{ audit.get_audit_retest_content_not_in_scope_state_display }}<br>
        {{ audit.audit_retest_content_not_in_scope_notes|markdown_to_html }}
    </div>
</div>
<div class="govuk-grid-row govuk-body amp-bottom-border">
    <div class="govuk-grid-column-one-half">
        <b>Preparation date</b><br>
        {{ audit.get_preparation_date_state_display }}<br>
        {{ audit.preparation_date_notes|markdown_to_html }}
    </div>
    <div class="govuk-grid-column-one-half">
        <br>
        {{ audit.get_audit_retest_preparation_date_state_display }}<br>
        {{ audit.audit_retest_preparation_date_notes|markdown_to_html }}
    </div>
</div>
<div class="govuk-grid-row govuk-body amp-bottom-border">
    <div class="govuk-grid-column-one-half">
        <b>Review</b><br>
        {{ audit.get_review_state_display }}<br>
        {{ audit.review_notes|markdown_to_html }}
    </div>
    <div class="govuk-grid-column-one-half">
        <br>
        {{ audit.get_audit_retest_review_state_display }}<br>
        {{ audit.audit_retest_review_notes|markdown_to_html }}
    </div>
</div>
<div class="govuk-grid-row govuk-body amp-bottom-border">
    <div class="govuk-grid-column-one-half">
        <b>Method</b><br>
        {{ audit.get_method_state_display }}<br>
        {{ audit.method_notes|markdown_to_html }}
    </div>
    <div class="govuk-grid-column-one-half">
        <br>
        {{ audit.get_audit_retest_method_state_display }}<br>
        {{ audit.audit_retest_method_notes|markdown_to_html }}
    </div>
</div>
<div class="govuk-grid-row govuk-body amp-bottom-border">
    <div class="govuk-grid-column-one-half">
        <b>Access requirements</b><br>
        {{ audit.get_access_requirements_state_display }}<br>
        {{ audit.access_requirements_notes|markdown_to_html }}
    </div>
    <div class="govuk-grid-column-one-half">
        <br>
        {{ audit.get_audit_retest_access_requirements_state_display }}<br>
        {{ audit.audit_retest_access_requirements_notes|markdown_to_html }}
    </div>
</div>
