{% if audit.unique_statement_page_urls %}
    {% for statement_page in audit.unique_statement_page_urls %}
        <p class="govuk-body-m amp-margin-bottom-0">
            <b>Statement link #{{ forloop.counter }}</b>
        </p>
        <ul class="govuk-list govuk-list--bullet amp-margin-bottom-20">
            <li>
                <a href="{{ statement_page.url }}" class="govuk-link govuk-link--no-visited-state" target="_blank">
                    {{ statement_page.url }}</a>
            </li>
            {% if statement_page.created %}
                <li>Added {{ statement_page.created|amp_datetime }}</li>
            {% else %}
                <li>Added 1 January 1970</li>
            {% endif %}
        </ul>
    {% endfor %}
{% else %}
    <p class="govuk-body-m amp-margin-bottom-20">No statement links added</p>
{% endif %}
