{% for document_upload in case.statement_backups %}
    <p class="govuk-body-m amp-margin-bottom-0">
        <b>Statement #{{ document_upload.id_within_case_within_type }}</b>
        &middot;
        <a href="{% url 'cases:document-upload-download' document_upload.id %}" class="govuk-link govuk-link--no-visited-state" target="_blank">
            View backup</a>
    </p>
    <ul class="govuk-list govuk-list--bullet amp-margin-bottom-20">
        <li>{{ document_upload.name }}</li>
        <li>Uploaded {{ document_upload.uploaded_time|amp_datetime_short_month }}</li>
    </ul>
{% endfor %}
