{% if audit.uses_statement_checks %}
    {% if audit.overview_outstanding_statement_check_results %}
        <h2 id="statement-overview" class="govuk-heading-l">Statement overview</h2>
        <div class="govuk-button-group amp-margin-bottom-0">
            <a href="{% url 'audits:edit-retest-statement-overview' audit.id %}"
                class="govuk-link govuk-link--no-visited-state">Edit retest</a>
            {% include 'audits/helpers/accessibility_statement_link.html' %}
        </div>
        {% include 'audits/statement_checks/statement_comparison_table.html' with statement_check_results=audit.overview_outstanding_statement_check_results %}
    {% endif %}
    {% if audit.website_outstanding_statement_check_results %}
        <h2 id="statement-website" class="govuk-heading-l">Statement information</h2>
        <div class="govuk-button-group amp-margin-bottom-0">
            <a href="{% url 'audits:edit-retest-statement-website' audit.id %}"
                class="govuk-link govuk-link--no-visited-state">Edit retest</a>
            {% include 'audits/helpers/accessibility_statement_link.html' %}
        </div>
        {% include 'audits/statement_checks/statement_comparison_table.html' with statement_check_results=audit.website_outstanding_statement_check_results %}
    {% endif %}
    {% if audit.compliance_outstanding_statement_check_results %}
        <h2 id="statement-compliance" class="govuk-heading-l">Compliance status</h2>
        <div class="govuk-button-group amp-margin-bottom-0">
            <a href="{% url 'audits:edit-retest-statement-compliance' audit.id %}"
                class="govuk-link govuk-link--no-visited-state">Edit retest</a>
            {% include 'audits/helpers/accessibility_statement_link.html' %}
        </div>
        {% include 'audits/statement_checks/statement_comparison_table.html' with statement_check_results=audit.compliance_outstanding_statement_check_results %}
    {% endif %}
    {% if audit.non_accessible_outstanding_statement_check_results %}
        <h2 id="statement-non-accessible" class="govuk-heading-l">Non-accessible content overview</h2>
        <div class="govuk-button-group amp-margin-bottom-0">
            <a href="{% url 'audits:edit-retest-statement-non-accessible' audit.id %}"
                class="govuk-link govuk-link--no-visited-state">Edit retest</a>
            {% include 'audits/helpers/accessibility_statement_link.html' %}
        </div>
        {% include 'audits/statement_checks/statement_comparison_table.html' with statement_check_results=audit.non_accessible_outstanding_statement_check_results %}
    {% endif %}
    {% if audit.preparation_outstanding_statement_check_results %}
        <h2 id="statement-preparation" class="govuk-heading-l">Preparation</h2>
        <div class="govuk-button-group amp-margin-bottom-0">
            <a href="{% url 'audits:edit-retest-statement-preparation' audit.id %}"
                class="govuk-link govuk-link--no-visited-state">Edit retest</a>
            {% include 'audits/helpers/accessibility_statement_link.html' %}
        </div>
        {% include 'audits/statement_checks/statement_comparison_table.html' with statement_check_results=audit.preparation_outstanding_statement_check_results %}
    {% endif %}
    {% if audit.feedback_outstanding_statement_check_results %}
        <h2 id="statement-feedback" class="govuk-heading-l">Feedback and enforcement procedure</h2>
        <div class="govuk-button-group amp-margin-bottom-0">
            <a href="{% url 'audits:edit-retest-statement-feedback' audit.id %}"
                class="govuk-link govuk-link--no-visited-state">Edit retest</a>
            {% include 'audits/helpers/accessibility_statement_link.html' %}
        </div>
        {% include 'audits/statement_checks/statement_comparison_table.html' with statement_check_results=audit.feedback_outstanding_statement_check_results %}
    {% endif %}
    {% if audit.custom_outstanding_statement_check_results %}
        <h2 id="statement-custom" class="govuk-heading-l">Custom statement issues</h2>
        <div class="govuk-button-group amp-margin-bottom-0">
            <a href="{% url 'audits:edit-retest-statement-custom' audit.id %}"
                class="govuk-link govuk-link--no-visited-state">Edit retest</a>
            {% include 'audits/helpers/accessibility_statement_link.html' %}
        </div>
        {% include 'audits/statement_checks/statement_comparison_table.html' with statement_check_results=audit.custom_outstanding_statement_check_results %}
    {% endif %}
{% else %}
    <div class="govuk-grid-row govuk-body amp-bottom-border">
        <div class="govuk-grid-column-one-half">
            <b>Original test</b>
        </div>
        <div class="govuk-grid-column-one-half">
            <b>12-week retest</b>
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            <b>Scope</b>
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_scope_state_display }}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_audit_retest_scope_state_display }}
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5 amp-bottom-border">
        <div class="govuk-grid-column-one-half">
            {% if audit.archive_scope_notes %}
                {{ audit.archive_scope_notes|markdown_to_html }}
            {% elif audit.archive_audit_retest_scope_notes %}
                &nbsp;
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.archive_audit_retest_scope_notes|markdown_to_html }}
        </div>
    </div>

    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            <b>Feedback</b>
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_feedback_state_display }}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_audit_retest_feedback_state_display }}
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5 amp-bottom-border">
        <div class="govuk-grid-column-one-half">
            {% if audit.archive_feedback_notes %}
                {{ audit.archive_feedback_notes|markdown_to_html }}
            {% elif audit.archive_audit_retest_feedback_notes %}
                &nbsp;
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.archive_audit_retest_feedback_notes|markdown_to_html }}
        </div>
    </div>

    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            <b>Contact information</b>
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_contact_information_state_display }}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_audit_retest_contact_information_state_display }}
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5 amp-bottom-border">
        <div class="govuk-grid-column-one-half">
            {% if audit.archive_contact_information_notes %}
                {{ audit.archive_contact_information_notes|markdown_to_html }}
            {% elif audit.archive_audit_retest_contact_information_notes %}
                &nbsp;
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.archive_audit_retest_contact_information_notes|markdown_to_html }}
        </div>
    </div>

    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            <b>Enforcement procedure</b>
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_enforcement_procedure_state_display }}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_audit_retest_enforcement_procedure_state_display }}
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5 amp-bottom-border">
        <div class="govuk-grid-column-one-half">
            {% if audit.archive_enforcement_procedure_notes %}
                {{ audit.archive_enforcement_procedure_notes|markdown_to_html }}
            {% elif audit.archive_audit_retest_enforcement_procedure_notes %}
                &nbsp;
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.archive_audit_retest_enforcement_procedure_notes|markdown_to_html }}
        </div>
    </div>

    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            <b>Declaration</b>
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_declaration_state_display }}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_audit_retest_declaration_state_display }}
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5 amp-bottom-border">
        <div class="govuk-grid-column-one-half">
            {% if audit.archive_declaration_notes %}
                {{ audit.archive_declaration_notes|markdown_to_html }}
            {% elif audit.archive_audit_retest_declaration_notes %}
                &nbsp;
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.archive_audit_retest_declaration_notes|markdown_to_html }}
        </div>
    </div>

    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            <b>Compliance status</b>
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_compliance_state_display }}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_audit_retest_compliance_state_display }}
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5 amp-bottom-border">
        <div class="govuk-grid-column-one-half">
            {% if audit.archive_compliance_notes %}
                {{ audit.archive_compliance_notes|markdown_to_html }}
            {% elif audit.archive_audit_retest_compliance_notes %}
                &nbsp;
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.archive_audit_retest_compliance_notes|markdown_to_html }}
        </div>
    </div>

    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            <b>Non-accessible content - non compliance with regulations</b>
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_non_regulation_state_display }}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_audit_retest_non_regulation_state_display }}
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5 amp-bottom-border">
        <div class="govuk-grid-column-one-half">
            {% if audit.archive_non_regulation_notes %}
                {{ audit.archive_non_regulation_notes|markdown_to_html }}
            {% elif audit.archive_audit_retest_non_regulation_notes %}
                &nbsp;
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.archive_audit_retest_non_regulation_notes|markdown_to_html }}
        </div>
    </div>

    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            <b>Non-accessible content - disproportionate burden</b>
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_disproportionate_burden_state_display }}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_audit_retest_disproportionate_burden_state_display }}
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5 amp-bottom-border">
        <div class="govuk-grid-column-one-half">
            {% if audit.archive_disproportionate_burden_notes %}
                {{ audit.archive_disproportionate_burden_notes|markdown_to_html }}
            {% elif audit.archive_audit_retest_disproportionate_burden_notes %}
                &nbsp;
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.archive_audit_retest_disproportionate_burden_notes|markdown_to_html }}
        </div>
    </div>

    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            <b>Non-accessible content - the content is not within the scope of the applicable legislation</b>
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_content_not_in_scope_state_display }}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_audit_retest_content_not_in_scope_state_display }}
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5 amp-bottom-border">
        <div class="govuk-grid-column-one-half">
            {% if audit.archive_content_not_in_scope_notes %}
                {{ audit.archive_content_not_in_scope_notes|markdown_to_html }}
            {% elif audit.archive_audit_retest_content_not_in_scope_notes %}
                &nbsp;
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.archive_audit_retest_content_not_in_scope_notes|markdown_to_html }}
        </div>
    </div>

    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            <b>Preparation date</b>
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_preparation_date_state_display }}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_audit_retest_preparation_date_state_display }}
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5 amp-bottom-border">
        <div class="govuk-grid-column-one-half">
            {% if audit.archive_preparation_date_notes %}
                {{ audit.archive_preparation_date_notes|markdown_to_html }}
            {% elif audit.archive_audit_retest_preparation_date_notes %}
                &nbsp;
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.archive_audit_retest_preparation_date_notes|markdown_to_html }}
        </div>
    </div>

    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            <b>Review</b>
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_review_state_display }}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_audit_retest_review_state_display }}
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5 amp-bottom-border">
        <div class="govuk-grid-column-one-half">
            {% if audit.archive_review_notes %}
                {{ audit.archive_review_notes|markdown_to_html }}
            {% elif audit.archive_audit_retest_review_notes %}
                &nbsp;
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.archive_audit_retest_review_notes|markdown_to_html }}
        </div>
    </div>

    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            <b>Method</b>
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_method_state_display }}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_audit_retest_method_state_display }}
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5 amp-bottom-border">
        <div class="govuk-grid-column-one-half">
            {% if audit.archive_method_notes %}
                {{ audit.archive_method_notes|markdown_to_html }}
            {% elif audit.archive_audit_retest_method_notes %}
                &nbsp;
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.archive_audit_retest_method_notes|markdown_to_html }}
        </div>
    </div>

    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            <b>Access requirements</b>
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_access_requirements_state_display }}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.get_archive_audit_retest_access_requirements_state_display }}
        </div>
    </div>
    <div class="govuk-grid-row govuk-body amp-margin-bottom-30{% if not in_accordion %} amp-bottom-border{% endif %}">
        <div class="govuk-grid-column-one-half">
            {% if audit.archive_access_requirements_notes %}
                {{ audit.archive_access_requirements_notes|markdown_to_html }}
            {% elif audit.archive_audit_retest_access_requirements_notes %}
                &nbsp;
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-half">
            {{ audit.archive_audit_retest_access_requirements_notes|markdown_to_html }}
        </div>
    </div>
{% endif %}
