<nav role="navigation" class="amp-nav-steps">
    <h2 class="govuk-heading-m amp-margin-bottom-5">Test steps</h2>
    <ul class="govuk-list">
        {% include './nav_step.html' with edit_name='audits:edit-audit-retest-metadata' name='12-week retest metadata' complete=audit.audit_retest_metadata_complete_date %}
        {% if audit.case.psb_response %}
            {% if audit.testable_pages %}
                <li>
                    {% include './nav_step.html' with edit_name='audits:edit-audit-retest-pages' name='Retest pages' complete=audit.audit_retest_pages_complete_date %}
                    <ul class="govuk-list govuk-list--bullet amp-margin-bottom-10">
                        {% for page in audit.testable_pages %}
                            {% if page.failed_check_results %}
                                {% include './nav_step.html' with edit_name='audits:edit-audit-retest-page-checks' complete=page.retest_complete_date %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            {% include './nav_step.html' with edit_name='audits:edit-audit-retest-website-decision' name='12-week website compliance decision' complete=audit.audit_retest_website_decision_complete_date %}
        {% endif %}
        {% include './nav_step.html' with edit_name='audits:edit-audit-retest-statement-pages' name='12-week statement links' complete=audit.audit_retest_statement_pages_complete_date %}
        {% if audit.uses_statement_checks %}
            {% include './nav_step.html' with edit_name='audits:edit-retest-statement-overview' name='12-week statement overview' complete=audit.audit_retest_statement_overview_complete_date %}
            {% if audit.all_overview_statement_checks_have_passed %}
                <li>
                    <ul class="govuk-list govuk-list--bullet amp-margin-bottom-10">
                        {% include './nav_step.html' with edit_name='audits:edit-retest-statement-website' name='12-week statement information' complete=audit.audit_retest_statement_website_complete_date %}
                        {% include './nav_step.html' with edit_name='audits:edit-retest-statement-compliance' name='12-week compliance status' complete=audit.audit_retest_statement_compliance_complete_date %}
                        {% include './nav_step.html' with edit_name='audits:edit-retest-statement-non-accessible' name='12-week non-accessible content' complete=audit.audit_retest_statement_non_accessible_complete_date %}
                        {% include './nav_step.html' with edit_name='audits:edit-retest-statement-preparation' name='12-week statement preparation' complete=audit.audit_retest_statement_preparation_complete_date %}
                        {% include './nav_step.html' with edit_name='audits:edit-retest-statement-feedback' name='12-week feedback and enforcement procedure' complete=audit.audit_retest_statement_feedback_complete_date %}
                        {% include './nav_step.html' with edit_name='audits:edit-retest-statement-custom' name='12-week custom statement issues' complete=audit.audit_retest_statement_custom_complete_date %}
                    </ul>
                </li>
            {% endif %}
            {% include './nav_step.html' with edit_name='audits:edit-twelve-week-disproportionate-burden' name='12-week disproportionate burden claim' complete=audit.twelve_week_disproportionate_burden_complete_date %}
            {% include './nav_step.html' with edit_name='audits:edit-audit-retest-statement-decision' name='12-week statement compliance decision' complete=audit.audit_retest_statement_decision_complete_date %}
        {% else %}
            {% include './nav_step.html' with edit_name='audits:edit-audit-retest-statement-1' name='12-week accessibility statement Pt. 1' complete=audit.archive_audit_retest_statement_1_complete_date %}
            {% include './nav_step.html' with edit_name='audits:edit-audit-retest-statement-2' name='12-week accessibility statement Pt. 2' complete=audit.archive_audit_retest_statement_2_complete_date %}
        {% endif %}
        {% include './nav_step.html' with edit_name='audits:edit-audit-retest-statement-comparison' name='12-week accessibility statement comparison' complete=audit.audit_retest_statement_comparison_complete_date %}
        {% if not audit.uses_statement_checks %}
            {% include './nav_step.html' with edit_name='audits:edit-audit-retest-statement-decision' name='12-week accessibility statement compliance decision' complete=audit.audit_retest_statement_decision_complete_date %}
        {% endif %}
    </ul>
    {% include 'common/frequently_used_links.html' with in_testing_ui='true' case=audit.case %}
</nav>
