
<div class="amp-margin-bottom-60">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h2 id="cases-status-{{id}}" class="govuk-heading-m">
                {{table_title|cut:"_" }} - {{ cases|length }}
            </h2>
        </div>
        <div class="govuk-grid-column-one-quarter govuk-button-group amp-flex-end">
            <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16">Return to top</a>
        </div>
    </div>
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header amp-width-15-percent">
                    {% if filter == 'qa-filter' and type == 'detailed' %}
                        Date of test
                    {% else %}
                        Date created
                    {% endif %}
                </th>
                <th scope="col" class="govuk-table__header amp-width-one-half">Case</th>
                <th scope="col" class="govuk-table__header amp-width-one-quarter">
                    {% if id == '070-unassigned-qa-case' %}
                        Current step
                    {% else %}
                        Auditor
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for case in cases %}
                <tr class="govuk-table__row ">
                    <th scope="row" class="govuk-table__header amp-width-15-percent govuk-!-font-weight-regular">
                        {% if filter == 'qa-filter' and type == 'detailed' %}
                            {{ case.initial_test_start_date|amp_date_trunc }}
                        {% else %}
                            {{ case.created|amp_date_trunc }}
                        {% endif %}
                    </th>
                    <td class="govuk-table__cell amp-width-one-half">
                        <a href="{{ case.get_absolute_url }}" class="govuk-link govuk-link--no-visited-state">{{ case.full_name }}</a>
                    </td>
                    <td class="govuk-table__cell amp-width-one-quarter">
                        {% if id == '070-unassigned-qa-case' %}
                            {% if case.reviewer %}
                                {% if case.testing_type == 'detailed' %}
                                    <a href="{% url 'detailed:edit-qa-comments' case.id %}" class="govuk-link govuk-link--no-visited-state">QA comments</a>
                                {% else %}
                                    <a href="{% url 'mobile:edit-qa-comments' case.id %}" class="govuk-link govuk-link--no-visited-state">QA comments</a>
                                {% endif %}
                            {% else %}
                                {% if case.testing_type == 'detailed' %}
                                    <a href="{% url 'detailed:edit-qa-auditor' case.id %}" class="govuk-link govuk-link--no-visited-state">QA auditor</a>
                                {% else %}
                                    <a href="{% url 'mobile:edit-qa-auditor' case.id %}" class="govuk-link govuk-link--no-visited-state">QA auditor</a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if case.auditor %}
                                <a href="{% url 'cases:case-list' %}?auditor={{ case.auditor.id }}" class="govuk-link govuk-link--no-visited-state">{{ case.auditor.get_full_name }}</a>
                            {% else %}
                                No auditor
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
