.cases-search-background {
    background-color: #F2F2F1;
    margin-right: 0px;
}
.cases-bigger-link {
    font-size: x-large;
    color: #2F80ED;
}
.cases-notes {
    margin: 0;
    white-space: pre-line;
}
.cases-margin-top {
    margin-top: 20px;
}
