body {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
}

.govuk-form-group--error input {
    border: 2px solid #d4351c;
}

.amp-case-banner {
    font-family: "GDS Transport",arial,sans-serif;
    font-size: 1rem;
    padding: 20px;

    h1, p {
        margin: 0;
    }
}
.amp-case-banner-title-active {
    color: govuk-colour("white");
    background-color: govuk-colour("blue");
}

.amp-case-banner-title-archive {
    color: govuk-colour("white");
    background-color: govuk-colour("dark-grey");
}

.amp-case-banner-body {
    background-color: govuk-colour("light-grey");
}

.amp-case-banner-row {
    display: flex;
	flex-direction: row;
	justify-content: space-between;

    .amp-vertical-line {
        border-left: 2px solid govuk-colour("mid-grey");
        padding-right: 5px;
        margin-left: 5px;
    }
}

.amp-notes {
    ul:first-child, p:first-child {
        margin-top: 0;
    }
    ul:last-child, p:last-child {
        margin-bottom: 0;
    }
}

.amp-label {
    margin-bottom: 0;
    font-weight: bold;
}

.amp-alert-icon {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    box-sizing: border-box;
    display: inline-block;
    min-width: 25px;
    min-height: 25px;
    margin-left: 0.5rem;
    border-radius: 50%;
    color: #ffffff;
    background: #0b0c0c;
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    forced-color-adjust: none;
}

.amp-search-wrapper {
    justify-content: flex-end;
}

.amp-small-search {
    font-size: 1rem;
    line-height: 1.25;
    height: 2.38rem;
}

.amp-search-button {
    border: 0;
    cursor: pointer;
    position: relative;
    padding: 0;
    min-width: 38px;
    max-width: 38px;
    height: 38px;
    color: #fff;
    background-color: #000;
}

div#report-text {
    font-family: arial,sans-serif;
    font-size: 12pt;
    h1 {
        font-size: 20pt;
    }
    h2 {
        font-size: 16pt;
    }
    p, li {
        font-size: 12pt;
    }
    table {
        font-family: arial,sans-serif;
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
        tr, td {
            border: 1px solid black;
        }
        th {
            text-align: left;
        }
        thead > tr {
            color: #ffffff;
            background-color: #1A5293;
        }
    }
}

table#all-issues {
    border: 1px solid black;
    border-collapse: collapse;

    th {
        text-align: left;
    }

    tr {
        border: 1px solid black;
    }
}

.amp-button-as-link {
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
    color: #1d70b8;
    text-decoration: underline;
  }

.amp-control {
    text-decoration: underline;
    color: #1d70b8;
    cursor: pointer;

    &:focus {
        outline: 3px solid transparent;
        color: #0b0c0c;
        background-color: #ffdd00;
        box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
        text-decoration: none;
    }
}

.amp-watermark-left {
    position: fixed;
    left: 5px;
    top: 95%;
    transform-origin: top left;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    color: DimGray;
    font-size: 5vmax;
    z-index: 1;
    font-family: sans-serif;
}

.amp-watermark-right {
    position: fixed;
    right: 5px;
    top: 95%;
    transform-origin: top right;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    color: DimGray;
    font-size: 5vmax;
    z-index: 1;
    font-family: sans-serif;
}

.amp-display-none {
    display: none;
}

.amp-width-one-third {
    width: 33%;
}

.amp-width-one-half {
    width: 50%;
}

.amp-width-one-quarter {
    width: 25%;
}

.amp-width-15-percent {
    width: 15%;
}

.amp-width-100 {
    width: 100%;
}

img, .amp-max-width-100 {
    max-width: 100%;
}

.amp-margin-bottom-0 {
    margin-bottom: 0 !important;
}

.amp-margin-bottom-5 {
    margin-bottom: 5px;
}

.amp-margin-bottom-10 {
    margin-bottom: 10px;
}

.amp-margin-bottom-15 {
    margin-bottom: 15px;
}

.amp-margin-bottom-30 {
    margin-bottom: 30px;
}

.amp-margin-bottom-40 {
    margin-bottom: 40px;
}

.amp-margin-left-0 {
    margin-left: 0;
}

.amp-margin-left-10 {
    margin-left: 10px;
}

.amp-margin-left-15 {
    margin-left: 15px;
}

.amp-margin-right-0 {
    margin-right: 0 !important;
}

.amp-margin-right-5 {
    margin-right: 5px !important;
}

.amp-margin-top-0 {
    margin-top: 0;
}

.amp-margin-top-5 {
    margin-top: 5px;
}

.amp-margin-top-10 {
    margin-top: 10px;
}

.amp-margin-top-30 {
    margin-top: 30px;
}

.amp-margin-top-minus-20 {
    margin-top: -20px;
}

.amp-padding-top-0 {
    padding-top: 0;
}

.amp-padding-top-10 {
    padding-top: 10px;
}

.amp-padding-left-0 {
    padding-left: 0;
}

.amp-padding-left-10 {
    padding-left: 10px;
}

.amp-padding-right-0 {
    padding-right: 0;
}

.amp-padding-right-15 {
    padding-right: 15px;
}

.amp-padding-right-20 {
    padding-right: 20px;
}

.amp-display-flex {
    display: flex;
}

.amp-flex-end {
    justify-content: flex-end;
}

.amp-text-align-right {
    text-align: right !important;
}

.amp-display-block {
    display: block !important;
}

.hide-retest-options {
    display: none;
}

// Case-specific styles

.cases-bigger-link {
    font-size: x-large;
    color: #2F80ED;
}
.cases-margin-top {
    margin-top: 20px;
}

// For use in custom footer

.flex-wrapper {
    min-height: 100%;
    position: relative;
}

.custom-footer {
    bottom: 0;
    width: 100%;
    height: 150px;
}

// For use in dashboard

.app-selection {
    background-color: govuk-colour("light-grey");
    padding: 40px 0 40px 0;
    text-align: center;

    p {
        margin-bottom: 0;
    }
}

.amp-accordion-table > tbody > tr:last-child {
    th, td {
        border-bottom: none;
    }
}

.float-right {
    float: right;
}

.centretext {
    text-align: center;
}

.leftborder {
    border-left: 1px solid;
}

.insert-margin {
    margin-bottom: 50px;
}

// For use in forms

.form_default {
    label {
        margin: 20px 0 10px 0;
    }

    span {
        position: inline-block;
        margin-bottom: 10px;
    }

    input[type=text] {
        @extend .govuk-input;
        @extend .govuk-input--width-20;
    }

    input[type=email] {
        @extend .govuk-input;
        @extend .govuk-input--width-20;
    }

    input[type=password] {
        @extend .govuk-input;
        @extend .govuk-input--width-20;
    }

    input[type=submit] {
        @extend .govuk-button;

        display: block;
        margin-top: 30px;
    }

    .form-space {
        margin-bottom: 60px;
    }

    .form-field-default {
        margin-top: 1px;
    }

    .govuk-button {
        margin-top: 40px;
    }
}

.amp-open-link-control {
    margin-left: 10px;
}

// For use in navbar

.top-nav-menu {
    padding: 10px 0;
    margin-bottom: 0;
}

.amp-vertically-allign {
    display: flex;
    align-items: center;
    height: 2.65rem;
}

.top-nav-menu-list {
    list-style-type: none;
    margin-bottom: 0px;
    padding-bottom: 0px;

    li {
        display: inline-block;
    }

    li a {
        display: block;
        text-align: right;
        margin: 0 0 0 16px;
    }
}

// For use in pagination

.pagination {
    text-align: center;

    span,
    a {
      padding: 0 10 0 0;
    }
}

// Fos use in test check results filtering

.amp-filter-form {
    margin: 0 0 10px 0;
    padding: 10px 0 0 0;

    h2, .govuk-form-group {
        margin-bottom: 10px;
    }

    .govuk-fieldset__legend, .govuk-fieldset__legend--l {
        margin-bottom: 0;
    }
}

// For use in reports

.amp-report-column-counter {
    white-space: nowrap;
}

.border-bottom-report::after {
    content: "";
    margin-left: 15px;
    margin-right: 15px;
    height:2px;
    background: govuk-colour("mid-grey");
}

.related-content-wrapper {
    border-top: 2px solid govuk-colour("blue");
    margin-bottom: 20px;
    padding-top: 10px;
}

.related-content {
    li {
        margin-bottom: 15px;
    }
}

.feedback-banner {
    width: 100%;
    background-color: govuk-colour("blue");
    color: govuk-colour("white");
    padding: 20px 0;
    margin: auto;
    margin-top: 20px;

    .form-text {
        color: govuk-colour("white");
        margin: 10px 0 0 20px;
        top: 50%;
    }

    .report-a-problem-button {
        border: 1px solid #b1b4b6;
        color: govuk-colour("white");
        background-color: govuk-colour("blue");
        cursor: pointer;
        margin: 0 20px 0 10px;
        padding: 10px 10px 10px 10px;
        text-decoration: none;
        float: right;
    }
}

.form-container {
    border-top: solid 10px govuk-colour("blue");
    padding: 20px 0 20px 0;
    margin-top: 20px;
}

.hide-form {
    display: none;
}

.no-padding-on-main {
    padding-bottom: 0px;
}

.print-button {
    border: 1px solid #b1b4b6;
    color: #1d70b8;
    cursor: pointer;
    margin: 0;
    background: url("data:image/png; base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASAgMAAAAvVbb5AAAACVBMVEX///////8KDAwmYEUdAAAAAXRSTlMAQObYZgAAADBJREFUCFtjYOBa1cDAoBkKJFYCCSYwEYpCrAICZCI0FEhkrURmQRRnrYRpW7WqAQAlGR86Ip1rwwAAAABJRU5ErkJggg==") 10px 50% / 16px 18px no-repeat;
    padding: 10px 10px 10px 36px;
    text-decoration: none;
    display: none;
}

@media print {
    .no-print {
        display: none;
    }

    .report-contents-v1_0_0__20220406, .amp-report-wrapper {
        font-family: Helvetica,arial,sans-serif;
    }
}

.metadata-container {
    margin-top: 10px;
    margin-bottom: 25px;
}

.metadata-term {
    box-sizing: border-box;
    float: left;
    clear: left;
    padding-right: 5px;
    margin-top: 0px;
}

.report-contents-v1_0_0__20220406, .amp-report-wrapper, .amp-markdown {
    color: #0b0c0c;
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 1.31579;

    .amp-new-page {
        page-break-before: always;
    }

    caption {
        font-size: 16px;
    }

    p {
        margin-top: 0;
        margin-bottom: 15px;
    }

    li {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    a {
        text-decoration: underline;
    }

    a:focus {
        outline: 3px solid transparent;
        color: #0b0c0c;
        background-color: #ffdd00;
        box-shadow:0 -2px #ffdd00,0 4px #0b0c0c;
        text-decoration: none;
    }

    a:link {
        color:#1d70b8;
    }

    a:visited {
        color: #4c2c92;
    }

    a:hover {
        color: #003078;
    }

    a:active {
        color: #0b0c0c;
    }

    a:focus {
        color: #0b0c0c;
    }

    table {
        font-weight: 400;
        width: 100%;
        margin-bottom: 20px;
        border-spacing: 0;
        border-collapse: collapse;

        th {
            font-weight: 700;
        }

        th, td {
            padding: 10px 10px 10px 0;
            border-bottom: 1px solid #b1b4b6;
            text-align: left;
            vertical-align: top;
        }
    }

    li#contents-list {
        list-style-type: none;
    }

    table[id^='issues-table-'] {
        page-break-before: always;

        tr td:nth-child(1) {
            width: 1%;
            white-space: nowrap;
        }

        td+td {
            width: 50%;
        }
    }

    table[id^='email-issues-table-'] {
        table-layout:fixed;

        tr td:nth-child(1) {
            width: 1%;
            white-space: nowrap;
        }

        td {
            width: 33%;
        }
    }

    table#urls-table {
        page-break-before: avoid;

        th, td {
            width: 50%;
        }
    }

    table#urls-table {
        p {
            margin-bottom: 0;
        }
    }
}

.amp-no-bullet-points {
    ul {
        padding: 0;
        list-style-type: none;
    }

    li {
        margin-top: 5px;
        margin-bottom: 5px;
        list-style-type: none; /* Remove bullets */
    }
}

.gds-co-image {
    padding-bottom: 20px;
}

.float-right {
    float: right;
}

.custom-subtitle-container {
    position: relative;
    top: -15px;
}

.flex-row-reverse {
    flex-direction: row-reverse
}

.custom-button-group-right {
    justify-content:flex-end;
    margin-top: 4px;
}

.section-margin-bottom-30 {
    margin-bottom: 30px;
}

.section-margin-bottom-large-50 {
    margin-bottom: 50px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-right-0 {
    margin-right: 0px !important;
}

.full-max-width {
    max-width: 100%;
}

.table-edit-header {
    width:52%;
}

.amp-orange {
    color: Orange;
}

svg {
    font-family: "GDS Transport",arial,sans-serif;
}

.amp-bottom-border {
    border-bottom: 1px solid #b1b4b6;
}

.amp-left-border {
    padding-left: 10px;
    border-left: 3px solid #b1b4b6;
}

.amp-font-weight-normal {
    font-weight: 400;
}

.open_link_input_div {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.amp-todo {
    color: white;
    background: maroon;
}

.amp-nowrap {
    white-space: nowrap;
}

.amp-email-placeholder {
    color: govuk-colour("red");
    font-weight: bold;
}

.amp-email-red {
    color: govuk-colour("red");
}

.amp-nav-steps {
    ul {
        font-size: 1rem;
    }
}

.temp_post_case_margin_top {
    margin-top: 15px;
}

.temp_nav_bar {
    margin-bottom: 10px;
    li {
        padding-bottom: 4px;
    }
}

.amp-nav-details {
    font-family: "GDS Transport",arial,sans-serif;
    font-size: 1rem;
    margin-bottom: 5px;
}

.amp-nav-details[disabled] * {
    color: govuk-colour("mid-grey");
    pointer-events: none;
}

.amp-nav-details__summary {
    cursor: pointer;
    color:  govuk-colour("blue");
    margin-bottom: 5px;
    &::before {
        content: "";
        display: inline-block;
        text-decoration: none;
    }
}

.amp-nav-details__text {
    border-left: 1px solid govuk-colour("mid-grey");
    padding-left: 12px;
    padding-top: 4px;
    margin-bottom: 10px;
    ul {
        font-size: 1rem;

        .amp-nav-list-subpages {
            list-style-type: disc;
            margin-left: -11px;
            li:first-of-type {
                margin-top: 12px;
            }
        }
    }

    li {
        padding-bottom: 4px;

        a {
            padding-bottom: 4px;
        }
    }

    a[disabled] {
        pointer-events: none;
        color: govuk-colour("mid-grey");
        text-decoration: none;
    }
}

.amp_case_search_contents {
    li {
        padding-bottom: 4px;

        a {
            padding-bottom: 4px;
        }
    }
}

.amp_case_search_list_header {
    display: flex;
    justify-content: space-between;
}

.amp-session-warning {
    color: govuk-colour("red");
    font-weight: bold;
}

.amp-advanced-search {
    select {
        min-width: auto
    }
}


.amp-padding-left-0 {
    padding: 0 0 0 15px;
}

.amp-padding-vertical-30 {
    padding: 0 30px;
}

.amp-nav-seperator {
    margin: 25px 0px;
}

.amp-hide {
    display: none;
}

.amp-back-to-top {
    position: fixed;
    bottom: 0;
    left: 5px;
}
