body {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
}

.govuk-form-group--error input {
    border: 2px solid #d4351c;
}

.amp-notes {
    p:first-child {
        margin-top: 0;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

.amp-label {
    margin-bottom: 0;
    font-weight: bold;
}

.amp-alert-icon {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    box-sizing: border-box;
    display: inline-block;
    min-width: 25px;
    min-height: 25px;
    margin-left: 0.5rem;
    border-radius: 50%;
    color: #ffffff;
    background: #0b0c0c;
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    forced-color-adjust: none;
}

.amp-search-button {
    border: 0;
    cursor: pointer;
    position: relative;
    padding: 0;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #000;
}

.view-test-accordion-table > tbody > tr:last-child {
    th, td {
        border-bottom: none;
    }
}

div#report-text {
    font-family: arial,sans-serif;
    font-size: 12pt;
    h1 {
        font-size: 20pt;
    }
    h2 {
        font-size: 16pt;
    }
    p, li {
        font-size: 12pt;
    }
    table {
        font-family: arial,sans-serif;
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
        tr, td {
            border: 1px solid black;
        }
        th {
            text-align: left;
        }
        thead > tr {
            color: #ffffff;
            background-color: #1A5293;
        }
    }
}

table#all-issues {
    border: 1px solid black;
    border-collapse: collapse;

    th {
        text-align: left;
    }

    tr {
        border: 1px solid black;
    }
}

.amp-button-as-link {
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
    color: #1d70b8;
  }

.amp-control {
    text-decoration: underline;
    color: #1d70b8;
    cursor: pointer;

    &:focus {
        outline: 3px solid transparent;
        color: #0b0c0c;
        background-color: #ffdd00;
        box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}

.amp-watermark-left {
    position: fixed;
    left: 5px;
    top: 95%;
    transform-origin: top left;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    opacity: 0.3;
    font-size: 6vmax;
    z-index: 1;
    font-family: sans-serif;
}

.amp-watermark-right {
    position: fixed;
    right: 5px;
    top: 95%;
    transform-origin: top right;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    opacity: 0.3;
    font-size: 6vmax;
    z-index: 1;
    font-family: sans-serif;
}

.amp-display-none {
    display: none;
}

.amp-width-one-half {
    width:50%;
}

.amp-width-one-quarter {
    width:25%;
}

.amp-width-100 {
    width: 100%;
}

.amp-max-width-100 {
    max-width: 100%;
}

.amp-margin-bottom-0 {
    margin-bottom: 0 !important;
}

.amp-margin-bottom-5 {
    margin-bottom: 5px;
}

.amp-margin-bottom-10 {
    margin-bottom: 10px;
}

.amp-margin-bottom-15 {
    margin-bottom: 15px;
}

.amp-margin-bottom-40 {
    margin-bottom: 40px;
}

.amp-margin-left-10 {
    margin-left: 10px;
}

.amp-margin-top-10 {
    margin-top: 10px;
}

.amp-margin-top-minus-20 {
    margin-top: -20px;
}

.amp-padding-top-0 {
    padding-top: 0;
}

.amp-padding-left-0 {
    padding-left: 0;
}

.amp-padding-left-10 {
    padding-left: 10px;
}

.amp-padding-right-20 {
    padding-right: 20px;
}

.amp-display-flex {
    display: flex;
}

.amp-flex-reverse {
    flex-direction: row-reverse;
}

.amp-flex-end {
    justify-content: flex-end;
}

.amp-text-align-right {
    text-align: right !important;
}
