body {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
}

.govuk-form-group--error input {
    border: 2px solid govuk-colour("red");
}

.amp-case-banner {
    font-family: "GDS Transport",arial,sans-serif;
    font-size: 1rem;
    padding: 20px;
    p {
        margin: 0px 0px 5px 0px;
    }

    h1 {
        margin: 0px 0px 5px 0px;
    }

}

.amp-case-test-type-simplified {
    color: govuk-colour("white");
    background-color: govuk-colour("blue");
}

.amp-case-test-type-detailed {
    color: govuk-colour("white");
    background-color: govuk-colour("black");
}

.amp-case-test-type-mobile {
    color: govuk-colour("white");
    background-color: govuk-colour("green");
}

.amp-case-test-type-archive {
    color: govuk-colour("white");
    background-color: govuk-colour("dark-grey");
}

.amp-case-banner-body {
    background-color: govuk-colour("light-grey");
}

.amp-case-banner-row {
    display: flex;
	flex-direction: row;
	justify-content: space-between;

    .amp-vertical-line {
        border-left: 2px solid govuk-colour("mid-grey");
        padding-right: 5px;
        margin-left: 5px;
    }
}

.amp-notes {
    @extend .amp-markdown;
    ul:first-child, p:first-child {
        margin-top: 0;
    }
    ul:last-child, p:last-child {
        margin-bottom: 0;
    }
}

.amp-label {
    margin-bottom: 0;
    font-weight: bold;
}

.amp-search-wrapper {
    justify-content: flex-end;
}

.amp-small-search {
    font-size: 1rem;
    line-height: 1.25;
    height: 2.38rem;
}

.amp-search-button {
    border: 0;
    cursor: pointer;
    position: relative;
    padding: 0;
    min-width: 38px;
    max-width: 38px;
    height: 38px;
    color: govuk-colour("white");
    background-color: govuk-colour("black");

    &:focus {
        box-shadow: inset 0 0 0 2px;
        outline: 3px solid govuk-colour("yellow");
        outline-offset: 0;
    }
}

.amp-button-as-link {
    background: none;
    border: none;
    padding: 0!important;
    cursor: pointer;
    color: govuk-colour("blue");
    text-decoration: underline;

    &:focus {
        outline: 3px solid transparent;
        color: govuk-colour("black");
        background-color: govuk-colour("yellow");
        box-shadow: 0 -2px govuk-colour("yellow"), 0 4px govuk-colour("black");
        text-decoration: none;
    }
}

.amp-control {
    text-decoration: underline;
    color: govuk-colour("blue");
    cursor: pointer;

    &:focus {
        outline: 3px solid transparent;
        color: govuk-colour("black");
        background-color: govuk-colour("yellow");
        box-shadow: 0 -2px govuk-colour("yellow"), 0 4px govuk-colour("black");
        text-decoration: none;
    }
}

.amp-watermark-left {
    position: fixed;
    left: 5px;
    top: 95%;
    transform-origin: top left;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    color: DimGray;
    font-size: 5vmax;
    z-index: 1;
    font-family: sans-serif;
}

.amp-watermark-right {
    position: fixed;
    right: 5px;
    top: 95%;
    transform-origin: top right;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    color: DimGray;
    font-size: 5vmax;
    z-index: 1;
    font-family: sans-serif;
}

.amp-display-none {
    display: none;
}

.amp-width-one-third {
    width: 33%;
}

.amp-width-one-half {
    width: 50%;
}

.amp-width-one-quarter {
    width: 25%;
}

.amp-width-20-percent {
    width: 20%;
}

.amp-width-15-percent {
    width: 15%;
}

.amp-width-100 {
    width: 100%;
}

img, .amp-max-width-100 {
    max-width: 100%;
}

.amp-margin-bottom-0 {
    margin-bottom: 0 !important;
}

.amp-margin-bottom-5 {
    margin-bottom: 5px;
}

.amp-margin-bottom-10 {
    margin-bottom: 10px;
}

.amp-padding-bottom-10 {
    padding-bottom: 10px;
}

.amp-margin-bottom-15 {
    margin-bottom: 15px;
}

.amp-margin-bottom-20 {
    margin-bottom: 20px;
}

.amp-margin-bottom-25 {
    margin-bottom: 25px;
}

.amp-margin-bottom-30 {
    margin-bottom: 30px;
}

.amp-margin-bottom-40 {
    margin-bottom: 40px;
}

.amp-margin-bottom-50 {
    margin-bottom: 50px;
}

.amp-margin-bottom-60 {
    margin-bottom: 60px;
}

.amp-margin-left-0 {
    margin-left: 0;
}

.amp-margin-left-10 {
    margin-left: 10px;
}

.amp-margin-left-15 {
    margin-left: 15px;
}

.amp-margin-right-0 {
    margin-right: 0 !important;
}

.amp-margin-right-5 {
    margin-right: 5px !important;
}

.amp-margin-right-5 {
    margin-right: 5px !important;
}

.amp-margin-right-15 {
    margin-right: 15px !important;
}

.amp-margin-right-25 {
    margin-right: 25px !important;
}

.amp-padding-right-25 {
    padding-right: 25px;
}

.amp-min-width-170 {
    min-width: 170px;
}

.amp-min-width-180 {
    min-width: 180px;
}

.amp-vertically-align-top {
    vertical-align: top;
}

.amp-margin-top-0 {
    margin-top: 0;
}

.amp-margin-top-5 {
    margin-top: 5px;
}

.amp-margin-top-10 {
    margin-top: 10px;
}

.amp-margin-top-20 {
    margin-top: 20px;
}

.amp-margin-top-25 {
    margin-top: 25px;
}

.amp-margin-top-30 {
    margin-top: 30px;
}

.amp-padding-top-0 {
    padding-top: 0;
}

.amp-padding-top-25 {
    padding-top: 25px;
}


.amp-padding-left-0 {
    padding-left: 0;
}

.amp-padding-left-10 {
    padding-left: 10px;
}

.amp-padding-right-15 {
    padding-right: 15px;
}

.amp-padding-right-20 {
    padding-right: 20px;
}

.amp-column-view-parent {
    display: flex;
}

.hr-grey {
    color: govuk-colour("mid-grey");
}

.amp-custom-nav-bar {
    display: inline-block;
}

.amp-custom-nav-bar-selected {
    border-bottom: solid 4px govuk-colour("blue");
}

.amp-flex-end {
    justify-content: flex-end;
}

.amp-display-block {
    display: block !important;
}

.hide-retest-options {
    display: none;
}

// For use in custom footer

.flex-wrapper {
    min-height: 100%;
    position: relative;
}

.custom-footer {
    bottom: 0;
    width: 100%;
    height: 150px;
}

// For use in dashboard

.float-right {
    float: right;
}

// For use in forms

.form_default {
    label {
        margin: 20px 0 10px 0;
    }

    span {
        position: inline-block;
        margin-bottom: 10px;
    }

    input[type=text] {
        @extend .govuk-input;
        @extend .govuk-input--width-20;
    }

    input[type=email] {
        @extend .govuk-input;
        @extend .govuk-input--width-20;
    }

    input[type=password] {
        @extend .govuk-input;
        @extend .govuk-input--width-20;
    }

    input[type=submit] {
        @extend .govuk-button;

        display: block;
        margin-top: 30px;
    }

    .form-space {
        margin-bottom: 60px;
    }

    .form-field-default {
        margin-top: 1px;
    }

    .govuk-button {
        margin-top: 40px;
    }
}

.amp-open-link-control {
    margin-left: 10px;
}

// For use in navbar

.top-nav-menu {
    padding: 10px 0;
    margin-bottom: 0;
}

.amp-vertically-align {
    display: flex;
    align-items: center;
    height: 2.65rem;
}

.top-nav-menu-list {
    list-style-type: none;
    margin-bottom: 0px;
    padding-bottom: 0px;

    li {
        display: inline-block;
    }

    li a {
        display: block;
        text-align: right;
        margin: 0 0 0 16px;
    }
}

// For use in pagination

.pagination {
    text-align: center;

    span,
    a {
      padding: 0 10 0 0;
    }
}

// Fos use in test check results filtering

.amp-filter-form {
    margin: 0 0 40px 0;
    padding: 10px 0 0 0;

    h2, .govuk-form-group {
        margin-bottom: 10px;
    }

    .govuk-fieldset__legend, .govuk-fieldset__legend--l {
        margin-bottom: 0;
    }
}

#id_search_results {
    display: none;
}

// For use in reports

.amp-report-column-counter {
    white-space: nowrap;
}

.border-bottom-report::after {
    content: "";
    margin-left: 15px;
    margin-right: 15px;
    height:2px;
    background: govuk-colour("mid-grey");
}

.related-content-wrapper {
    border-top: 2px solid govuk-colour("blue");
    margin-bottom: 20px;
    padding-top: 10px;
}

.related-content {
    li {
        margin-bottom: 15px;
    }
}

.no-padding-on-main {
    padding-bottom: 0px;
}

.print-button {
    border: 1px solid govuk-colour("mid-grey");
    color: govuk-colour("blue");
    cursor: pointer;
    margin: 0;
    background: url("data:image/png; base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASAgMAAAAvVbb5AAAACVBMVEX///////8KDAwmYEUdAAAAAXRSTlMAQObYZgAAADBJREFUCFtjYOBa1cDAoBkKJFYCCSYwEYpCrAICZCI0FEhkrURmQRRnrYRpW7WqAQAlGR86Ip1rwwAAAABJRU5ErkJggg==") 10px 50% / 16px 18px no-repeat;
    padding: 10px 10px 10px 36px;
    text-decoration: none;
    display: none;
}

@media print {
    .no-print {
        display: none;
    }

    .amp-report-wrapper {
        font-family: Helvetica,arial,sans-serif;
    }
}

.metadata-container {
    margin-top: 10px;
    margin-bottom: 25px;
}

.metadata-term {
    box-sizing: border-box;
    float: left;
    clear: left;
    padding-right: 5px;
    margin-top: 0px;
}

.amp-report-wrapper, .amp-markdown {
    color: govuk-colour("black");
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 1.31579;

    .amp-new-page {
        page-break-before: always;
    }

    caption {
        font-size: 16px;
    }

    p {
        margin-top: 0;
        margin-bottom: 15px;
    }

    li {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    a {
        text-decoration: underline;
    }

    a:focus {
        outline: 3px solid transparent;
        color: govuk-colour("black");
        background-color: govuk-colour("yellow");
        box-shadow:0 -2px govuk-colour("yellow"),0 4px govuk-colour("black");
        text-decoration: none;
    }

    a:link {
        color:govuk-colour("blue");
    }

    a:visited {
        color: govuk-colour("purple");
    }

    a:hover {
        color: govuk-colour("dark-blue");
    }

    a:active {
        color: govuk-colour("black");
    }

    a:focus {
        color: govuk-colour("black");
    }

    table {
        font-weight: 400;
        width: 100%;
        margin-bottom: 20px;
        border-spacing: 0;
        border-collapse: collapse;

        th {
            font-weight: 700;
        }

        th, td {
            padding: 15px 15px 15px 0;
            border-bottom: 1px solid govuk-colour("mid-grey");
            text-align: left;
            vertical-align: top;
        }
    }

    li#contents-list {
        list-style-type: none;
    }

    table[id^='issues-table-'] {
        page-break-before: always;

        td+td {
            width: 50%;
        }
    }

    table[id^='email-issues-table-'] {
        table-layout:fixed;

        td {
            width: 33%;
        }
    }

    table#urls-table {
        page-break-before: avoid;

        th, td {
            width: 50%;
        }
    }

    table#urls-table {
        p {
            margin-bottom: 0;
        }
    }
}

.amp-email-template {
    @extend .amp-report-wrapper;
    font-size: 1rem;
    line-height: 1.25;
}

ul.amp-no-bullet-points {
    padding: 0;
    list-style-type: none;

    li {
        margin-top: 5px;
        margin-bottom: 5px;
        list-style-type: none; /* Remove bullets */
    }
}

ul.amp-bullet-points {
    list-style-type: disc;

    li {
        margin-top: 5px;
        margin-bottom: 5px;
        list-style-type: disc; /* Restore bullets */
    }
}

.gds-co-image {
    padding-bottom: 20px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-right-0 {
    margin-right: 0px !important;
}

.full-max-width {
    max-width: 100%;
}

svg {
    font-family: "GDS Transport",arial,sans-serif;
}

.amp-left-border {
    padding-left: 10px;
    border-left: 3px solid govuk-colour("mid-grey");
}

.amp-font-weight-normal {
    font-weight: 400;
}

.open_link_input_div {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.amp-nowrap {
    white-space: nowrap;
}

.amp-email-placeholder {
    color: govuk-colour("red");
    font-weight: bold;
}

.amp-nav-steps {
    ul {
        font-size: 1rem;
    }
}

.amp-nav-details {
    font-family: "GDS Transport",arial,sans-serif;
    font-size: 1rem;
    margin-bottom: 5px;
}

.amp-nav-details[disabled] * {
    color: govuk-colour("mid-grey");
    pointer-events: none;
}

.amp-nav-details__summary {
    cursor: pointer;
    color:  govuk-colour("blue");
    margin-bottom: 5px;
    &::before {
        content: "";
        display: inline-block;
        text-decoration: none;
    }
}

.amp-nav-details__text {
    border-left: 1px solid govuk-colour("mid-grey");
    padding-left: 12px;
    padding-top: 4px;
    margin-bottom: 10px;
    ul {
        font-size: 1rem;

        .amp-nav-list-subpages {
            list-style-type: disc;
            margin-left: -11px;
            li:first-of-type {
                margin-top: 12px;
            }
        }
    }

    li {
        padding-bottom: 4px;

        a {
            padding-bottom: 4px;
        }
    }

    a[disabled] {
        pointer-events: none;
        color: govuk-colour("mid-grey");
        text-decoration: none;
    }
}

.amp-nav-details__text_selected {
    border-left: 2px solid govuk-colour("blue");
    padding-left: 12px;
    padding-top: 4px;
    margin-bottom: 10px;
    ul {
        font-size: 1rem;

        .amp-nav-list-subpages {
            list-style-type: disc;
            margin-left: -11px;
            li:first-of-type {
                margin-top: 12px;
            }
        }
    }

    li {
        padding-bottom: 4px;

        a {
            padding-bottom: 4px;
        }
    }

    a[disabled] {
        pointer-events: none;
        color: govuk-colour("mid-grey");
        text-decoration: none;
    }
}


.amp_case_search_contents {
    li {
        padding-bottom: 4px;

        a {
            padding-bottom: 4px;
        }
    }
}

.amp_case_search_list_header {
    display: flex;
    justify-content: space-between;
}

.amp-session-warning {
    color: govuk-colour("red");
    font-weight: bold;
}

.amp-padding-left-0 {
    padding: 0 0 0 15px;
}

.amp-padding-vertical-30 {
    padding: 0 30px;
}

.amp-nav-seperator {
    margin: 25px 0px;
}

.amp-hide {
    display: none;
}

.amp-disabled {
    color: govuk-colour("mid-grey");
    pointer-events: none;
}

.amp-border-left {
    border-left: 1px solid govuk-colour("mid-grey");
    padding-left: 12px;
    margin-bottom: 10px;
}

.amp-horizontal-list {
    list-style-type: None;
    padding: 0;
    margin: 0 0 15px 0;
    display: flex;
    /* align-items: center; */

    li:first-of-type {
        margin-left: 0;
    }

    li {
        margin-left: 15px;
    }
}

.amp-preview {
    min-height: 25px;
    border-left: 1px solid govuk-colour("mid-grey");
    padding-left: 12px;
    padding-top: 4px;
    margin-bottom: 10px;

    ul:first-child, p:first-child {
        margin-top: 0;
    }
    ul:last-child, p:last-child {
        margin-bottom: 0;
    }
}

.amp-small-inline-radio {
    label {
        max-width: none;
    }
}

.amp-content-guidance-container {
    display: none;
}

.amp-pre-line {
    white-space: pre-line;
}

.amp-code {
    font-family: monospace;
    white-space: pre;
    font-size: 15px;
    background-color: govuk-colour("yellow");
}

.amp-highlight {
    padding: 2px;
    color: govuk-colour("white");
    background-color: govuk-colour("red");
}

.amp-new-window {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==)
         no-repeat center;
    width: 1em;
    height: 1em;
}

.amp-margin-right-5 {
    margin-right: 5px;
}

.amp-copy-text-to-clipboard {
    color: govuk-colour("blue");
    cursor: pointer;

    &:focus {
        background-color: govuk-colour("yellow");
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        box-shadow: 0 -2px govuk-colour("yellow"), 0 4px govuk-colour("black");
        outline: 3px solid transparent;
        text-decoration: none;
    }

    svg {
        display: inline;
        fill: currentColor;
        height: 1rem;
    }
}

.amp-logo-gds-container {
    background-image: url('/static/img/gds_crest_18px_x2.png');
    background-repeat: no-repeat;
    background-position: 8px 0;
    background-size: auto 32px;
    border-left: 2px solid #00f8f8;
    padding-top: 35px;
    padding-left: 8px;
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 16px;
    font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    direction: ltr;
    vertical-align: top;
}

.amp-logo-dsit-container {
    background-image: url('/static/img/org_crest_18px.png');
    background-repeat: no-repeat;
    background-position: 8px 0;
    background-size: auto 32px;
    border-left: 2px solid #00f8f8;
    padding-top: 35px;
    padding-left: 8px;
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 16px;
    font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    direction: ltr;
    vertical-align: top;
}

.amp-tech-colour-1 {
    color: govuk-colour("white");
    background-color: govuk-colour("blue");
}

.amp-tech-colour-2 {
    color: govuk-colour("white");
    background-color: govuk-colour("purple");
}

.amp-tech-colour-3 {
    color: govuk-colour("white");
    background-color: govuk-colour("green");
}

.amp-case-search-options {
    details {
        margin-bottom: 20px;
    }

    select {
        min-width: auto;
    }

    .govuk-details__text {
        border-left: None;
        padding-left: 0;

        fieldset:last-child, div:last-child {
            margin-bottom: 0;
        }
    }

    background-color: govuk-colour("light-grey");
    border-left: None;
}


.amp-table-details {
    display: flex;
    align-items: center;
}

.justify-right {
    margin-left: auto;
}

.amp-centre-text {
    align-items: center;
    justify-content: center;
}

.amp-case-search-table {

    border: 1px solid #b1b4b6;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    thead {
        th {
        text-align: left;
        font-weight: 700;
        padding: 1rem 0.75rem;
        border-bottom: 1px solid #b1b4b6;
        white-space: nowrap;
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid #b1b4b6;
        }

        td {
            padding: 1.25rem 0.75rem;
            vertical-align: middle;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .amp-case-id-width {
        width: 84px;
    }

    .amp-updated-width {
        width: 9%;
    }

    .amp-status-width {
        width: 17%;
    }

    .amp-auditor-width {
        width: 12%;
    }
}

.amp-search-input-width {
    max-width: 600px;
}

.amp-case-tag {
    padding: 5px 8px 4px 8px;
}

.amp-case-task-table {

    border: 1px solid #b1b4b6;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    thead {
        tr {
            border-bottom: 1px solid #b1b4b6;

            td {
                padding: 1.25rem 0.75rem;
                vertical-align: middle;

                .amp-fixed-width {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
    }

    tbody {
        td {
            padding: 1.25rem 0.75rem;
        }
    }

    .amp-case-id-width {
        width: 80px;
    }

    .amp-status-width {
        width: 25%;
    }
}

.amp-overdue {
    background-color: #feefeb;
}
