.topnavmenu {
  border-bottom: 1px solid #bfc1c3;
  padding: 5px 0 5px 0;
  margin-bottom: 0;
}

.nav-menu-list {
  display: block;
  padding-inline-start: 40px;
  list-style-type: none;
  text-align: right;
  margin-bottom: 0;

  li {
    display: inline-block;
  }

  li a {
    display: block;
    color: white;
    text-align: right;
    margin: 0 0 0 16px;
    text-decoration: none;
  }
}
