{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block phase_banner %}{% endblock %}

{% block content %}
    <main id="main-content" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Register</h1>
                <p class="govuk-body-l">Fill in the form below to create an account</p>
                {% include 'common/error_summary.html' %}
                <form method="post">
                    {% csrf_token %}
                    {% include 'common/amp_form_snippet.html' %}
                    <div class="govuk-button-group">
                        <input type="submit" value="Submit" class="govuk-button" data-module="govuk-button"/>
                        <a
                            href="{% url 'two_factor:login' %}"
                            class="govuk-link govuk-link--no-visited-state"
                        >
                            Back to sign in
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
