{% extends 'base.html' %}

{% block title %}{{ case.app_name }} | {{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'cases/helpers/case_banner.html' %}
        </div>
    </div>
    {% include 'common/breadcrumbs.html' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter amp-padding-left-0">
                {% include "cases/helpers/case_nav.html" with case_nav_type='mobile_case_nav' %}
            </div>
            <div class="govuk-grid-column-three-quarters amp-padding-vertical-30">
                {% include "common/helpers/edit_header.html" %}
                {% include 'common/error_summary.html' %}
                {% block preform %}{% endblock %}
                {% block form %}
                <form method="post" action="{% url sitemap.current_platform_page.url_name object.id %}">
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% block formfields %}
                            {% include 'common/amp_form_snippet.html' %}
                            {% endblock %}
                        </div>
                    </div>
                    {% block formbuttons %}
                        {% include 'simplified/helpers/save_continue_cancel.html' %}
                    {% endblock %}
                </form>
                {% endblock %}
                {% block postform %}{% endblock %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
