{% extends 'mobile/android_base.html' %}

{% block preform %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-body amp-margin-bottom-40">
            <p class="govuk-body amp-margin-bottom-5"><b>Android outcome | Number of screens tested</b></p>
            <p class="govuk-body">{{ case.initial_android_total_number_of_screens }}</p>
        </div>
        <div class="govuk-body amp-margin-bottom-40">
            <p class="govuk-body amp-margin-bottom-5"><b>Android outcome | Number of issues found</b></p>
            <p class="govuk-body">{{ case.initial_android_total_number_of_issues }}</p>
        </div>
        <div class="govuk-body amp-margin-bottom-40">
            <p class="govuk-body amp-margin-bottom-5"><b>Android retesting | Total number of fixed issues as a percentage</b></p>
            <p class="govuk-body">{{ case.percentage_of_android_issues_fixed }}</p>
        </div>
    </div>
</div>
{% endblock %}
