{% extends 'base.html' %}

{% load l10n %}
{% load humanize %}

{% block title %}Case metrics{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {% include 'common/metrics/breadcrumbs.html' with current='Case metrics' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0 amp-report-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include 'common/metrics/nav_steps.html' with current='common:metrics-case' %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl amp-margin-bottom-15">Case metrics</h1>
                <p class="govuk-body-m">Today is {{ today|amp_date }}.</p>
                {% for metric in monthly_metrics %}
                    <h2 class="govuk-heading-m">{{ metric.label }} in {% now "F" %}</h2>
                    <p class="govuk-body-m">
                        <span class="govuk-!-font-size-48"><b>{{ metric.number_done_this_month }}</b></span>
                        <svg
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 40 40"
                            width="40"
                            height="40"
                            stroke="currentColor"
                            stroke-width="3"
                            fill="none"
                        >
                            <line x1="20" y1="5" x2="20" y2="35"/>
                            {% if metric.expected_progress_difference_label == 'under' %}
                                <line x1="20" y1="35" x2="30" y2="30"/>
                                <line x1="20" y1="35" x2="10" y2="30"/>
                            {% else %}
                                <line x1="20" y1="5" x2="30" y2="10"/>
                                <line x1="20" y1="5" x2="10" y2="10"/>
                            {% endif %}
                        </svg>
                        {% if metric.expected_progress_difference_label %}
                            Projected {{ metric.expected_progress_difference }}%
                            {{ metric.expected_progress_difference_label }}
                        {% endif %}
                        {{ first_of_last_month|date:"F" }} ({{ metric.number_done_last_month }} {{ metric.label|lower }})
                    </p>
                {% endfor %}
                {% for metric in yearly_metrics %}
                    <h2 class="govuk-heading-m">{{ metric.label }}</h2>
                    <svg
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 750 {{ metric.chart_height }}"
                        width="100%"
                        height="{{ metric.chart_height }}"
                        stroke-width="3"
                        fill="none"
                    >
                        <g fill="none" stroke="#1d70b8" transform="translate(50)">
                            <g stroke="#0b0c0c">
                                <line x1="0" x2="600" y1="{{ metric.max_value }}" y2="{{ metric.max_value }}"></line>
                                <line x1="0" x2="0" y1="{{ metric.max_value }}" y2="{{ metric.x_label_tick_y }}"></line>
                                <line x1="50" x2="50" y1="{{ metric.max_value }}" y2="{{ metric.x_label_tick_y }}"></line>
                                <line x1="100" x2="100" y1="{{ metric.max_value }}" y2="{{ metric.x_label_tick_y }}"></line>
                                <line x1="150" x2="150" y1="{{ metric.max_value }}" y2="{{ metric.x_label_tick_y }}"></line>
                                <line x1="200" x2="200" y1="{{ metric.max_value }}" y2="{{ metric.x_label_tick_y }}"></line>
                                <line x1="250" x2="250" y1="{{ metric.max_value }}" y2="{{ metric.x_label_tick_y }}"></line>
                                <line x1="300" x2="300" y1="{{ metric.max_value }}" y2="{{ metric.x_label_tick_y }}"></line>
                                <line x1="350" x2="350" y1="{{ metric.max_value }}" y2="{{ metric.x_label_tick_y }}"></line>
                                <line x1="400" x2="400" y1="{{ metric.max_value }}" y2="{{ metric.x_label_tick_y }}"></line>
                                <line x1="450" x2="450" y1="{{ metric.max_value }}" y2="{{ metric.x_label_tick_y }}"></line>
                                <line x1="500" x2="500" y1="{{ metric.max_value }}" y2="{{ metric.x_label_tick_y }}"></line>
                                <line x1="550" x2="550" y1="{{ metric.max_value }}" y2="{{ metric.x_label_tick_y }}"></line>
                                <line x1="600" x2="600" y1="{{ metric.max_value }}" y2="{{ metric.x_label_tick_y }}"></line>
                                <line x1="0" x2="0" y1="{{ metric.max_value }}" y2="0"></line>
                                <line x1="-10" x2="0" y1="0" y2="0"></line>
                                <g stroke-width="1" fill="#0b0c0c">
                                    <text x="0" y="{{ metric.x_label_y }}">{{ metric.table_rows.0.month|date:"M" }}</text>
                                    <text x="50" y="{{ metric.x_label_y }}">{{ metric.table_rows.1.month|date:"M" }}</text>
                                    <text x="100" y="{{ metric.x_label_y }}">{{ metric.table_rows.2.month|date:"M" }}</text>
                                    <text x="150" y="{{ metric.x_label_y }}">{{ metric.table_rows.3.month|date:"M" }}</text>
                                    <text x="200" y="{{ metric.x_label_y }}">{{ metric.table_rows.4.month|date:"M" }}</text>
                                    <text x="250" y="{{ metric.x_label_y }}">{{ metric.table_rows.5.month|date:"M" }}</text>
                                    <text x="300" y="{{ metric.x_label_y }}">{{ metric.table_rows.6.month|date:"M" }}</text>
                                    <text x="350" y="{{ metric.x_label_y }}">{{ metric.table_rows.7.month|date:"M" }}</text>
                                    <text x="400" y="{{ metric.x_label_y }}">{{ metric.table_rows.8.month|date:"M" }}</text>
                                    <text x="450" y="{{ metric.x_label_y }}">{{ metric.table_rows.9.month|date:"M" }}</text>
                                    <text x="500" y="{{ metric.x_label_y }}">{{ metric.table_rows.10.month|date:"M" }}</text>
                                    <text x="550" y="{{ metric.x_label_y }}">{{ metric.table_rows.11.month|date:"M" }}</text>
                                    <text x="600" y="{{ metric.x_label_y }}">{{ metric.table_rows.12.month|date:"M" }}</text>
                                    <text x="{% if metric.max_value > 100 %}-45{% else %}-35{% endif %}" y="10">{{ metric.max_value }}</text>
                                </g>
                            </g>
                            <polyline
                                points="
                                0,{{ metric.table_rows.0.y }}
                                50,{{ metric.table_rows.1.y }}
                                100,{{ metric.table_rows.2.y }}
                                150,{{ metric.table_rows.3.y }}
                                200,{{ metric.table_rows.4.y }}
                                250,{{ metric.table_rows.5.y }}
                                300,{{ metric.table_rows.6.y }}
                                350,{{ metric.table_rows.7.y }}
                                400,{{ metric.table_rows.8.y }}
                                450,{{ metric.table_rows.9.y }}
                                500,{{ metric.table_rows.10.y }}
                                550,{{ metric.table_rows.11.y }}"/>
                            <polyline
                                stroke-dasharray="5"
                                points="
                                550,{{ metric.table_rows.11.y }}
                                600,{{ metric.table_rows.12.y }}"/>
                        </g>

                    </svg>
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Table view
                            </span>
                        </summary>
                        <div id="table-view-{{ forloop.counter }}" class="amp-preview govuk-details__text">
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Month</th>
                                        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Count</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    {% for table_row in metric.table_rows %}
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">
                                                {{ table_row.month|date:"F" }}
                                                {{ table_row.year }}
                                            </td>
                                            <td class="govuk-table__cell">
                                                    {{ table_row.count }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </details>
                {% endfor %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
