{% extends 'base.html' %}

{% load l10n %}

{% block title %}{{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {% include 'common/breadcrumbs.html' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include 'common/settings/nav_steps.html' with current='common:metrics-case' %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl amp-margin-bottom-15">{{ sitemap.current_platform_page.get_name }}</h1>
                {% include 'common/metrics/helpers/progress.html' %}
                {% for yearly_metric in yearly_metrics %}
                    <h2 class="govuk-heading-m">{{ yearly_metric.label }}</h2>
                    {% include 'common/metrics/helpers/chart.svgt' with chart=yearly_metric.chart %}
                    {% include 'common/metrics/helpers/table.html' %}
                {% endfor %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
