{% extends 'base.html' %}

{% load l10n %}
{% load humanize %}

{% block title %}Overview{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {% include 'common/metrics/breadcrumbs.html' with current='Overview' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0 amp-report-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include 'common/metrics/nav_steps.html' with current='common:metrics-overview' %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl amp-margin-bottom-15">Overview</h1>
                <p class="govuk-body-m">There are {{ number_of_cases|intcomma }} Cases on the platform.</p>
            </div>
        </div>
    </main>
</div>
{% endblock %}
