{% extends 'base.html' %}

{% load l10n %}
{% load humanize %}

{% block title %}Policy metrics{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {% include 'common/metrics/breadcrumbs.html' with current='Policy metrics' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0 amp-report-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include 'common/metrics/nav_steps.html' with current='common:metrics-policy' %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl amp-margin-bottom-15">Policy metrics</h1>
                <p class="govuk-body-m">Today is {{ today|amp_date }}.</p>
                {% for metric in annual_metrics %}
                    <h2 class="govuk-heading-m">{{ metric.label }}</h2>
                    <p class="govuk-body-m">
                        <span class="govuk-!-font-size-48 amp-padding-right-20"><b>{{ metric.percentage }}%</b></span>
                        {{ metric.partial_count|intcomma }} out of {{ metric.total_count|intcomma }}
                    </p>
                {% endfor %}
                {% for metric in monthly_metrics %}
                    <h2 class="govuk-heading-m">{{ metric.label }}</h2>
                    {% include 'common/metrics/chart.svg' with chart=metric.chart %}
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Table view
                            </span>
                        </summary>
                        <div id="table-view-{{ forloop.counter }}" class="amp-preview govuk-details__text">
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Month</th>
                                        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Fixed</th>
                                        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Case closed</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    {% for table_row in metric.table_rows %}
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">
                                                {{ table_row.datetime|date:"F Y" }}
                                            </td>
                                            <td class="govuk-table__cell">{{ table_row.fixed|intcomma }}</td>
                                            <td class="govuk-table__cell">{{ table_row.closed|intcomma }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </details>
                {% endfor %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
