{% extends 'base.html' %}

{% load l10n %}
{% load humanize %}

{% block title %}{{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {% include 'common/breadcrumbs.html' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                {% include 'common/settings/nav_steps.html' with current='common:metrics-policy' %}
            </div>
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl amp-margin-bottom-25">{{ sitemap.current_platform_page.get_name }}</h1>
                <p class="govuk-body-m">Today is {{ today|amp_date }}.</p>
                {% for total_metric in total_metrics %}
                    <h2 class="govuk-heading-m">{{ total_metric.label }}</h2>
                    <p id="{{ progress_metric.label|slugify }}" class="govuk-body-m">
                        <span class="govuk-!-font-size-48 amp-padding-right-20"><b>{{ total_metric.total|intcomma }}</b></span>
                    </p>
                {% endfor %}
                {% for progress_metric in progress_metrics %}
                    <h2 class="govuk-heading-m">{{ progress_metric.label }}</h2>
                    <p id="{{ progress_metric.label|slugify }}" class="govuk-body-m">
                        <span class="govuk-!-font-size-48 amp-padding-right-20"><b>{{ progress_metric.percentage }}%</b></span>
                        {{ progress_metric.partial_count|intcomma }} out of {{ progress_metric.total_count|intcomma }}
                    </p>
                {% endfor %}
                <h2 class="govuk-heading-m">{{ equality_body_cases_metric.label }}</h2>
                <p id="cases-completed-with-equalities-bodies" class="govuk-body-m">
                    <span class="govuk-!-font-size-48 amp-padding-right-20"><b>{{ equality_body_cases_metric.completed_count|intcomma }}</b></span>
                    with {{ equality_body_cases_metric.in_progress_count|intcomma }} in progress
                </p>
                {% for yearly_metric in yearly_metrics %}
                    <h2 class="govuk-heading-m">{{ yearly_metric.label }}</h2>
                    {% include 'common/metrics/helpers/chart.svgt' with chart=yearly_metric.chart %}
                    {% include 'common/metrics/helpers/table.html' %}
                {% endfor %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
