{% extends 'base.html' %}

{% load l10n %}
{% load humanize %}

{% block title %}Report metrics{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {% include 'common/metrics/breadcrumbs.html' with current='Report metrics' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0 amp-report-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include 'common/metrics/nav_steps.html' with current='common:metrics-report' %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl amp-margin-bottom-15">Report metrics</h1>
                <p class="govuk-body-m">Today is {{ today|amp_date }}.</p>
                <p class="govuk-body-m">
                    There are {{ number_open_cases }} open cases.
                    {{ number_template_reports }} of which use non-HTML reports.
                </p>
                {% for progress_metric in progress_metrics %}
                    <h2 class="govuk-heading-m">{{ progress_metric.label }} in {% now "F" %}</h2>
                    <p id="{{ progress_metric.label|slugify }}" class="govuk-body-m">
                        <span class="govuk-!-font-size-48"><b>{{ progress_metric.this_month_value }}</b></span>
                        {% include 'common/metrics/arrow_icon.svgt' %}
                        {% if progress_metric.expected_progress_difference_label %}
                            Projected {{ progress_metric.expected_progress_difference }}%
                            {{ progress_metric.expected_progress_difference_label }}
                        {% endif %}
                        {{ first_of_last_month|date:"F" }}
                        ({{ progress_metric.last_month_value }} {{ progress_metric.label|lower }})
                    </p>
                {% endfor %}
                {% for yearly_metric in yearly_metrics %}
                    <h2 class="govuk-heading-m">{{ yearly_metric.label }}</h2>
                    {% include 'common/metrics/chart.svgt' with chart=yearly_metric.chart %}
                    {% include 'common/metrics/table.html' %}
                {% endfor %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
