.topnavmenu {
  border-bottom: 1px solid #bfc1c3;
  padding: 5px 0 5px 0;
  margin-bottom: 0;
}

.nav-menu-list {
  display: block;
  // list-style-type: disc;
  // margin-block-start: 1em;
  // margin-block-end: 1em;
  // margin-inline-start: 0px;
  // margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style-type: none;
  text-align: right;
  margin-bottom: 0;

  li {
    display: inline-block;
  }

  li a {
    display: block;
    color: white;
    text-align: right;
    margin: 0 0 0 16px;
    text-decoration: none;
  }
}
