{% load notifications %}

<div class="topnavmenu">
{% if user.is_authenticated %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <form method="get" action="{% url 'cases:case-list' %}">
                <div class="govuk-form-group no-bottom-margin">
                    <div class="govuk-input__wrapper">
                        <span class="govuk-visually-hidden">Search:</span>
                        {{ top_menu_form.search }}
                        <button class="govuk-input__suffix amp-search-button" aria-hidden="true">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 40 40"
                                    width="40"
                                    height="40"
                                    stroke="currentColor"
                                    stroke-width="3"
                                    fill="none"
                                >
                                    <line x1="22" y1="23" x2="29" y2="31"/>
                                    <circle cx="18" cy="18" r="8" />
                                </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="govuk-grid-column-three-quarters">
                <ul class="govuk-list nav-menu-list">
                    <li> <a class="govuk-link govuk-link--no-visited-state" href="{% url 'users:edit-user' request.user.id %}">Settings</a></li>
                    <li> <a class="govuk-link govuk-link--no-visited-state" href="{% url 'logout' %}">Sign out</a></li>
                    <li class="amp-padding-left-10"> | </li>
                    <li class="amp-padding-left-10"> {{ user.first_name|title }} {{ user.last_name|title }} </li>
                </ul>
                <ul class="govuk-list nav-menu-list">
                    <li> <a class="govuk-link govuk-link--no-visited-state" href="{% url 'dashboard:home' %}">Home</a></li>
                    <li> <a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:case-list' %}">Search</a></li>
                    <li> <a class="govuk-link govuk-link--no-visited-state" href="{% url 'notifications:notifications-list' %}">Comments ({% notifications_count request=request %})</a></li>
                    <li> <a class="govuk-link govuk-link--no-visited-state" href="{% url 'reminders:reminder-list' %}">Reminders ({{ number_of_reminders }})</a></li>
                    <li> <a class="govuk-link govuk-link--no-visited-state" href="{% url 'overdue:overdue-list' %}">Overdue ({{ number_of_overdue }}) </a></li>
                </ul>
        </div>
    </div>
{% else %}
    <ul class="govuk-list nav-menu-list">
        <li> <a class="govuk-link govuk-link--no-visited-state" href="{% url 'dashboard:home' %}">Home</a></li>
        <li> <a class="govuk-link govuk-link--no-visited-state" href="{% url 'two_factor:login' %}">Sign in</a></li>
    </ul>
{% endif %}
</div>
