<div class="top-nav-menu govuk-width-container">
{% if user.is_authenticated %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds amp-vertically-allign">
            <ul class="govuk-list top-nav-menu-list govuk-body-s">
                <li> {{ user.first_name|title }} {{ user.last_name|title }} </li>
                <li class="amp-padding-left-10" aria-hidden="true"> | </li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="{% url 'dashboard:home' %}">Home</a></li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:case-list' %}">Search</a>
                </li>
                <li>
                    {% if number_of_tasks > 0 %}<b>{% endif %}
                    <a class="govuk-link govuk-link--no-visited-state" href="{% url 'notifications:task-list' %}">Tasks ({{ number_of_tasks }})</a>
                    {% if number_of_tasks > 0 %}</b>{% endif %}
                </li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="{% url 'users:edit-user' request.user.id %}">Settings</a></li>
                <li>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="amp-button-as-link amp-margin-left-15 amp-margin-bottom-0 govuk-body-s">Sign out</button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="govuk-grid-column-one-third">
            <form method="get" action="{% url 'cases:case-list' %}">
                <div class="govuk-form-group amp-margin-bottom-0">
                    <div class="govuk-input__wrapper amp-search-wrapper">
                        <span class="govuk-visually-hidden">Search:</span>
                        {{ top_menu_form.search }}
                        <button class="govuk-input__suffix amp-search-button">
                            <span class="govuk-visually-hidden">Search accessibility monitoring platform</span>
                            <svg
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 28 30"
                                width="25"
                                height="25"
                                stroke="currentColor"
                                stroke-width="3"
                                fill="none"
                            >
                                <line x1="16" y1="17" x2="25" y2="23"/>
                                <circle cx="10" cy="13" r="8" />
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% else %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <ul class="govuk-list top-nav-menu-list govuk-body-s">
                <li> <a class="govuk-link govuk-link--no-visited-state" href="{% url 'dashboard:home' %}">Home</a></li>
                <li> <a class="govuk-link govuk-link--no-visited-state" href="{% url 'two_factor:login' %}">Sign in</a></li>
            </ul>
        </div>
    </div>
{% endif %}
</div>
