<!DOCTYPE html>

{% load notifications %}

{% if user.is_authenticated %}
<div class="topnavmenu">
    <div class="govuk-body login-display-name"> {{ user.first_name|title }} {{ user.last_name|title }} </div>
    <ul class="govuk-list nav-menu-list">
        <li> <a class="govuk-link govuk-link--no-visited-state" href="{% url 'dashboard:home' %}">Dashboard</a></li>
        <li> <a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:case-list' %}">Search</a></li>
        <li> <a class="govuk-link govuk-link--no-visited-state" href="{% url 'notifications:notifications-list' %}">Notifications ({% notifications_count request=request %})</a></li>
        <li> <a class="govuk-link govuk-link--no-visited-state" href="{% url 'users:account_details' %}">Account details</a></li>
        <li> <a class="govuk-link govuk-link--no-visited-state" href="{% url 'logout' %}">Sign out</a></li>
    </ul>
</div>
{% else %}
<div class="topnavmenu">
    <ul class="govuk-list nav-menu-list">
        <li> <a class="govuk-link govuk-link--no-visited-state" href="{% url 'dashboard:home' %}">Home</a></li>
        <li> <a class="govuk-link govuk-link--no-visited-state" href="{% url 'login' %}">Sign in</a></li>
    </ul>
</div>
{% endif %}
