{% extends 'base.html' %}
{% load static %}

{% block title %}
Accessibility statement
{% endblock %}

{% block content %}
<main id="main-content" class="govuk-main-wrapper amp-report-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="amp-logo-dsit-container">
                <span>
                    Department for
                    <br>
                    Science, Innovation
                    <br>
                    & Technology
                </span>
            </div>
            <div class="amp-logo-gds-container">
                <span>
                    Government
                    <br>
                    Digital Service
                </span>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ platform.report_viewer_accessibility_statement|markdown_to_html }}
        </div>
    </div>
</main>
{% endblock %}
