{% extends 'base.html' %}
{% load static %}

{% block title %}
Report viewer status
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper amp-report-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% if vcap_services %}
                    <p class="govuk-body-m">Served by PaaS</p>
                {% endif %}
                {% if copilot_application_name %}
                    <p class="govuk-body-m">Served by AWS</p>
                {% endif %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
