{% for archived_section in case.archived_sections %}
    <h2 id="{{ archived_section.name|slugify }}" class="govuk-heading-m">
        {{ archived_section.name }}
        {% if archived_section.complete %}
            <span class="govuk-visually-hidden">complete</span>
            &check;
        {% endif %}
    </h2>
    {% if archived_section.subsections and archived_section.subsections|length > 1 %}
        <div class="amp-left-border">
            <ul class="govuk-list amp-margin-bottom-5">
                {% for subsection in archived_section.subsections %}
                    {% include './archive_section_link.html' with section=subsection %}
                    {% if subsection.subsections %}
                        <li>
                            <ul class="govuk-list govuk-list--bullet amp-margin-bottom-10">
                                {% for subsubsection in subsection.subsections %}
                                    {% include './archive_section_link.html' with section=subsubsection %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% include './archive_section_content.html' with section=archived_section top_section=True %}
    {% for subsection in archived_section.subsections %}
        {% include './archive_section_content.html' with section=subsection %}
        {% for subsubsection in subsection.subsections %}
            {% include './archive_section_content.html' with section=subsubsection %}
        {% endfor %}
    {% endfor %}
{% endfor %}
