{% if not top_section %}
<p id="{{ section.name|slugify }}" class="govuk-body-m"><b>{{ section.name }}</b></p>
{% endif %}
<table class="govuk-table">
    <tbody class="govuk-table__body">
        {% for archived_field in section.fields %}
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">{{ archived_field.label }}</th>
                <td class="govuk-table__cell amp-width-one-half{% if archived_field.data_type == 'markdown' %} amp-notes{% endif %}">
                    {% if archived_field.data_type == 'link' %}
                        {% if archived_field.value %}
                            <a href="{{ archived_field.value }}"
                                rel="noreferrer noopener" target="_blank" class="govuk-link">
                                {% if archived_field.display_value %}{{ archived_field.display_value }}{% else %}{{ archived_field.value }}{% endif %}
                            </a>
                        {% else %}
                            None
                        {% endif %}
                    {% elif archived_field.data_type == 'markdown' %}
                        {% if archived_field.value %}{{ archived_field.value|markdown_to_html }}{% endif %}
                    {% else %}
                        {% if archived_field.display_value %}{{ archived_field.display_value }}{% else %}{{ archived_field.value }}{% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
