{% for archived_section in case.archived_sections %}
    <h2 id="{{ archived_section.name|slugify }}" class="govuk-heading-m">
        {{ archived_section.name }}
        {% if archived_section.complete %}
            <span class="govuk-visually-hidden">complete</span>
            &check;
        {% endif %}
    </h2>
    {% include './archive_section_content.html' with section=archived_section top_section=True %}
    {% for subsection in archived_section.subsections %}
        {% include './archive_section_content.html' with section=subsection %}
        {% for subsubsection in subsection.subsections %}
            {% include './archive_section_content.html' with section=subsubsection %}
        {% endfor %}
    {% endfor %}
{% endfor %}
