{% include 'reports/helpers/pending_published_rebuild_notification.html' %}
{% include 'cases/helpers/compliant_website_notification.html' %}
{% include 'cases/helpers/historic_case_notification.html' %}
{% if case.is_deactivated %}
    <div class="govuk-notification-banner" role="region" aria-labelledby="banner-title-case-deactivated" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="banner-title-case-deactivated">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
                This case was deactivated on {{ case.deactivate_date|amp_date }}.
            </h3>
            {% if case.deactivate_notes %}
                <p class="govuk-body">Reason why:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>{{ case.deactivate_notes|markdown_to_html }}</li>
                </ul>
            {% endif %}
            <p class="govuk-body">
                Go to
                <a class="govuk-notification-banner__link" href="{% url 'cases:reactivate-case' case.id %}">Case > Reactivate case</a>
                to reactivate the case.
            </p>
        </div>
    </div>
{% endif %}
{% if case.no_psb_contact == 'yes' %}
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Public sector body is unresponsive and has been moved to equalities bodies correspondence
        </strong>
    </div>
{% endif %}
