<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body-m">
            <b>Contact details</b>
            {% if case.testing_methodology == "platform" %}
                |
                <a href="{% url 'cases:edit-contact-details' case.id %}"
                    class="govuk-link govuk-link--no-visited-state"
                    rel="noreferrer noopener">
                    Edit
                </a>
            {% endif %}
        </p>
    </div>
</div>
<table class="govuk-table">
    <tbody class="govuk-table__body">
        {% for row in contact_rows %}
            {% include 'cases/helpers/detail_row.html' with row=row %}
        {% endfor %}
    </tbody>
</table>
<table class="govuk-table amp-accordion-table">
    <tbody class="govuk-table__body">
        {% for contact in contacts %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <p class="govuk-body-m">Contact name</p>
                    </div>
                    <div class="govuk-grid-column-one-half amp-padding-left-0">
                        <p class="govuk-body-m">{{ contact.name }}</p>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <p class="govuk-body-m">Job title</p>
                    </div>
                    <div class="govuk-grid-column-one-half amp-padding-left-0">
                        <p class="govuk-body-m">{{ contact.job_title }}</p>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <p class="govuk-body-m">Email</p>
                    </div>
                    <div class="govuk-grid-column-one-half amp-padding-left-0">
                        <p class="govuk-body-m">{{ contact.email }}</p>
                    </div>
                </div>
                {% if contacts.count > 1 %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body-m">Preferred contact</p>
                        </div>
                        <div class="govuk-grid-column-one-half amp-padding-left-0">
                            <p class="govuk-body-m">{{ contact.get_preferred_display }}</p>
                        </div>
                    </div>
                {% endif %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <p class="govuk-body-m">Notes</p>
                    </div>
                    <div class="govuk-grid-column-one-half amp-padding-left-0">
                        {% if contact.notes %}{{ contact.notes|markdown_to_html }}{% endif %}
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        {% if not contacts %}
            <p class="govuk-body-l">No contacts have been entered</p>
        {% endif %}
    </tbody>
</table>
