<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body-m">
            <b>Contact details</b>
            {% if case.testing_methodology == "platform" %}
                |
                <a href="{% url 'cases:edit-contact-details' case.id %}"
                    class="govuk-link govuk-link--no-visited-state"
                    rel="noreferrer noopener">
                    Edit
                </a>
            {% endif %}
        </p>
    </div>
</div>
{% if contacts %}
    <table class="govuk-table amp-accordion-table">
        <tbody class="govuk-table__body">
            {% for contact in contacts %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell amp-width-one-half">
                        Contact {{ forloop.counter }} Name
                    </td>
                    <td class="govuk-table__cell amp-width-one-half">
                        {{ contact.name }}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell amp-width-one-half">
                        Contact {{ forloop.counter }} Job title
                    </td>
                    <td class="govuk-table__cell amp-width-one-half">
                        {{ contact.job_title }}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell amp-width-one-half">
                        Contact {{ forloop.counter }} Email
                    </td>
                    <td class="govuk-table__cell amp-width-one-half">
                        {{ contact.email }}
                    </td>
                </tr>
                {% if contacts.count > 1 %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell amp-width-one-half">
                            Contact {{ forloop.counter }} Preferred contact
                        </td>
                        <td class="govuk-table__cell amp-width-one-half">
                            {{ contact.get_preferred_display }}
                        </td>
                    </tr>
                {% endif %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell amp-width-one-half">
                        Contact {{ forloop.counter }} Notes
                    </td>
                    <td class="govuk-table__cell amp-width-one-half">
                        {{ contact.notes|markdown_to_html }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="govuk-body-l">No contacts have been entered</p>
{% endif %}
