{% extends 'cases/details/details.html' %}

{% block prefixrows %}
    {% for statement_check_result in statement_check_results %}
        <tr class="govuk-table__row ">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">
                {{ statement_check_result.label }}
            </th>
            <td class="govuk-table__cell amp-width-one-half amp-notes">
                <p>{{ statement_check_result.get_check_result_state_display }}</p>
                {% if statement_check_result.check_result_state == 'no' %}
                    {{ statement_check_result.report_text|markdown_to_html }}
                {% endif %}
                {% if statement_check_result.report_comment  %}
                    {{ statement_check_result.report_comment|markdown_to_html }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
