{% extends 'cases/details/details.html' %}

{% block table %}
    {% if case.actual_retests %}
        {% for equality_body_retest in case.actual_retests %}
            <p class="govuk-body-m"><b>Retest #{{ equality_body_retest.id_within_case }}</b></p>
            <table class="govuk-table" data-search-target-page-name="{{ case_detail_page.page.platform_page_group.name }}" data-search-target-label="{{ case_detail_page.page.get_name }}" data-search-target-url="{{ case_detail_page.page.get_url }}">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row ">
                        <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">Date of retest</th>
                        <td class="govuk-table__cell amp-width-one-half">{{ equality_body_retest.date_of_retest|amp_date }}</td>
                    </tr>
                    <tr class="govuk-table__row ">
                        <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">Outcome</th>
                        <td class="govuk-table__cell amp-width-one-half">{{ equality_body_retest.get_retest_compliance_state_display }}</td>
                    </tr>
                    <tr class="govuk-table__row ">
                        <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">Statement outcome</th>
                        <td class="govuk-table__cell amp-width-one-half">{{ equality_body_retest.get_statement_compliance_state_display }}</td>
                    </tr>
                    <tr class="govuk-table__row ">
                        <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">WCAG issues</th>
                        <td class="govuk-table__cell amp-width-one-half">
                        {{ equality_body_retest.fixed_checks_count }} of {{ equality_body_retest.case.audit.failed_check_results.count }} issues fixed
                        </td>
                    </tr>
                    <tr class="govuk-table__row ">
                        <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">Retest notes</th>
                        <td class="govuk-table__cell amp-width-one-half amp-notes">{{ equality_body_retest.retest_notes|markdown_to_html }}</td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    {% else %}
        <p class="govuk-body-m">No retests</p>
    {% endif %}
{% endblock %}
