{% extends 'cases/details/details.html' %}

{% block pretable %}
    {% for contact in case.contacts %}
        <p class="govuk-body-m"><b>Contact {{ forloop.counter }}</b></p>
        <table class="govuk-table" data-search-target-page-name="{{ case_detail_page.page.platform_page_group_name }}" data-search-target-label="{{ case_detail_page.page.get_name }}" data-search-target-url="{{ case_detail_page.page.url }}">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">Name</th>
                    <td class="govuk-table__cell amp-width-one-half">{{ contact.name }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">Job title</th>
                    <td class="govuk-table__cell amp-width-one-half">{{ contact.job_title }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">Email</th>
                    <td class="govuk-table__cell amp-width-one-half">{{ contact.email }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">Preferred contact</th>
                    <td class="govuk-table__cell amp-width-one-half">{{ contact.get_preferred_display }}</td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
{% endblock %}

{% block posttable %}
    <h3 class="govuk-heading-m">PSB Zendesk tickets</h3>
    <p class="govuk-body">
        <a href="{% url 'cases:zendesk-tickets' case.id %}" class="govuk-link govuk-link--no-visited-state">Edit</a>
    </p>
    {% if case.zendesk_tickets %}
        {% for zendesk_ticket in case.zendesk_tickets %}
            <p class="govuk-body-m"><b>PSB Zendesk ticket #{{ zendesk_ticket.id_within_case }}</b></p>
            <table class="govuk-table" data-search-target-page-name="" data-search-target-label="PSB Zendesk tickets" data-search-target-url="{% url 'cases:zendesk-tickets' case.id %}">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">Summary</th>
                        <td class="govuk-table__cell amp-width-one-half">{{ zendesk_ticket.summary }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">Link to Zendesk ticket</th>
                        <td class="govuk-table__cell amp-width-one-half">
                            <a href="{{ zendesk_ticket.url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                                {{ zendesk_ticket.url }}</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header amp-font-weight-normal amp-width-one-half">Time added to platform</th>
                        <td class="govuk-table__cell amp-width-one-half">{{ zendesk_ticket.created|amp_datetime }}</td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    {% else %}
        <p class="govuk-body">None</p>
    {% endif %}
{% endblock %}
