{% extends 'cases/details/details.html' %}

{% block prefixrows %}
    {% for page in case.audit.testable_pages %}
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">{{ page }}</th>
            <td class="govuk-table__cell amp-width-one-half">
                <a href="{{ page.url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                    {{ page.url }}</a>
            </td>
        </tr>
        {% if page.location %}
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">
                    Page location description if single page app</th>
                <td class="govuk-table__cell amp-width-one-half">
                    {{ page.location }}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
{% endblock %}
