<h3 class="govuk-heading-s" id="{{ case_detail_page.page.url|slugify }}">
    {% if case_detail_page.page.platform_page_group.name %}
        {{ case_detail_page.page.platform_page_group.name }} |
    {% endif %}
    <a href="{{ case_detail_page.page.url }}" class="govuk-link govuk-link--no-visited-state">{{ case_detail_page.page.get_name }}</a>
    {% if case_detail_page.page.complete %}<span class="govuk-visually-hidden">complete</span> &check;{% endif %}
</h3>
{% block pretable %}{% endblock %}
{% block table %}
<table class="govuk-table" data-search-target-page-name="{{ case_detail_page.page.platform_page_group.name }}" data-search-target-label="{{ case_detail_page.page.get_name }}" data-search-target-url="{{ case_detail_page.page.url }}">
    <tbody class="govuk-table__body">
        {% block prefixrows %}{% endblock %}
        {% for display_field in case_detail_page.display_fields %}
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">{{ display_field.label }}</th>
                <td class="govuk-table__cell amp-width-one-half{% if display_field.type == 'notes' %} amp-notes{% endif %}">
                    {% if display_field.type == 'url' %}
                        {% if display_field.value %}
                            <a href="{{ display_field.value }}"
                                rel="noreferrer noopener" {% if display_field.external_url %}target="_blank"{% endif %} class="govuk-link {% if not display_field.external_url %}govuk-link--no-visited-state{% endif %}">
                                {% if display_field.extra_label %}{{ display_field.extra_label }}{% else %}{{ display_field.value }}{% endif %}
                            </a>
                        {% else %}
                            None
                        {% endif %}
                    {% elif display_field.type == 'notes' %}
                        {% if display_field.value %}{{ display_field.value|markdown_to_html }}{% endif %}
                    {% else %}
                        {% if display_field.display_value %}{{ display_field.display_value }}{% else %}{{ display_field.value }}{% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block posttable %}{% endblock %}
