<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body-m">
            <b>Equality body retest</b>
            |
            <a href="{% url 'cases:edit-retest-overview' case.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                Edit
            </a>
        </p>
    </div>
</div>
<table class="govuk-table amp-accordion-table">
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Number retests</th>
            <td class="govuk-table__cell amp-width-one-half">{{ case.number_retests }} ({{ case.incomplete_retests.count }} incomplete)
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Remaining WCAG issues</th>
            <td class="govuk-table__cell amp-width-one-half">
            {{ case.retests.first.fixed_checks_count }} of {{ case.audit.failed_check_results.count }} issues fixed
            </td>
        </tr>
    </tbody>
</table>
