<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">Final website compliance decision</h2>
    </div>
</div>
<table class="govuk-table amp-accordion-table">
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header amp-width-one-half">
                Final website compliance decision
            </th>
            <td class="govuk-table__cell amp-width-one-half">
                {{ case.get_website_state_final_display }}
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header amp-width-one-half">
                Final website compliance decision notes
            </th>
            <td class="govuk-table__cell amp-width-one-half amp-notes">
                {{ case.website_state_notes_final|markdown_to_html }}
            </td>
        </tr>
    </tbody>
</table>
