<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="final-decision" class="govuk-heading-l">Final decision</h2>
    </div>
    <div class="govuk-grid-column-one-thirds">
        <div class="govuk-button-group" style="flex-direction:row-reverse">
            <a href="{% url 'cases:edit-final-decision' case.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                Edit final decision
            </a>
        </div>
    </div>
</div>
<table class="govuk-table">
    <tbody class="govuk-table__body">
        {% for row in final_decision_rows %}
            {% include 'cases/helpers/detail_row.html' with row=row %}
        {% endfor %}
    </tbody>
</table>
