<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body-m">
            <b>Report ready for QA process</b>
            |
            <a href="{% url 'cases:edit-qa-ready-for-process' case.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                Edit
            </a>
        </p>
    </div>
</div>
<table class="govuk-table amp-accordion-table">
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">
                Report ready to be reviewed
            </th>
            <td class="govuk-table__cell amp-width-one-half">
                {{ case.get_report_review_status_display }}
            </td>
        </tr>
    </tbody>
</table>
