<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="case-reminder" class="govuk-heading-l">Reminder</h2>
    </div>
    <div class="govuk-grid-column-one-thirds">
        <div class="govuk-button-group" style="flex-direction:row-reverse">
            {% if case.reminder %}
                <a href="{% url 'reminders:edit-reminder' case.reminder.id %}"
            {% else %}
                <a href="{% url "reminders:reminder-create" case.id %}"
            {% endif %}
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                Edit reminder
            </a>
        </div>
    </div>
</div>
{% if case.reminder %}
    <table class="govuk-table">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header amp-width-one-half">Due date</th>
                <th scope="row" class="govuk-table__header amp-width-one-half">Details</th>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell amp-width-one-half">{{ case.reminder.due_date|date:"d/m/Y" }}</td>
                <td class="govuk-table__cell amp-width-one-half"><p class="govuk-body-m cases-notes">{{ case.reminder.description }}</p></td>
            </tr>
        </tbody>
    </table>
{% else %}
    <p class="govuk-body">This case does not have a reminder set</p>
{% endif %}
