<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body-m">
            <b>Report details</b>
            |
            <a href="{% url 'cases:edit-report-details' case.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                Edit
            </a>
        </p>
    </div>
</div>
<table class="govuk-table amp-accordion-table">
    <tbody class="govuk-table__body">
        {% if case.report %}
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Preview report</th>
                <td class="govuk-table__cell amp-width-one-half">
                    {% if case.report %}
                        {% include 'cases/helpers/report_link_draft.html' %}
                    {% else %}
                        None
                    {% endif %}
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">View published HTML report</th>
                <td class="govuk-table__cell amp-width-one-half">
                    {% if case.report.latest_s3_report %}
                        <a id="latest_s3_report" href="{{ case.published_report_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                            {{ case.report.latest_s3_report }}
                        </a>
                    {% else %}
                        None
                    {% endif %}
                </td>
            </tr>
            {% if case.report %}
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Report views</th>
                    <td class="govuk-table__cell amp-width-one-half">
                        {{ number_of_visits  }}
                        (<a href="{% url 'reports:report-metrics-view' case.report.id %}" class="govuk-link govuk-link--no-visited-state">View visits log</a>)
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Unique visitors to report</th>
                    <td class="govuk-table__cell amp-width-one-half">
                        {{ number_of_unique_visitors  }}
                        (<a href="{% url 'reports:report-metrics-view' case.report.id %}" class="govuk-link govuk-link--no-visited-state">View visits log</a>)
                    </td>
                </tr>
            {% endif %}
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Notes</th>
                <td class="govuk-table__cell amp-width-one-half amp-notes">{{ case.report.notes|markdown_to_html }}</td>
            </tr>
        {% else %}
            <p class="govuk-body">
                A report does not exist for this case. Create a report in
                <a href="{% url 'cases:edit-report-details' case.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                    report details.
                </a>
            </p>
        {% endif %}
    </tbody>
</table>
