<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body-m">
            <b>Report correspondence</b>
            {% if case.testing_methodology == "platform" %}
                |
                <a href="{% url 'cases:edit-report-correspondence' case.id %}"
                    class="govuk-link govuk-link--no-visited-state"
                    rel="noreferrer noopener">
                    Edit
                </a>
            {% endif %}
        </p>
    </div>
</div>
<table class="govuk-table amp-case-accordion">
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">
                Public sector body is unresponsive
            </th>
            <td class="govuk-table__cell amp-width-one-half">{{ case.get_no_psb_contact_display }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Report sent on</th>
            <td class="govuk-table__cell amp-width-one-half">{{ case.report_sent_date|amp_date }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal">Report visits</th>
            <td class="govuk-table__cell">
                <span class="govuk-hint">
                    {% if case.report %}
                        {{ number_of_visits }}
                        (<a href="{% url 'reports:report-metrics-view' case.report.id %}" class="govuk-link govuk-link--no-visited-state">View visits log</a>)
                    {% else %}
                        None
                    {% endif %}
                </span>
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal">Unique report visits</th>
            <td class="govuk-table__cell">
                <span class="govuk-hint">
                    {% if case.report %}
                        {{ number_of_unique_visitors }}
                        (<a href="{% url 'reports:report-metrics-view' case.report.id %}" class="govuk-link govuk-link--no-visited-state">View visits log</a>)                </span>
                    {% else %}
                        None
                    {% endif %}
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">1-week followup due</th>
            <td class="govuk-table__cell amp-width-one-half">{{ case.report_followup_week_1_due_date|amp_date }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal">1-week followup sent</th>
            <td class="govuk-table__cell">{{ case.report_followup_week_1_sent_date|amp_date }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal">4-week followup due</th>
            <td class="govuk-table__cell">{{ case.report_followup_week_4_due_date|amp_date }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal">4-week followup sent</th>
            <td class="govuk-table__cell">{{ case.report_followup_week_4_sent_date|amp_date }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal">Report acknowledged</th>
            <td class="govuk-table__cell amp-width-one-half">{{ case.report_acknowledged_date|amp_date }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal">Zendesk ticket URL</th>
            <td class="govuk-table__cell amp-width-one-half">
                {% if case.zendesk_url %}
                    <a href="{{ case.zendesk_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                        {{ case.zendesk_url }}
                    </a>
                {% else %}
                    None
                {% endif %}
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal">Correspondence notes</th>
            <td class="govuk-table__cell amp-notes">{{ case.correspondence_notes|markdown_to_html }}</td>

        </tr>
    </tbody>
</table>
