<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% include 'audits/helpers/retest_nav_contents.html' with on_view_case=True %}
        {% include 'audits/details/retest_metadata.html' with on_view_case=True %}
        {% if audit.case.psb_response %}
            {% for page in audit.testable_pages %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <p id="retest-{{ page.anchor }}" class="govuk-body-m">
                            <b>12-week {{ page }} retest</b>
                            |
                            <a href="{% url 'audits:edit-audit-retest-page-checks' page.id %}"
                                class="govuk-link govuk-link--no-visited-state"
                                rel="noreferrer noopener">
                                Edit 12-week retest &gt; Retesting {{ page }}
                            </a>
                        </p>
                    </div>
                </div>
                {% if page.retest_page_missing_date %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <p class="govuk-body-m">
                                This page has been removed by the organisation.
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% if page.failed_check_results %}
                                <table class="govuk-table view-test-accordion-table">
                                    {% include 'audits/helpers/retest_page_comparison.html' with check_results=page.failed_check_results %}
                                </table>
                            {% else %}
                                <p class="govuk-body-m">There are no recorded errors on this page</p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% include 'audits/details/retest_website_decision.html' with on_view_case=True %}
        {% endif %}
        {% include 'audits/details/retest_statement.html' with on_view_case=True %}
        {% include 'audits/details/retest_statement_decision.html' with on_view_case=True %}
    </div>
</div>
