<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-s">12-week retest</h2>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="govuk-button-group amp-flex-end">
            <a href="{% url 'cases:edit-twelve-week-retest' case.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                Edit 12-week retest
            </a>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% include 'audits/helpers/retest_nav_contents.html' with on_case_view=True %}
        {% include 'audits/details/retest_metadata.html' with on_case_view=True %}
        {% if audit.case.psb_response %}
            {% for page in audit.testable_pages %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <h2 id="retest-{{ page.anchor }}" class="govuk-heading-s">12-week {{ page }} retest</h2>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-button-group amp-flex-end">
                            <a href="{% url 'audits:edit-audit-retest-page-checks' page.id %}"
                                class="govuk-link govuk-link--no-visited-state"
                                rel="noreferrer noopener">
                                Edit 12-week test &gt; {{ page|lower }} retest
                            </a>
                        </div>
                    </div>
                </div>
                {% if page.retest_page_missing_date %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <p class="govuk-body-m">
                                This page has been removed by the organisation.
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% if page.failed_check_results %}
                                <table class="govuk-table view-test-accordion-table">
                                    {% include 'audits/helpers/retest_page_comparison.html' with check_results=page.failed_check_results %}
                                </table>
                            {% else %}
                                <p class="govuk-body-m">There are no recorded errors on this page</p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% include 'audits/details/retest_website_decision.html' with on_case_view=True %}
        {% endif %}
        {% include 'audits/details/retest_statement.html' with on_case_view=True %}
        {% include 'audits/details/retest_statement_decision.html' with on_case_view=True %}
    </div>
</div>
