<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body-m">
            <b>Reviewing changes</b>
            {% if case.testing_methodology == "platform" %}
                |
                <a href="{% url 'cases:edit-review-changes' case.id %}"
                    class="govuk-link govuk-link--no-visited-state"
                    rel="noreferrer noopener">
                    Edit
                </a>
            {% endif %}
        </p>
    </div>
</div>
<table class="govuk-table amp-case-accordion">
    <tbody class="govuk-table__body">
        {% for row in review_changes_rows %}
            {% include 'cases/helpers/detail_row.html' with row=row %}
        {% endfor %}
    </tbody>
</table>
