<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Search inside case</h2>
        <div class="govuk-form-group">
            <input
                type="text"
                name="search_in_case"
                placeholder="Search"
                class="govuk-input"
                id="id_search_in_case">
        </div>
        <div class="govuk-button-group">
            <input
                id="search-in-case"
                type="submit"
                value="Search inside case"
                name="search_inside_case"
                class="govuk-button"
                data-module="govuk-button"
            />
            <input
                id="clear-search-in-case"
                type="submit"
                value="Clear search"
                name="clear_search_inside_case"
                class="govuk-button govuk-button--secondary"
                data-module="govuk-button"
            />
        </div>
    </div>
</div>
<div id="search-results"></div>
