<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% include 'audits/helpers/nav_contents.html' with on_view_case=True %}
        {% include 'audits/details/metadata.html' with on_view_case=True %}
        {% include 'audits/details/pages.html' with on_view_case=True %}
        {% for page in audit.testable_pages %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <p id="{{ page.anchor }}" class="govuk-body-m">
                        <b>{{ page }} test</b>
                        |
                        <a href="{% url 'audits:edit-audit-page-checks' page.id %}"
                            class="govuk-link govuk-link--no-visited-state"
                            rel="noreferrer noopener">
                            Edit test &gt; {{ page|lower }}
                        </a>
                    </p>
                </div>
            </div>
            {% include 'audits/details/page_check_results.html' %}
        {% endfor %}
        {% include 'audits/details/website_decision.html' with on_view_case=True %}
        {% include 'audits/details/statement.html' with on_view_case=True %}
        {% include 'audits/details/statement_decision.html' with on_view_case=True %}
        {% include 'audits/details/report_options.html' with on_view_case=True %}
        {% if audit.case.report_methodology == 'odt' %}
            {% include 'audits/details/report_text.html' with on_view_case=True %}
        {% endif %}
    </div>
</div>
