<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body-m">
            <b>12-week correspondence</b>
            |
            <a href="{% url 'cases:edit-twelve-week-correspondence' case.id %}"
                class="govuk-link govuk-link--no-visited-state"
                rel="noreferrer noopener">
                Edit
            </a>
        </p>
    </div>
</div>
<table class="govuk-table amp-accordion-table">
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Email template</th>
            <td class="govuk-table__cell amp-width-one-half">
                <a
                    href="{% url 'cases:twelve-week-correspondence-email' case.id %}"
                    class="govuk-link govuk-link--no-visited-state"
                >
                    View email template
                </a>
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">12-week deadline due</th>
            <td class="govuk-table__cell amp-width-one-half">{{ case.report_followup_week_12_due_date|amp_date }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">12-week update requested</th>
            <td class="govuk-table__cell amp-width-one-half">{{ case.twelve_week_update_requested_date|amp_date }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">1-week followup due</th>
            <td class="govuk-table__cell amp-width-one-half">{{ case.twelve_week_1_week_chaser_due_date|amp_date }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">1-week followup sent</th>
            <td class="govuk-table__cell amp-width-one-half">{{ case.twelve_week_1_week_chaser_sent_date|amp_date }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">12-week update received</th>
            <td class="govuk-table__cell amp-width-one-half">{{ case.twelve_week_correspondence_acknowledged_date|amp_date }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">No response to 12-week deadline</th>
            <td class="govuk-table__cell amp-width-one-half">{{ case.get_twelve_week_response_state_display }}</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">12-week correspondence notes</th>
            <td class="govuk-table__cell amp-notes amp-width-one-half">{{ case.twelve_week_correspondence_notes|markdown_to_html }}</td>
        </tr>
    </tbody>
</table>
