<table id="urls-table">
    <caption class="govuk-visually-hidden">Page name and URLs of the pages we checked</caption>
    <thead>
        <tr>
            <th id="name">Page Name</th>
            <th id="url">URL</th>
        </tr>
    </thead>
    <tbody>
        {% for row in section.visible_table_rows.all %}
            <tr valign="top" >
                <td headers="name">{{ row.cell_content_1|markdown_to_html }}</td>
                <td headers="url">{{ row.cell_content_2|markdown_to_html }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
