{% extends 'base.html' %}

{% load humanize %}

{% block title %}{{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {% include 'exports/breadcrumbs.html' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{{ sitemap.current_platform_page.get_name }}</h1>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="govuk-button-group amp-flex-end">
                    <a
                        href="{% url 'exports:export-create' %}?enforcement_body={{ enforcement_body }}"
                        role="button"
                        draggable="false"
                        class="govuk-button float-right"
                        data-module="govuk-button"
                    >
                        Create export
                    </a>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__cell">Cutoff date</th>
                            <th scope="col" class="govuk-table__cell">Number of cases</th>
                            <th scope="col" class="govuk-table__cell">Exporter</th>
                            <th scope="col" class="govuk-table__cell">Export date</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    {% for export in exports %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <a
                                    href="{% url 'exports:export-detail' export.id %}"
                                    class="govuk-link govuk-link--no-visited-state"
                                >{{ export.cutoff_date|amp_date }}</a>
                            </td>
                            <td class="govuk-table__cell">{{ export.exportcase_set.count }}</td>
                            <td class="govuk-table__cell">{{ export.exporter.get_full_name }}</td>
                            <td class="govuk-table__cell">
                                {% if export.export_date %}
                                    {{ export.export_date|amp_date }}
                                {% else %}
                                    Still in progress
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
{% endblock %}
