{% extends 'base.html' %}

{% load humanize %}

{% block title %}{{ sitemap.current_platform_page.get_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {% include 'exports/breadcrumbs.html' %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">{{ sitemap.current_platform_page.get_name }}</h1>
                {% include 'common/error_summary.html' %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-form-group">
                    <label class="govuk-label"><b>Status</b></label>
                    <p class="govuk-body-m">
                        Case closed and ready to be sent to enforcement body
                    </p>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label"><b>Enforcement body</b></label>
                    <p class="govuk-body-m">{{ enforcement_body|upper }}</p>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label"><b>Date filter</b></label>
                    <p class="govuk-body-m">
                        Date when compliance decision email sent to public sector body
                    </p>
                </div>
                <form method="post" action="{% url 'exports:export-create' %}?enforcement_body={{ enforcement_body }}">
                    {% csrf_token %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {% include 'common/amp_form_snippet.html' %}
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-button-group">
                            <input
                                type="submit"
                                value="Create"
                                name="save"
                                class="govuk-button"
                                data-module="govuk-button"
                            />
                            <a
                                href="{% url 'exports:export-list' %}"
                                class="govuk-link govuk-link--no-visited-state"
                            >
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
