{% extends 'common/case_form.html' %}

{% load static %}
{% load l10n %}

{% block breadcrumbs %}
    {% include 'exports/breadcrumbs.html' %}
{% endblock %}

{% block controls %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-button-group">
            <button class="copy-email-to-clipboard govuk-button govuk-button--secondary">
                Copy email template
            </button>
        </div>
    </div>
{% endblock %}

{% block preform %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div id="email-text" class="amp-email-template">
                <p>{{ case.organisation_name }} {{ case.case_number }} export {{ export.cutoff_date|amp_date }}</p>
                <table>
                    <tbody>
                        {% for column in export_columns %}
                            <tr>
                                <th scope="row">{{ column.column_header }}</th>
                                <td>{{ column.formatted_data }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block form %}{% endblock %}

{% block extrascript %}
    <script src="{% static 'js/cases_copy_email.js' %}"></script>
{% endblock %}
