<nav role="navigation" class="amp-nav-steps amp-margin-bottom-40">
    <h2 class="govuk-heading-m">Contents</h2>
    <div class="amp-left-border">
        <ul class="govuk-list amp-margin-bottom-10">
            {% if case.archive %}
                {% for archived_section in case.archived_sections %}
                    {% include 'cases/details/archive_section_link.html' with section=archived_section %}
                {% endfor %}
            {% endif %}
        </ul>
        {% include 'cases/helpers/case_nav.html' with case_nav_toc=True %}
    </div>
</nav>
