<nav role="navigation" class="amp-nav-steps amp-margin-bottom-40">
    <h2 class="govuk-heading-m">Contents</h2>
    <div class="amp-left-border">
        <ul class="govuk-list amp-margin-bottom-5">
            {% if case.archive %}
                {% for archived_section in case.archived_sections %}
                    {% include 'cases/details/archive_section_link.html' with section=archived_section %}
                {% endfor %}
            {% else %}
                {% include './archive_nav_content.html' with anchor='case-metadata' id='case-metadata' edit_name='cases:edit-case-metadata' name='Case metadata' complete=case.case_details_complete_date %}
                {% include './archive_nav_content.html' with anchor='test-results' id='test-results' edit_name='cases:edit-test-results' name='Testing details' complete=case.testing_details_complete_date %}
                {% include './archive_nav_content.html' with anchor='report-details' id='report-details' edit_name='cases:edit-report-details' name='Report details' complete=case.reporting_details_complete_date %}
                {% include './archive_nav_content.html' with anchor='qa-comments' id='qa-comments' edit_name='cases:edit-qa-comments' name='QA comments' complete=case.None %}
                {% include './archive_nav_content.html' with anchor='report-approved' id='report-approved' edit_name='cases:edit-report-approved' name='Report approved' complete=case.qa_auditor_complete_date %}
                {% include './archive_nav_content.html' with id='publish-report' edit_name='cases:edit-publish-report' name='Publish report' complete=case.publish_report_complete_date %}
                {% include './archive_nav_content.html' with anchor='zendesk-tickets' id='zendesk-tickets' edit_name='cases:zendesk-tickets' name='PSB Zendesk tickets' %}
                <li>
                    <ul class="govuk-list govuk-list--bullet amp-margin-bottom-10">
                        {% include './archive_nav_content.html' with anchor='contact-details' id='contact-details' edit_name='cases:manage-contact-details' name='Manage contact details' complete=case.manage_contact_details_complete_date %}
                        {% include './archive_nav_content.html' with anchor='request-contact-details' id='request-contact-details' edit_name='cases:edit-request-contact-details' name='Request contact details' complete=case.request_contact_details_complete_date %}
                        {% include './archive_nav_content.html' with anchor='one-week-contact-details' id='one-week-contact-details' edit_name='cases:edit-one-week-contact-details' name='One-week follow-up' complete=case.one_week_contact_details_complete_date %}
                        {% include './archive_nav_content.html' with anchor='four-week-contact-details' id='four-week-contact-details' edit_name='cases:edit-four-week-contact-details' name='Four-week follow-up' complete=case.four_week_contact_details_complete_date %}
                        {% include './archive_nav_content.html' with anchor='report-sent-on' id='report-sent-on' edit_name='cases:edit-report-sent-on' name='Report sent on' complete=case.report_sent_on_complete_date %}
                        {% include './archive_nav_content.html' with anchor='one-week-followup' id='one-week-followup' edit_name='cases:edit-report-one-week-followup' name='One week follow-up' complete=case.one_week_followup_complete_date %}
                        {% include './archive_nav_content.html' with anchor='four-week-followup' id='four-week-followup' edit_name='cases:edit-report-four-week-followup' name='Four week follow-up' complete=case.four_week_followup_complete_date %}
                        {% include './archive_nav_content.html' with anchor='report-acknowledged' id='report-acknowledged' edit_name='cases:edit-report-acknowledged' name='Report acknowledged' complete=case.report_acknowledged_complete_date %}
                        {% include './archive_nav_content.html' with anchor='12-week-update-requested' id='12-week-update-requested' edit_name='cases:edit-12-week-update-requested' name='12-week update requested' complete=case.twelve_week_update_requested_complete_date %}
                        {% include './archive_nav_content.html' with anchor='one-week-followup-final' id='one-week-followup-final' edit_name='cases:edit-12-week-one-week-followup-final' name='One week follow-up for final update' complete=case.one_week_followup_final_complete_date %}
                        {% include './archive_nav_content.html' with anchor='12-week-update-request-ack' id='12-week-update-request-ack' edit_name='cases:edit-12-week-update-request-ack' name='12-week update request acknowledged' complete=case.twelve_week_update_request_ack_complete_date %}
                        {% include './archive_nav_content.html' with anchor='no-psb-contact' id='no-psb-contact' edit_name='cases:edit-no-psb-response' name='Public sector body is unresponsive' %}
                    </ul>
                </li>
                {% include './archive_nav_content.html' with anchor='twelve-week-retest' id='twelve-week-retest' edit_name='cases:edit-twelve-week-retest' name='12-week retest' complete=case.twelve_week_retest_complete_date %}
                {% include './archive_nav_content.html' with anchor='review-changes' id='review-changes' edit_name='cases:edit-review-changes' name='Reviewing changes' complete=case.review_changes_complete_date %}
                {% include './archive_nav_content.html' with anchor='enforcement-recommendation' id='enforcement-recommendation' edit_name='cases:edit-enforcement-recommendation' name='Enforcement recommendation' complete=case.enforcement_recommendation_complete_date %}
                {% include './archive_nav_content.html' with anchor='case-close' id='case-close' edit_name='cases:edit-case-close' name='Closing the case' complete=case.case_close_complete_date %}
            {% endif %}
        </ul>
        <h3 class="govuk-heading-s amp-margin-bottom-5">Post case</h3>
        <ul class="govuk-list">
            {% for view_section in view_sections %}
                <li>
                    {% include 'common/view_accordion/toc_link.html' with section=view_section %}
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
