{% if case.test_type == 'detailed' %}
    <div class="amp-nav-steps">
        <ul class="govuk-list">
            <li>
                <a href="{% url 'detailed:create-case-note' case.id %}" target="_blank" class="govuk-link govuk-link--no-visited-state">
                    Open case notes</a>
                <span class="amp-new-window">&nbsp;&nbsp;&nbsp;</span>
            </li>
        </ul>
    </div>
{% endif %}
{% for platform_page_group in sitemap.platform_page_groups %}
    {% if platform_page_group.type == case_nav_type and platform_page_group.show %}
        {% if platform_page_group.name == sitemap.current_platform_page.platform_page_group.name or case.archive %}
            <p class="govuk-body-s amp-margin-bottom-5">
                {{ platform_page_group.name }}
                {% if platform_page_group.number_pages_and_subpages > 0 %}
                    ({{ platform_page_group.number_complete }}/{{ platform_page_group.number_pages_and_subpages }})
                {% endif %}
            </p>
            {% include 'cases/helpers/case_nav_group_pages.html' with section_selected=True %}
       {% else %}
            <details class="amp-nav-details"{% if platform_page_group.name == section_name %} open{% endif %}{% if platform_page_group.disabled %} disabled{% endif %}>
                <summary class="amp-nav-details__summary">
                    {{ platform_page_group.name }}
                    {% if platform_page_group.number_pages_and_subpages > 0 %}
                        ({{ platform_page_group.number_complete }}/{{ platform_page_group.number_pages_and_subpages }})
                    {% endif %}
                </summary>
                {% include 'cases/helpers/case_nav_group_pages.html' %}
            </details>
        {% endif %}
    {% endif %}
{% endfor %}
{% include 'common/frequently_used_links.html' %}
