<form method="post" action="{% url sitemap.current_platform_page.url_name case.id %}">
    {% csrf_token %}
    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
            {% include 'common/amp_field.html' with field=form.value %}
            {% include 'common/preview_markdown.html' with field_id=form.value.auto_id %}
        </div>
    </div>
    <div class="govuk-grid-row amp-margin-top-30">
        <div class="govuk-grid-column-full govuk-button-group">
            <input
                type="submit"
                value="Save"
                name="save"
                class="govuk-button"
                data-module="govuk-button"
            />
            <a
                href="{{ case.get_absolute_url }}"
                class="govuk-link govuk-link--no-visited-state"
            >
                Return to overview
            </a>
        </div>
    </div>
</form>
