<div class="amp-case-banner amp-case-banner-title-{{ case.tag_name_suffix }}">
    <p class="amp-margin-bottom-10 govuk-!-font-size-19">{{ case.case_identifier }}{% if case.archive %} [ARCHIVED]{% endif %}</p>
    <h1 class="govuk-!-font-size-36">{{ case.name_prefix }}</h1>
    <p class="govuk-!-font-size-24">{{ case.name_suffix }}</p>
</div>
<div class="amp-case-banner amp-case-banner-body amp-margin-bottom-10">
    <div class="amp-case-banner-row">
        <p>
            {% if case.auditor %}
                {{ case.auditor.get_full_name }}
            {% else %}
                No auditor
            {% endif %}
        </p>
        <div class="amp-vertical-line">
            &nbsp
        </div>
        <p>
            {% if case.test_type == 'mobile' %}
                <a href="{% url 'mobile:edit-case-status' case.id %}" class="govuk-link govuk-link--no-visited-state">
                    {{ case.get_status_display }}
                </a>
            {% elif case.test_type == 'detailed' %}
                <a href="{% url 'detailed:edit-case-status' case.id %}" class="govuk-link govuk-link--no-visited-state">
                    {{ case.get_status_display }}
                </a>
            {% else %}
                <a href="{% url 'simplified:status-workflow' case.id %}" class="govuk-link govuk-link--no-visited-state">
                    {{ case.get_status_display }}
                </a>
            {% endif %}
        </p>
        <div class="amp-vertical-line">
            &nbsp
        </div>
        <p>
            {% if case.reminder %}
                Reminder:
                <a href="{% url 'notifications:edit-reminder-task' case.reminder.id %}" class="govuk-link govuk-link--no-visited-state">
                    {{ case.reminder.date|date:'j M'}}
                </a>
            {% else %}
                <a href="{% url 'notifications:reminder-create' case.id %}" class="govuk-link govuk-link--no-visited-state">
                    No reminder set
                </a>
            {% endif %}
        </p>
        <div class="amp-vertical-line">
            &nbsp
        </div>
        <p>
            {% if case.test_type == 'mobile' %}
                {% if case.case_folder_url %}
                    <a href="{{ case.case_folder_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                        Case folder
                    </a>
                {% else %}
                    <a href="{% url 'mobile:edit-case-metadata' case.id %}#id_case_folder_url-label" class="govuk-link govuk-link--no-visited-state">
                        Enter case folder URL
                    </a>
                {% endif %}
            {% elif case.test_type == 'detailed' %}
                {% if case.case_folder_url %}
                    <a href="{{ case.case_folder_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                        Case folder
                    </a>
                {% else %}
                    <a href="{% url 'detailed:edit-case-metadata' case.id %}#id_case_folder_url-label" class="govuk-link govuk-link--no-visited-state">
                        Enter case folder URL
                    </a>
                {% endif %}
            {% else %}
                <a href="{{ case.home_page_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                    View website
                </a>
            {% endif %}
        </p>
        <div class="amp-vertical-line">
            &nbsp
        </div>
        <p>
            {% if case.test_type == 'detailed' %}
                <a href="{% url 'detailed:create-case-note' case.id %}" target="_blank" class="govuk-link govuk-link--no-visited-state">
                    Case notes</a>
            {% elif case.test_type == 'mobile' %}
                <a href="{% url 'mobile:create-case-note' case.id %}" target="_blank" class="govuk-link govuk-link--no-visited-state">
                    Case notes</a>
            {% else %}
                <a href="{% url 'simplified:create-case-note' case.id %}" target="_blank" class="govuk-link govuk-link--no-visited-state">
                    Case notes</a>
            {% endif %}
            <span class="amp-new-window">&nbsp;&nbsp;&nbsp;</span>
        </p>
    </div>
</div>
