<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body-l">
            <a href="{{ case.get_absolute_url }}"
                class="govuk-link govuk-link--no-visited-state">
                {{ case.full_name }}
            </a>
        </p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body amp-margin-bottom-5"><b>Case ID</b></p>
        <p class="govuk-body">{{ case.case_identifier }}</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body amp-margin-bottom-5"><b>Domain</b></p>
        <p class="govuk-body">{{ case.domain }}</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body amp-margin-bottom-5"><b>Date created</b></p>
        <p class="govuk-body">{{ case.created|amp_date }}</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body amp-margin-bottom-5"><b>Status</b></p>
        <p class="govuk-body">{{ case.get_status_display }}</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body amp-margin-bottom-5"><b>Auditor</b></p>
        <p class="govuk-body-m">
            {% if case.auditor.get_full_name %}
                {{ case.auditor.get_full_name }}
            {% else %}
                No auditor
            {% endif %}
        </p>
    </div>
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body amp-margin-bottom-5"><b>QA auditor</b></p>
        <p class="govuk-body-m">
            {% if case.reviewer.get_full_name %}
                {{ case.reviewer.get_full_name }}
            {% else %}
                No QA auditor
            {% endif %}
        </p>
    </div>
</div>
{% if case.latest_psb_zendesk_url or case.trello_url or case.audit or case.report or case.report_final_pdf_url %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-button-group">
                {% if case.latest_psb_zendesk_url %}
                    <a href="{{ case.latest_psb_zendesk_url }}"
                        class="govuk-link amp-margin-bottom-0"
                        rel="noreferrer noopener"
                        target="_blank"
                        rel="noreferrer noopener">Zendesk</a>
                {% endif %}
                {% if case.trello_url %}
                    <a href="{{ case.trello_url }}"
                        class="govuk-link amp-margin-bottom-0"
                        rel="noreferrer noopener"
                        target="_blank"
                        rel="noreferrer noopener">Trello</a>
                {% endif %}
                {% if case.audit %}
                    <a
                        href="{{ case.audit.get_absolute_url }}"
                        class="govuk-link govuk-link--no-visited-state amp-margin-bottom-0"
                    >
                        View test
                    </a>
                {% endif %}
                {% if case.report %}
                    <a
                        href="{% url 'simplified:edit-publish-report' case.id %}"
                        class="govuk-link govuk-link--no-visited-state amp-margin-bottom-0"
                    >
                        Report publisher
                    </a>
                {% elif case.report_final_pdf_url %}
                    <a
                        href="{{ case.report_final_pdf_url }}"
                        class="govuk-link govuk-link--no-visited-state amp-margin-bottom-0"
                        rel="noreferrer noopener"
                        target="_blank"
                    >
                        View final PDF report
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
