{% include 'cases/helpers/correspondence_overview_detail.html' %}
{% include 'cases/helpers/email_templates.html' %}
<details class="govuk-details amp-margin-bottom-10" data-module="govuk-details">
   <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Website contact links ({{ case.website_contact_links_count }})</span>
    </summary>
    <div class="govuk-details__text">
        {% include 'cases/helpers/contact_page_link.html' %}
        {% include 'cases/helpers/statement_page_link.html' %}
    </div>
</details>
{% include 'cases/helpers/zendesk_tickets.html' %}
