        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">{{ row.label }}</th>
            <td class="govuk-table__cell amp-width-one-half{% if row.type == 'notes' %} amp-notes{% endif %}">
                {% if row.label == 'Auditor' %}
                    {% if row.value %}
                        <a href="{% url 'cases:case-list' %}?auditor={{ case.auditor.id }}" rel="noreferrer noopener" class="govuk-link">
                            {{ row.value }}
                        </a>
                    {% else %}
                        {{ row.value }}
                    {% endif %}
                {% elif row.type == 'url' %}
                    {% if row.value %}
                        <a href="{{ row.value }}"
                            rel="noreferrer noopener"
                            {% if row.external_url %}target="_blank"{% endif %}
                            class="govuk-link {% if not row.external_url %}govuk-link--no-visited-state{% endif %}">
                            {% if row.extra_label %}
                                {{ row.extra_label }}
                            {% else %}
                                {{ row.value }}
                            {% endif %}
                        </a>
                    {% else %}
                        None
                    {% endif %}
                {% elif row.type == 'notes' %}
                    {% if row.value %}{{ row.value|markdown_to_html }}{% endif %}
                {% elif row.type == 'date' %}
                    {{ row.value|amp_date }}
                {% else %}
                    {{ row.value }}
                {% endif %}
            </td>
        </tr>
