        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-half">{{ row.label }}</th>
            <td class="govuk-table__cell govuk-!-width-one-half">
                {% if row.label == 'Auditor' %}
                    {% if row.value %}
                        <a href="{% url 'cases:case-list' %}?auditor={{ case.auditor.id }}" rel="noreferrer noopener" class="govuk-link">
                            {{ row.value }}
                        </a>
                    {% else %}
                        {{ row.value }}
                    {% endif %}
                {% elif row.type == 'url' %}
                    {% if row.value %}
                        <a href="{{ row.value }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                            {% if row.extra_label %}
                                {{ row.extra_label }}
                            {% else %}
                                {{ row.value }}
                            {% endif %}
                        </a>
                    {% else %}
                        None
                    {% endif %}
                {% elif row.type == 'notes' %}
                    {% if row.value %}<p class="govuk-body-m cases-notes">{{ row.value }}</p>{% endif %}
                {% elif row.type == 'date' %}
                    {{ row.value|date:"d/m/Y" }}
                {% else %}
                    {{ row.value }}
                {% endif %}
            </td>
        </tr>
