<h3 class="govuk-heading-m amp-margin-bottom-5">Frequently used links</h3>
<ul class="govuk-list">
    <li>
        <a href="{% url 'cases:outstanding-issues' case.id %}?view=Page view" rel="noreferrer noopener" class="govuk-link">
            View outstanding issues
        </a>
    </li>
    <li>
        <a href="{{ case.home_page_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
            Link to website
        </a>
    </li>
    {% if case.zendesk_url %}
        <li>
            <a href="{{ case.zendesk_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                Zendesk
            </a>
        </li>
    {% endif %}
    {% if case.trello_url %}
        <li>
            <a href="{{ case.trello_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                Trello
            </a>
        </li>
    {% endif %}
    <li>
        {% if case.audit.accessibility_statement_page.url %}
            <a href="{{ case.audit.accessibility_statement_page.url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                Link to accessibility statement
            </a>
        {% else %}
            No accessibility statement
        {% endif %}
    </li>
</ul>
