{% if case.archive %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-notification-banner" role="region" aria-labelledby="banner-title-compliant-website" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="banner-title-compliant-website">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-body">
                        This case has been made read only due to the case using a legacy process.
                    </p>
                    <p class="govuk-body">
                        Post case options are still available for editing.
                    </p>
                    <p class="govuk-body">
                        If you require changes to be made, contact a system administrator.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endif %}
