{% if case.archive %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Why is this case archived?
                    </span>
                </summary>
                <div class="amp-preview govuk-details__text">
                    <p class="govuk-body">
                        This case is using a legacy process that has been phased out, and it is no longer editable.
                        The archived case data can be viewed in
                        <a href="{% url 'cases:case-view-and-search' case.id %}" rel="noreferrer noopener" class="govuk-link govuk-link--no-visited-state">
                            view and search all case data</a>.
                    </p>
                    <p class="govuk-body">
                        If you need to make changes to the case, contact a system administrator.
                    </p>
                    <p class="govuk-body">
                        The post-case equality body process remains accessible.
                    </p>
                </div>
            </details>
        </div>
    </div>
{% endif %}
