<nav role="navigation" class="amp-margin-bottom-40">
    <h2 class="govuk-heading-m">Contents</h2>
    <div class="amp-left-border">
        <ul class="govuk-list amp-margin-bottom-5">
            {% if case.archive %}
                {% for archived_section in case.archived_sections %}
                    {% include 'cases/details/archive_section_link.html' with section=archived_section %}
                {% endfor %}
            {% else %}
                {% include './nav_content.html' with id='case-details' edit_name='cases:edit-case-details' name='Case details' complete=case.case_details_complete_date %}
                {% include './nav_content.html' with id='test-results' edit_name='cases:edit-test-results' name='Testing details' complete=case.testing_details_complete_date %}
                {% include './nav_content.html' with id='report-details' edit_name='cases:edit-report-details' name='Report details' complete=case.reporting_details_complete_date %}
                {% include './nav_content.html' with id='qa-process' edit_name='cases:edit-qa-process' name='QA process' complete=case.qa_process_complete_date %}
                {% include './nav_content.html' with id='cores-overview' edit_name='cases:edit-cores-overview' name='Correspondence overview' complete=case.cores_overview_complete_date %}
                <li>
                    <ul class="govuk-list govuk-list--bullet amp-margin-bottom-10">
                        {% include './nav_content.html' with id='find-contact-details' edit_name='cases:edit-find-contact-details' name='Find contact details' complete=case.find_contact_details_complete_date %}
                        {% include './nav_content.html' with id='contact-details' edit_name='cases:edit-contact-details' name='Contact details' complete=case.contact_details_complete_date %}
                        {% include './nav_content.html' with id='report-sent-on' edit_name='cases:edit-report-sent-on' name='Report sent on' complete=case.report_sent_on_complete_date %}
                        {% include './nav_content.html' with id='one-week-followup' edit_name='cases:edit-one-week-followup' name='One week follow-up' complete=case.one_week_followup_complete_date %}
                        {% include './nav_content.html' with id='four-week-followup' edit_name='cases:edit-four-week-followup' name='Four week follow-up' complete=case.four_week_followup_complete_date %}
                        {% include './nav_content.html' with id='report-acknowledged' edit_name='cases:edit-report-acknowledged' name='Report acknowledged' complete=case.report_acknowledged_complete_date %}
                        {% include './nav_content.html' with id='12-week-update-requested' edit_name='cases:edit-12-week-update-requested' name='12-week update requested' complete=case.twelve_week_update_requested_complete_date %}
                        {% include './nav_content.html' with id='one-week-followup-final' edit_name='cases:edit-one-week-followup-final' name='One week follow-up for final update' complete=case.one_week_followup_final_complete_date %}
                        {% include './nav_content.html' with id='12-week-update-request-ack' edit_name='cases:edit-12-week-update-request-ack' name='12-week update request acknowledged' complete=case.twelve_week_update_request_ack_complete_date %}
                        {% include './nav_content.html' with id='no-psb-contact' edit_name='cases:edit-no-psb-response' name='Public sector body is unresponsive' %}
                    </ul>
                </li>
                {% include './nav_content.html' with id='twelve-week-retest' edit_name='cases:edit-twelve-week-retest' name='12-week retest' complete=case.twelve_week_retest_complete_date %}
                {% include './nav_content.html' with id='review-changes' edit_name='cases:edit-review-changes' name='Reviewing changes' complete=case.review_changes_complete_date %}
                {% include './nav_content.html' with id='case-close' edit_name='cases:edit-case-close' name='Closing the case' complete=case.case_close_complete_date %}
            {% endif %}
        </ul>
        <h3 class="govuk-heading-s amp-margin-bottom-5">Post case</h3>
        <ul class="govuk-list">
            {% if case.variant == 'close-case' %}
                {% include './nav_content.html' with id='statement-enforcement' edit_name='cases:edit-statement-enforcement' name='Statement enforcement' %}
                {% include './nav_content.html' with id='equality-body-metadata' edit_name='cases:edit-equality-body-metadata' name='Equality body metadata' %}
                {% include './nav_content.html' with id='equality-body-correspondence' edit_name='cases:list-equality-body-correspondence' name='Equality body correspondence' %}
                {% include './nav_content.html' with id='retest-overview' edit_name='cases:edit-retest-overview' name='Retest overview' %}
            {% else %}
                {% include './nav_content.html' with id='equality-body-metadata' edit_name='cases:edit-equality-body-metadata' name='Equality body metadata' %}
                {% include './nav_content.html' with id='legacy-end-of-case' edit_name='cases:legacy-end-of-case' name='Legacy end of case data' %}
            {% endif %}
        </ul>
        {% include 'common/frequently_used_links.html' %}
    </div>
</nav>
