{% if case.archive %}
{% else %}
    {% for case_section in case_sections %}
        {% if case_section.name == current_section_name %}
            <p class="govuk-body-s amp-margin-bottom-5">
                {{ case_section.name }}
                ({{ case_section.number_complete }}/{{ case_section.pages|length }})
            </p>
            <div class="amp-nav-details__text">
                <ul class="govuk-list amp-margin-bottom-5">
                    {% for page in case_section.pages %}
                        <li>
                            {% if page.name == current_page_name and not current_subpage_name %}
                                <b>{{ page.name }}</b>
                            {% else %}
                                <a href="{{ page.url }}" class="govuk-link govuk-link--no-visited-state">{{ page.name }}</a>
                            {% endif %}
                            {% if page.complete %}<span class="govuk-visually-hidden">complete</span> &check;{% endif %}
                            {% if page.subpages %}
                                <ul class="amp-nav-list-subpages">
                                    {% for subpage in page.subpages %}
                                        <li>
                                            {% if subpage.name|slugify == current_subpage_name|slugify %}
                                                <b>{{ subpage.name }}</b>
                                            {% else %}
                                                <a href="{{ subpage.url }}" class="govuk-link govuk-link--no-visited-state">{{ subpage.name }}</a>
                                                {% if subpage.complete %}<span class="govuk-visually-hidden">complete</span> &check;{% endif %}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <details class="amp-nav-details"{% if case_section.name == section_name %} open{% endif %}{% if case_section.disabled %} disabled{% endif %}>
                <summary class="amp-nav-details__summary">
                    {{ case_section.name }}
                    ({{ case_section.number_complete }}/{{ case_section.pages|length }})
                </summary>
                <div class="amp-nav-details__text">
                    <ul class="govuk-list amp-margin-bottom-5">
                        {% for page in case_section.pages %}
                            <li>
                                <a href="{{ page.url }}" class="govuk-link govuk-link--no-visited-state">{{ page.name }}</a>
                                {% if page.complete %}<span class="govuk-visually-hidden">complete</span> &check;{% endif %}
                                {% if page.subpages %}
                                    <ul class="amp-nav-list-subpages">
                                        {% for subpage in page.subpages %}
                                            <li>
                                                <a href="{{ subpage.url }}" class="govuk-link govuk-link--no-visited-state">{{ subpage.name }}</a>
                                                {% if subpage.complete %}<span class="govuk-visually-hidden">complete</span> &check;{% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </details>
        {% endif %}
    {% endfor %}
{% endif %}
