<nav role="navigation">
    {% include "cases/helpers/status_requirements.html" %}
    {% if current_page != 'reminders' %}
        <h2 class="govuk-heading-m amp-margin-bottom-5">Reminder</h2>
        <p class="govuk-body-m">
        {% if case.reminder %}
            <a href="{% url 'reminders:edit-reminder' case.reminder.id %}" class="govuk-link govuk-link--no-visited-state">
                Reminder due {{ case.reminder.due_date|amp_date }}
            </a>
        {% else %}
            <a href="{% url 'reminders:reminder-create' case.id %}" class="govuk-link govuk-link--no-visited-state">
                Create reminder
            </a>
        {% endif %}
        </p>
    {% endif %}
    {% if case.archive %}
        <h2 class="govuk-heading-m amp-margin-bottom-5">Post case</h2>
    {% else %}
        <h2 class="govuk-heading-m amp-margin-bottom-5">Case steps</h2>
        <ul class="govuk-list">
            {% include './nav_step.html' with edit_name='cases:edit-case-details' name='Case details' complete=case.case_details_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-test-results' name='Testing details' complete=case.testing_details_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-report-details' name='Report details' complete=case.reporting_details_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-qa-process' name='QA process' complete=case.qa_process_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-contact-details' name='Contact details' complete=case.contact_details_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-report-correspondence' name='Report correspondence' complete=case.report_correspondence_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-twelve-week-correspondence' name='12-week correspondence' complete=case.twelve_week_correspondence_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-twelve-week-retest' name='12-week retest' complete=case.twelve_week_retest_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-review-changes' name='Reviewing changes' complete=case.review_changes_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-case-close' name='Closing the case' complete=case.case_close_complete_date %}
        </ul>
        <h3 class="govuk-heading-s amp-margin-bottom-5">Post case</h3>
    {% endif %}
    <ul class="govuk-list">
        {% if case.variant == 'close-case' %}
            {% include './nav_step.html' with edit_name='cases:edit-statement-enforcement' name='Statement enforcement' %}
            {% include './nav_step.html' with edit_name='cases:edit-equality-body-metadata' name='Equality body metadata' %}
            {% include './nav_step.html' with edit_name='cases:list-equality-body-correspondence' name='Equality body correspondence' %}
            {% include './nav_step.html' with edit_name='cases:edit-retest-overview' name='Retest overview' %}
        {% else %}
            {% include './nav_step.html' with edit_name='cases:edit-equality-body-metadata' name='Equality body metadata' %}
            {% include './nav_step.html' with edit_name='cases:legacy-end-of-case' name='Legacy end of case data' %}
        {% endif %}
    </ul>
    {% include 'common/frequently_used_links.html' %}
</nav>
