<nav role="navigation" class="amp-nav-steps">
    {% if case.archive %}
        <h2 class="govuk-heading-m amp-margin-bottom-5">Post case</h2>
        <ul class="govuk-list">
            {% include './nav_step.html' with edit_name='cases:edit-statement-enforcement' name='Statement enforcement' %}
            {% include './nav_step.html' with edit_name='cases:edit-equality-body-metadata' name='Equality body metadata' %}
            {% include './nav_step.html' with edit_name='cases:list-equality-body-correspondence' name='Equality body correspondence' %}
            {% include './nav_step.html' with edit_name='cases:edit-retest-overview' name='Retest overview' %}
            {% include './nav_step.html' with edit_name='cases:legacy-end-of-case' name='Legacy end of case data' %}
        </ul>
    {% else %}
        <h2 class="govuk-heading-m amp-margin-bottom-5">Case steps</h2>
        <ul class="govuk-list">
            {% include './nav_step.html' with edit_name='cases:edit-test-results' name='Testing details' complete=case.testing_details_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-report-details' name='Report details' complete=case.reporting_details_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-qa-comments' name='QA comments' complete=case.None %}
            {% include './nav_step.html' with edit_name='cases:edit-report-approved' name='Report approved' complete=case.qa_auditor_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-publish-report' name='Publish report' complete=case.publish_report_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-find-contact-details' name='Find contact details' complete=case.find_contact_details_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-contact-details' name='Contact details' complete=case.contact_details_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-report-sent-on' name='Report sent on' complete=case.report_sent_on_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-one-week-followup' name='One week follow-up' complete=case.one_week_followup_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-four-week-followup' name='Four week follow-up' complete=case.four_week_followup_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-report-acknowledged' name='Report acknowledged' complete=case.report_acknowledged_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-12-week-update-requested' name='12-week update requested' complete=case.twelve_week_update_requested_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-one-week-followup-final' name='One week follow-up for final update' complete=case.one_week_followup_final_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-12-week-update-request-ack' name='12-week update request acknowledged' complete=case.twelve_week_update_request_ack_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-cores-overview' name='Correspondence overview' complete=case.cores_overview_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-twelve-week-retest' name='12-week retest' complete=case.twelve_week_retest_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-review-changes' name='Reviewing changes' complete=case.review_changes_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-enforcement-recommendation' name='Enforcement recommendation' complete=case.enforcement_recommendation_complete_date %}
            {% include './nav_step.html' with edit_name='cases:edit-case-close' name='Closing the case' complete=case.case_close_complete_date %}
        </ul>
        <h3 class="govuk-heading-s amp-margin-bottom-5">Post case</h3>
        <ul class="govuk-list">
            {% include './nav_step.html' with edit_name='cases:edit-statement-enforcement' name='Statement enforcement' %}
            {% include './nav_step.html' with edit_name='cases:edit-equality-body-metadata' name='Equality body metadata' %}
            {% include './nav_step.html' with edit_name='cases:list-equality-body-correspondence' name='Equality body correspondence' %}
            {% include './nav_step.html' with edit_name='cases:edit-retest-overview' name='Retest overview' %}
        </ul>
    {% endif %}
    {% include 'common/frequently_used_links.html' %}
</nav>
