<h2 class="govuk-heading-m">Overview</h2>
<div class="amp-left-border">
    <h2 class="govuk-heading-s amp-margin-bottom-5">Date created</h2>
    <p class="govuk-body-m amp-margin-bottom-10">{{ case.created|amp_date }}</p>
    <h2 class="govuk-heading-s amp-margin-bottom-5">Last edited</h2>
    <p class="govuk-body-m amp-margin-bottom-10">{{ case.last_edited|amp_date }}</p>
    {% include 'cases/helpers/overview_status.html' %}
    {% include "audits/helpers/numbers_of_issues.html" with audit=case.audit %}
    <h2 class="govuk-heading-s amp-margin-bottom-5">Comments</h2>
    <p class="govuk-body-m amp-margin-bottom-10">
        <a href="{% url 'cases:edit-qa-comments' case.id %}" class="govuk-link govuk-link--no-visited-state">
            {{ case.qa_comments_count }} comment{% if case.qa_comments_count != 0 %}s{% endif %} on QA
        </a?
    </p>
</div>
