<h2 class="govuk-heading-m">Overview</h2>
<div class="amp-left-border">
    <h2 class="govuk-heading-s amp-margin-bottom-5">Date created</h2>
    <p class="govuk-body-m amp-margin-bottom-10">{{ case.created|amp_date }}</p>
    <h2 class="govuk-heading-s amp-margin-bottom-5">Last edited</h2>
    <p class="govuk-body-m amp-margin-bottom-10">{{ case.last_edited|amp_date }}</p>
    <h2 class="govuk-heading-s amp-margin-bottom-5">Auditor</h2>
    <p class="govuk-body-m amp-margin-bottom-10">{% if case.auditor %}{{ case.auditor.get_full_name }}{% else %}None{% endif %}</p>
    {% include 'cases/helpers/overview_status.html' %}
    <h2 class="govuk-heading-s amp-margin-bottom-5">Full URL</h2>
    <p class="govuk-body-m amp-margin-bottom-10">
        <a href="{{ case.home_page_url }}" class="govuk-link govuk-link--no-visited-state" target="_blank">
        {{ case.home_page_url }}
        </a>
    </p>
    <h2 class="govuk-heading-s amp-margin-bottom-5">Published report</h2>
    <p class="govuk-body-m amp-margin-bottom-10">
        {% if case.report.latest_s3_report %}
            <a href="{{ case.published_report_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
                View published HTML report
            </a>
        {% elif case.report %}
            Report has not been published. Publish report in
            <a href="{% url 'reports:report-publisher' case.report.id %}" class="govuk-link govuk-link--no-visited-state">report publisher</a>
        {% else %}
            No report has been created. Create report in
            <a href="{% url 'cases:edit-report-details' case.id %}" class="govuk-link govuk-link--no-visited-state">report details</a>
        {% endif %}
    </p>
    <h2 class="govuk-heading-s amp-margin-bottom-5">Website issues</h2>
    <p class="govuk-body-m amp-margin-bottom-10">{{ case.overview_issues_website }}</p>
    <h2 class="govuk-heading-s amp-margin-bottom-5">Statement issues</h2>
    <p class="govuk-body-m amp-margin-bottom-10">{{ case.overview_issues_statement|safe }}</p>
    <h2 class="govuk-heading-s amp-margin-bottom-5">Organisation</h2>
    <p class="govuk-body-m amp-margin-bottom-10">{{ case.organisation_name }}</p>
    <h2 class="govuk-heading-s amp-margin-bottom-5">
        Reminder
        {% if case.reminder %} due {{ case.reminder.due_date|amp_date }}{% endif %}
    </h2>
    {% if case.reminder %}
        <div class="amp-report-wrapper">
            {{ case.reminder.description }}
            (<a href="{% url 'reminders:edit-reminder' case.reminder.id %}" class="govuk-link govuk-link--no-visited-state">Edit</a>)
        </div>
    {% else %}
        <p class="govuk-body-m amp-margin-bottom-10">
            <a href="{% url 'reminders:reminder-create' case.id %}" class="govuk-link govuk-link--no-visited-state">
                Create reminder
            </a>
        </p>
    {% endif %}
    </div>
