<tr class="govuk-table__row">
    <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Test created</th>
    <td class="govuk-table__cell amp-width-one-half">{{ case.audit.date_of_test|amp_date }}</td>
</tr>
<tr class="govuk-table__row">
    <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Screen size</th>
    <td class="govuk-table__cell amp-width-one-half">{{ case.audit.get_screen_size_display }}</td>
</tr>
<tr class="govuk-table__row">
    <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Exemptions</th>
    <td class="govuk-table__cell amp-width-one-half">{{ case.audit.get_exemptions_state_display }}</td>
</tr>
<tr class="govuk-table__row">
    <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Exemptions notes</th>
    <td class="govuk-table__cell amp-width-one-half amp-notes">{{ case.audit.exemptions_notes|markdown_to_html }}</td>
</tr>
<tr class="govuk-table__row">
    <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Website issues</th>
    <td class="govuk-table__cell amp-width-one-half">{{ case.overview_issues_website }}</td>
</tr>
<tr class="govuk-table__row">
    <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Initial website compliance decision</th>
    <td class="govuk-table__cell amp-width-one-half">{{ case.get_website_compliance_state_initial_display }}</td>
</tr>
<tr class="govuk-table__row">
    <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Initial website compliance notes</th>
    <td class="govuk-table__cell amp-width-one-half amp-notes">{{ case.compliance.website_compliance_notes_initial|markdown_to_html }}</td>
</tr>
<tr class="govuk-table__row">
    <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Statement exists</th>
    <td class="govuk-table__cell amp-width-one-half">
        {% if case.audit.accessibility_statement_initially_found %}Yes{% else %}No{% endif %}
    </td>
</tr>
<tr class="govuk-table__row">
    <th scope="row" class="govuk-table__cell amp-font-weight-normal amp-width-one-half">Statement issues</th>
    <td class="govuk-table__cell amp-width-one-half">{{ case.overview_issues_statement }}</td>
</tr>
