<p class="govuk-body-m amp-margin-bottom-5"><b>QA links</b></p>
<p class="govuk-body-m amp-margin-bottom-5">
    {% if case.audit %}
        <a href="{% url 'audits:audit-detail' case.audit.id %}" class="govuk-link govuk-link--no-visited-state">Go to Case > View test</a>
    {% else %}
        <a href="{% url 'cases:edit-test-results' case.id %}" class="govuk-link govuk-link--no-visited-state">Go to Testing details</a>
    {% endif %}
</p>
<p class="govuk-body-m amp-margin-bottom-5">
    {% if case.report %}
        <a href="{% url 'reports:report-publisher' case.report.id %}" class="govuk-link govuk-link--no-visited-state">Go to Case > Report publisher</a>
    {% else %}
        <a href="{% url 'cases:edit-report-details' case.id %}" class="govuk-link govuk-link--no-visited-state">Go to Report details</a>
    {% endif %}
</p>
<p class="govuk-body-m amp-margin-bottom-5">
    <a href="{% url 'cases:edit-qa-comments' case.id %}" class="govuk-link govuk-link--no-visited-state">
        Go to QA comments ({{ case.qa_comments.count }} comment{% if case.qa_comments.count != 1 %}s{% endif %})</a>
</p>
<p class="govuk-body-m amp-margin-bottom-5">
    <a href="{% url 'cases:edit-report-approved' case.id %}" class="govuk-link govuk-link--no-visited-state">
        Go to Report approved</a>
</p>
<p class="govuk-body-m">
    <a href="{% url 'cases:edit-publish-report' case.id %}" class="govuk-link govuk-link--no-visited-state">
        Go to Publish report</a>
</p>
