<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-button-group">
        <input
            type="submit"
            value="Save and continue"
            name="save_continue"
            class="govuk-button"
            data-module="govuk-button"
        />
        <input
            type="submit"
            value="Save"
            name="save"
            class="govuk-button govuk-button--secondary"
            data-module="govuk-button"
        />
        <a
            href="{{ case.get_absolute_url }}"
            class="govuk-link govuk-link--no-visited-state"
        >
            Return to overview
        </a>
    </div>
</div>
{% include 'common/next_platform_page.html' %}
