<h2 class="govuk-heading-m amp-margin-bottom-5">Auditor</h2>
<p class="govuk-body-m">
    {% if case.auditor %}
        {{ case.auditor.get_full_name }}
    {% else %}
        None
    {% endif %}
</p>
<h2 class="govuk-heading-m amp-margin-bottom-5">Case status</h2>
<ul class="govuk-list">
    <li>{{ case.get_status_display }}</li>
    <li>
        <a href="{% url 'cases:status-workflow' case.id %}" class="govuk-link govuk-link--no-visited-state">
            View status workflow
        </a>
    </li>
</ul>
<h2 class="govuk-heading-m amp-margin-bottom-5">Published report</h2>
<p class="govuk-body-m">
    {% if case.report.latest_s3_report %}
        <a href="{{ case.published_report_url }}" rel="noreferrer noopener" target="_blank" class="govuk-link">
            View final HTML report
        </a>
    {% else %}
        None
    {% endif %}
</p>
