<details class="govuk-details" data-module="govuk-details">
   <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">View zendesk tickets</span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body-m">
            <a href="{% url 'cases:zendesk-tickets' case.id %}" class="govuk-link govuk-link--no-visited-state">
                Edit/Add PSB Zendesk tickets</a>
        </p>
        {% if case.zendesk_tickets %}
            {% include 'cases/helpers/zendesk_tickets_table.html' %}
        {% endif %}
    </div>
</details>
