{% extends 'base.html' %}

{% block title %}Page not found{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <br />
                <h1 class="govuk-heading-xl"> Page not found </h1>
                <p class="govuk-body-l">
                    If you entered a web address, check it is correct or contact the auditor who sent the report.
                </p>
            </div>

        </div>
    </main>
</div>
{% endblock %}
