{% extends 'base.html' %}

{% block title %}Something has gone wrong{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l">Something has gone wrong</h1>
                <p class="govuk-body">The service is experiencing a problem and has been reported to the service owners</p>
                <p class="govuk-body">Error code: 500</p>
            </div>
        </div>
    </main>
</div>
{% endblock %}
