<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %}Your account details{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper">
        <h1 class="govuk-heading-l">Your account details</h1>
        <p class="govuk-body-l">You can change your details on this page</p>
        {% if messages %}
            {% for message in messages %}
                <div class="govuk-inset-text">{{ message }}</div>
            {% endfor %}
        {% endif %}

        {% include "forms/default.html" %}
    </main>
</div>
{% endblock %}
