{% extends 'common/case_form.html' %}

{% block preform %}
    {% include 'audits/helpers/statement_pages_twelve_week.html' %}

    {% if not audit.custom_statement_check_results %}
        <p class="govuk-body">No custom statement issues were initially entered</p>
    {% endif %}

    {% for custom_issue in audit.custom_statement_check_results %}
        <h2 id="custom-issue-{{ custom_issue.id }}" class="govuk-heading-s">
            <ul id="custom-issue-{{ custom_issue.id }}" class="govuk-body amp-horizontal-list">
                <li>
                    <b>Custom issue {{ custom_issue.issue_identifier }}</b>
                </li>
                <li aria-hidden="true"> | </li>
                <li>
                    <a href="{% url 'audits:edit-retest-initial-custom-issue-update' custom_issue.id %}" class="govuk-link govuk-link--no-visited-state">
                        Edit</a>
                </li>
            </ul>
        </h2>
        {% include 'audits/statement_checks/initial_custom_issue_detail.html' %}
        <h3 class="govuk-heading-s amp-margin-bottom-0">Mark this statement issue as resolved</h3>
        <p class="govuk-body">{{ custom_issue.get_retest_state_display }}</p>
        <hr class="amp-width-100 amp-margin-bottom-30" />
    {% endfor %}

    {% for custom_issue in audit.new_12_week_custom_statement_check_results %}
        <h2 id="custom-issue-{{ custom_issue.id }}" class="govuk-heading-s">
            <ul id="custom-issue-{{ custom_issue.id }}" class="govuk-body amp-horizontal-list">
                <li>
                    <b>12-week custom issue {{ custom_issue.issue_identifier }}</b>
                </li>
                <li aria-hidden="true"> | </li>
                <li>
                    <a href="{% url 'audits:edit-retest-new-12-week-custom-issue-update' custom_issue.id %}" class="govuk-link govuk-link--no-visited-state">
                        Edit</a>
                </li>
                <li>
                    <form method="post" action="{% url 'audits:edit-retest-12-week-custom-issue-delete' custom_issue.id %}">
                        {% csrf_token %}
                        <button type="submit" class="amp-button-as-link govuk-body amp-margin-bottom-0" role="link">Remove</button>
                    </form>
                </li>
            </ul>
        </h2>
        <h3 class="govuk-heading-s amp-margin-bottom-0">Issue description for organisation</h3>
        {% if custom_issue.retest_comment %}
            <div class="govuk-body amp-notes amp-margin-bottom-15">{{ custom_issue.retest_comment|markdown_to_html }}</div>
        {% else %}
            <p class="govuk-body">None</p>
        {% endif %}
        <h3 class="govuk-heading-s amp-margin-bottom-0">12-week internal notes</h3>
        {% if custom_issue.auditor_notes %}
            <div class="govuk-body amp-notes amp-margin-bottom-15">{{ custom_issue.auditor_notes|markdown_to_html }}</div>
        {% else %}
            <p class="govuk-body">None</p>
        {% endif %}
        <h3 class="govuk-heading-s amp-margin-bottom-0">Added</h3>
        <p class="govuk-body">12-week test</p>
        <h3 class="govuk-heading-s amp-margin-bottom-0">Mark this statement issue as resolved</h3>
        <p class="govuk-body">{{ custom_issue.get_retest_state_display }}</p>
        <hr class="amp-width-100 amp-margin-bottom-30" />
    {% endfor %}

    <p class="govuk-body">
        + <a href="{% url 'audits:edit-retest-12-week-custom-issue-create' audit.id %}" class="govuk-link govuk-link--no-visited-state">
            Add custom issue</a>
    </p>
{% endblock %}
