{% extends 'common/case_form.html' %}

{% block preform %}
    {% include 'audits/helpers/statement_pages.html' %}

    {% if not audit.custom_statement_check_results %}
        <p class="govuk-body">No custom statement issues have been entered</p>
    {% endif %}

    {% for custom_issue in audit.custom_statement_check_results %}
        <h2 id="{{ custom_issue.issue_identifier }}" class="govuk-heading-s">
            <ul class="govuk-body amp-horizontal-list">
                <li>
                    <b>Custom issue {{ custom_issue.issue_identifier }}</b>
                </li>
                <li aria-hidden="true"> | </li>
                <li>
                    <a href="{% url 'audits:edit-custom-issue-update' custom_issue.id %}" class="govuk-link govuk-link--no-visited-state">
                        Edit</a>
                </li>
                <li>
                    <a href="{% url 'audits:edit-custom-issue-delete-confirm' custom_issue.id %}" class="govuk-link govuk-link--no-visited-state">
                        Remove</a>
                </li>
            </ul>
        </h2>
        {% include 'audits/statement_checks/custom_issue_detail.html' %}
        <hr class="amp-width-100 amp-margin-bottom-30" />
    {% endfor %}

    <p class="govuk-body amp-margin-bottom-30">
        + <a href="{% url 'audits:edit-custom-issue-create' audit.id %}" class="govuk-link govuk-link--no-visited-state">
            Add custom issue
        </a>
    </p>
{% endblock %}
