{% extends 'common/case_form.html' %}

{% block preform %}
    {% include 'common/formset_error_summary.html' with formset=statement_check_results_formset %}
    {% include 'audits/helpers/statement_pages.html' %}
{% endblock %}

{% block form %}
    <form method="post" action="{% url sitemap.current_platform_page.url_name audit.id %}">
        {% csrf_token %}
        {% include 'common/form_errors.html' with errors=form.non_field_errors %}
        {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
        {% include 'audits/helpers/statement_check_formset.html' %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <hr class="amp-width-100 amp-margin-bottom-50" />
                {% for field in form.visible_fields %}
                    {% include 'common/amp_field.html' %}
                {% endfor %}
            </div>
        </div>
        {% include 'cases/helpers/save_continue_cancel.html' %}
    </form>
{% endblock %}
