<table class="govuk-table amp-accordion-table">
    <tbody class="govuk-table__body">
        {% for statement_check_result in statement_check_results %}
            <tr class="govuk-table__row ">
                <td class="govuk-table__cell amp-width-one-half">
                    {{ statement_check_result.statement_check.label }}
                </td>
                <td class="govuk-table__cell amp-width-one-half">
                    {{ statement_check_result.get_statement_check_result_display }}
                    {% if statement_check_result.report_comment  %}
                        <br><br>Auditors comment:
                        {{ statement_check_result.report_comment }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
