{% extends 'base.html' %}

{% block title %}{{ audit.case.organisation_name }} | {{ amp_page_name }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include 'common/case_banner.html' with case=audit.case %}
        </div>
    </div>
    {% include 'cases/helpers/breadcrumbs.html' with page_heading=amp_page_name %}
    <main id="main-content" class="govuk-main-wrapper amp-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include "cases/helpers/nav_details.html" %}
            </div>
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl amp-margin-bottom-15">{{ amp_page_name }}</h1>
                {% include "cases/helpers/messages.html" %}
                {% include 'audits/helpers/statement_pages.html' %}
                {% include 'common/error_summary.html' with formset=statement_check_results_formset %}
                {% block form %}
                <form method="post" action="{% url current_url_name audit.id %}">
                    {% csrf_token %}
                    {% include 'common/form_errors.html' with errors=form.non_field_errors %}
                    {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
                    {% include 'audits/helpers/statement_check_formset.html' %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <hr class="amp-width-100 amp-margin-bottom-30" />
                            {% for field in form.visible_fields %}
                                {% include 'common/amp_field.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-button-group">
                            {% include 'audits/helpers/save_continue_cancel.html' %}
                        </div>
                    </div>
                </form>
                {% endblock %}
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block extrascript %}
{% endblock %}
