{% extends 'audits/statement_checks/statement_formset_form.html' %}

{% block form %}
    <form method="post" action="{% url 'audits:edit-statement-custom' audit.id %}">
        {% csrf_token %}
        {% include 'common/form_errors.html' with errors=form.non_field_errors %}
        {% include 'common/form_hidden_fields.html' with hidden_fields=form.hidden_fields %}
        {{ custom_formset.management_form }}
        <table class="govuk-table">
            <tbody class="govuk-table__body">
            {% if custom_formset.forms %}
                {% for custom_form in custom_formset %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <h2 id="custom-{{ custom_form.instance.id }}" class="govuk-heading-m">Custom issue #{{ forloop.counter }}</h2>
                                    {% include 'common/form_errors.html' with errors=custom_form.non_field_errors %}
                                    {% include 'common/form_hidden_fields.html' with hidden_fields=custom_form.hidden_fields %}
                                    {% for field in custom_form.visible_fields %}
                                        {% include 'common/amp_field.html' %}
                                    {% endfor %}
                                </div>
                                {% if custom_form.instance.id %}
                                    <div class="govuk-grid-column-full">
                                        <input
                                            type="submit"
                                            value="Remove issue"
                                            name="remove_custom_{{ custom_form.instance.id }}"
                                            class="govuk-button govuk-button--secondary"
                                            data-module="govuk-button" />
                                    </div>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <p class="govuk-body-l">No custom statement issues have been entered</p>
            {% endif %}
            </tbody>
        </table>
        <input
            type="submit"
            value={% if custom_formset.forms %}"Save and add additional issue"{% else %}"Create issue"{% endif %}
            name="add_custom"
            class="govuk-button govuk-button--secondary"
            data-module="govuk-button"
        />
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include 'common/amp_field.html' with field=form.audit_statement_custom_complete_date %}
            </div>
            <div class="govuk-grid-column-full govuk-button-group">
                {% include 'cases/helpers/save_continue_cancel.html' %}
            </div>
        </div>
    </form>
{% endblock %}
