<div class="{% if section_selected %} amp-nav-details__text_selected {% else %} amp-nav-details__text {% endif %}">
    <ul class="govuk-list amp-margin-bottom-5">
        {% for platform_page in platform_page_group.pages %}
            {% if platform_page.show %}
                {% if not platform_page.visible_only_when_current or platform_page.visible_only_when_current and platform_page.url == sitemap.current_platform_page.url %}
                    <li>
                        {% include 'simplified/helpers/case_nav_url.html' %}
                        {% if platform_page.subpages %}
                            <ul class="amp-nav-list-subpages">
                                {% for subpage in platform_page.subpages %}
                                    {% if subpage.show %}
                                        {% if not subpage.visible_only_when_current or subpage.visible_only_when_current and subpage.url == sitemap.current_platform_page.url %}
                                            <li class="amp-nav-list-subpages amp-margin-top-5">
                                                {% include 'simplified/helpers/case_nav_url.html' with platform_page=subpage %}
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
