<details class="govuk-details amp-margin-bottom-40" data-module="govuk-details">
   <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Email templates</span>
    </summary>
    <div class="govuk-details__text">
        {% for email_template in case.email_templates %}
            <p class="govuk-body-m">
                {{ email_template.name }} |
                <a
                    href="{% url 'cases:email-template-preview' case.id email_template.id %}"
                    class="govuk-link govuk-link--no-visited-state"
                >View</a>
        {% endfor %}
    </div>
</details>
