                            <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">View initial decision</span>
                                </summary>
                                <div class="govuk-details__text">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label"><b>Initial compliance decision</b></label>
                                        <div class="govuk-hint">{{ case.compliance.get_website_compliance_state_initial_display }}</div>
                                    </div>
                                    <div class="govuk-form-group">
                                        <label class="govuk-label"><b>Initial compliance notes</b></label>
                                        <div class="govuk-hint">
                                            {% if case.compliance.website_compliance_notes_initial %}
                                                {{ case.compliance.website_compliance_notes_initial|markdown_to_html }}
                                            {% else %}
                                                No notes for this case
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="govuk-form-group">
                                        <label class="govuk-label"><b>Initial accessibility statement decision</b></label>
                                        <div class="govuk-hint">{{ case.compliance.get_statement_compliance_state_initial_display }}</div>
                                    </div>
                                    <div class="govuk-form-group">
                                        <label class="govuk-label"><b>Initial accessibility statement notes</b></label>
                                        <div class="govuk-hint">
                                            {% if case.compliance.statement_compliance_notes_initial %}
                                                {{ case.compliance.statement_compliance_notes_initial|markdown_to_html }}
                                            {% else %}
                                                No notes for this case
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </details>
